<!DOCTYPE html>
<html lang="kr" xmlns:th="http:www.thymeleaf.org">

<aside>
    <div class="cui_lnb" th:fragment="AsideFragment">
        <div class="lnb_root" th:each="auth : ${#authentication.authorities}">
            <div class="lnb_head" th:each="menuPage : ${auth.authority == 'ADMIN'?T(com.dongwoo.SQM.common.dto.MenuStaticValue).adminMenuList:T(com.dongwoo.SQM.common.dto.MenuStaticValue).userMenuList}"><span></span>
                <h2 class="lnb_title">
                    <span th:each="mainMenu : ${menuPage}" th:if="${mainMenu != null and #strings.substring(currentUrl, 0, 7+#strings.indexOf(#strings.substring(currentUrl, 7, currentUrl.length), '/')) == #strings.substring(mainMenu.PAGE_URL, 0, 7+#strings.indexOf(#strings.substring(mainMenu.PAGE_URL, 7, mainMenu.PAGE_URL.length), '/')) }" th:text="${mainMenu.GNB_NM}"></span>
                </h2>
            </div>
            <div class="cui_nav">
                <nav class="nav_root" th:each="page : ${auth.authority == 'ADMIN'?T(com.dongwoo.SQM.common.dto.MenuStaticValue).adminSubMenuList:T(com.dongwoo.SQM.common.dto.MenuStaticValue).userSubMenuList}">
                    <ul>
                        <li aria-expanded="true" th:each="subMenu : ${page}" th:if="${subMenu != null and #strings.substring(currentUrl, 0, 7+#strings.indexOf(#strings.substring(currentUrl, 7, currentUrl.length), '/')) == #strings.substring(subMenu.PAGE_URL, 0, 7+#strings.indexOf(#strings.substring(subMenu.PAGE_URL, 7, subMenu.PAGE_URL.length), '/'))}">
                            <button type="button" class="load-content nav_item" th:attr="data-url=${subMenu.PAGE_URL}, aria-selected=${currentUrl.contains(subMenu.PAGE_URL)? 'true' : 'false'}">
                                <span class="nav_label" th:text="${subMenu.PAGE_NM}"></span>
                            </button>
                            <ul th:each="thirdPage : ${auth.authority == 'ADMIN'?T(com.dongwoo.SQM.common.dto.MenuStaticValue).adminThirdMenuList:T(com.dongwoo.SQM.common.dto.MenuStaticValue).userThirdMenuList}">
                                <li th:each="thirdMenu : ${thirdPage}"  th:if="${thirdMenu != null and subMenu.PAGE_IDX == thirdMenu.GNB_IDX }">
                                    <a href="#" class="nav_item"><span class="nav_label" th:text="${thirdMenu.PAGE_NM}"></span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</aside>
</html>