<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http:www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../../../plugin/jqGrid/jQuery.jqGrid.css" >
    <link rel="stylesheet" type="text/css" href="../../../plugin/jqGrid/ui.jqGrid.css" >
    <link rel="stylesheet" type="text/css" href="../../../css/style.css" >

    <script type="text/javascript" src="../../../plugin/jquery/jquery.min-1.11.1.js"></script>
    <script type="text/javascript" src="../../../plugin/jqueryUi/jquery-ui.js"></script>
    <script type="text/javascript" src="../../../plugin/jqGrid/jquery.jqGrid.js"></script>
    <script type="text/javascript" src="../../../js/app.js"></script>
</head>
<script>
    const goMenu = (menuPage) => {
        location.href = "/"+menuPage;
    }
</script>
</html>