<!DOCTYPE html>
<html lang="en"
      xmlns:th="http:www.thymeleaf.org"
      th:fragment="HeaderNoneFragment">
<head>
    <meta charset="UTF-8">
    <title>동우화인캠</title>
</head>
    <div class="cui_global">
        <h1 class="global_logo">
            <a href="#" onclick="goMain()"><span class="blind">동우화인캠</span></a>
        </h1>

    </div>
<script>
    const goMain = () => {
        location.href = "/main";
    }

    const myPage = () => {
        location.href = "/member/myPage";
    }

    const logout = () => {
        location.href = "/logout";
    }

    $('#logout').style.display = 'none';
    $('.global_utility').style.display = 'none';
    if( !$("#logonName").empty()){
        $('.global_utility').style.display = 'block';
    }

</script>
</html>