<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http:www.thymeleaf.org"
      th:fragment="HeaderFragment" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="cui_global">
        <h1 class="global_logo">
            <a href="#" onclick="goMenu('/main')"><span class="blind">동우화인캠</span></a>
        </h1>
        <nav class="cui_gnb" role="navigation" th:each="auth : ${#authentication.authorities}" th:if="${auth.authority == 'ADMIN'}" >
            <ul class="nav-item sec" th:each="page, index : ${auth.authority == 'ADMIN'?T(com.dongwoo.SQM.common.dto.MenuStaticValue).adminMenuList:T(com.dongwoo.SQM.common.dto.MenuStaticValue).userMenuList}">
                <li th:each="subMenu, subIndex : ${page}" th:if="${subMenu.AUTH_ROLE_NM == 'ADMIN'}">
                    <a th:href="${subMenu.PAGE_URL}"><span th:text="${subMenu.PAGE_NM}"></span></a>
                    <ul class="menu-sub-nav" th:each="page : ${auth.authority == 'ADMIN'?T(com.dongwoo.SQM.common.dto.MenuStaticValue).adminSubMenuList:T(com.dongwoo.SQM.common.dto.MenuStaticValue).userSubMenuList}">
                        <li th:each="subPage : ${page}" th:if="${subPage != null and subMenu.GNB_IDX == subPage.GNB_IDX }">
                            <a th:href="${subPage.PAGE_URL}"><span th:text="${subPage.PAGE_NM}">menu1</span></a>
                        </li>
                    </ul>
                </li>
                <li class="more">
                    <a href="#" class="toggle"><span>더보기</span></a>
                    <ul></ul>
                </li>
            </ul>
        </nav>
        <div class="global_utility">
            <div class="utility_profile" onclick="goMenu('/member/myPage')">
                <div class="info">

                    <strong><span th:text="${#authentication.principal.USER_NAME}"></span></strong>
                    <span sec:authorize="isAuthenticated()" sec:authentication="name"></span><span th:text="${#authentication.authorities}"></span>
                </div>
            </div>
            <button sec:authorize="isAuthenticated()" type="button" id="logout" class="global_icon" data-cui-icon="logout" data-tooltip-title="로그아웃" onclick="goMenu('/logout')"><span>로그아웃</span></button>
        </div>
    </div>
<script>
    const goMenu = (menuPage) => {
        location.href = menuPage;
    }

    function reloadReply(value){
        const param = {key:value}
        callParamAjax(param, '/ajax-function-call', successCb, errorCb);

        function successCb(fragment){
            $("#").replaceWith(fragment);
        }

        function errorCb(err){
            console.log(err);
        }
    }
</script>
</html>