<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http:www.thymeleaf.org"
      th:fragment="HeaderFragment" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <header>
    <div class="cui_global">
        <h1 class="global_logo">
            <a href="#" onclick="goMenu('/main')"><span class="blind">동우화인캠</span></a>
        </h1>
        <nav class="cui_gnb" role="navigation" th:each="auth : ${#authentication.authorities}">
            <ul class="nav-item sec" th:each="page, index : ${auth.authority == 'ADMIN'? T(com.dongwoo.SQM.common.dto.MenuStaticValue).adminMenuList:T(com.dongwoo.SQM.common.dto.MenuStaticValue).userMenuList}">
                <li th:each="subMenu, subIndex : ${page}" >
                    <a href="#" class="load-container" th:attr="data-url=${subMenu.PAGE_URL}"><span th:text="${subMenu.PAGE_NM}"></span></a>
                    <ul class="menu-sub-nav" th:each="page : ${auth.authority == 'ADMIN'?T(com.dongwoo.SQM.common.dto.MenuStaticValue).adminSubMenuList:T(com.dongwoo.SQM.common.dto.MenuStaticValue).userSubMenuList}">
                        <li th:each="subPage : ${page}" th:if="${subPage != null and subMenu.GNB_IDX == subPage.GNB_IDX }">
                            <a href="#" class="load-container" th:attr="data-url=${subPage.PAGE_URL}"><span th:text="${subPage.PAGE_NM}">menu1</span></a>
                        </li>
                    </ul>
                </li>
                <li class="more">
                    <a href="#" class="toggle"><span>더보기</span></a>
                    <ul></ul>
                </li>
            </ul>
        </nav>

        <div class="global_utility">
            <div class="utility_profile" onclick="goMenu('/member/myPage')">
                <div class="info">

                    <strong><span th:text="${#authentication.principal.USER_NAME}"></span></strong>
                    <span sec:authorize="isAuthenticated()" sec:authentication="name"></span><span th:text="${#authentication.authorities}"></span>
                </div>
            </div>
            <button sec:authorize="isAuthenticated()" type="button" id="logout" class="global_icon" data-cui-icon="logout" data-tooltip-title="로그아웃" onclick="goMenu('/logout')"><span>로그아웃</span></button>
        </div>
    </div>
    </header>
    <script>
        const goMenu = (menuPage) => {
            location.href = menuPage;
        }

        // container 콘텐츠를 부드럽게 전환하는 함수
        function loadContainer(url) {
            $(".cui_container").fadeOut(300, function() {
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function(response) {
                        // 새로운 콘텐츠 로드 후 페이드 인
                        $(".cui_container").html(response).fadeIn(300);
                    },
                    error: function() {
                        console.log("콘텐츠 로드 실패!");
                    }
                });
            });
        }

        // 콘텐츠를 부드럽게 전환하는 함수
        function loadContent(url) {
            $(".cui_content").fadeOut(200, function() {
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function(response) {
                        // 새로운 콘텐츠 로드 후 페이드 인
                        $(".cui_content").html(response).fadeIn(200);
                    },
                    error: function() {
                        console.log("콘텐츠 로드 실패");
                    }
                });
            });
        }

        // 링크 클릭 시 콘텐츠를 로드
        $(document).on("click", ".load-container", function(e) {
            e.preventDefault();
            var url = $(this).data("url");  // data-url 에서 URL 가져오기
            console.log("url?????"+url);

            //history.pushState(null, null, url);  // 브라우저 히스토리 업데이트
            //loadContainer(url);
            goMenu(url);
        });

        // 링크 클릭 시 콘텐츠를 로드
        $(document).on("click", ".load-content", function(e) {
            e.preventDefault();
            var url = $(this).data("url");  // data-url 에서 URL 가져오기

            //history.pushState(null, null, url);  // 브라우저 히스토리 업데이트
            //loadContent(url);
            goMenu(url);
        });

        // 뒤로가기 버튼 시 URL 에 맞는 콘텐츠 로드
        //window.onpopstate = function() {
        //    console.log("location.pathname?????"+location.pathname);
        //    loadContainer(location.pathname);
        //};

    </script>
</html>