[data-module="join"] {
    .cui_main {
        padding : 50px 0;
    }

    .cui_title {
        padding-bottom : 12px;
    }

    .cui_step {
        padding-bottom : 12px;
    }

    .cui_scroll_section {
        overflow : hidden auto;
        width    : 100%;
        height   : 300px;
        padding  : var(--widget-padding);
        border   : 1px solid var(--border-primary);
    }
}