<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .cui_step ol li {
            width: 180px !important;
        }

        .head_content{
            border-bottom : var(--border-primary) 1px solid;
            align-items : center;
            justify-content : space-between;
        }

        .head-title{
            justify-content : space-between;
            padding :  0px 25px 15px 25px;
        }

        .cui_step{
            margin : 20px 0px 30px 0px;
        }

        .cui_file_field{
            display:flex;
        }
        .cui_table{
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head head_title">
            <div class="head_content">
<!--                <h3><span>자재코드 : DATA</span></h3>-->
<!--                <h3><span>자재명 : 테스트</span></h3>-->
<!--                <h3><span>승인현황 : 승인</span></h3>-->
<!--                <h3><span>사용여부 : Active</span></h3>-->
                <h3><span>자재코드 : </span><span th:text="${partMgmtDTO.PM_PART_CODE}"></span></h3>
                <h3><span>자재명 : </span><span th:text="${partMgmtDTO.PM_PART_NAME}">자재명</span></h3>
                <h3><span>승인현황 : </span><span th:text="${partMgmtDTO.PM_APPROVAL_STATUS}">검토중</span></h3>
                <h3><span>사용여부 : </span><span th:text="${partMgmtDTO.PM_ACTIVE_YN}">Active</span></h3>
            </div>

        </div>
        <div class="cui_body">
            <div class="cui_step">
                <ol>
                    <li class="active"><span>MSDS / RoHSⅡ / Halogen</span></li>
                    <li><span>SVHC</span></li>
                    <li><span>Declaration Letter</span></li>
                    <li><span>SCCS / 성분명세서 / 기타</span></li>
                </ol>
            </div>
            <form class="cui_form_section" data-legend="true" id="frmDetail" action="/user/partMgmt/goSvhc" method="post"  enctype="multipart/form-data">
                <input type="hidden" name="PM_IDX" th:value="${PM_IDX}"/>
                <fieldset id="msdsFieldset">
                    <legend><span>MSDS</span></legend>

                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:150px;">
                            <col >
                            <col >
                            <col >
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>작성일</span></th>
                            <th><span>언어</span></th>
                            <th><span>승인번호</span></th>
                            <th><span>첨부</span></th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">
                        <tr>
                            <td>
                                <div class="item_content" data-role="calendar-picker">
                                    <input type="hidden" name="MSDS_IDX" th:value="${msdsDTO.MSDS_IDX}" >
                                    <input type="text" class="cui_text_field datepicker" name="MSDS_REG_DATE"  th:value="${msdsDTO.MSDS_REG_DATE}" reqcheck="reqcheck">
                                </div>
                            </td>
                            <td><input type="text" class="cui_text_field" name="MSDS_LANG" th:value="${msdsDTO.MSDS_LANG}" reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="MSDS_APPROVAL_NUM" th:value="${msdsDTO.MSDS_APPROVAL_NUM}" reqcheck="reqcheck"></td>
                            <td>
                                <div class="cui_attachments">
                                    <input type="file" class="cui_file_field" name="MSDS_FILE" reqcheck="reqcheck">
                                    <div class="cui_items_wrap file_wrap" data-direction="left" th:style="${msdsDTO.MSDS_FILE_NAME == '' ? 'display:none;' : '' }" >
                                        <div class="item_label" data-cui-icon="paperclip"><span id="MSDS_FILE_NAME"  th:value="${msdsDTO.MSDS_FILE_NAME}" th:text="${msdsDTO.MSDS_FILE_NAME}" ></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드" ><span>다운로드</span></button>
                                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                        </div>
                                    </div>
                                </div>


                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>

                <fieldset id="rohsFieldset">
                    <legend><span>RoHS 분석서/보증서</span></legend>

                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:130px">
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col style="width:250px">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>확인일자</span></th>
                            <th><span>CD</span></th>
                            <th><span>HG</span></th>
                            <th><span>PB</span></th>
                            <th><span>CR6</span></th>
                            <th><span>PBBS</span></th>
                            <th><span>PBDES</span></th>
                            <th><span>DEHP</span></th>
                            <th><span>BBP</span></th>
                            <th><span>DBP</span></th>
                            <th><span>DIBP</span></th>
                            <th><span>첨부파일</span></th>

                        </tr>
                        </thead>
                        <tbody id="tableBody2">
                        <tr>
                            <td>
                                <input type="hidden" name="ROHS_IDX" >
                                <input type="text" class="cui_text_field datepicker" name="ROHS_CONFIRM_DATE"  th:value="${rohsDTO.ROHS_CONFIRM_DATE}" reqcheck="reqcheck">
                            </td>
                            <td><input type="text" class="cui_text_field" name="ROHS_CD"    th:value="${rohsDTO.ROHS_CD}"    reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="ROHS_HG"    th:value="${rohsDTO.ROHS_HG}"    reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="ROHS_PB"    th:value="${rohsDTO.ROHS_PB}"    reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="ROHS_CR6"   th:value="${rohsDTO.ROHS_CR6}"   reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="ROHS_PBBS"  th:value="${rohsDTO.ROHS_PBBS}"  reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="ROHS_PBDES" th:value="${rohsDTO.ROHS_PBDES}" reqcheck="reqcheck" ></td>
                            <td><input type="text" class="cui_text_field" name="ROHS_DEHP"  th:value="${rohsDTO.ROHS_DEHP}"  reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="ROHS_BBP"   th:value="${rohsDTO.ROHS_BBP}"   reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="ROHS_DBP"   th:value="${rohsDTO.ROHS_DBP}"   reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="ROHS_DIBP"  th:value="${rohsDTO.ROHS_DIBP}"  reqcheck="reqcheck"></td>
                            <td>
                                <div class="cui_attachments">
                                    <input type="file" class="cui_file_field" name="ROHS_FILE" reqcheck="reqcheck">
                                    <input type="hidden" name="FILE_STATUS">
                                    <div class="cui_items_wrap file_wrap" data-direction="left" th:style="${rohsDTO.ROHS_FILE_NAME == null ? 'display:none;' : '' }">
                                        <div class="item_label" data-cui-icon="paperclip"><span id="ROHS_FILE_NAME" th:value="${rohsDTO.ROHS_FILE_NAME}" th:text="${rohsDTO.ROHS_FILE_NAME}" ></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"
                                            ><span>다운로드</span></button>
                                            <!--                                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
                                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset id="halogenFieldset">
                    <legend><span>Halogen 분석서/보증서</span></legend>

                    <table class="cui_table center">
                        <thead>
                        <tr>
                            <th><span>확인일자</span></th>
                            <th><span>Cl</span></th>
                            <th><span>Br</span></th>
                            <th><span>Cl+Br</span></th>
                            <th><span>F</span></th>
                            <th><span>I</span></th>
                            <th><span>첨부파일</span></th>

                        </tr>
                        </thead>
                        <tbody id="tableBody3">
                        <tr>
                            <td>
                                <input type="hidden" name="HALOGEN_IDX" >
                                <input type="text" class="cui_text_field datepicker" name="HALOGEN_CONFIRM_DATE" th:value="${halGDTO.HALOGEN_CONFIRM_DATE}"  reqcheck="reqcheck">
                            </td>
                            <td><input type="text" class="cui_text_field" name="HALOGEN_CL"   th:value="${halGDTO.HALOGEN_CL}"   reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="HALOGEN_BR"   th:value="${halGDTO.HALOGEN_BR}"   reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="HALOGEN_CLBR" th:value="${halGDTO.HALOGEN_CLBR}" reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="HALOGEN_F"    th:value="${halGDTO.HALOGEN_F}"    reqcheck="reqcheck"></td>
                            <td><input type="text" class="cui_text_field" name="HALOGEN_I"    th:value="${halGDTO.HALOGEN_I}"    reqcheck="reqcheck"></td>
                            <td>
                                <div class="cui_attachments">
                                    <input type="file" class="cui_file_field" name="HALOGEN_FILE" reqcheck="reqcheck">
                                    <div class="cui_items_wrap file_wrap" data-direction="left" th:style="${halGDTO.HALOGEN_FILE_NAME == null ? 'display:none;' : '' }">
                                        <div class="item_label" data-cui-icon="paperclip"><span id="HALOGEN_FILE_NAME" th:value="${halGDTO.HALOGEN_FILE_NAME}" th:text="${halGDTO.HALOGEN_FILE_NAME}"></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"
                                            ><span>다운로드</span></button>
                                            <!--                                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
                                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset id="etcFieldset">
                    <legend><span>기타 분석서/보증서 (Antimony, Cobalt 등)</span></legend>

                    <table class="cui_table center">
                        <thead>
                        <tr>
                            <th><span>확인일자</span></th>
                            <th><span>분석항목</span></th>
                            <th><span>분석결과</span></th>
                            <th><span>첨부</span></th>
                            <th><button type="button" class="cui_button secondary" id="addRowButton" ><span>추가</span></button></th>
                        </tr>
                        </thead>
                        <tbody id="tableBody4">
                        <tr th:each="etcDTO : ${etcListDTO}" >
                            <td>
                                <input type="hidden" name="ETC_IDX" th:value="${etcDTO.ETC_IDX}">
                                <input type="text" class="cui_text_field" name="ETC_CONFIRM_DATE" th:value="${etcDTO.ETC_CONFIRM_DATE}" >
                            </td>
                            <td><input type="text" class="cui_text_field" name="ETC_ANALYSE_ENTRY"  th:value="${etcDTO.ETC_ANALYSE_ENTRY}" ></td>
                            <td><input type="text" class="cui_text_field" name="ETC_ANALYSE_RESULT"  th:value="${etcDTO.ETC_ANALYSE_RESULT}" ></td>
                            <td>
                                <div class="cui_attachments">
                                    <input type="file" class="cui_file_field " name="ETC_FILE">
                                    <div class="cui_items_wrap file_wrap" data-direction="left" th:style="${etcDTO.ETC_FILE_NAME == null ? 'display:none;' : '' }">
                                        <div class="item_label" data-cui-icon="paperclip"><span name="ETC_FILE_NAME"  th:value="${etcDTO.ETC_FILE_NAME}" ></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"
                                            ><span>다운로드</span></button>
                                            <!--                                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
                                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td><button type="button" class="cui_button icon" data-cui-icon="trash" id="delRowButton"><span>삭제</span></button></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>

                <div class="cui_items_wrap" data-direction="right" >

                    <div class="item_content">
                        <input type="hidden"  name="INFO_FLAG" >
                        <a href="#" onclick="return chk_form('save')" class="cui_button primary"><span>저장</span></a>
                        <a href="#" onclick="return chk_form('next')" class="cui_button primary"><span>다음</span></a>
                    </div>
                </div>

            </form>

            <div><br /></div>

        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function(){

        $('#addRowButton').on('click', function() {
            //생성

            const newRow = '<tr>'
                         + '    <td><input type="hidden" name="ETC_IDX" ><input type="text" class="cui_text_field datepicker" name="ETC_CONFIRM_DATE"  ></td>'
                         + '                <td><input type="text" class="cui_text_field" name="ETC_ANALYSE_ENTRY" ></td>'
                         + '                <td><input type="text" class="cui_text_field" name="ETC_ANALYSE_RESULT"  ></td>'
                         + '                <td>'
                         + '                    <input type="file" class="cui_file_field" name="ETC_FILE">'
                         + '                    <div class="cui_items_wrap file_wrap" data-direction="left" style="display:none;">'
                         + '                        <div class="item_label" data-cui-icon="paperclip"><span id="ETC_FILE_NAME"></span></div>'
                         + '                        <div class="item_content">'
                         + '                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드" ><span>다운로드</span></button>'
                         + '                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>'
                         + '                        </div>'
                         + '                    </div>'
                         + '                </td>'
                         + '    <td><button type="button" class="cui_button icon" data-cui-icon="trash" id="delRowButton"><span>삭제</span></button></td>'
                         + '</tr>'


            $('#tableBody4').append(newRow);

        });

        // datepicker를 input 필드에 적용
        $('.datepicker').datepicker({
            dateFormat: 'yy.mm.dd',  // 날짜 포맷을 'YYYY.MM.DD'로 설정
            showOn: "focus",
        });

        // 버튼 클릭 시 input 필드의 datepicker 열기
        $('[data-cui-icon="calendar"]').on('click', function() {
            var targetId = $(this).attr('id'); // 클릭된 요소의 id 가져오기
            console.log(targetId + " was clicked");

            // datepicker가 보이면 숨기고, 숨겨져 있으면 보이도록 토글
            if (targetId === "startDate") {
               $('#searchStartDate').datepicker('show'); // 첫 번째 datepicker 열기
            } else if (targetId === "endDate") {
               $('#searchEndDate').datepicker('show'); // 두 번째 datepicker 열기
            }
        });



        // 삭제
        $(document).on('click', '#delRowButton', function() {
<!--            var etcidx = $(this).closest('tr').find('input[name=ETC_IDX]').val();-->

<!--            if(etcidx != ''){-->
<!--                var statusdel =$(this).closest('tr').find('input[name=FILE_STATUS]').val();-->
<!--                statusdel += etcidx+'|';-->

<!--            }-->

            $(this).closest('tr').remove();
        });



    });

    //submit 전 체크
    function chk_form(flag) {

       //action="/user/partMgmt/goSvhc"
       $("input[name=INFO_FLAG]").val(flag);

       if(flag == "save"){
            //데이터 저장
<!--            var form = $("#frmDetail")[0];-->
<!--            var formData = new FormData(form);-->
<!--            $.ajax({-->
<!--                type: "post",-->
<!--                url: "/user/partMgmt/goSvhcimsi",-->
<!--                //data: $('#frmDetail').serialize(),-->
<!--                data : formData,-->
<!--                contentType : false,-->
<!--                processData : false,-->
<!--                success: function(response) {-->
<!--                   showAlert('success', '정보가 저장 되었습니다.');-->
<!--                },-->
<!--                error: function(err) {-->
<!--                    console.log("에러발생", err);-->
<!--                    showAlert('warning', '저장 중 오류가 발생했습니다.');-->
<!--                }-->
<!--            });-->
            document.getElementById('frmDetail').submit();
       }else{
            //유효성체크
            let isValid = true;
            // msds halg rohs 데이터 전부 잇기
            isValid = Common.Validate($("#frmDetail"));

            if(!isValid){
                //showAlert('warning', '데이터를 마저 기입해주십시오.');
                return;
            }

            // etc 파일이나 데이터가 있으면 무조건 둘 다 있어야함. 데이터가 아무것도 없다면 기타는 데이터가 없을 수 있음
            const rows = document.querySelectorAll('#tableBody4 tr');

            // 각 tr(row)에 대해 유효성 검사 수행
            rows.forEach(row => {
                const confirmDate = row.querySelector('[name="ETC_CONFIRM_DATE"]').value.trim();
                const analyseEntry = row.querySelector('[name="ETC_ANALYSE_ENTRY"]').value.trim();
                const analyseResult = row.querySelector('[name="ETC_ANALYSE_RESULT"]').value.trim();
                const fileInput = row.querySelector('[name="ETC_FILE"]');
                const fileName = fileInput.value.trim();

                // 해당 tr에 대해 모두 값이 채워졌거나 모두 비어 있어야 유효
                if (confirmDate || analyseEntry || analyseResult || fileName) {
                    // 값이 하나라도 있다면, 나머지 값들도 있어야 함
                    if (!confirmDate || !analyseEntry || !analyseResult || !fileName) {
                        isValid = false;
                        alert('모든 항목을 채우거나 모든 항목을 비워야 합니다. 확인일자, 분석항목, 분석결과, 첨부파일이 모두 필요합니다.');
                        return false; // 유효성 검사를 중지하고 오류 메시지 표시
                    }
                }
            });
            //window.location.href=url;
            if(isValid){
                document.getElementById('frmDetail').submit();
            }

       }

    }

    //status 업데이트
    function status_Del(status){
        //삭제버튼 클릭 시 DELETE
        //$(status).closest('name="FILE_STATUS"').val('DELETE');
        $(status).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val('DELETE');

        //안보이게 처리
        $(status).closest('.file_wrap').css('display','none');


    }





</script>
</html>
<input type="file" class="cui_file_field" name="HALOGEN_FILE">
