<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span data-langsid="자재관리"></span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form id="searchForm" method="get" onsubmit="return false;">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap ">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자재코드"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="sPartCode" name="sPartCode" th:value="${sPartCode}" search="searchBtn" />
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자재명"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="sPartName" name="sPartName" th:value="${sPartName}" search="searchBtn" />
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="신청인ID"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="sRegUser" name="sRegUser" th:value="${sRegUser}" search="searchBtn" />
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="사용여부"></strong>
                            <div class="item_content">
                                <select class="cui_select_field" id="sUseYN" name="sUseYN" onchange="ListSearch();">
                                    <option value=""></option>
                                    <option value="ACTIVE" th:selected="${sUseYN}=='ACTIVE'">ACTIVE</option>
                                    <option value="INACTIVE" th:selected="${sUseYN}=='INACTIVE'">INACTIVE</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="취급PLANT"></strong>
                            <div class="item_content">
                                <select class="cui_select_field" id="sPlant" name="sPlant" onchange="ListSearch();">
                                    <option value=""></option>
                                    <option th:each="searchPlantList : ${searchPlantList}" th:value="${searchPlantList.BASE_CODE}" th:text="${searchPlantList.BASE_VALUE}" th:selected="${searchPlantList.BASE_CODE}==${sPlant}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="승인현황"></strong>
                            <div class="item_content">
                                <select class="cui_select_field" id="sApproval" name="sApproval" onchange="ListSearch();">
                                    <option value=""></option>
                                    <option value="1" data-langsid="신규" th:selected="${sApproval}=='1'"></option>
                                    <option value="2" data-langsid="작성중" th:selected="${sApproval}=='2'"></option>
                                    <option value="3" data-langsid="검토중" th:selected="${sApproval}=='3'"></option>
                                    <option value="4" data-langsid="승인" th:selected="${sApproval}=='4'"></option>
                                    <option value="5" data-langsid="반려" th:selected="${sApproval}=='5'"></option>
                                    <option value="6" data-langsid="자료보완" th:selected="${sApproval}=='6'"></option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="승인일자"></strong>
                            <div class="item_content" data-role="calendar-picker">
                                <input type="text" class="cui_text_field datepicker" id="sStartDate" name="sStartDate" datePickerControl="" th:value="${sStartDate}">
                                <button type="button" class="cui_button icon endpoint" data-cui-icon="calendar"><span data-langsid="날자 선택"></span></button>
                            </div>
                            <div class="item_content" style="width:10px;padding-top:5px;">~</div>
                            <div class="item_content" data-role="calendar-picker">
                                <input type="text" class="cui_text_field datepicker" id="sEndDate" name="sEndDate" datePickerControl="" th:value="${sEndDate}">
                                <button type="button" class="cui_button icon endpoint" data-cui-icon="calendar"><span data-langsid="날자 선택"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="search_action">
                        <button type="button" class="cui_button primary search_btn" id="searchBtn" onclick="ListSearch();"><span data-langsid="검색"></span></button>
                    </div>
                </div>
            </form>
            <div class="cui_jqGrid_section">
                <div class="cui_jqGrid_head">
                    <div class="jqGrid_label"> &nbsp;</div>
                    <div class="jqGrid_aside">
                        <button type="button" class="cui_button endpoint" data-cui-icon="upload" onclick="submitActive();"><span data-langsid="Active 변경 제출"></span></button>
                        <button type="button" class="cui_button endpoint" data-cui-icon="upload" onclick="addOpen();"><span data-langsid="추가"></span></button>
                        <button type="button" class="cui_button endpoint" data-cui-icon="trash" onclick="delpart();"><span data-langsid="삭제"></span></button>
                        <button type="button" class="cui_button endpoint" data-cui-icon="upload" onclick="downloadExcel();"><span data-langsid="엑셀 다운로드"></span></button>
                    </div>
                </div>
                <div class="cui_jqGrid_body" id="Grid">
                    <div id="gridArea" gridYN="" th:initData="${partMgmtListStr}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var addOpen = function () {
        Common.Dialog({ url : "/user/partMgmt/matRegPopup", param : { mode : "New" } });
    }

    var SheetDataConvert = function (data) {
        var dataJson = JSON.parse(data);

        for (var i = 0; i < dataJson.length; i++) {
            dataJson[i].CHECK_YN = false;
            if (dataJson[i].PM_APPROVAL_STATUS == "1") {
                dataJson[i].PM_APPROVAL_STATUS_NAME = "";
            } else if (dataJson[i].PM_APPROVAL_STATUS == "2") {
                dataJson[i].PM_APPROVAL_STATUS_NAME = siteLang.getLang("작성중");
            } else if (dataJson[i].PM_APPROVAL_STATUS == "3") {
                dataJson[i].PM_APPROVAL_STATUS_NAME = siteLang.getLang("검토중");
            } else if (dataJson[i].PM_APPROVAL_STATUS == "4") {
                dataJson[i].PM_APPROVAL_STATUS_NAME = siteLang.getLang("승인");
            } else if (dataJson[i].PM_APPROVAL_STATUS == "5") {
                dataJson[i].PM_APPROVAL_STATUS_NAME = siteLang.getLang("반려");
            } else if (dataJson[i].PM_APPROVAL_STATUS == "6") {
                dataJson[i].PM_APPROVAL_STATUS_NAME = siteLang.getLang("자료보완");
            }

            dataJson[i].PM_ACTIVE_YN_ORG = dataJson[i].PM_ACTIVE_YN;
        }

        return dataJson;
    }

    var ListSearch = function () {
        var url = location.pathname;

        var ReqInfo = new Common.RequestInfo();
        ReqInfo.AddParameter($("#searchForm"));
        Common.Ajax(url, ReqInfo, function (data) {
            var dataJson = SheetDataConvert(data);

            $("#gridArea").pqGrid("option", "dataModel.data", dataJson);
            $("#gridArea").pqGrid("refreshView");
        });
    }

    var EidtModeChange = function (Obj) {
        var PM_IDX = Common.Convert.Int(Obj.attr("PM_IDX"));

        var grid = $("#gridArea").pqGrid("instance");

        var rowList = grid.search( {
            row: { PM_IDX : PM_IDX }
        });

        if (rowList.length > 0) {
            rowList[0].rowData.SheetEditModeStatus = true;
        } else {
            alert("Search Error!.");
        }

        $("#gridArea").pqGrid("refreshView");
        Common.Msg(siteLang.getLang("사용여부 변경이 가능합니다. (변경 후 상단 Active 변경 버튼 클릭 시 변경이 완료됩니다)"));

    }

    $(function () {
        var heightMinus = 252;
        var PM_ACTIVE_YN_SELECT_ITEMS = ['ACTIVE', 'INACTIVE'];

        var data = SheetDataConvert($("#gridArea").attr("initData"));

        var obj = {
            bubble: false,
            numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35, style: 'border-right:1px' },
            editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
            editModel: { clicksToEdit: 2 },
            selectionModel: { type: 'cell', mode: 'block' },
            height: $(window).height() - heightMinus  - $(".cui_search").height(),
            title: "",
            sortable: false,
            resizable: true,
            menuIcon: false,
            scrollModel: { autoFit: false },
            hoverMode: 'row',
            roundCorners: false,
            rowBorders: true,
            showBottom: false,
            showHeader: true,
            showTitle: true,
            showTop: false,
            showToolbar: true,
            stripeRows: false,
            wrap: false,
            autoAddRow: false,
            freezeCols:0,
            autoRow: false,
            autoRowHead: false,
            selectChange: function (event, ui) {
            },
            change: function (event, ui) {
                var sheetObj = $(this.element);
                var grid = sheetObj.pqGrid("instance");

                if (ui.source == "paste" || ui.source == "edit" || ui.source == "update" || ui.source == "clear" || ui.source == "checkbox" || ui.source == "undo") {
                    if (ui.updateList.length > 0) {
                        if (ui.updateList[0].newRow.PM_ACTIVE_YN) {
                            Common.Msg(siteLang.getLang("변경하시겠습니까?"), {
                                mode : "confrim"
                                , cancelback : function () {
                                    var rowInfo = ui.updateList[0];

                                    var rowList = grid.search( {
                                        row: { PM_IDX : rowInfo.rowData.PM_IDX }
                                    });

                                    rowList[0].rowData.PM_ACTIVE_YN = rowInfo.oldRow.PM_ACTIVE_YN;
                                    sheetObj.pqGrid("refreshView");
                                }
                            });
                        }
                    }
                }
            },
            rowClick: function (event, ui) {

            },
            cellClick: function (event, ui) {
                var data = ui.rowData;
                if(ui.dataIndx =="PM_PART_CODE"){
                    Common.Dialog({ url : "/user/partMgmt/matRegPopup", param : { mode : "Edit", PM_IDX : data.PM_IDX } });
                } else if(ui.dataIndx == "PART_NAME"){
                    /*
                    //Common.Dialog({ url : "/user/partMgmt/matRegPopup", param : { mode : "Edit", PM_IDX : data.PM_IDX } });
                    if(data.PM_APPROVAL_STATUS  < 2 || (data.PM_APPROVAL_STATUS  >3 && data.PM_ACTIVE_YN == "INACTIVE") ){
                        //승인현황이 신규, 작성중, 반려, 자료보완일때 수정페이지
                        //단 승인(4) 일때는 Active를 Inactive 로 바꾼 후 수정 가능(우째할지는..)
                        Common.MoveUrl("/user/partMgmt/goDetail?PM_IDX=" + data.PM_IDX);
                    }else{
                        //검토중 승인 시 읽기페이지
                        Common.MoveUrl("/user/partMgmt/goReadDetail?PM_IDX=" + data.PM_IDX);
                    }
                    */

                    Common.MoveUrl("/user/partMgmt/partMgmDetail?PM_IDX=" + data.PM_IDX);
                }
            },
            rowDblClick: function (event, ui) {
                //var data = ui.rowData;
                //Common.Dialog({ url : "/user/partMgmt/matRegPopup", param : { mode : "Edit", PM_IDX : data.PM_IDX } });
            },
            rowSelect: function (event, ui) {
            },
            open: function () {
            },
            headerCellClick: function (event, ui) {
            }
        };
        obj.colModel = [
            {
                dataIndx: "CHECK_YN", width: 50, halign: "center", align: "center", resizable: true,
                title: "",
                type: 'checkBoxSelection', sortable: false, editor: true, editable: true,
                dataType: 'bool',
                cb: {
                    all: false,
                    header: false
                }, render: function (ui) {
                    var data = ui.rowData;
                    if (ui.cellData == undefined) {
                        return { text: "" };
                    } else {
                        if (data.PM_APPROVAL_DATE == "" || data.PM_APPROVAL_DATE == null || data.PM_REQUEST_APPROVAL_DATE == "" || data.PM_REQUEST_APPROVAL_DATE == null) {
                            if(Common.Convert.Int(data.PM_APPROVAL_STATUS) <= 2){
                                return; // 보임
                            }
                            return { text: "" };    // 안보임
                        } else {
                            return { text: "" };    // 안보임
                        }
                    }
                }
            },
            { data_langsid: "자재코드", title: siteLang.getLang("자재코드"),  width: 120, align: "center", dataType: "string", dataIndx: "PM_PART_CODE", sortable: false, editor: false, editable: false },
            { data_langsid: "자재명칭", title: siteLang.getLang("자재명칭"), width: 350, halign: "center", align: "left", dataType: "string", dataIndx: "PART_NAME", sortable: false, editor: false, editable: false },
            { data_langsid: "취급 Plant", title: siteLang.getLang("취급 Plant"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PM_PART_PLANT_CODE", sortable: false, editor: false, editable: false },
            { data_langsid: "국가", title: siteLang.getLang("국가"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "COM_NATION", sortable: false, editor: false, editable: false },
            { data_langsid: "신청 ID", title: siteLang.getLang("신청 ID"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PM_REG_USER_ID", sortable: false, editor: false, editable: false },
            { data_langsid: "사용여부", title: siteLang.getLang("사용여부"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PM_ACTIVE_YN", sortable: false
                , editor: {
                    type: "select",
                    options: PM_ACTIVE_YN_SELECT_ITEMS
                }
                , editable: function (ui) {
                    var data = ui.rowData;

                    if (data.SheetEditModeStatus) {
                        return true;
                    } else {
                        return false;
                    }
                }
            },
            { data_langsid: "승인현황", title: siteLang.getLang("승인현황"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PM_APPROVAL_STATUS_NAME", sortable: false, editor: false, editable: false },
            { data_langsid: "승인일자", title: siteLang.getLang("승인일자"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PM_APPROVAL_DATE", sortable: false, editor: false, editable: false },
            { data_langsid: "수정", title: siteLang.getLang("수정"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "EDIT_BTN", sortable: false, editor: false, editable: false,
                render : function (ui) {
                    var data = ui.rowData;

                    //if(Common.Convert.Int(data.PM_APPROVAL_STATUS) >= 3){
                        return { text : "<button class='cui_button' style='min-width:45px;margin:0px;height:18px;' PM_IDX='" + data.PM_IDX + "' onclick='EidtModeChange($(this));'>Edit</button>", style: "padding:0px;" };
                    //}
                    return;
                }
            },
            { hidden : true, dataType: "string", dataIndx: "PM_APPROVAL_STATUS", editor: false, editable: false },
            { hidden : true, dataType: "string", dataIndx: "PM_IDX", editor: false, editable: false }
        ];
        obj.dataModel = { data: data };
        $("#gridArea").pqGrid(obj);
        $("#gridArea").attr("gridYN", "Y");

        $(window).resize(function () {
            $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus  - $(".cui_search").height());
            $("#gridArea").pqGrid("refreshView");
        });
    });

    var downloadExcel = function () {
        var grid = $("#gridArea").pqGrid("instance");
        var colModel = grid.getColModel();
        colModel[0].hidden = true;

        var format = "xlsx",
            blob = grid.exportData({
                format: format,
                nopqdata: true,
                render: true
            });
        if (typeof blob === "string") {
            blob = new Blob([blob]);
        }
        saveAs(blob, "PART_MANAGEMENT_" + Common.GetTodayTimeString() + "." + format);
        colModel[0].hidden = false;
    }

    var delpart = function () {
        var selectValues = [];
        var grid = $("#gridArea").pqGrid("instance");

        for (j = 0; j < grid.pdata.length; j++) {
            if (grid.pdata[j]["CHECK_YN"] == true) {
                selectValues.push(grid.pdata[j]["PM_IDX"]);
            }
        }

        if(selectValues.length<=0){
            Common.Msg(siteLang.getLang("삭제할 데이터를 선택하세요."));
            Common.Loading.Hide();
            return;
        }

        Common.Msg(siteLang.getLang("삭제 하시겠습니까?"), {
            mode : "confrim"
            , okback : function () {
                Common.Loading.Show();

                var app_num = selectValues.join(',');
                var ReqInfo = new Common.RequestInfo();
                ReqInfo.AddParameter("ARR_PM_IDX", app_num);

                setTimeout(function () {
                    Common.Ajax("/user/partMgmt/deletePartMgmt", ReqInfo, function (response) {
                        if (response == "OK") {
                            ListSearch();
                        }

                        Common.Loading.Hide();
                    });
                }, 10);
            }
        });
    }

    var submitActive =  function(){
        var grid = $("#gridArea").pqGrid("instance");
        var activeIdx = "";
        var inactiveIdx = "";

        for (var j = 0; j < grid.pdata.length; j++) {
            if (grid.pdata[j]["PM_ACTIVE_YN_ORG"] !== grid.pdata[j]["PM_ACTIVE_YN"]) {
                if (grid.pdata[j]["PM_ACTIVE_YN"] === "ACTIVE") {
                    if (activeIdx != "") activeIdx += ",";
                    activeIdx += grid.pdata[j]["PM_IDX"];
                }else{
                    if (inactiveIdx != "") inactiveIdx += ",";
                    inactiveIdx += grid.pdata[j]["PM_IDX"];

                }
            }
        }

        if(activeIdx === "" && inactiveIdx === ""){
            Common.Msg(siteLang.getLang("변경된 Active 여부가 없습니다."));
            retrun;
        }

        Common.Msg(siteLang.getLang("Active 여부를 변경하시겠습니까?"), {
            mode : "confrim"
            , okback : function () {
                Common.Loading.Show();

                var ReqInfo = new Common.RequestInfo();
                ReqInfo.AddParameter("ACTIVE_IDX", activeIdx);
                ReqInfo.AddParameter("INACTIVE_IDX", inactiveIdx);

                Common.Ajax("/user/partMgmt/updateActiveStatus", ReqInfo, function (response) {
                    if (response == "OK") {
                        ListSearch();
                    }

                    Common.Loading.Hide();
                    Common.Msg(siteLang.getLang("변경되었습니다."));
                });
            }
        });


    }


</script>
</body>
</html>