<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <style>
        .cui_step ol li {
            width: 180px !important;
        }

        .head_content{
            border-bottom : var(--border-primary) 1px solid;
            align-items : center;
            justify-content : space-between;
        }

        .head-title{
            justify-content : space-between;
            padding :  0px 25px 15px 25px;
        }

        .cui_step{
            margin : 20px 0px 30px 0px;
        }

        .cui_file_field{
            display:flex;
        }
        .cui_table{
            vertical-align: middle;
        }

        .cui_attachments{
            display:block;
        }
    </style>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head head_title">
            <div class="head_content" style="padding:0px 10px 10px 10px;">
                <h3><span data-langsid="자재코드"></span> : <span th:text="${partMgmtDTO.PM_PART_CODE}"></span></h3>
                <h3><span data-langsid="자재명"></span> : <span th:text="${partMgmtDTO.PART_NAME}"></span></h3>
                <h3><span data-langsid="승인현황"></span> : <span th:text="${partMgmtDTO.PM_APPROVAL_STATUS}"></span></h3>
                <h3><span data-langsid="사용여부"></span> : <span th:text="${partMgmtDTO.PM_ACTIVE_YN}"></span></h3>
            </div>

        </div>
        <div class="cui_body">
            <div class="cui_step">
                <ol>
                    <li class="active"><span>MSDS / RoHSⅡ / Halogen</span></li>
                    <li><span>SVHC</span></li>
                    <li><span>Declaration Letter</span></li>
                    <li><span data-langsid="SCCS / 성분명세서 / 기타"></span></li>
                </ol>
            </div>
            <form class="cui_form_section" data-legend="true" id="frmDetail"  enctype="multipart/form-data" onsubmit="return false;">
                <input type="hidden" name="PM_IDX" th:value="${PM_IDX}"/>
                <input type="hidden" name="SaveMode" value=""/>
                <input type="hidden" name="PM_PART_CODE" th:value="${partMgmtDTO.PM_PART_CODE}"/>
                <fieldset id="msdsFieldset">
                    <legend><span>MSDS</span></legend>

                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:110px;">
                            <col style="width:150px;">
                            <col style="width:200px;">
                            <col >
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span data-langsid="작성일"></span><span style="color: #e74c3c;">*</span></th>
                            <th><span data-langsid="언어"></span><span style="color: #e74c3c;">*</span></th>
                            <th><span data-langsid="승인번호"></span><span style="color: #e74c3c;">*</span></th>
                            <th><span data-langsid="첨부"></span><span style="color: #e74c3c;">*</span></th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">
                        <tr>
                            <td>
                                <div class="item_content" data-role="calendar-picker">
                                    <input type="hidden" name="MSDS_IDX" th:value="${msdsDTO.MSDS_IDX}">
                                    <input type="text" class="cui_text_field datepicker" th:value="${msdsDTO.MSDS_REG_DATE}"  name="MSDS_REG_DATE" reqcheck="reqcheck" datePickerControl="" data-messages="날짜를 입력해주세요." messages="날짜를 입력해주세요.">
                                </div>
                            </td>
                            <td><input type="text" class="cui_text_field" th:value="${msdsDTO.MSDS_LANG}" name="MSDS_LANG" reqcheck="reqcheck" data-messages="언어를 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${msdsDTO.MSDS_APPROVAL_NUM}"  name="MSDS_APPROVAL_NUM" reqcheck="reqcheck" data-messages="승인번호 입력해주세요." messages=""></td>
                            <td>
                                <div class="cui_attachments" style="display:flex;">
                                    <input type="file" class="cui_file_field" name="MSDS_FILE" >
                                    <input type="hidden" name="MSDS_FILE_STATUS">
                                    <div class="cui_items_wrap file_wrap" data-direction="left" th:style="${msdsDTO.MSDS_FILE_NAME == null ? 'display:none;' : '' }">
                                        <div class="item_label" data-cui-icon="paperclip"><span id="MSDS_FILE_NAME" th:value="${msdsDTO.MSDS_FILE_NAME}" th:text="${msdsDTO.MSDS_FILE_NAME}"></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" th:onclick="downloadFile([[${msdsDTO.MSDS_IDX}]],'MSDS')" data-tooltip-title="다운로드" ><span data-langsid="다운로드"></span></button>
                                            <button type="button" class="cui_button icon endpoint" th:onclick="status_Del($(this),'MSDS',[[${msdsDTO.MSDS_IDX}]])" data-cui-icon="xmark" data-tooltip-title="삭제"><span data-langsid="삭제"></span></button>
                                        </div>
                                    </div>
                                </div>


                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>

                <fieldset id="rohsFieldset">
                    <legend><span data-langsid="RoHS 분석서/보증서"></span></legend>

                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:110px;">
                            <col style="width:120px;">
                            <col style="width:120px;">
                            <col style="width:120px;">
                            <col style="width:120px;">
                            <col style="width:120px;">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span data-langsid="확인일자"></span><span style="color: #e74c3c;">*</span></th>
                            <th><span>CD</span><span style="color: #e74c3c;">*</span></th>
                            <th><span>HG</span><span style="color: #e74c3c;">*</span></th>
                            <th><span>PB</span><span style="color: #e74c3c;">*</span></th>
                            <th><span>CR6</span><span style="color: #e74c3c;">*</span></th>
                            <th><span>PBBS</span><span style="color: #e74c3c;">*</span></th>

                            <th><span data-langsid="첨부파일"></span><span style="color: #e74c3c;">*</span></th>

                        </tr>
                        </thead>
                        <tbody id="tableBody2">
                        <tr>
                            <td rowspan="3">
                                <input type="hidden" name="ROHS_IDX" th:value="${rohsDTO.ROHS_IDX}" >
                                <input type="text" class="cui_text_field datepicker" th:value="${rohsDTO.ROHS_CONFIRM_DATE}" name="ROHS_CONFIRM_DATE"  reqcheck="reqcheck" datePickerControl="" data-messages="Rohs 확인날짜 입력해주세요." messages="">
                            </td>
                            <td><input type="text" class="cui_text_field" th:value="${rohsDTO.ROHS_CD}"  name="ROHS_CD" reqcheck="reqcheck" data-messages="Rohs CD 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${rohsDTO.ROHS_HG}"  name="ROHS_HG" reqcheck="reqcheck" data-messages="Rohs HG 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${rohsDTO.ROHS_PB}"  name="ROHS_PB" reqcheck="reqcheck" data-messages="Rohs PB 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${rohsDTO.ROHS_CR6}"  name="ROHS_CR6" reqcheck="reqcheck" data-messages="Rohs CR6 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${rohsDTO.ROHS_PBBS}"  name="ROHS_PBBS" reqcheck="reqcheck" data-messages="Rohs PBBS 입력해주세요." messages=""></td>

                            <td rowspan="3">
                                <div class="cui_attachments" style="display:flex;">
                                    <input type="file" class="cui_file_field" name="ROHS_FILE">
                                    <input type="hidden" name="ROHS_FILE_STATUS">

                                </div>
                                <div class="cui_items_wrap file_wrap" data-direction="left" th:style="${rohsDTO.ROHS_FILE_NAME == null ? 'display:none;' : '' }" style="width:auto;">
                                    <div class="item_label" data-cui-icon="paperclip" style="width:auto"><span id="ROHS_FILE_NAME" th:value="${rohsDTO.ROHS_FILE_NAME}" th:text="${rohsDTO.ROHS_FILE_NAME}"></span></div>
                                    <div class="item_content">
                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="download" th:onclick="downloadFile([[${rohsDTO.ROHS_IDX}]],'ROHS')" data-tooltip-title="다운로드"><span data-langsid="다운로드"></span></button>
                                        <button type="button" class="cui_button icon endpoint"  th:onclick="status_Del($(this),'ROHS',[[${rohsDTO.ROHS_IDX}]])" data-cui-icon="xmark" data-tooltip-title="삭제"><span data-langsid="삭제"></span></button>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <th><span>PBDES</span><span style="color: #e74c3c;">*</span></th>
                            <th><span>DEHP</span><span style="color: #e74c3c;">*</span></th>
                            <th><span>BBP</span><span style="color: #e74c3c;">*</span></th>
                            <th><span>DBP</span><span style="color: #e74c3c;">*</span></th>
                            <th style="border-right-width:thin;"><span>DIBP</span><span style="color: #e74c3c;">*</span></th>
                        </tr>
                        <tr>
                            <td><input type="text" class="cui_text_field" th:value="${rohsDTO.ROHS_PBDES}"  name="ROHS_PBDES" reqcheck="reqcheck" data-messages="Rohs PBDES 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${rohsDTO.ROHS_DEHP}"  name="ROHS_DEHP" reqcheck="reqcheck" data-messages="Rohs DEHP 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${rohsDTO.ROHS_BBP}"  name="ROHS_BBP" reqcheck="reqcheck" data-messages="Rohs BBP 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${rohsDTO.ROHS_DBP}"  name="ROHS_DBP" reqcheck="reqcheck" data-messages="Rohs DBP 입력해주세요." messages=""></td>
                            <td style="border-right-width:thin;"><input type="text" class="cui_text_field" th:value="${rohsDTO.ROHS_DIBP}"  name="ROHS_DIBP" reqcheck="reqcheck" data-messages="Rohs DIBP 입력해주세요." messages=""></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset id="halogenFieldset">
                    <legend><span data-langsid="Halogen 분석서/보증서"></span></legend>

                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:110px;">
                            <col style="width:90px;">
                            <col style="width:90px;">
                            <col style="width:90px;">
                            <col style="width:90px;">
                            <col style="width:90px;">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span data-langsid="확인일자"></span><span style="color: #e74c3c;">*</span></th>
                            <th><span>Cl</span> <span style="color: #e74c3c;">*</span></th>
                            <th><span>Br</span><span style="color: #e74c3c;">*</span></th>
                            <th><span>Cl+Br</span><span style="color: #e74c3c;">*</span></th>
                            <th><span>F</span><span style="color: #e74c3c;">*</span></th>
                            <th><span>I</span><span style="color: #e74c3c;">*</span></th>
                            <th><span data-langsid="첨부파일"></span><span style="color: #e74c3c;">*</span></th>

                        </tr>
                        </thead>
                        <tbody id="tableBody3">
                        <tr>
                            <td>
                                <input type="hidden" name="HALOGEN_IDX" th:value="${halGDTO.HALOGEN_IDX}">
                                <input type="text" class="cui_text_field" th:value="${halGDTO.HALOGEN_CONFIRM_DATE}"  name="HALOGEN_CONFIRM_DATE"  reqcheck="reqcheck" datePickerControl="" data-messages="Halogen 확인날짜 입력해주세요." messages="">
                            </td>
                            <td><input type="text" class="cui_text_field" th:value="${halGDTO.HALOGEN_CL}" name="HALOGEN_CL" reqcheck="reqcheck" data-messages="Halogen CL 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${halGDTO.HALOGEN_BR}" name="HALOGEN_BR" reqcheck="reqcheck" data-messages="Halogen BR 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${halGDTO.HALOGEN_CLBR}" name="HALOGEN_CLBR" reqcheck="reqcheck" data-messages="Halogen CLBR 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${halGDTO.HALOGEN_F}" name="HALOGEN_F" reqcheck="reqcheck" data-messages="Halogen F 입력해주세요." messages=""></td>
                            <td><input type="text" class="cui_text_field" th:value="${halGDTO.HALOGEN_I}" name="HALOGEN_I" reqcheck="reqcheck" data-messages="Halogen I 입력해주세요." messages=""></td>
                            <td>
                                <div class="cui_attachments" style="display:flex;">
                                    <input type="file" class="cui_file_field" name="HALOGEN_FILE">
                                    <input type="hidden" name="HALOGEN_FILE_STATUS">
                                    <div class="cui_items_wrap file_wrap" data-direction="left" th:style="${halGDTO.HALOGEN_FILE_NAME == null ? 'display:none;' : '' }">
                                        <div class="item_label" data-cui-icon="paperclip"><span id="HALOGEN_FILE_NAME" th:value="${halGDTO.HALOGEN_FILE_NAME}" th:text="${halGDTO.HALOGEN_FILE_NAME}" ></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" th:onclick="downloadFile([[${halGDTO.HALOGEN_IDX}]],'HALOGEN')" data-tooltip-title="다운로드"><span data-langsid="다운로드"></span></button>
                                            <button type="button" class="cui_button icon endpoint" th:onclick="status_Del($(this),'HALOGEN',[[${halGDTO.HALOGEN_IDX}]])" data-cui-icon="xmark" data-tooltip-title="삭제"><span data-langsid="삭제"></span></button>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset id="etcFieldset">
                    <legend><span data-langsid="기타 분석서/보증서 (Antimony, Cobalt 등)"></span></legend>
                    <input type="hidden" id="etcCount" name="etcCount" value="0"  th:value="${ETC_COUNT}">
                    <input type="hidden" id="ETC_DEL_IDX" name="ETC_DEL_IDX">

                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:110px;">
                            <col style="width:90px;">
                            <col style="width:90px;">
                            <col>
                            <col style="width:90px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span data-langsid="확인일자"></span></th>
                            <th><span data-langsid="분석항목"></span></th>
                            <th><span data-langsid="분석결과"></span></th>
                            <th><span data-langsid="첨부"></span></th>
                            <th><button type="button" class="cui_button secondary" id="addRowButton" ><span data-langsid="추가"></span></button></th>
                        </tr>
                        </thead>
                        <tbody id="etcBodyArea">
                            <tr th:each="etcDTO,etcStat : ${etcListDTO}">
                                <td><input type="hidden" th:name="'ETC_IDX'+${etcStat.count}" th:value="${etcDTO.ETC_IDX}" >
                                    <input type="text" class="cui_text_field datepicker"  th:value="${etcDTO.ETC_CONFIRM_DATE}" th:name="'ETC_CONFIRM_DATE'+${etcStat.count}"  datePickerControl="" ></td>
                                <td><input type="text" class="cui_text_field" th:value="${etcDTO.ETC_ANALYSE_ENTRY}" th:name="'ETC_ANALYSE_ENTRY'+${etcStat.count}"  ></td>
                                <td><input type="text" class="cui_text_field"  th:value="${etcDTO.ETC_ANALYSE_RESULT}" th:name="'ETC_ANALYSE_RESULT'+${etcStat.count}" >
                                    <input type="hidden" class="cui_text_field" th:name="'ETC_FLAG'+${etcStat.count}"></td>
                                <td>
                                    <div class="cui_attachments" style="display:flex;">
                                        <input type="file" class="cui_file_field" th:name="'ETC_FILE'+${etcStat.count}">

                                        <div class="cui_items_wrap file_wrap" data-direction="left" th:style="${etcDTO.ETC_FILE_NAME == null ? 'display:none;' : '' }" >
                                            <div class="item_label" data-cui-icon="paperclip"><span id="ETC_FILE_NAME" th:value="${etcDTO.ETC_FILE_NAME}" th:text="${etcDTO.ETC_FILE_NAME}"></span></div>
                                            <div class="item_content">
                                                <button type="button" class="cui_button icon endpoint" th:onclick="downloadFile([[${etcDTO.ETC_IDX}]],'ETC')" data-cui-icon="download" data-tooltip-title="다운로드"
                                                ><span>다운로드</span></button>
                                                <button type="button" class="cui_button icon endpoint" th:onclick="status_Del($(this),'ETC',[[${etcDTO.ETC_IDX}]])" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><button type="button" class="cui_button icon"  id="delRowButton"  data-cui-icon="trash"><span data-langsid="삭제"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>

                <div class="chkbox"   th:style="${partMgmtDTO.PM_APPROVAL_DATE == null || partMgmtDTO.PM_APPROVAL_DATE == ' '? 'display:none;' : '' }">
                    <input type="hidden" name="PM_APPROVAL_DATE"  th:value="${partMgmtDTO.PM_APPROVAL_DATE}">
                    * 보증 내역의 재확인<br>
                    -. 기 제출한 MSDS 및 RoHS / Halogen 함량에 대한 분석서 또는 보증서에 대한 변경 사실이 없음을 확인 드립니다.<br/>
                    (확인 결과는 아래의 전자 보증서 제출버튼 클릭시, 보증서 제출과 동일하게 1년씩 기간이 연장 됩니다.)

                    <br>
                    <label class="cui_checkbox">
                        <input type="checkbox" name="MSDS_CONFIRM_CHK" th:checked="${msdsDTO.MSDS_CONFIRM_CHK == ' ' ? false:msdsDTO.MSDS_CONFIRM_CHK}"><i></i>
                        <span>MSDS 전자 보증서 제출</span>
                    </label>
                    <br>
                    <label class="cui_checkbox">
                        <input type="checkbox" name="ROHS_CONFIRM_CHK" th:checked="${rohsDTO.ROHS_CONFIRM_CHK == ' ' ? false:rohsDTO.ROHS_CONFIRM_CHK}"><i></i>
                        <span>RoHS/Halogen 전자 보증서 제출</span>
                    </label>
                </div>

                <div class="cui_items_wrap" data-direction="right" >
                    <div class="item_content">
                        <input type="hidden"  name="INFO_FLAG" >
                        <button type="button" class="cui_button primary" onclick="frmDetailSave();"><span data-langsid="저장"></span></button>
                        <button type="button" class="cui_button primary" onclick="frmDetailNext();"><span data-langsid="다음"></span></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <script>
        $("#addRowButton").bind("click", function () {
            var etcCount = Common.Convert.Int($("#etcCount").val());
            etcCount++;

            const newRow = $('<tr>'
                         + '    <td><input type="hidden" name="ETC_IDX' + etcCount + '"" ><input type="text" class="cui_text_field datepicker" name="ETC_CONFIRM_DATE' + etcCount + '"  datePickerControl="" ></td>'
                         + '                <td><input type="text" class="cui_text_field" name="ETC_ANALYSE_ENTRY' + etcCount + '" ></td>'
                         + '                <td><input type="text" class="cui_text_field" name="ETC_ANALYSE_RESULT' + etcCount + '"  >'
                         +'                     <input type="hidden" class="cui_text_field" name="ETC_FLAG' + etcCount + '"  ></td>'
                         + '                <td>'
                         + '                    <div class="cui_attachments" style="display:flex;">'
    <!--                     + '                        <input type="file" class="cui_file_field" name="ETC_FILE' + etcCount + '">'-->
                         + '                        <input type="file" class="cui_file_field" name="ETC_FILE' + etcCount + '" >'
                         + '                    </div>'
                         + '                </td>'
                         + '    <td><button type="button" class="cui_button icon" id="delRowButton"  data-cui-icon="trash"><span data-langsid="삭제">' + siteLang.getLang("삭제") + '</span></button></td>'
                         + '</tr>');
            Common.Load(newRow);

            newRow.find("button[data-cui-icon=trash]").bind("click", function () {
                var row = $(this).parent().parent();
                var selIdx = row.find("input[name^=ETC_IDX]").val();
                var arrDelIdx = $('input[name=ETC_DEL_IDX]').val();
                if(selIdx != ''){
                    if(arrDelIdx != '') arrDelIdx += ',';
                    arrDelIdx += selIdx;
                }
                $('input[name=ETC_DEL_IDX]').val(arrDelIdx);
                $(this).parent().parent().remove();
            });

            $('#etcBodyArea').append(newRow);
            $("#etcCount").val(etcCount);
        });

        $("#delRowButton").bind("click", function () {
            var selIdx = $(this).closest('tr').find('input[name^=ETC_IDX]').val();
            var arrDelIdx = $('input[name=ETC_DEL_IDX]').val();
            if(selIdx != ''){
                if(arrDelIdx != '') arrDelIdx += ',';
                arrDelIdx += selIdx;
            }
            $('input[name=ETC_DEL_IDX]').val(arrDelIdx);
            $(this).parent().parent().remove();
        });

        var status_Del = function(obj,mode,idx){
            //alert(idx+"++++"+mode);
            Common.Msg(siteLang.getLang("데이터가 삭제됩니다. 파일을 삭제 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    var frmObj = $("#frmDetail");
                    var ReqInfo = new Common.RequestInfo();
                    ReqInfo.formData  = new FormData();
                    ReqInfo.AddParameter(frmObj);
                    ReqInfo.AddParameter("MODE",mode);
                    ReqInfo.AddParameter("IDX",idx);

                    Common.Ajax("/user/partMgmt/DeleteFileDetail", ReqInfo, function (response) {
                        if (response == "OK") {
                            Common.Msg(siteLang.getLang("삭제되었습니다."));
                        }
                    });

                    var row = obj.parent().parent();
                    row.find("span[id*=FILE_NAME]").text('');
                    row.parent().find("input[name*=FILE_STATUS").val("DEL");
                    row.css("display","none");


                }
            });

        }

        var downloadFile = function (idx,gubun) {
            // 서버의 다운로드 URL을 생성 (파일 경로로 이동)
            var downloadUrl = '/user/partMgmt/partMgmtFileDownIdx?IDX=' + idx +'&GUBUN='+gubun;

            // 다운로드 링크를 동적으로 생성
            var link = document.createElement('a');
            link.href = downloadUrl;
            link.download = '';  // 다운로드 시 기본 파일 이름 사용 (optional)

            // 링크 클릭 이벤트를 트리거하여 다운로드 실행
            link.click();
        }

        var frmDetailSubmit = function () {
            //e.preventDefault();

            var frmObj = $("#frmDetail");
            var flag = $("#frmDetail").find("input[name=SaveMode]").val();
            //var pm_idx = $("input[name=PM_IDX]").val() == '' ? $("input[name=PM_IDX]").val() : 0;
            var ReqInfo = new Common.RequestInfo();
            ReqInfo.formData  = new FormData();
            ReqInfo.AddParameter(frmObj);

            Common.Ajax("/user/partMgmt/goMsdsSave", ReqInfo, function (response) {
                if (response == "OK") {
                    if($("#frmDetail").find("input[name=SaveMode]").val() =="Save"){
                        Common.Msg(siteLang.getLang("저장되었습니다."));
                        location.reload();
                    }
                }else {
                    Common.MoveUrl("/user/partMgmt/goSvhcDetail?PM_IDX=" + response.split('|||')[1]);
                }
            });

            //ReqInfo.formData
            //return Common.Validate(frmObj);

        }

        var frmDetailSave = function () {
            //데이터가 아무것도 없을 때는 저장할 수 없음
            var flag = false;

            $("input[reqcheck=reqcheck]").each(function(){
                if($(this).val() != ''){
                    flag = true;
                    return;
                }
            });

            //etc
            $("input[type=text][name^=ETC_]").each(function(){
                if($(this).val() != ''){
                    flag = true;
                    return;
                }
            });

            //이전의 값이 읎을때
            if(!flag){
                $("input[type=file]").each(function(){
                    if($(this).val() != ''){
                        flag = true;
                        return;
                    }
                });
            }

            if(flag){
                Common.Msg(siteLang.getLang("저장 하시겠습니까?"), {
                    mode : "confrim"
                    , okback : function () {
                        $("#frmDetail").find("input[name=SaveMode]").val("Save");
                        //$("#frmDetail").find("[reqcheck]").removeAttr("reqcheck");
                        //$("#frmDetail").submit();
                        frmDetailSubmit();
                    }
                });
            }else{
                Common.Msg(siteLang.getLang("저장 할 내용이 없습니다."));
                return;
            }

        }

        var frmDetailNext = function () {
            //유효성체크
            var frmObj = $("#frmDetail");
            var isValid = true;

            if(Common.Validate(frmObj) != true){
                return;
            }


            //파일 체크
            var flag = '';
            if($("input[name=MSDS_FILE]").val() === '' && $("#MSDS_FILE_NAME").text() === '') {
                 isValid=false;
                 flag='MSDS';
            }
            if($("input[name=ROHS_FILE]").val() == '' && $("#ROHS_FILE_NAME").text() === '') {
                 isValid=false;
                 flag='ROHS';
            }
            if($("input[name=HALOGEN_FILE]").val() == '' && $("#HALOGEN_FILE_NAME").text() === '') {
                 isValid=false;
                 flag='HALOGEN';
            }

            if(!isValid){
                Common.Msg(siteLang.getLang( flag+"파일을 첨부해주십시오."));
                return;
            }

            // etc 파일이나 데이터가 있으면 무조건 둘 다 있어야함. 데이터가 아무것도 없다면 기타는 데이터가 없을 수 있음
            const rows = document.querySelectorAll('#etcBodyArea tr');

            // 각 tr(row)에 대해 유효성 검사 수행
            rows.forEach(row => {
                var confirmDate = row.querySelector('[name^="ETC_CONFIRM_DATE"]').value.trim();
                var analyseEntry = row.querySelector('[name^="ETC_ANALYSE_ENTRY"]').value.trim();
                var analyseResult = row.querySelector('[name^="ETC_ANALYSE_RESULT"]').value.trim();
                var fileInput = row.querySelector('[name^="ETC_FILE"]');
                var fileName = fileInput.value.trim();
                if(fileName == '' && row.querySelector('#ETC_FILE_NAME') !== null) fileName = row.querySelector('#ETC_FILE_NAME').innerText;

                // 해당 tr에 대해 모두 값이 채워졌거나 모두 비어 있어야 유효
                if (confirmDate || analyseEntry || analyseResult || fileName) {
                    // 값이 하나라도 있다면, 나머지 값들도 있어야 함
                    if (!confirmDate || !analyseEntry || !analyseResult || !fileName) {
                        isValid = false;
                        return false; // 유효성 검사를 중지하고 오류 메시지 표시
                    }
                }
            });

            //한번 승인 후 다시 들어온 경우
            if($("input[name=PM_APPROVAL_DATE]").val().trim() != ''){
                if(!$("input[name=MSDS_CONFIRM_CHK]").is(":checked")){
                    Common.Msg(siteLang.getLang("MSDS 전자 보증서 제출에 체크 해주세요"));
                    return;
                }
                if(!$("input[name=ROHS_CONFIRM_CHK]").is(":checked")){
                    Common.Msg(siteLang.getLang("RoHS/Halogen 전자 보증서 제출에 체크 해주세요"));
                    return;
                }
            }


            if(!isValid){
                Common.Msg(siteLang.getLang( "기타의 모든 항목을 채우거나 모든 항목을 비워야 합니다."));
                return;
            }else{
                $("#frmDetail").find("input[name=SaveMode]").val("Next");
                //$("#frmDetail").find("[messages]").attr("reqcheck", "reqcheck");
                //$("#frmDetail").submit();
                frmDetailSubmit();
            }

        }
    </script>
</div>
</body>
</html>
