<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .cui_step ol li {
            width: 180px !important;
        }

        .head_content{
            border-bottom : var(--border-primary) 1px solid;
            align-items : center;
            justify-content : space-between;
        }

        .head-title{
            justify-content : space-between;
            padding :  0px 25px 15px 25px;
        }

        .cui_step{
            margin : 20px 0px 30px 0px;
        }

        .cui_file_field{
            display:flex;
        }
        .cui_table{
            vertical-align: middle;
        }

        .cui_attachments{
            display:block;
        }

        .cui_border_section{
            margin: 20px 20px;
        }

    </style>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head head_title">
            <div class="head_content" style="padding:0px 10px 10px 10px;">
                <h3><span>자재코드 : </span><span th:text="${partMgmtDTO.PM_PART_CODE}"></span></h3>
                <h3><span>자재명 : </span><span th:text="${partMgmtDTO.PART_NAME}">자재명</span></h3>
                <h3><span>승인현황 : </span><span th:text="${partMgmtDTO.PM_APPROVAL_STATUS}">검토중</span></h3>
                <h3><span>사용여부 : </span><span th:text="${partMgmtDTO.PM_ACTIVE_YN}">Active</span></h3>
            </div>
        </div>
        <div class="cui_body">
            <div class="cui_step">
                <ol>
                    <li ><span>MSDS / RoHSⅡ / Halogen</span></li>
                    <li ><span>SVHC</span></li>
                    <li class="active"><span>Declaration Letter</span></li>
                    <li><span>SCCS / 성분명세서 / 기타</span></li>
                </ol>
            </div>
            <form class="cui_form_section" data-legend="true" id="frmDetail" enctype="multipart/form-data" onsubmit="return false;">
                <input type="hidden" name="PM_IDX" th:value="${PM_IDX}"/>
                <input type="hidden" name="SaveMode" value=""/>
                <input type="hidden" name="PM_PART_CODE" th:value="${partMgmtDTO.PM_PART_CODE}"/>
                <fieldset id="declFieldset">
                    <legend><span>Declaration Letter</span></legend>

                    <table class="cui_table">
                        <colgroup>
                            <col style="width:154px;">
                            <col>
                            <col  style="width:154px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>제출구분</span></th>
                            <td colspan="3">
                                <div class="cui_items_wrap" data-wrap="wrap" data-direction="left">
                                    <input type="hidden" name="DECL_IDX" th:value="${declDTO.DECL_IDX}">
                                    <div class="item_content">
                                        <label class="cui_checkbox"><input type="radio" name="DATA_GUBUN" value="ATTACH" id="Attach" th:checked="${declDTO.DATA_GUBUN eq 'ATTACH'}"><i></i><span>파일첨부</span></label>
                                        <label class="cui_checkbox" th:style="${partMgmtDTO.PM_APPROVAL_DATE == null || partMgmtDTO.PM_APPROVAL_DATE == ' '? 'display:none;' : '' }"><input type="radio" name="DATA_GUBUN" value="WRITE" id="Write"  th:checked="${declDTO.DATA_GUBUN eq 'WRITE'}"><i></i><span>직접입력</span></label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span>확인일자</span></span><span style="color: #e74c3c;">*</span></th>
                            <td>
                                <div class="cui_items_wrap">
                                    <div class="item_content" data-role="calendar-picker">
                                        <input type="text" class="cui_text_field datepicker" onkeyup="checkValidDate($(this))"  maxlength="10" datePickerControl=""  id="confirmDate" name="CONFIRM_DATE" th:value="${declDTO.CONFIRM_DATE}" reqcheck="reqcheck" data-messages="확인일자를 입력해주세요." messages="">
                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="calendar" id="confirmDate_btn"><span>날자 선택</span></button>
                                    </div>
                                </div>
                            </td>
                            <th><span>보증항목</span></th>
                            <td>
                                <div class="cui_items_wrap">
                                    <div class="item_content" data-role="calendar-picker">
                                        <input type="text" class="cui_text_field" name="WARRANTY_ITEM"  th:value="${declDTO.WARRANTY_ITEM}" readonly="readonly" >
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </fieldset>

                <fieldset id="declFileFieldset">
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:154px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>파일첨부</span><span style="color: #e74c3c;">*</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <div class="cui_attachments" style="display:flex;">
                                            <input type="file" class="cui_file_field" name="DECL_FILE">
                                            <input type="hidden" name="FILE_STATUS">
                                            <button type="button" class="cui_button primary" onclick="setDeclExcelData();"><span data-langsid="적용"></span></button>
                                            <div class="cui_items_wrap file_wrap decl_file_div" data-direction="left"  th:style="${declDTO.FILE_NAME == ' ' || declDTO.FILE_NAME == null ? 'display:none;' : '' }">
                                                <div class="item_label" data-cui-icon="paperclip"><span id="FILE_NAME" th:text="${declDTO.FILE_NAME}" th:value="${declDTO.FILE_NAME}"></span></div>
                                                <div class="item_content">
                                                    <button type="button" class="cui_button icon endpoint" th:onclick="status_Del($(this),'DECL',[[${declDTO.DECL_IDX}]])" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <div class="cui_jqGrid_section"  id="Grid_attach_Div" style="display:none;">
                        <div class="cui_jqGrid_head">
                            <div class="jqGrid_label"> &nbsp;</div>
                        </div>
                        <div class="cui_jqGrid_body" id="Grid_attach">
                            <div id="gridArea_attach" gridYN="" ></div>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="declDataFieldset" style="display:none;">
                    <input type="hidden" name="APPLICABLE_NO" th:value="${declDTO.APPLICABLE_NO}">
                    <input type="hidden" name="NONE_APPLICABLE_NO" th:value="${declDTO.NONE_APPLICABLE_NO}">
                    <input type="hidden" name="SVHC_REMARK" th:value="${declDTO.DECL_REMARK}">
                    <div class="cui_jqGrid_section">
                        <div class="cui_jqGrid_head">
                            <div class="jqGrid_label"> &nbsp;</div>
                        </div>
                        <div class="cui_jqGrid_body" id="Grid">
                            <div id="gridArea" gridYN="" th:initData="${partDeclList}"></div>
                        </div>
                    </div>
                </fieldset>

                <input type="hidden" name = "blobData">

                <div class="cui_border_section" th:style="${partMgmtDTO.PM_APPROVAL_DATE == null || partMgmtDTO.PM_APPROVAL_DATE == ' ' ? 'display:none;' : '' }">
                    <input type="hidden" name="PM_APPROVAL_DATE"  th:value="${partMgmtDTO.PM_APPROVAL_DATE}">
                    <div class="cui_bullet_title">
                        <div class="bullet_title_label"><span>보증 내역의 재확인</span></div>
                    </div>
                    <ul class="cui_list" data-bullet="dash">
                        <li>기 제출한 Declaration Letter에서 물질 목록 추가 및 물질 재확인 결과, 물질보증 내역에 변경 사실이 없음을 확인 드립니다.<br>(확인 결과는 아래의 전자 보증서 제출버턴 클릭시, 보증서 제출과 동일하게 1년씩 기간이 연장 됩니다.)</li>
                    </ul>
                    <div class="cui_items_wrap" data-direction="column">
                        <div class="item_content">
                            <label class="cui_checkbox">
                                <input type="checkbox" name="CONFIRM_CHK" th:checked="${declDTO.CONFIRM_CHK == ' ' ? false:declDTO.CONFIRM_CHK}"><i></i>
                                <span>전자 보증서 제출</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="cui_items_wrap" data-direction="right" >
                    <div class="item_content">
                        <input type="hidden"  name="INFO_FLAG" >
                        <button type="button" class="cui_button primary" onclick="frmDetailSave();"><span data-langsid="저장"></span></button>
                        <button type="button" class="cui_button primary" onclick="frmDetailPrev();"><span data-langsid="이전"></span></button>
                        <button type="button" class="cui_button primary" onclick="frmDetailNext();"><span data-langsid="다음"></span></button>
                    </div>
                </div>


            </form>

            <div><br /></div>

        </div>
    </div>
</div>
</body>
<script>
    var AttachStatus = false;
    $(document).ready(function(){

        //처음 로드 시 기존 저장된 데이터 있는지 확인
        if($("input[name=DECL_IDX]").val() != ''){
            //저장된 데이터 로드됨
            //제출 구분이 직접입력일때만 데이터 바꿔줌
            if($("input[name='DATA_GUBUN']:checked").val() == 'WRITE'){
                //$('input:radio[name="DATA_GUBUN"]:input[value="WRITE"]').prop('checked',true);
                $('#declFileFieldset').hide();
		    	$('#declDataFieldset').show();
            }
        }else{
            //신규 제출구분 파일첨부 기본
            $('input:radio[name="DATA_GUBUN"]:input[value="ATTACH"]').prop('checked',true);
        }


        $("input[name=DATA_GUBUN]").bind("change", function(){
        // 직접입력
		    if($("input[name='DATA_GUBUN']:checked").val() == 'WRITE'){
		        if($("#frmDetail").find("input[name='DECL_FILE']").val() !== '' || $("#FILE_NAME").text().trim() !== '' ){
		            Common.Msg(siteLang.getLang("기존 데이터가 삭제됩니다. 제출구분을 변경하시겠습니까?"), {
                        mode : "confrim"
                        , okback : function () {
                            if($("#FILE_NAME").text().trim() !== ''){
                                var frmObj = $("#frmDetail");
                                var ReqInfo = new Common.RequestInfo();
                                ReqInfo.formData  = new FormData();
                                ReqInfo.AddParameter(frmObj);
                                ReqInfo.AddParameter("MODE","DECL");
                                ReqInfo.AddParameter("IDX",$("input[name=DECL_IDX]").val());

                                Common.Ajax("/user/partMgmt/DeleteFileDetail", ReqInfo, function (response) {
                                    if (response == "OK") {
                                        initData('WRITE');
                                    }
                                });
                            }else {
                                initData('WRITE');
                            }
                        }
                        ,cancelback : function (){
                            $('input:radio[name="DATA_GUBUN"]:input[value="ATTACH"]').prop('checked',true);
                        }
                    });
		        }else{
		            initData('WRITE');
		        }

		    }
		    // 첨부파일
		    else if($("input[name='DATA_GUBUN']:checked").val() == 'ATTACH'){
		        initData('ATTACH');
		    }
        });

        $("input[name=DECL_FILE]").bind("change", function(){
            AttachStatus = false;
        });


    });

    var status_Del = function(obj,mode,idx){
        //alert(idx+"++++"+mode);
        Common.Msg(siteLang.getLang("데이터가 삭제됩니다. 파일을 삭제 하시겠습니까?"), {
            mode : "confrim"
            , okback : function () {
                var frmObj = $("#frmDetail");
                var ReqInfo = new Common.RequestInfo();
                ReqInfo.formData  = new FormData();
                ReqInfo.AddParameter(frmObj);
                ReqInfo.AddParameter("MODE",mode);
                ReqInfo.AddParameter("IDX",idx);

                Common.Ajax("/user/partMgmt/DeleteFileDetail", ReqInfo, function (response) {
                    if (response == "OK") {
                        Common.Msg(siteLang.getLang("삭제되었습니다."));
                    }
                });

                var row = obj.parent().parent();
                row.find("span[id*=FILE_NAME]").text('');
                row.parent().find("input[name*=FILE_STATUS").val("DEL");
                row.css("display","none");


            }
        });

    }

    var checkValidDate = function(obj) {
        let val = obj.val().replace(/\D/g, "");
        let leng = val.length;
        let result = '';

        if(leng < 6) result = val;
        else if(leng < 8){
            result += val.substring(0,4);
            result += "-";
            result += val.substring(4);
        } else{
            result += val.substring(0,4);
            result += "-";
            result += val.substring(4,6);
            result += "-";
            result += val.substring(6);


        }
        obj.val(result);
    }

    var initData = function (status){
        if(status === 'WRITE'){
            //파일 그리드 초기화
		    $("#gridArea_attach").pqGrid("option", "dataModel.data", []);
		    $("#gridArea_attach").pqGrid("refreshView");
		    $("#Grid_attach_Div").css("display","none");
		    AttachStatus = false;

		    $('#declFileFieldset').hide();
		    $('#declDataFieldset').show();
		    //초기화
		    $("input[name=DECL_FILE]").val('');
		    $("#FILE_NAME").text('');
            $(".decl_file_div").hide();
		    $(".cui_attachments .cui_text_field").val('');

		    //$("input[name=APPLICABLE_NO]").val('');
            //$("input[name=NONE_APPLICABLE_NO]").val('');

		    ListLoad();
        }else {
            $("#gridArea_attach").pqGrid("option", "dataModel.data", []);
		    $("#gridArea_attach").pqGrid("refreshView");

		    $('#declFileFieldset').show();
		    $('#declDataFieldset').hide();
		    //초기화
		    $("input[name=APPLICABLE_NO]").val('');
		    //$("#gridArea").empty();
		    $("#gridArea").pqGrid("refreshView");

		    $("input[name=APPLICABLE_NO]").val('');
            $("input[name=NONE_APPLICABLE_NO]").val('');
        }
    }


    var setDeclExcelData = function (){
        Common.Loading.Show();
        $("#Grid_attach_Div").css("display","block");


        var frmObj = $("#frmDetail");
        var ReqInfo = new Common.RequestInfo();
        ReqInfo.formData  = new FormData();
        ReqInfo.AddParameter(frmObj);

        Common.Ajax("/user/partMgmt/setDeclExcelData", ReqInfo, function (data) {
            if(data.indexOf("|||[ERROR]|||")>0){
                var mString = MsgStr.replace("|||[ERROR]|||", "");
                Common.Msg(mString);
                return;
            }else{
                var dataJson = JSON.parse(data);

                $("#gridArea_attach").pqGrid("option", "dataModel.data", dataJson);
                $("#gridArea_attach").pqGrid("refreshView");
                AttachStatus = true;
                Common.Loading.Hide();

                var returnVal =setApplicableNo('attach',true,'imsi');
                if(returnVal === 'false'){
                    flag = false;
                    Common.Msg(siteLang.getLang("첨부내용에 Y로 해당되는 내용이 없습니다"));
                    return;
                }else if(returnVal !== 'true'){
                    flag = false;
                    Common.Msg(siteLang.getLang(returnVal));
                    return;
                }
            }

        });

    }


    //attach
    $(function () {
        var heightMinus = 650;

        //var data = SheetDataConvert($("#gridArea").attr("initData"));

        var obj = {
            bubble: false,
            numberCell: { show: false, resizable: true, title: "", width: 35, minWidth: 35, style: 'border-right:1px' },
            editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
            editModel: { clicksToEdit: 2 },
            selectionModel: { type: 'cell', mode: 'block' },
            height: $(window).height() - heightMinus,
            title: "",
            sortable: false,
            resizable: true,
            menuIcon: false,
            scrollModel: { autoFit: false },
            hoverMode: 'row',
            roundCorners: false,
            rowBorders: true,
            showBottom: false,
            showHeader: true,
            showTitle: true,
            showTop: false,
            showToolbar: true,
            stripeRows: false,
            wrap: true,
            autoAddRow: false,
            freezeCols:0,
            autoRow: true,
            autoRowHead: false,
            rowHt:25,
            rowInit: function () {
                return { style: 'font-size:12px;' };
            },
            selectChange: function (event, ui) {
            },
            rowClick: function (event, ui) {
            },
            cellClick: function (event, ui) {
            },
            rowDblClick: function (event, ui) {
            },
            rowSelect: function (event, ui) {
            },
            open: function () {
            },
            headerCellClick: function (event, ui) {
            }
        };
        obj.colModel = [

            {  title: "No.", width: 50, halign: "center", align: "right", dataType: "string", dataIndx: "DECL_NUM", sortable: false, editor: false, editable: false },
            {  title: "Sub No.", width: 75, halign: "center", align: "right", dataType: "string", dataIndx: "DECL_SUB_NUM", sortable: false, editor: false, editable: false
                , render : function (ui) {
                    var data = ui.rowData;
                    if (data.DECL_NUM.trim() != "") {
                        if (data.SubItemsExists) {
                            var iconHtml = "";

                            if (data.SubShowHide == undefined || data.SubShowHide == false) {
                                iconHtml = '<span style="position:absolute;left:22px;top:6px;cursor:pointer;transform: scale(1.7);" class="pq-group-icon ui-icon ui-icon-triangle-1-e" DECL_NUM="' + data.DECL_NUM + '" onclick="SheetShowHide($(this));"></span>';
                            } else {
                                iconHtml = '<span style="position:absolute;left:22px;top:6px;cursor:pointer;transform: scale(1.7);" class="pq-group-icon ui-icon ui-icon-triangle-1-se" DECL_NUM="' + data.DECL_NUM + '" onclick="SheetShowHide($(this));"></span>';
                            }

                            return iconHtml;
                        }
                    }
                }
            },
            { data_langsid: "물질명", title: siteLang.getLang("물질명"), width: 500, halign: "center", align: "left", dataType: "string", dataIndx: "DECL_NAME", sortable: false, editor: false, editable: false },
            { title: "CAS No.", width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "DECL_CASNUM", sortable: false, editor: false, editable: false },
            { data_langsid: "해당", title: siteLang.getLang("해당"), width: 60, halign: "center", align: "center", dataType: "string", dataIndx: "DECL_YN", sortable: false, editor: false, editable: false },
            { data_langsid: "함량", title: siteLang.getLang("함량"), width: 270, halign: "center", align: "left", dataType: "string", dataIndx: "DECL_WEIGHT", sortable: false, editor: false, editable: false },
            { data_langsid: "관리 Class", title: siteLang.getLang("관리 Class"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "DECL_CLASS", sortable: false, editor: false, editable: false }


        ];
        obj.dataModel = { data: [] };
        //$("#gridArea_write").pqGrid("option", "dataModel.data", []);
        $("#gridArea_attach").pqGrid(obj);
        $("#gridArea_attach").attr("gridYN", "Y");

        $(window).resize(function () {
            $("#gridArea_attach").pqGrid("option", "height", $(window).height() - heightMinus);
            $("#gridArea_attach").pqGrid("refreshView");
        });


    });



    var SheetDataConvert = function (data) {
        var dataJson = JSON.parse(data);

        var appVal = $("input[name=APPLICABLE_NO]").val();
        var noneappVal = $("input[name=NONE_APPLICABLE_NO]").val();
        var remarkVal = $("input[name=DECL_REMARK]").val();

        var ArrData = appVal.split(',');
        var NoneArrData = noneappVal.split(',');
        var ArrRemark = remarkVal.split(',');


        for(var i = 0; i < dataJson.length; i++){
            var flag = false;
            for(var j=0; j<ArrData.length; j++){
                if(dataJson[i].DECL_NUM === ArrData[j] || dataJson[i].DECL_SUB_NUM === ArrData[j]) flag= true;
            }

            if(flag){
                dataJson[i].DECL_YN='Y';
            }else{
                for(var k=0; k<NoneArrData.length; k++){
                    if(dataJson[i].DECL_NUM === NoneArrData[k] || dataJson[i].DECL_SUB_NUM === NoneArrData[k]) {
                        dataJson[i].DECL_YN='N';
                    }
                }
                if(dataJson[i].DECL_YN === null){
                    //dataJson[i].DECL_YN='';
                    //신규 : 대표 빈값, 하위 N  |||  기존(한번 신청된 것) : 대표,하위 값 바인딩, 신규 row(decl 데이터추가 시) -  대표 빈값, 하위 N
                    if(dataJson[i].DECL_SUB_NUM.trim() == '' )  dataJson[i].DECL_YN= '';
                    else   dataJson[i].DECL_YN='N';
                }
<!--                if(dataJson[i].DECL_SUB_NUM == ' ' )  dataJson[i].DECL_YN= '';-->
<!--                else   dataJson[i].DECL_YN='N';-->
            }

            if (dataJson[i].DECL_NUM.trim() == "") {
                dataJson[i].pq_hidden = true;
            } else {
                var SubExt = false;
                for(var j = 0; j < dataJson.length; j++){
                    if (Common.StartContains(dataJson[j]["DECL_SUB_NUM"], dataJson[i].DECL_NUM + "-")) {
                        SubExt = true;
                        break;
                    }
                }
                if (SubExt) {
                    dataJson[i].SubItemsExists = true;
                } else {
                    dataJson[i].SubItemsExists = false;
                }
            }

            for(var l = 0; l < ArrRemark.length; l++ ){
                if( ArrRemark[l].indexOf(dataJson[i].SVHC_NUM+":") > -1) dataJson[i].SVHC_REMARK = ArrRemark[l].split(':')[1];
            }
        }

        return dataJson;
    }

    var ListLoad = function () {
        //var url = "/user/partMgmt/getDeclListData";
        var url =  location.pathname;

        Common.Ajax(url, null , function (data) {
            var dataJson = SheetDataConvert(data);

            $("#gridArea").pqGrid("option", "dataModel.data", dataJson);
            $("#gridArea").pqGrid("refreshView");
        });
    }

    var SheetShowHide = function (Obj) {
        var grid = $("#gridArea").pqGrid("instance");

        var rowList = grid.search( {
            row: { DECL_NUM : Obj.attr("DECL_NUM") }
        });

        if (Obj.hasClass("ui-icon-triangle-1-e")) {
            Obj.removeClass("ui-icon-triangle-1-e");
            Obj.addClass("ui-icon-triangle-1-se");

            for (j = 0; j < grid.pdata.length; j++) {
                if (grid.pdata[j]["DECL_NUM"].trim() == "" && Common.StartContains(grid.pdata[j]["DECL_SUB_NUM"], Obj.attr("DECL_NUM") + "-")) {
                    grid.pdata[j].pq_hidden = false;
                }
            }

            rowList[0].rowData.SubShowHide = true;
        } else {
            Obj.addClass("ui-icon-triangle-1-e");
            Obj.removeClass("ui-icon-triangle-1-se");

            for (j = 0; j < grid.pdata.length; j++) {
                if (grid.pdata[j]["DECL_NUM"].trim() == "" && Common.StartContains(grid.pdata[j]["DECL_SUB_NUM"], Obj.attr("DECL_NUM") + "-")) {
                    grid.pdata[j].pq_hidden = true;
                }
            }

            rowList[0].rowData.SubShowHide = false;
        }

        $("#gridArea").pqGrid("refreshView");
    }

    $(function () {
        var heightMinus = 650;
        var DECL_YN_SELECT_ITEMS = ['','Y', 'N'];


        var data = SheetDataConvert($("#gridArea").attr("initData"));

        var obj = {
            bubble: false,
            numberCell: { show: false, resizable: true, title: "", width: 35, minWidth: 35, style: 'border-right:1px' },
            editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
            editModel: { clicksToEdit: 2 },
            selectionModel: { type: 'cell', mode: 'block' },
            height: $(window).height() - heightMinus,
            title: "",
            sortable: false,
            resizable: true,
            menuIcon: false,
            scrollModel: { autoFit: false },
            hoverMode: 'row',
            roundCorners: false,
            rowBorders: true,
            showBottom: false,
            showHeader: true,
            showTitle: true,
            showTop: false,
            showToolbar: true,
            stripeRows: false,
            wrap: true,
            autoAddRow: false,
            freezeCols:0,
            autoRow: true,
            autoRowHead: false,
            rowHt:25,
            rowInit: function () {
                return { style: 'font-size:12px;' };
            },
            selectChange: function (event, ui) {
                /*
                var rowData = ui.rowData;
                var grid = $("#gridArea").pqGrid("instance");
                if(rowData.DECL_NUM !== ' ' && rowData.DECL_SUB_NUM === ' '){
                    //대표 번호의 값이 변경 되었을 때
                    if(rowData.DECL_YN === 'N'){
                        //
                        for(var j = 0; j<grid.pdata.length; j++){
                            if(grid.pdata[j].DECL_SUB_NUM.indexOf(rowData.DECL_NUM+"-") >0){
                                grid.pdata[j].DECL_YN='N';
                            }
                        }
                    }
                }else{
                    //subnum 변경
                    var declNo = rowData.DECL_SUB_NO.split('-')[0];
                    var declNoval = '';
                    var subval = rowData.DECL_YN;
                    var grid = $("#gridArea").pqGrid("instance");
                    for(var j = 0; j<grid.pdata.length; j++){
                            if(grid.pdata[j].DECL_NUM === declNo){
                                declNoval = grid.pdata[j].DECL_YN;
                            }
                    }

                    if(declNoval === 'N' && subval ==='Y'){
                        rowData.DECL_YN = 'N';
                        Common.Msg(siteLang.getLang("상위 No.가 N 경우 하위 SBU NO.는 Y일 수 없습니다."));
                    }

                }
                */
            },
            change: function (event, ui) {
                var grid = $(this.element).pqGrid("instance");

                if (ui.source == "paste" || ui.source == "edit" || ui.source == "update" || ui.source == "clear" || ui.source == "checkbox" || ui.source == "undo") {
                    if (ui.updateList.length > 0) {
                        for (var i = 0; i < ui.updateList.length; i++) {
                            var rowInfo = ui.updateList[i];

                            if (rowInfo.newRow.DECL_YN == "N") {
                                var data = rowInfo.rowData;

                                for (j = 0; j < grid.pdata.length; j++) {
                                    if (grid.pdata[j]["DECL_NUM"].trim() == "" && Common.StartContains(grid.pdata[j]["DECL_SUB_NUM"], data.DECL_NUM + "-")) {
                                        grid.pdata[j]["DECL_YN"] = "N";
                                    }
                                }
                            } else if (rowInfo.newRow.DECL_YN == "Y") {
                                var data = rowInfo.rowData;
                                var tmp_DECL_NUM = data.DECL_SUB_NUM.split("-")[0];

                                for (j = 0; j < grid.pdata.length; j++) {
                                    if (grid.pdata[j]["DECL_NUM"].trim() == tmp_DECL_NUM) {
                                        grid.pdata[j]["DECL_YN"] = "Y";
                                    }
                                }
                            }
                        }
                    }
                }

                $(this.element).pqGrid("refreshView");
            },
            rowClick: function (event, ui) {
            },
            cellClick: function (event, ui) {
            },
            rowDblClick: function (event, ui) {
            },
            rowSelect: function (event, ui) {
            },
            open: function () {
            },
            headerCellClick: function (event, ui) {
            }
        };
        obj.colModel = [

            {  title: "No.", width: 50, halign: "center", align: "right", dataType: "string", dataIndx: "DECL_NUM", sortable: false, editor: false, editable: false },
            {  title: "Sub No.", width: 75, halign: "center", align: "right", dataType: "string", dataIndx: "DECL_SUB_NUM", sortable: false, editor: false, editable: false
                , render : function (ui) {
                    var data = ui.rowData;
                    if (data.DECL_NUM.trim() != "") {
                        if (data.SubItemsExists) {
                            var iconHtml = "";

                            if (data.SubShowHide == undefined || data.SubShowHide == false) {
                                iconHtml = '<span style="position:absolute;left:22px;top:6px;cursor:pointer;transform: scale(1.7);" class="pq-group-icon ui-icon ui-icon-triangle-1-e" DECL_NUM="' + data.DECL_NUM + '" onclick="SheetShowHide($(this));"></span>';
                            } else {
                                iconHtml = '<span style="position:absolute;left:22px;top:6px;cursor:pointer;transform: scale(1.7);" class="pq-group-icon ui-icon ui-icon-triangle-1-se" DECL_NUM="' + data.DECL_NUM + '" onclick="SheetShowHide($(this));"></span>';
                            }

                            return iconHtml;
                        }
                    }
                }
            },
            { data_langsid: "물질명", title: siteLang.getLang("물질명"), width: 500, halign: "center", align: "left", dataType: "string", dataIndx: "DECL_NAME", sortable: false, editor: false, editable: false },
            { title: "CAS No.", width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "DECL_CASNUM", sortable: false, editor: false, editable: false },
            { data_langsid: "해당", title: siteLang.getLang("해당"), width: 60, halign: "center", align: "center", dataType: "string", dataIndx: "DECL_YN", sortable: false
                , editor: {
                    type : "select",
                    options : DECL_YN_SELECT_ITEMS,
                }
                , editable: true
<!--                , render : function (ui){-->
<!--                //DECL_NUM, DECL_CASNUM,DECL_WEIGHT,DECL_CLASS-->
<!--                    var data = ui.rowData;-->
<!--                    var appVal = $("input[name=APPLICABLE_NO]").val();-->
<!--                    var ArrData = appVal.split(',');-->
<!--                    var flag = false;-->

<!--                    for(var i=0; i<ArrData.length; i++){-->
<!--                        if(data.DECL_NUM === ArrData[i]){-->
<!--                            flag = true;-->
<!--                         }-->
<!--                    }-->

<!--                    if(flag){-->
<!--                        //값이 y 인 것-->
<!--                        return 'Y';-->
<!--                    }else{-->
<!--                        //값이 n 이거나  없음(대표n)-->
<!--                        if(data.DECL_SUB_NUM == ' ' ) return '';-->
<!--                        else return 'N';-->
<!--                    }-->
<!--                }-->
            },
            { data_langsid: "함량", title: siteLang.getLang("함량"), width: 270, halign: "center", align: "left", dataType: "string", dataIndx: "DECL_WEIGHT", sortable: false, editor: false, editable: false },
            { data_langsid: "관리 Class", title: siteLang.getLang("관리 Class"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "DECL_CLASS", sortable: false, editor: false, editable: false },
            { data_langsid: "비고", title: siteLang.getLang("비고"), width: 200, halign: "center", align: "center", dataType: "string", dataIndx: "DECL_REMARK", sortable: false, editor: true, editable: true }

        ];
        obj.dataModel = { data: data };
        $("#gridArea").pqGrid(obj);
        $("#gridArea").attr("gridYN", "Y");

        $(window).resize(function () {
            $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus);
            $("#gridArea").pqGrid("refreshView");
        });

        //select 변경 시
<!--        $("#gridArea").on("cellEdit", function (event, ui) {-->
<!--            -->
<!--        });-->
    });

    var frmDetailSubmit = function () {
        //e.preventDefault();
        //setApplicableNo();

        downloadExcel();

        var frmObj = $("#frmDetail");
        var flag = $("#frmDetail").find("input[name=SaveMode]").val();
        //var pm_idx = $("input[name=PM_IDX]").val() == '' ? $("input[name=PM_IDX]").val() : 0;
        var ReqInfo = new Common.RequestInfo();
        ReqInfo.formData  = new FormData();
        ReqInfo.AddParameter(frmObj);
        Common.Ajax("/user/partMgmt/goDeclSave", ReqInfo, function (response) {
                if (response == "OK") {
                    if($("#frmDetail").find("input[name=SaveMode]").val() =="Save"){
                        Common.Msg(siteLang.getLang("저장되었습니다."));
                        location.reload();
                    }
                }else {
                    Common.MoveUrl("/user/partMgmt/goSccsDetail?PM_IDX=" + response.split('|||')[1]);
                }
            });

        //ReqInfo.formData
        //return Common.Validate(frmObj);

    }

    var downloadExcel = function (flag) {
        var idxs ='';
        var reVal = false;
        var pqName ='';
        if(flag === 'attach') pqName='_attach';
        var grid = $("#gridArea"+pqName).pqGrid("instance");
        const gridData = $("#gridArea"+pqName).pqGrid("option", "dataModel").data;

        //var grid = $("#gridArea").pqGrid("instance");
<!--        var colModel = grid.getColModel();-->
<!--        colModel[0].hidden = true;-->

<!--        var format = "xlsx",-->
<!--            blob = grid.exportData({-->
<!--                format: format,-->
<!--                nopqdata: true,-->
<!--                render: true-->
<!--            });-->
<!--        if (typeof blob === "string") {-->
<!--            blob = new Blob([blob]);-->
<!--        }-->


        $("input[name=blobData]").val(JSON.stringify(gridData));

        //var cnt = $("input[name=WARRANTY_ITEM]").val();
        //var date = $("input[name=CONFIRM_DATE]").val().replaceAll("-","");



<!--        if(flag === 'attach'){-->
<!--            saveAs(blob, "SVHC_" + date +"_"+cnt+ "." + format);-->
<!--        }else{-->
<!--            saveAs(blob, "PART_MANAGEMENT_" + Common.GetTodayTimeString() + "." + format);-->
<!--        }-->


        //colModel[0].hidden = false;
    }

    var setApplicableNo =  function(flag,stat,gubun){
        var idxsY = "";
        var idxsN = "";

        var idxsRemark ="";
        var Message = "false";
        //var emptyval ="";
        var pqName ="";
        if(flag === 'attach') pqName='_attach';
        var grid = $("#gridArea"+pqName).pqGrid("instance");
        for (j = 0; j < grid.pdata.length; j++) {
            if (grid.pdata[j]["DECL_YN"] === 'Y' || grid.pdata[j]["DECL_YN"] === 'y') {
                if (idxsY != "") idxsY += ",";
                var Nos = grid.pdata[j]["DECL_NUM"].trim()  === ''?grid.pdata[j]["DECL_SUB_NUM"] : grid.pdata[j]["DECL_NUM"];

                idxsY += Nos;
                Message = "true";

                //Y 로 선택 된 대표 번호는 하위 번호들의 값 중 하나는 Y가 있어야 한다
                if(grid.pdata[j]["DECL_NUM"].trim() !== ''){
                    var flagY = false;
                    //var tmp_DECL_NUM = Nos.split("-")[0];

                    for (k = 0; k < grid.pdata.length; k++) {
                        if (Common.StartContains(grid.pdata[k]["DECL_SUB_NUM"], grid.pdata[j]["DECL_NUM"] + "-")) {
                            if(grid.pdata[k]["DECL_YN"].trim() === "Y" || grid.pdata[k]["DECL_YN"].trim() === "y"){
                                flagY=true;
                                break;
                            }
                        }
                    }
                    if(!flagY && flag !== 'write' && stat !== 'save'){
                        //Common.Msg(siteLang.getLang(grid.pdata[j]["DECL_NUM"]+"하위의 값 중 Y로 체크된 것이 없습니다"));
                        Message=grid.pdata[j]["DECL_NUM"]+"하위의 값 중 Y로 체크된 것이 없습니다";
                        return Message;
                    }
                }

            }else if(grid.pdata[j]["DECL_YN"].trim() === 'N' || grid.pdata[j]["DECL_YN"].trim() === 'n'){
                if (idxsN != "") idxsN += ",";
                var NosN = grid.pdata[j]["DECL_NUM"]  === ''?grid.pdata[j]["DECL_SUB_NUM"] : grid.pdata[j]["DECL_NUM"];

                idxsN += NosN;

            }else if(grid.pdata[j]["DECL_YN"].trim() === '' ){
                //Common.Msg(siteLang.getLang(grid.pdata[j]["DECL_NUM"]+"의 값이 없습니다"));
                //$("input[name=APPLICABLE_NO]").val(idxsY);
                //$("input[name=NONE_APPLICABLE_NO]").val(idxsN);

                if( flag !== 'write' && stat !== 'save' ){
                    var num = grid.pdata[j]["DECL_NUM"].trim() === ''? grid.pdata[j]["DECL_SUB_NUM"] : grid.pdata[j]["DECL_NUM"];
                    Message= num+"의 값이 없습니다";
                    return Message;
                }

            }

            if (grid.pdata[j]["DECL_REMARK"] != undefined ){
                if(grid.pdata[j]["DECL_REMARK"].trim() !== ''){
                    if (idxsRemark != "") idxsRemark += ",";
                    idxsRemark += grid.pdata[j]["DECL_NUM"] +":"+grid.pdata[j]["DECL_REMARK"];
                }

            }
        }

        if(gubun !== 'imsi'){
           $("input[name=APPLICABLE_NO]").val(idxsY);
           $("input[name=NONE_APPLICABLE_NO]").val(idxsN);
        }

        return Message;
    }

    var frmDetailSave = function () {
        //데이터가 아무것도 없을 때는 저장할 수 없음
        var flag = false;

        $("input[reqcheck=reqcheck]").each(function(){
            if($(this).val() != ''){
                flag = true;
                return;
            }
        });

        if($("#frmDetail").find("input[name='DATA_GUBUN']:checked").val()=='ATTACH'){
            if($("#frmDetail").find("input[name='DECL_FILE']").val() !== ''){
                if(!AttachStatus){
                    flag = false;
                    Common.Msg(siteLang.getLang("첨부 등록 시 적용을 필수적으로 클릭해주세요"));
                    return;
                }
                var returnVal =setApplicableNo('attach', true);
                if(returnVal === 'false'){
                    flag = false;
                    Common.Msg(siteLang.getLang("첨부내용에 Y로 해당되는 내용이 없습니다"));
                    return;
                }else if(returnVal !== 'true'){
                    flag = false;
                    Common.Msg(siteLang.getLang(returnVal));
                    return;
                }
<!--                if(!setApplicableNo('attach')){   -->
<!--                    Common.Msg(siteLang.getLang("Y로 해당되는 내용이 없습니다"));-->
<!--                    return;-->
<!--                }-->

            }

        }else{
            //Y 데이터 삽입
            setApplicableNo('write', false);
        }

        if(flag){
            Common.Msg(siteLang.getLang("저장 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    $("#frmDetail").find("input[name=SaveMode]").val("Save");
                    //$("#frmDetail").find("[reqcheck]").removeAttr("reqcheck");
                    //$("#frmDetail").submit();
                    frmDetailSubmit();
                }
            });
        }

    }

    var frmDetailPrev = function () {
        var pmidx  = $("input[name=PM_IDX]").val();
        Common.MoveUrl("/user/partMgmt/goSvhcDetail?PM_IDX=" +pmidx);

    }

    var frmDetailNext = function () {
        //유효성체크
        var frmObj = $("#frmDetail");
        var isValid = true;

        if(Common.Validate(frmObj) != true){
            return;
        }

        var returnVal ="";
        //대표no의 yn값이 없으면 안됨
        if($("#frmDetail").find("input[name='DATA_GUBUN']:checked").val()=='ATTACH'){
            if($("input[name=DECL_FILE]").val() === '' && $("#FILE_NAME").text() === ''){
                isValid = false;
                Common.Msg(siteLang.getLang("첨부파일을 등록해 주세요"));
                return;
            }
            if($("input[name='DECL_FILE']").val() !== ''){
                if(!AttachStatus){
                    flag = false;
                    Common.Msg(siteLang.getLang("첨부 등록 시 적용을 필수적으로 클릭해주세요"));
                    return;
                }
                returnVal =setApplicableNo('attach',true);
            }else{
                returnVal='true';
            }
        }else{
            returnVal =setApplicableNo('write',true);
        }

        if(returnVal === 'false'){
            isValid = false;
            Common.Msg(siteLang.getLang("Y로 해당되는 내용이 없습니다"));
            return;
        }else if(returnVal !== 'true'){
            isValid = false;
            Common.Msg(siteLang.getLang(returnVal));
            return;
        }

        //한번 승인 후 다시 들어온 경우
        if($("input[name=PM_APPROVAL_DATE]").val().trim() != ''){
            if(!$("input[name=CONFIRM_CHK]").is(":checked")){
                Common.Msg(siteLang.getLang("보증내역 재확인에 체크 해주세요"));
                return;
            }
        }


        //Y 일때는 하위 내용이 하나라도 Y가 있어야함

        if(isValid){
            $("#frmDetail").find("input[name=SaveMode]").val("Next");
            //$("#frmDetail").find("[messages]").attr("reqcheck", "reqcheck");
            //$("#frmDetail").submit();
            frmDetailSubmit();
        }


    }


</script>
</html>