<div class="cui_dialog" style="width:880px;display:none;" id="MaterialCode">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label"><span data-langsid="자재코드 선택"></span></div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" dialogBtn="close"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap " id="searchAreaMaterialCode">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자재코드"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchCodeMaterialCode" name="searchCodeMaterialCode" search="searchBtnMaterialCode" data-langsid="자재코드를 입력해주세요" placeholder=""/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자재명"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchNameMaterialCode" name="searchNameMaterialCode" search="searchBtnMaterialCode" data-langsid="자재명을 입력해주세요" placeholder=""/>
                            </div>
                        </div>
                    </div>
                    <div class="search_action">
                        <button type="button" class="cui_button primary search_btn" id="searchBtnMaterialCode" onclick="ListSearchMaterialCode();"><span data-langsid="검색"></span></button>
                    </div>
                </div>

                <div id="gridArea_MaterialCode"></div>
            </div>
        </div>
    </div>
    <script>
        var ListSearchMaterialCode = function () {
            var url = "/admin/companyInfo/getMaterialList";

            var ReqInfo = new Common.RequestInfo();
            ReqInfo.AddParameter($("#searchAreaMaterialCode"));


            Common.Ajax(url, ReqInfo, function (data) {
                var dataJson = JSON.parse(data);

                $("#gridArea_MaterialCode").pqGrid("option", "dataModel.data", dataJson);
                $("#gridArea_MaterialCode").pqGrid("refreshView");
            });
        }

        $(function () {
            var data = [];

            var obj = {
                bubble: false,
                numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35 },
                editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
                editModel: { clicksToEdit: 2 },
                selectionModel: { type: 'cell', mode: 'block' },
                height: 500,
                title: "",
                sortable: false,
                resizable: true,
                menuIcon: true,
                scrollModel: { autoFit: false },
                hoverMode: 'row',
                rowHtHead: 30,
                rowHt:30,
                roundCorners: false,
                rowBorders: true,
                showBottom: true,
                showHeader: true,
                showTitle: true,
                showTop: false,
                showToolbar: true,
                stripeRows: true,
                wrap: false,
                autoAddRow: false,
                freezeCols:0,
                autoRow: false,
                autoRowHead: false,
                rowInit: function () {
                    return { style: 'font-size:12px;' };
                },
                selectChange: function (event, ui) {
                },
                rowClick: function (event, ui) {
                },
                cellClick: function (event, ui) {
                },
                rowDblClick: function (event, ui) {
                    var data = ui.rowData;
                    $("#modalPartCode").val(data.MAT_ID);
                    $("#modalPartName").val(data.MAT_NAME);
                    $("#hdnmodalplant").val(data.PLAND_ID);
                    $("#MaterialCode").data("Hide")();
                },
                rowSelect: function (event, ui) {
                },
                open: function () {
                },
                headerCellClick: function (event, ui) {
                }
            };
            obj.colModel = [
                { title: siteLang.getLang("자재코드"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "MAT_ID", sortable: true, editor: false, editable: false },
                { title: siteLang.getLang("자재명"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "MAT_NAME", sortable: true, editor: false, editable: false },
                { title: siteLang.getLang("플랜트코드"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "PLAND_ID", sortable: true, editor: false, editable: false },
                { title: siteLang.getLang("플랜트명"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "PLAND_NAME", sortable: true, editor: false, editable: false }

            ];
            obj.dataModel = { data: data };
            $("#gridArea_MaterialCode").pqGrid(obj);
        });

        $(document).ready(function() {
            ListSearchMaterialCode();
        });
    </script>
</div>