<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>

        <div class="cui_main">
            <div class="cui_head">
                <div class="head_content">
                    <h2 class="cui_title"><span data-langsid="자재등록"></span></h2>
                </div>
            </div>
            <div class="cui_body">

                <div class="cui_search">
                    <div class="search_list cui_grid_wrap" id="searchArea">

                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자재코드"></strong>
                            <div class="item_content">
                                <input id="partCode" name="PART_CODE" search="searchBtn" class="cui_text_field" type="text" >
                            </div>
                        </div>

                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자재명"></strong>
                            <div class="item_content">
                                <input id="partName" name="PART_NAME" search="searchBtn" class="cui_text_field" type="text" >
                            </div>
                        </div>

                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체코드"></strong>
                            <div class="item_content">
                                <input id="comCode" name="COM_CODE" search="searchBtn" class="cui_text_field" type="text" >
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체명"></strong>
                            <div class="item_content">
                                <input id="comName" name="COM_NAME" search="searchBtn" class="cui_text_field" type="text" >
                            </div>
                        </div>

                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="사업본부"></strong>
                            <div class="item_content">
                                <select id="deptCode" name="DEPT_CODE" class="cui_select_field wide" onchange="ListSearch();">
                                    <option value=""></option>
                                    <option th:each="dept : ${deptList}"
                                            th:value="${dept.BASE_OPTION}"
                                            th:text="${dept.BASE_NAME}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="Plant"></strong>
                            <div class="item_content">
                                <select id="plantCode" name="PLANT_CODE" class="cui_select_field wide" onchange="ListSearch();">
                                    <option value=""></option>
                                    <option th:each="plant : ${plantList}"
                                            th:value="${plant.BASE_CODE}"
                                            th:text="${plant.BASE_CODE}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="국가"></strong>
                            <div class="item_content">
                                <input id="comNation" name="COM_NATION" class="cui_text_field" type="text" search="searchBtn" >
                            </div>
                        </div>

                    </div>
                    <div class="search_action">
                        <button type="button" id = "searchBtn"  onclick="ListSearch()" class="cui_button primary"><span data-langsid="검색"></span></button>
                    </div>
                </div>

                <div class="cui_jqGrid_section">
                    <div class="cui_jqGrid_head">
                        <div class="jqGrid_label"> &nbsp;</div>
                        <div class="jqGrid_aside">
                            <button type="button" class="cui_button endpoint" data-cui-icon="upload" onclick="addOpen();"><span data-langsid="추가"></span></button>
                            <button type="button" class="cui_button endpoint" data-cui-icon="trash" onclick="delPartCode();"><span data-langsid="삭제"></span></button>
                            <button type="button" class="cui_button endpoint" data-cui-icon="download" onclick="downloadExcel();"><span data-langsid="엑셀 다운로드"></span></button>
                        </div>
                    </div>
                    <div class="cui_jqGrid_body" id="Grid">
                        <div id="gridArea" gridYN=""></div>
                    </div>
                </div>
            </div>
        </div>

<!--신규추가-->
<div class="cui_dialog" style="width:400px;display:none;" id="PartCodeMgmt">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label"><span id="modalTitle" data-langsid="신규추가"></span></div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" dialogBtn="close"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <form class="cui_form_section" data-legend="true" name="formPartCodeMgmt">
                    <fieldset>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자재 코드"></strong>
                            <div class="item_content">
                                <input id="modalPartCode" name="PART_CODE" class="cui_text_field fixdata" reqcheck="reqcheck" data-messages="자재코드를 선택해 주세요." messages="">
                                <button type="button" class="cui_button icon" data-cui-icon="search" onclick="selpartMatrailOpen();"><span data-langsid="검색"></span></button>

                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자제명"></strong>
                            <div class="item_content">
                                <input type="text" id="modalPartName" name="PART_NAME" class="cui_text_field fixdata" disabled="disabled" reqcheck="reqcheck" data-messages="자재명을 입력하세요." messages="">
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">Plant</strong>
                            <div class="item_content">
                                <select id="modalplant" name="modalplant" class="cui_select_field wide" reqcheck="reqcheck" data-messages="플랜트를 선택해 주세요." messages="">
                                    <option value=""></option>
                                    <option th:each="plant : ${plantList}"
                                            th:value="${plant.BASE_CODE}"
                                            th:text="${plant.BASE_CODE}">
                                    </option>
                                </select>

                                <input type="hidden" id="hdnmodalplant" name="hdnmodalplant" class="cui_text_field ">
                            </div>
                        </label>

                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체"></strong>
                            <div class="item_content" id = "CpCodeMgmt">
                                <input type="hidden"  id="modalCompanyCode" name="COM_CODE" class="cui_text_field fixdata">
                                <input type="text" id="modalCompanyName" name="COM_NAME" class="cui_text_field fixdata" reqcheck="reqcheck" data-messages="업체를 선택해 주세요." messages="">
                                <button type="button" class="cui_button icon" data-cui-icon="search" onclick="selCpCodeOpen();"><span data-langsid="검색"></span></button>
                            </div>
                        </label>

                        <div class="cui_items_wrap" data-wrap="wrap" data-direction="center">
                            <strong class="item_label" data-langsid="사용"></strong>
                            <div class="item_content">
                                <label class="cui_checkbox"><input type="radio" name="PART_STATUS" value="D" id="DDD" ><i></i><span data-langsid="신청"></span></label>
                                <label class="cui_checkbox"><input type="radio" name="PART_STATUS" value="Y" id="YYY"><i></i><span data-langsid="사용"></span></label>
                                <label class="cui_checkbox"><input type="radio" name="PART_STATUS" value="R" id="RRR"><i></i><span data-langsid="반려"></span></label>
                            </div>
                        </div>

                        <div class="cui_items_wrap" data-direction="center" style="top-margin:10px;">
                            <div class="item_content">
                                <input type="hidden" id="savetype" name="savetype" value="insert" >
                                <button type="button" id="PartCodeMgmtAdd" class="cui_button primary" onclick="addPartCodeSave();"><span data-langsid="저장"></span></button>
                                <button type="button" id="PartCodeMgmtPop" class="cui_button secondary" dialogBtn="close"><span data-langsid="닫기"></span></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>


<script>

    //엑셀 다운로드
   function downloadExcel() {
        var grid = $("#gridArea").pqGrid("instance");
        var colModel = grid.getColModel();
        colModel[0].hidden = true;

        var format = "xlsx",
            blob = grid.exportData({
                format: format,
                nopqdata: true,
                render: true
            });
        if (typeof blob === "string") {
            blob = new Blob([blob]);
        }
        saveAs(blob, "PART_CODE_" + Common.GetTodayTimeString() + "." + format);
        colModel[0].hidden = false;
   }

   var selCpCodeOpen = function () {
    Common.Dialog({ url : "/admin/companyInfo/cpCodeList" });
   }

   var selpartMatrailOpen = function () {
    Common.Dialog({ url : "/admin/companyInfo/materialList" });
   }

  function initPopform(data) {

       $('#modalTitle').text(siteLang.getLang("자재 수정"));
       $('#modalPartCode').attr("readonly", true);
       $('#modalCompanyName').attr("readonly", true);

       $('#getPartCode').hide();

       data.forEach(company => {
           $('#modalPartCode').val(company.PART_CODE);
           $('#modalPartName').val(company.PART_NAME);
           $('#modalplant').val(company.PLANT_CODE);
           $('#hdnmodalplant').val(company.PLANT_CODE);

           $('#modalCompanyCode').val(company.COM_CODE);
           $('#modalCompanyName').val(company.COM_NAME);
           $('#savetype').val("update");

           var partStatus = company.PART_STATUS;
           if (partStatus === 'D') {
               $('#DDD').prop('checked', true);
           } else if (partStatus === 'Y') {
               $('#YYY').prop('checked', true);
           } else if (partStatus === 'R') {
               $('#RRR').prop('checked', true);
           }
       });
   }

  var addOpen = function () {
        //초기화.
       $('#modalTitle').text(siteLang.getLang("자재 등록"));
       $('#modalPartCode').attr("readonly", "");
       $('#modalCompanyName').attr("readonly", "");
       $('#getPartCode').hide();


       $('#modalPartCode').val("");
       $('#modalPartName').val("");
       $('#modalplant').val("");
       $('#hdnmodalplant').val("");

       $('#modalCompanyCode').val("");
       $('#modalCompanyName').val("");
       $('#savetype').val("insert");

        $('#DDD').prop('checked', false);
        $('#YYY').prop('checked', false);
        $('#RRR').prop('checked', false);

        Common.Dialog({ obj : $("#PartCodeMgmt"), blockClose : false });
    }

     //저장
     var addPartCodeSave = function() {

        const partStatus = document.querySelector('input[name="PART_STATUS"]:checked');

        const part_code  =  $('#modalPartCode').val() ;
        const part_name  = $('#modalPartName').val() ;
        const com_code   =  $('#modalCompanyCode').val() ;
        const selectplant_code  =  $('#modalplant').val() ;
        const plant_code  =  $('#hdnmodalplant').val() ;
        const part_status =  partStatus ;
        const savetype = $('#savetype').val();


        if (Common.Validate($("#PartCodeMgmt")) == true) {

            if (partStatus == null) {
                Common.Msg(siteLang.getLang("사용 여부를 선택해주세요."))
                return;
            }

            Common.Msg(siteLang.getLang("저장 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    if (Common.Validate($("#PartCodeMgmt")) == true) {

                       Common.Loading.Show();

                       var PartCodeDTO = {
                           PART_CODE: part_code,
                           PART_NAME: part_name,
                           COM_CODE: com_code,
                           PLANT_CODE: plant_code,
                           PART_STATUS: part_status.value ,
                           savetype: savetype
                       };

                        setTimeout(function () {
                           $.ajax({
                               type: 'POST',
                               url: '/admin/companyInfo/setPartCode',
                               contentType: 'application/json',
                               data: JSON.stringify(PartCodeDTO),
                               success: function(response) {
                                  $("#PartCodeMgmt").data("Hide")();
                                   Common.Msg(response)   ;
                                   ListSearch();
                                   Common.Loading.Hide();
                               },
                               error: function(xhr, status, error) {
                                   console.error('Form submission failed:', error);
                                   Common.Msg( xhr.responseText)  ;
                                   Common.Loading.Hide();
                               }
                           });
                        }, 10);

                    }
                }
            });
        }
    }

    var delPartCode = function () {
        var grid = $("#gridArea").pqGrid("instance");
        const selectedData = [];
        for (j = 0; j < grid.pdata.length; j++) {

            if (grid.pdata[j]["CHECK_YN"] == true) {
               var partCode =  grid.pdata[j]["PART_CODE"]   ;
               var plantcode = grid.pdata[j]["PLANT_CODE"]    ;
               selectedData.push({ partCode: partCode, plantCode: plantcode });
            }
        }

       if (selectedData.length === 0) {
               Common.Msg(siteLang.getLang("삭제할 항목을 선택하세요."));
               return;
       }

         Common.Msg(siteLang.getLang("삭제 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    Common.Loading.Show();
                    setTimeout(function () {
                        deletePartCode(selectedData);
                    }, 10);
                }
         });
    }


    var deletePartCode = function (selectedData) {

           $.ajax({
               type: 'POST',
               url:'/admin/companyInfo/deletePartCode',
               contentType: 'application/json',
               data: JSON.stringify({ selectedData: selectedData }),
               success: function(response) {
                  Common.Msg(response)   ;
                  ListSearch();
                  Common.Loading.Hide();
               },
               error: function(xhr, status, error) {
                  console.error('Form submission failed:', error);
                  Common.Msg( xhr.responseText)  ;
                  Common.Loading.Hide();
               }
           });
    }

   document.getElementById('modalplant').addEventListener('change', function() {
       const selectedValue = this.value;
       var hdnmodalplant =  $('#hdnmodalplant').val();

       if (selectedValue != hdnmodalplant) {
           Common.Msg(siteLang.getLang("플렌트가 틀립니다."));
           this.selectedIndex = 0;
       }
   });

   var ListSearch = function () {
       var url = "/admin/companyInfo/getPartCodeList";

       var ReqInfo = new Common.RequestInfo();
       ReqInfo.AddParameter($("#searchArea"));

       Common.Ajax(url, ReqInfo, function (data) {
           var dataJson = JSON.parse(data);

           for (var i = 0; i < dataJson.length; i++) {
               dataJson[i].CHECK_YN = false;
               if (dataJson[i].COM_STATUS == "Y") {
                   dataJson[i].COM_STATUS_NAME = siteLang.getLang("사용");
               } else {
                   dataJson[i].COM_STATUS_NAME = siteLang.getLang("미사용");
               }
           }

           $("#gridArea").pqGrid("option", "dataModel.data", dataJson);
           $("#gridArea").pqGrid("refreshView");
       }, { contentType : "application/json" });
   }




 //모달 상세
 function getModPop(partcode,plantcode) {

       var url = "/admin/companyInfo/getPartCodeList";

       var ReqInfo = new Common.RequestInfo();
       ReqInfo.AddParameter("PART_CODE", partcode);
       ReqInfo.AddParameter("PLANT_CODE", plantcode);

       Common.Ajax(url, ReqInfo, function (data) {
           var dataJson = JSON.parse(data);
            if (data && Array.isArray(dataJson)) {
                initPopform(dataJson);
            }
       }, { contentType : "application/json" });
 }



$(function () {
   var heightMinus = 252;

   var data = [];


  var RowColorChg = function (ui) {
        var data = ui.rowData;
        var partStatus = data.PART_STATUS;

        if (partStatus == "D") {
            return { style: "background-color:green" } ;
        } else if (partStatus == "R") {
            return { style: "background-color:orange" } ;
        }
    }

   var obj = {
        bubble: false,
        numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35, style: 'border-right:1px' },
        editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
        editModel: { clicksToEdit: 2 },
        selectionModel: { type: 'cell', mode: 'block' },
        height: $(window).height() - heightMinus - $(".cui_search").height(),
        title: "",
        sortable: false,
        resizable: true,
        menuIcon: false,
        scrollModel: { autoFit: false },
        hoverMode: 'row',
        roundCorners: false,
        rowBorders: true,
        showBottom: false,
        showHeader: true,
        showTitle: true,
        showTop: false,
        showToolbar: true,
        stripeRows: false,
        wrap: false,
        autoAddRow: false,
        freezeCols:0,
        autoRow: false,
        autoRowHead: false,
        rowHt:25,
        rowInit: function () {
            return { style: 'font-size:12px;' };
        },
       selectChange: function (event, ui) {
       },
       rowClick: function (event, ui) {
       },
       cellClick: function (event, ui) {
       },
       rowDblClick: function (event, ui) {
           var data = ui.rowData;
           const part_code = data.PART_CODE ;
           const plant_code = data.PLANT_CODE ;

           Common.Dialog({ obj : $("#PartCodeMgmt"), blockClose : false });
           getModPop(part_code,plant_code);
       },
       rowSelect: function (event, ui) {
       },
       open: function () {
       },
       headerCellClick: function (event, ui) {
       }
   };
   obj.colModel = [
       {
           dataIndx: "CHECK_YN", width: 50, halign: "center", align: "center", resizable: true,
           title: "",
           type: 'checkBoxSelection', sortable: true, editor: true, editable: true,
           dataType: 'bool',
           cb: {
               all: false,
               header: false
           }, render: function (ui) {

<!--               if (ui.cellData == undefined) {-->
<!--                   return { text: "" };-->
<!--               } else {-->
<!--                   return;-->
<!--               }-->
                var data = ui.rowData;
                var partStatus = data.PART_STATUS;

                if (partStatus == "D") {
                    return { style: "background-color:green" } ;
                } else if (partStatus == "R") {
                    return { style: "background-color:orange" } ;
                }

           }
       },
       {  data_langsid :"자재코드" ,title: siteLang.getLang("자재코드"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "PART_CODE", sortable: true, editor: false, editable: false ,render: RowColorChg},
       {  data_langsid :"자재명" ,title: siteLang.getLang("자재명"), width: 350, halign: "center", align: "left", dataType: "string", dataIndx: "PART_NAME", sortable: true, editor: false, editable: false ,render: RowColorChg},
       {  data_langsid :"업체코드" , title: siteLang.getLang("업체코드"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "COM_CODE", sortable: true, editor: false, editable: false ,render: RowColorChg},
       {  data_langsid :"업체명" ,title: siteLang.getLang("업체명"), width: 150, halign: "center", align: "left", dataType: "string", dataIndx: "COM_NAME", sortable: true, editor: false, editable: false ,render: RowColorChg},
       {                         title: "Plant"                  , width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PLANT_CODE", sortable: true, editor: false, editable: false ,render: RowColorChg},
       {  data_langsid :"국가" , title: siteLang.getLang("국가"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "COM_NATION", sortable: true, editor: false, editable: false ,render: RowColorChg},
       {  data_langsid :"사업본부" , title: siteLang.getLang("사업본부"), width: 300, halign: "center", align: "center", dataType: "string", dataIndx: "BASE_CODE", sortable: true, editor: false, editable: false ,render: RowColorChg },
        {
                data_langsid: "구분",
                title: siteLang.getLang("구분"),
                width: 100,
                halign: "center",
                align: "center",
                dataType: "string",
                dataIndx: "PART_STATUS",
                sortable: true,
                editor: false,
                editable: false,
                render: function (ui) {
                    var partStatus = ui.cellData;

                    if (partStatus == "D") {
                        //return siteLang.getLang("신청") ;
                        return { style: "background-color:green", text : siteLang.getLang("신청") } ;
                    } else if (partStatus == "Y") {
                        return siteLang.getLang("사용");
                    } else if (partStatus == "R") {
                        //return siteLang.getLang("반려") ;
                        return { style: "background-color:orange", text : siteLang.getLang("반려") } ;
                    } else {
                        return "";
                    }
                }
        }

   ];
   obj.dataModel = { data: data };
   $("#gridArea").pqGrid(obj);
   $("#gridArea").attr("gridYN", "Y");

   $(window).resize(function () {
       $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus - $(".cui_search").height());
       $("#gridArea").pqGrid("refreshView");
   });

   ListSearch();
});

</script>