<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<style>
    /* 기본 스타일 */
    tr.load-page {
        cursor: pointer; /* 클릭 가능하게 */
    }

    /* 마우스 오버 시 밑줄 스타일 */
    tr.load-page:hover td {
        text-decoration: underline; /* 텍스트 밑줄 */
    }

    #CpCode {
        z-index: 1050; /* 두 번째 모달은 첫 번째보다 높은 z-index */
        top: 60%;
        left: 70%;
        transform: translate(-60%, -70%);
    }
</style>
        <div class="cui_main">
            <div class="cui_head">
                <div class="head_content">
                    <h2 class="cui_title"><span data-langsid="자재등록"></span></h2>
                </div>
            </div>
            <div class="cui_body">

                <div class="cui_search">
                    <div class="search_list cui_grid_wrap ">

                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자재코드"></strong>
                            <div class="item_content">
                                <input id="partCode" name="partCode" class="cui_text_field" type="text" >
                            </div>
                        </div>

                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자재명"></strong>
                            <div class="item_content">
                                <input id="partName" name="partName" class="cui_text_field" type="text" >
                            </div>
                        </div>

                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체코드"></strong>
                            <div class="item_content">
                                <input id="comCode" name="COM_CODE" class="cui_text_field" type="text" >
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체명"></strong>
                            <div class="item_content">
                                <input id="comName" name="comName" class="cui_text_field" type="text" >
                            </div>
                        </div>

                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="사업본부"></strong>
                            <div class="item_content">
                                <select id="deptCode" name="deptCode" class="cui_select_field wide">
                                    <option value=""></option>
                                    <option th:each="dept : ${deptList}"
                                            th:value="${dept.BASE_OPTION}"
                                            th:text="${dept.BASE_NAME}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="Plant"></strong>
                            <div class="item_content">
                                <select id="plantCode" name="plantCode" class="cui_select_field wide">
                                    <option value=""></option>
                                    <option th:each="plant : ${plantList}"
                                            th:value="${plant.BASE_CODE}"
                                            th:text="${plant.BASE_CODE}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="국가"></strong>
                            <div class="item_content">
                                <input id="comNation" name="comNation" class="cui_text_field" type="text">
                            </div>
                        </div>

                    </div>
                    <div class="search_action">
                        <button type="button" id = "searchUser"  onclick="fetchDataLis()" class="cui_button primary"><span data-langsid="검색"></span></button>
                    </div>
                </div>

                <div class="cui_toolbar">
                    <div class="toolbar_content">
                        <div class="toolbar_default"></div>
                    </div>
                    <div class="toolbar_aside">
                        <button type="button" class="cui_button secondary" onclick="modal_open('PartCodeMgmt','add', '', '')"><span data-langsid="추가"></span></button>
                        <button type="button" class="cui_button secondary" id="deleteCheckedBtn" ><span data-langsid="삭제"></span></button>
                        <button type="button" class="cui_button secondary" onclick="downloadExcel()"><span data-langsid="엑셀다운로드"></span></button>
                    </div>
                </div>

              <table class="cui_table cui_font_xs">
                     <colgroup>
                         <col style="width:50px;">
                         <col style="width:150px">
                         <col style="width:300px">
                         <col style="width:150px">
                         <col >
                         <col style="width:100px">
                         <col style="width:100px">
                         <col style="width:150px">
                         <col style="width:100px">
                     </colgroup>
                     <thead>
                         <tr>
                             <th><span>선택</span></th>
                             <th><span>자재코드</span></th>
                             <th><span>자재명</span></th>
                             <th><span>업체코드</span></th>
                             <th><span>업체명</span></th>
                             <th><span>Plant</span></th>
                             <th><span>국가</span></th>
                             <th><span>사업본부</span></th>
                             <th><span>구분</span></th>
                         </tr>
                     </thead>
                     <tbody id="companyTableBody">
                         <tr>
                             <td><input type="checkbox" id="chkPartCode"></td>
                             <td style="text-align:center"><span id = "part_Code" name = "PART_CODE"></span></td>
                             <td style="text-align:center">
                                <a href="#" class="cui_link">
                                    <span id = "part_name" name = "PART_NAME" ></span>
                                </a>
                             </td>
                             <td style="text-align:center"><span id = "com_code" name = "COM_CODE"></span></td>
                             <td style="text-align:center"><span id = "com_name" name = "COM_NAME" ></span></td>
                             <td style="text-align:center"><span id = "plant_code" name = "PLANT_CODE" ></span></td>
                             <td style="text-align:center"><span id = "com_nation" name = "COM_NATION" ></span></td>
                             <td style="text-align:center"><span id = "code_work" name = "CODE_WORK" ></span></td>
                             <td style="text-align:center"><span id = "part_status" name = "PART_STATUS" ></span></td>

                         </tr>
                     </tbody>
                 </table>

            </div>
        </div>

<!--신규추가-->
<div class="cui_dialog" style="width:400px;display:none;" id="PartCodeMgmt">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label"><span id="modalTitle" data-langsid="신규추가"></span></div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" onClick="modal_close('PartCodeMgmt')"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <form class="cui_form_section" data-legend="true" name="formPartCodeMgmt">
                    <fieldset>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자재 코드"></strong>
                            <div class="item_content">
                                <input id="modalPartCode" name="PART_CODE" class="cui_text_field fixdata">
                                <button type="button" class="cui_button icon" data-cui-icon="search" id="getPartCode"><span data-langsid="검색"></span></button>
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="자제명"></strong>
                            <div class="item_content">
                                <input id="modalPartName" name="PART_NAME" class="cui_text_field fixdata">
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">Plant</strong>
                            <div class="item_content">
                                <select id="modalplant" name="modalplant" class="cui_select_field wide">
                                    <option value=""></option>
                                    <option th:each="plant : ${plantList}"
                                            th:value="${plant.BASE_CODE}"
                                            th:text="${plant.BASE_CODE}">
                                    </option>
                                </select>

                                <input type="hidden" id="hdnmodalplant" name="hdnmodalplant" class="cui_text_field ">
                            </div>
                        </label>

                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체"></strong>
                            <div class="item_content">
                                <input id="modalCompanyName" name="COM_NAME" class="cui_text_field">
                                <input type="hidden"  id="modalCompanyCode" name="COM_CODE" class="cui_text_field fixdata">
                                <button type="button" class="cui_button icon" data-cui-icon="search" id="getCpCode"><span>검색</span></button>
                            </div>
                        </label>

                        <div class="cui_items_wrap" data-wrap="wrap" data-direction="center">
                            <strong class="item_label" data-langsid="사용"></strong>
                            <div class="item_content">
                                <label class="cui_checkbox"><input type="radio" name="PART_STATUS" value="D" id="DDD" ><i></i><span data-langsid="신청"></span></label>
                                <label class="cui_checkbox"><input type="radio" name="PART_STATUS" value="Y" id="YYY"><i></i><span data-langsid="사용"></span></label>
                                <label class="cui_checkbox"><input type="radio" name="PART_STATUS" value="R" id="RRR"><i></i><span data-langsid="반려"></span></label>
                            </div>
                        </div>

                        <div class="cui_items_wrap" data-direction="center" style="top-margin:10px;">
                            <div class="item_content">
                                <input type="hidden" id="savetype" name="savetype" value="insert" >
                                <button type="submit" id="PartCodeMgmtAdd" class="cui_button primary"><span data-langsid="저장"></span></button>
                                <button type="button" id="PartCodeMgmtPop" class="cui_button secondary" onClick="modal_close('PartCodeMgmt')"><span data-langsid="닫기"></span></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<!--자재코드 선택-->
<div class="cui_dialog" style="width:800px;display:none;" id="partMatrail">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label"><span data-langsid="자재코드 선택"></span></div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" onClick="modal_close_second('partMatrail')"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <form class="cui_form_section" data-legend="true" id="formpartMatrail">
                    <table class="cui_table center" id="partMatrailTable">
                        <colgroup>
                            <col style="width:120px;">
                            <col>
                            <col style="width:100px;">
                            <col>
                            <col style="width:80px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>자재코드</span></th>
                            <th><span>자재명</span></th>
                            <th><span>플랜트 코드</span></th>
                            <th><span>플랜트명</span></th>
                            <th><span>선택</span></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>


<!--업체코드 선택-->
<div class="cui_dialog" style="width:500px;display:none;" id="CpCode">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label"><span data-langsid="업체코드 선택"></span></div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" onClick="modal_close_second('CpCode')"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <form class="cui_form_section" data-legend="true" id="formCpCode">
                    <table class="cui_table center" id="cpCodeTable">
                        <colgroup>
                            <col style="width:120px;">
                            <col>
                            <col style="width:100px;">
                            <col style="width:80px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>업체코드</span></th>
                            <th><span>업체명</span></th>
                            <th><span>국가</span></th>
                            <th><span>선택</span></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>


<script>

<!--    $(document).ready(function() {-->
<!--      // $('#searchBtn').click();-->


<!--       // 검색 버튼 클릭 시-->
<!--       $('#searchBtn').on('click', function() {-->
<!--           var name = $('#searchName').val();  // 업체명-->
<!--           var code = $('#searchCode').val();  // 업체 코드-->
<!--           var nation = $('#searchNation').val();  // 국가-->

<!--           $.ajax({-->
<!--               url: '/api/searchCompanies',  // 서버의 검색 API URL-->
<!--               type: 'GET',-->
<!--               data: {-->
<!--                   name: name,      // 업체명-->
<!--                   code: code,      // 업체 코드-->
<!--                   nation: nation,  // 국가-->
<!--                   pageNum: 1,      // 기본값으로 첫 페이지-->
<!--                   amount: 10       // 한 페이지에 표시할 항목 수-->
<!--               },-->
<!--               success: function(response) {-->
<!--                   // 테이블에 결과 채우기-->
<!--                   var tableBody = $('#companyTable tbody');-->
<!--                   tableBody.empty();  // 기존 내용 비우기-->

<!--                   // 검색된 결과를 테이블에 추가-->
<!--                   response.resultList.forEach(function(company) {-->
<!--                        var row = '<tr>' +-->
<!--                                    (company.COM_STATUS === 'N' ?-->
<!--                                       '<td><input type="checkbox" id=\'' + company.COM_CODE + '\'></td>' :-->
<!--                                       '<td></td>') +  // company.COM_STATUS가 'N'이 아닌 경우에-->
<!--                                       '<td>' + company.COM_CODE + '</td>' +-->
<!--                                       '<td><a href="javascript:void(0);" onclick="modal_open(\'PartCodeMgmt\', \'detail\', \'/api/getCompanyData\', \''+ company.COM_CODE + '\')">' + company.COM_NAME + '</a></td>' +-->
<!--                                       '<td>' + company.COM_NATION + '</td>' +-->
<!--                                       '<td>' + company.COM_STATUS + '</td>' +-->
<!--                                     '</tr>';-->
<!--                       tableBody.append(row);  // 테이블에 새 행 추가-->
<!--                   });-->

<!--                   // 페이지네이션 업데이트 (페이지 객체가 반환된다고 가정)-->
<!--                   updatePagination(response.pageMaker);-->
<!--               },-->
<!--               error: function() {-->
<!--                   alert("검색 결과를 가져오는 데 실패했습니다.");-->
<!--               }-->
<!--           });-->
<!--       });-->
<!--    -->
<!--   });-->

<!--   -->



   $(document).ready(function() {

      fetchDataLis();

      $(document).on("click", ".load-page", function(e) {

        if ($(e.target).closest('td[name="tdchkbox"]').length > 0 || $(e.target).is('input[type="checkbox"]')) {
            return;
        }
          e.preventDefault();
          const part_code = $(this).data("partcode");
          const plant_code = $(this).data("plantcode");
          modal_open('PartCodeMgmt','add', '', '')
          getModPop(part_code,plant_code);
      });

       // 파트코드 검색
       $('#getPartCode').on('click', function() {
           var param = {
                   pageNum: 1,      // 기본값으로 첫 페이지
                   amount: 10       // 한 페이지에 표시할 항목 수
               };
           modal_open('partMatrail', '', '/admin/companyInfo/getMaterialList', param)
       });

       // 업체코드 검색
       $('#getCpCode').on('click', function() {
           var param = {
                   pageNum: 1,      // 기본값으로 첫 페이지
                   amount: 10       // 한 페이지에 표시할 항목 수
               };
           modal_open('CpCode', 'second', '/admin/companyInfo/getCompanyList', 'param')
       });

       //자재코드 추가
       $("form[name='formPartCodeMgmt']").on('submit', function(e) {
           e.preventDefault();

           const partStatus = document.querySelector('input[name="PART_STATUS"]:checked');

           const part_code  =  $('#modalPartCode').val() ;
           const part_name  = $('#modalPartName').val() ;
           const com_code   =  $('#modalCompanyCode').val() ;
           const selectplant_code  =  $('#modalplant').val() ;
           const plant_code  =  $('#hdnmodalplant').val() ;
           const part_status =  partStatus ;
           const savetype = $('#savetype').val();

         if (part_code == "") {
            showAlert('warning', '자재코드를 선택해주세요.');
            return;
         }

         if (com_code == "") {
            showAlert('warning', '업체를 선택해주세요.');
            return;
         }

         if (selectplant_code != plant_code ) {
            showAlert('warning', '플랜트가 일치 하지 않습니다.');
            return;
         }

         if (partStatus == null) {
            showAlert('warning', '사용 여부를 선택해주세요.');
            return;
         }

           var PartCodeDTO = {
               PART_CODE: part_code,
               PART_NAME: part_name,
               COM_CODE: com_code,
               PLANT_CODE: plant_code,
               PART_STATUS: part_status.value ,
               savetype: savetype
           };
           
           $.ajax({
               type: 'POST',
               url: '/admin/companyInfo/setPartCode',
               contentType: 'application/json',
               data: JSON.stringify(PartCodeDTO),
               success: function(response) {
                   showAlert('success', response);
                   modal_close('PartCodeMgmt');
                   fetchDataLis();
               },
               error: function(xhr, status, error) {
                   console.error('Form submission failed:', error);
                   showAlert('warning', xhr.responseText);
               }
           });
       });

       //삭제
       $(document).on('click', '#deleteCheckedBtn', function() {
            const selectedData = [];
            $('input[type="checkbox"]:checked').each(function() {
                const partCode =$(this).closest('tr').data('partcode');
                const plantCode = $(this).closest('tr').data('plantcode');
                selectedData.push({ partCode: partCode, plantCode: plantCode });
            });

            if (selectedData.length === 0) {
                showAlert('warning', '삭제할 항목을 선택하세요.');
                return;
            }

            $.ajax({
                type: 'POST',
                url:'/admin/companyInfo/deletePartCode',
                contentType: 'application/json',
                data: JSON.stringify({ selectedData: selectedData }),
                success: function(response) {
                       showAlert('success', response);
                       fetchDataLis();
                },
                error: function(xhr, status, error) {
                   console.error('Form submission failed:', error);
                   showAlert('warning', xhr.responseText);
                }
            });
       });
   });

    document.getElementById('modalplant').addEventListener('change', function() {
        const selectedValue = this.value;
        var hdnmodalplant =  $('#hdnmodalplant').val();

        if (selectedValue != hdnmodalplant) {
            showAlert('warning', '플렌트가 틀립니다.');
            this.selectedIndex = 0;
        }
    });

  function fetchDataLis() {

     const dto = {
         "PART_CODE": document.getElementById('partCode').value,
         "PART_NAME": document.getElementById('partName').value,
         "COM_CODE": document.getElementById('comCode').value,
         "COM_NAME": document.getElementById('comName').value,
         "DEPT_CODE": document.getElementById('deptCode').value,
         "PLANT_CODE": document.getElementById('plantCode').value,
         "COM_NATION": document.getElementById('comNation').value
     };

     fetch('/admin/companyInfo/getPartCodeList', {
         method: 'POST',
         headers: {
             'Content-Type': 'application/json',
         },
         body: JSON.stringify(dto)
     })
     .then(response => {
         if (!response.ok) {
             throw new Error('Network response was not ok');
         }
         return response.json();
     })
     .then(data => {
          if (data && Array.isArray(data)) {
               populateTable(data);
          } else {
               alert("nodata");
          }
     })
     .catch(error => {
         console.error('데이터 조회 실패:', error);
     });
  }

  function populateTable(data) {

   const tableBody = $("#companyTableBody");
   tableBody.empty();

   data.forEach(company => {
       const row = `
           <tr class='load-page'  data-partcode='${company.PART_CODE}' data-plantcode='${company.PLANT_CODE}'>
               <td name ="tdchkbox" ><input type="checkbox" id=${company.PART_CODE}></td>
               <td style="text-align:center"><span >${company.PART_CODE}</span></td>
               <td style="text-align:center"><span >${company.PART_NAME}</span></td>
               <TD STYLE="TEXT-ALIGN:CENTER"><SPAN >${company.COM_CODE}</span></td>
               <td style="text-align:center"><span >${company.COM_NAME}</span></td>
               <td style="text-align:center"><span >${company.PLANT_CODE}</span></td>
               <td style="text-align:center"><span >${company.COM_NATION}</span></td>
               <td style="text-align:center">
                  <span class="company_code_work" >
                   ${company.cp_CODE_WORK_CD1 !=null  ? company.cp_CODE_WORK_CD1 +",": ""}
                   ${company.cp_CODE_WORK_CD2 !=null  ? company.cp_CODE_WORK_CD2 +",": ""}
                   ${company.cp_CODE_WORK_CD3 !=null  ? company.cp_CODE_WORK_CD3 +",": ""}
                   ${company.cp_CODE_WORK_CD4 !=null  ? company.cp_CODE_WORK_CD4 +",": ""}
                   ${company.cp_CODE_WORK_CD5 !=null  ? company.cp_CODE_WORK_CD5 +",": ""}
                  </span>
               </td>
               <td style="text-align:center">
                    <span>${company.PART_STATUS == 'D' ? '신청' : (company.PART_STATUS == 'Y' ? '사용' : (company.PART_STATUS == 'R' ? '반려' : ''))} </span>
               </td>
           </tr>
       `;
       tableBody.append(row);
   });

       $(".company_code_work").each(function() {
          $(this).text($(this).text().replace(/,\s*$/, ''));
       });
  }


    //엑셀 다운로드
    function downloadExcel() {
        window.location.href = '/api/downloadExcel';
    }


    //첫번째 모달 자재코드
    function bindModalData(status, data) {
        var tableBody = $('#partMatrailTable tbody');
        tableBody.empty();

        // 검색된 결과를 테이블에 추가
        data.forEach(function(company) {
            var row = '<tr>' +
                            '<td>' + company.MAT_ID + '</td>' +
                            '<td>' + company.MAT_NAME + '</a></td>' +
                            '<td>' + company.PLAND_ID + '</td>' +
                            '<td>' + company.PLAND_NAME + '</td>' +
                            '<td><button type="button" class="cui_button secondary" onClick="setPartCd(\''+company.MAT_ID+ '\', \''+company.MAT_NAME+ '\', \''+company.PLAND_ID+ '\')">선택</button></td>' +
                          '</tr>';
            tableBody.append(row);
        });
    }

    //선택된 자재코드 셋팅 MATERIAL
    function setPartCd(matid, matname,plandid){
        modal_close_second('partMatrail');
        $('#modalPartCode').val(matid);
        $('#modalPartName').val(matname);
        $('#hdnmodalplant').val(plandid);
    }


    //두번째 모달 (업체 검색)
    function bindModalData2(status, data) {
        var tableBody = $('#cpCodeTable tbody');
        tableBody.empty();

        // 검색된 결과를 테이블에 추가
        data.forEach(function(company) {
            var row = '<tr>' +
                            '<td>' + company.COM_CODE + '</td>' +
                            '<td>' + company.COM_NAME + '</a></td>' +
                            '<td>' + company.COM_NATION + '</td>' +
                            '<td><button type="button" class="cui_button secondary" onClick="setCpCd(\''+company.COM_CODE+ '\', \''+company.COM_NAME+ '\')">선택</button></td>' +
                          '</tr>';
            tableBody.append(row);
        });
    }

    //선택된 업체코드, 업체명 셋팅
    function setCpCd(code, name){
        modal_close_second('CpCode');
        $('#modalCompanyCode').val(code);
        $('#modalCompanyName').val(name);
    }


    function initPopform(data) {

        $('#modalTitle').text('자재 수정');
        $('#modalPartCode').attr("readonly", true);
        $('#getPartCode').hide();

        data.forEach(company => {
            $('#modalPartCode').val(company.PART_CODE);
            $('#modalPartName').val(company.PART_NAME);
            $('#modalplant').val(company.PLANT_CODE);
            $('#hdnmodalplant').val(company.PLANT_CODE);

            $('#modalCompanyCode').val(company.COM_CODE);
            $('#modalCompanyName').val(company.COM_NAME);
            $('#savetype').val("update");

            var partStatus = company.PART_STATUS;
            if (partStatus === 'D') {
                $('#DDD').prop('checked', true);
            } else if (partStatus === 'Y') {
                $('#YYY').prop('checked', true);
            } else if (partStatus === 'R') {
                $('#RRR').prop('checked', true);
            }
        });
    }


  function getModPop(partcode,plantcode) {

     const dto = {
         "PART_CODE": partcode,
         "PLANT_CODE": plantcode
     };

     fetch('/admin/companyInfo/getPartCodeList', {
         method: 'POST',
         headers: {
             'Content-Type': 'application/json',
         },
         body: JSON.stringify(dto)
     })
     .then(response => {
         if (!response.ok) {
             throw new Error('Network response was not ok');
         }
         return response.json();
     })
     .then(data => {
          if (data && Array.isArray(data)) {
              initPopform(data);
          } else {
               alert("nodata");
          }
     })
     .catch(error => {
         console.error('데이터 조회 실패:', error);
     });
  }

    function modal_close_second(id){
        $("#" + id).fadeOut();
        //초기화
        modal_init(id, 'add');
        var readonlyValue = $('#modalPartCode').attr("readonly");
        if (readonlyValue !== undefined) {
            $('#modalTitle').text('자재 수정');
        }
    }



</script>