<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/popupLayout}"
      layout:fragment="Content">
<body>
<div class="cui_content">
  <div class="cui_main">
    <div class="cui_head">
      <div class="head_content">
        <h2 class="cui_title"><span></span></h2>
      </div>
    </div>
    <div class="cui_body">
      <form class="cui_form_field" data-legend="true">
        <fieldset>
          <legend><span>PCN 내용</span></legend>
          <table class="cui_table">
            <colgroup>
              <col style="width:154px;">
              <col>
              <col style="width:154px;">
              <col>
              <col style="width:154px;">
              <col>
              <col style="width:154px;">
              <col>
            </colgroup>
            <tbody>
            <tr>
              <th><span>PCN_NO</span></th>
              <td>
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
              <th><span>담당자</span></th>
              <td colspan="2">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
              <th><span>업체명</span></th>
              <td colspan="2">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th><span>플랜트</span></th>
              <td>
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
              <th><span>제목(원재료포함)</span></th>
              <td colspan="2">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
              <th><span>동시진행여부</span></th>
              <td colspan="2">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th><span>완료요청일</span></th>
              <td>
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
              <th><span>변경유형</span></th>
              <td>
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
              <th><span>목적</span></th>
              <td colspan="3">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th><span>변경전</span></th>
              <td colspan="3">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
              <th><span>변경후</span></th>
              <td colspan="3">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th><span>첨부파일</span></th>
              <td colspan="7">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="12341234" disabled>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </form>
      <form class="cui_form_field" data-legend="true">
        <fieldset>
          <legend><span>접수내역</span></legend>
          <table class="cui_table">
            <colgroup>
              <col style="width:154px;">
              <col>
              <col style="width:154px;">
              <col>
              <col style="width:154px;">
              <col>
              <col style="width:154px;">
              <col>
            </colgroup>
            <tbody>
            <tr>
              <th><span>접수일</span></th>
              <td>
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="2024-11-15" disabled>
                  </div>
                </div>
              </td>
              <th><span>진행완료 예정일</span></th>
              <td colspan="2">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="2024-11-15" disabled>
                  </div>
                </div>
              </td>
              <th><span>접수의견</span></th>
              <td colspan="2">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="" disabled>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </form>
      <form class="cui_form_field" data-legend="true">
        <fieldset>
          <legend><span>승인내역</span></legend>
          <table class="cui_table">
            <colgroup>
              <col style="width:154px;">
              <col>
              <col style="width:154px;">
              <col>
              <col style="width:154px;">
              <col>
              <col style="width:154px;">
              <col>
            </colgroup>
            <tbody>
            <tr>
              <th><span>승인일</span></th>
              <td>
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="2024-11-15" disabled>
                  </div>
                </div>
              </td>
              <th><span>승인여부</span></th>
              <td colspan="2">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="2024-11-15" disabled>
                  </div>
                </div>
              </td>
              <th><span>특이사항</span></th>
              <td colspan="2">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="" disabled>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th><span>승인서</span></th>
              <td colspan="7">
                <div class="cui_items_wrap" data-direction="left">
                  <div class="item_content">
                    <input class="cui_text_field" type="text" value="" disabled>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</body>
</html>