<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/mainLayout}"
      layout:fragment="Content" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>기초설정</title>
    <style>
        .cui_dialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="cui_app">
    <div class="cui_container" data-module="">
        <div class="cui_lnb">
            <div class="lnb_root">
                <div class="lnb_head">
                    <h2 class="lnb_title"><span>Site Management</span></h2>
                </div>
                <div class="cui_nav">
                    <nav class="nav_root">
                        <ul>
                            <li>
                                <a href="#" class="nav_item">
                                    <span class="nav_label">동우 사용자 관리</span>
                                </a>
                            </li>
                            <li>
                                <a href="/siteMgr/baseConfig" class="nav_item" aria-selected="true">
                                    <span class="nav_label">기초설정</span>
                                </a>
                            </li>
                            <li>
                                <a href="/siteMgr/baseCode" class="nav_item">
                                    <span class="nav_label">기초코드</span>
                                </a>
                            </li>
                            <li>
                                <a href="/siteMgr/svhcList" class="nav_item">
                                    <span class="nav_label">SVHC 항목 </span>
                                </a>
                            </li>
                            <li>
                                <a href="/siteMgr/declarationList" class="nav_item">
                                    <span class="nav_label">Declaration Letter 항목</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav_item" aria-selected="true">
                                    <span class="nav_label">SAMPLE 파일</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="cui_content">
            <div class="cui_main">
                <div class="cui_head">
                    <div class="head_content">
                        <h2 class="cui_title"><span>Declaration Letter 항목</span></h2>
                    </div>
                </div>
                <div class="cui_body">
                    <div class="cui_toolbar">
                        <div class="toolbar_content">
                            <div class="toolbar_default"></div>
                        </div>
                        <div class="toolbar_aside" style="display:none;">
                            <button type="button" class="cui_button secondary"><span>추가</span></button>
                            <button type="button" class="cui_button secondary"><span>삭제</span></button>
                        </div>
                    </div>
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:120px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>양식 다운로드</span></th>
                            <td>
                                <form action="/declaration/upload" method="post" enctype="multipart/form-data">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <div class="cui_attachments">
                                                <input type="file" name="file" class="cui_file_field">

                                            </div>
                                            <div class="item_content">
                                                <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"><span>다운로드</span></button>
                                                <!--                      <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
                                                <button type="button" onclick="fn_deletfile_info()" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                            </div>
                                            <button type="button" class="cui_button"><span>SAMPLE</span></button>
                                            <button type="submit" class="cui_button primary"><span>저장</span></button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:60px;">
                            <col style="width:100px;">
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="center"><label class="cui_checkbox"><input type="checkbox"><i></i></label></th>
                            <th class="center"><span>NO.</span></th>
                            <th><span>물질명</span></th>
                            <th><span>CAS No</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="declarationDataList : ${declarationDataList}">
                            <td class="center"><label class="cui_checkbox"><input type="checkbox"><i></i></label></td>
                            <td class="center"th:text="${declarationDataList.DECLARATION_NUM}"><span></span></td>
                            <td><button type="button" class="cui_button endpoint"  th:text="${declarationDataList.DECLARATION_NAME}">key1</button></td>
                            <td><span th:text="${declarationDataList.DECLARATION_CASNUM}">96-24-7</span></td>
                        </tr>
                        <!--            <tr>-->
                        <!--              <td class="center"><label class="cui_checkbox"><input type="checkbox"><i></i></label></td>-->
                        <!--              <td class="center"><span>2</span></td>-->
                        <!--              <td><button type="button" class="cui_button endpoint">key1</button></td>-->
                        <!--              <td><span>96-24-7</span></td>-->
                        <!--              <td><span>202-506-9</span></td>-->
                        <!--            </tr>-->
                        </tbody>
                    </table>

                    <div class="cui_items_wrap" data-direction="right">
                        <div class="item_content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    function fn_deletfile_info(){
      //첨부파일 삭제
      $(".cui_file_field").val('');
    }

</script>
</html>