HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.smarttomcat/SQM/conf/catalina.policy
/.smarttomcat/SQM/conf/catalina.properties
/.smarttomcat/SQM/conf/context.xml
/.smarttomcat/SQM/conf/jaspic-providers.xml
/.smarttomcat/SQM/conf/jaspic-providers.xsd
/.smarttomcat/SQM/conf/logging.properties
/.smarttomcat/SQM/conf/server.xml
/.smarttomcat/SQM/conf/tomcat-users.xml
/.smarttomcat/SQM/conf/tomcat-users.xsd
/.smarttomcat/SQM/conf/web.xml
