<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="cui_content">
        <div class="cui_main">
            <div class="cui_head">
                <div class="head_content">
                    <h2 class="cui_title"><span data-langsid="자재승인 현황"></span></h2>
                </div>
            </div>
            <div class="cui_body">
                <form id="searchForm" method="get" onsubmit="return false;">
                    <div class="cui_search">
                        <div class="search_list cui_grid_wrap ">
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="업체코드"></strong>
                                <div class="item_content">
                                    <input class="cui_text_field" type="text" id="sComCode" name="sComCode" th:value="${sComCode}" search="searchBtn" />
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="업체명"></strong>
                                <div class="item_content">
                                    <input class="cui_text_field" type="text" id="sComName" name="sComName" th:value="${sComName}" search="searchBtn" />
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="자재코드"></strong>
                                <div class="item_content">
                                    <input class="cui_text_field" type="text" id="sPartCode" name="sPartCode" th:value="${sPartCode}" search="searchBtn" />
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="자재명"></strong>
                                <div class="item_content">
                                    <input class="cui_text_field" type="text" id="sPartName" name="sPartName" th:value="${sPartName}" search="searchBtn" />
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="신청인ID"></strong>
                                <div class="item_content">
                                    <input class="cui_text_field" type="text" id="sRegUser" name="sRegUser" th:value="${sRegUser}" search="searchBtn" />
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="사용여부"></strong>
                                <div class="item_content">
                                    <select class="cui_select_field" id="sUseYN" name="sUseYN" onchange="ListSearch();">
                                        <option value=""></option>
                                        <option value="ACTIVE" th:selected="${sUseYN}=='ACTIVE'">ACTIVE</option>
                                        <option value="INACTIVE" th:selected="${sUseYN}=='INACTIVE'">INACTIVE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="취급PLANT"></strong>
                                <div class="item_content">
                                    <select class="cui_select_field" id="sPlant" name="sPlant" onchange="ListSearch();">
                                        <option value=""></option>
                                        <option th:each="searchPlantList : ${searchPlantList}" th:value="${searchPlantList.BASE_CODE}" th:text="${searchPlantList.BASE_VALUE}" th:selected="${searchPlantList.BASE_CODE}==${sPlant}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="승인현황"></strong>
                                <div class="item_content">
                                    <select class="cui_select_field" id="sApproval" name="sApproval" onchange="ListSearch();">
                                        <option value=""></option>
                                        <option value="1" data-langsid="신규" th:selected="${sApproval}=='1'"></option>
                                        <option value="2" data-langsid="작성중" th:selected="${sApproval}=='2'"></option>
                                        <option value="3" data-langsid="검토중" th:selected="${sApproval}=='3'"></option>
                                        <option value="4" data-langsid="승인" th:selected="${sApproval}=='4'"></option>
                                        <option value="5" data-langsid="반려" th:selected="${sApproval}=='5'"></option>
                                        <option value="6" data-langsid="자료보완" th:selected="${sApproval}=='6'"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="승인일자"></strong>
                                <div class="item_content" data-role="calendar-picker">
                                    <input type="text" class="cui_text_field datepicker" id="sStartDate" name="sStartDate" datePickerControl="" th:value="${sStartDate}">
                                    <button type="button" class="cui_button icon endpoint" data-cui-icon="calendar"><span data-langsid="날자 선택"></span></button>
                                </div>
                                <div class="item_content" style="width:10px;padding-top:5px;">~</div>
                                <div class="item_content" data-role="calendar-picker">
                                    <input type="text" class="cui_text_field datepicker" id="sEndDate" name="sEndDate" datePickerControl="" th:value="${sEndDate}">
                                    <button type="button" class="cui_button icon endpoint" data-cui-icon="calendar"><span data-langsid="날자 선택"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="search_action">
                            <button type="button" class="cui_button primary search_btn" id="searchBtn" onclick="ListSearch();"><span data-langsid="검색"></span></button>
                        </div>
                    </div>
                </form>
                <div class="cui_jqGrid_section">
                    <div class="cui_jqGrid_head">
                        <div class="jqGrid_label"> &nbsp;</div>
                        <div class="jqGrid_aside">
                            <button type="button" class="cui_button endpoint" data-cui-icon="upload" onclick="downloadExcel();"><span data-langsid="엑셀 다운로드"></span></button>
                        </div>
                    </div>
                    <div class="cui_jqGrid_body" id="Grid">
                        <div id="gridArea" gridYN="" th:initData="${partMgmtListStr}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var SheetDataConvert = function (data) {
            var dataJson = JSON.parse(data);

            for (var i = 0; i < dataJson.length; i++) {
                if (dataJson[i].PM_APPROVAL_STATUS == "1") {
                    dataJson[i].PM_APPROVAL_STATUS_NAME = "";
                } else if (dataJson[i].PM_APPROVAL_STATUS == "2") {
                    dataJson[i].PM_APPROVAL_STATUS_NAME = siteLang.getLang("작성중");
                } else if (dataJson[i].PM_APPROVAL_STATUS == "3") {
                    dataJson[i].PM_APPROVAL_STATUS_NAME = siteLang.getLang("검토중");
                } else if (dataJson[i].PM_APPROVAL_STATUS == "4") {
                    dataJson[i].PM_APPROVAL_STATUS_NAME = siteLang.getLang("승인");
                } else if (dataJson[i].PM_APPROVAL_STATUS == "5") {
                    dataJson[i].PM_APPROVAL_STATUS_NAME = siteLang.getLang("반려");
                } else if (dataJson[i].PM_APPROVAL_STATUS == "6") {
                    dataJson[i].PM_APPROVAL_STATUS_NAME = siteLang.getLang("자료보완");
                }
            }

            return dataJson;
        }

        var ListSearch = function () {
            var url = location.pathname;

            var ReqInfo = new Common.RequestInfo();
            ReqInfo.AddParameter($("#searchForm"));
            Common.Ajax(url, ReqInfo, function (data) {
                var dataJson = SheetDataConvert(data);

                $("#gridArea").pqGrid("option", "dataModel.data", dataJson);
                $("#gridArea").pqGrid("refreshView");
            });
        }

        $(function () {
            var heightMinus = 330;

            var data = SheetDataConvert($("#gridArea").attr("initData"));

            var obj = {
                bubble: false,
                numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35, style: 'border-right:1px' },
                editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
                editModel: { clicksToEdit: 2 },
                selectionModel: { type: 'cell', mode: 'block' },
                height: $(window).height() - heightMinus  - $(".cui_search").height(),
                title: "",
                sortable: false,
                resizable: true,
                menuIcon: false,
                scrollModel: { autoFit: false },
                hoverMode: 'row',
                roundCorners: false,
                rowBorders: true,
                showBottom: false,
                showHeader: true,
                showTitle: true,
                showTop: false,
                showToolbar: true,
                stripeRows: false,
                wrap: false,
                autoAddRow: false,
                freezeCols:0,
                autoRow: false,
                autoRowHead: false,
                rowInit: function () {
                return { style: 'font-size:12px;' };
                },
                selectChange: function (event, ui) {
                },
                rowClick: function (event, ui) {
                },
                cellClick: function (event, ui) {
                },
                rowDblClick: function (event, ui) {
                    var data = ui.rowData;
                    Common.MoveUrl("/admin/partMgmt/goReadDetail?PM_IDX=" + data.PM_IDX);
                },
                rowSelect: function (event, ui) {
                },
                open: function () {
                },
                headerCellClick: function (event, ui) {
                }
            };
            obj.colModel = [
                { data_langsid: "업체코드", title: siteLang.getLang("업체코드"), width: 120, halign: "center", align: "center", dataType: "string", dataIndx: "COM_CODE", sortable: false, editor: false, editable: false },
                { data_langsid: "업체명", title: siteLang.getLang("업체명"), width: 170, halign: "center", align: "left", dataType: "string", dataIndx: "COM_NAME", sortable: false, editor: false, editable: false },
                { data_langsid: "자재코드", title: siteLang.getLang("자재코드"), width: 120, halign: "center", align: "center", dataType: "string", dataIndx: "PM_PART_CODE", sortable: false, editor: false, editable: false },
                { data_langsid: "자재명칭", title: siteLang.getLang("자재명칭"), width: 350, halign: "center", align: "left", dataType: "string", dataIndx: "PART_NAME", sortable: false, editor: false, editable: false },
                { data_langsid: "취급", title: siteLang.getLang("취급"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PM_PART_PLANT_CODE", sortable: false, editor: false, editable: false },
                { data_langsid: "국가", title: siteLang.getLang("국가"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "COM_NATION", sortable: false, editor: false, editable: false },
                { data_langsid: "신청 ID", title: siteLang.getLang("신청 ID"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PM_REG_USER_ID", sortable: false, editor: false, editable: false },
                { data_langsid: "사용여부", title: siteLang.getLang("사용여부"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PM_ACTIVE_YN", sortable: false, editor: false, editable: false },
                { data_langsid: "승인현황", title: siteLang.getLang("승인현황"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PM_APPROVAL_STATUS_NAME", sortable: false, editor: false, editable: false },
                { data_langsid: "승인일자", title: siteLang.getLang("승인일자"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "PM_APPROVAL_DATE", sortable: false, editor: false, editable: false },
                { hidden : true, dataType: "string", dataIndx: "PM_APPROVAL_STATUS", editor: false, editable: false },
                { hidden : true, dataType: "string", dataIndx: "PM_IDX", editor: false, editable: false }
            ];
            obj.dataModel = { data: data };
            $("#gridArea").pqGrid(obj);
            $("#gridArea").attr("gridYN", "Y");

             $(window).resize(function () {
                 $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus  - $(".cui_search").height());
                 $("#gridArea").pqGrid("refreshView");
             });
        });

        var downloadExcel = function () {
            var grid = $("#gridArea").pqGrid("instance");

            grid.exportData({
                url: "/common/exportData",
                format: "xlsx",
                zip: false,
                filename: "DW_PART_MANAGEMENT_" + Common.GetTodayTimeString(),
                render: true
            });
        }
    </script>
</body>
</html>