<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>기초설정</title>
</head>
<body>
        <div class="cui_content">
            <div class="cui_main">
                <div class="cui_head">
                    <div class="head_content">
                        <h2 class="cui_title"><span>기초코드</span></h2>
                    </div>
                </div>
                <div class="cui_body">
                    <form id="searchForm" action="/admin/siteMgr/baseCode/search" method="get">
                        <div class="cui_search">
                            <div class="search_list cui_grid_wrap ">
                                <div class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">업무구분</strong>
                                    <div class="item_content">
                                        <select class="cui_select_field wide" th:name="GUBUN">
                                            <option value="">전체</option>
                                            <option th:each="baseGubunList : ${baseGubunList}" th:value="${baseGubunList.BASE_CODE}"
                                            th:text="${baseGubunList.BASE_NAME}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="cui_items_wrap" data-size="2">
                                    <strong class="item_label">검색조건</strong>
                                    <div class="item_content">
                                        <select class="cui_select_field" name="SEARCHKEY">
                                            <option value="CODEGROUP" selected>코드그룹</option>
                                            <option value="BASECODE">코드</option>
                                        </select>
                                        <input class="cui_text_field" type="text" name="SEARCHVAL">
                                    </div>
                                </div>
                            </div>
                            <div class="search_action">
                                <button type="submit" class="cui_button primary search_btn" ><span>검색</span></button>
                            </div>
                        </div>
                    </form>
                    <div class="cui_toolbar">
                        <div class="toolbar_content">
                            <div class="toolbar_default"></div>
                        </div>
                        <div class="toolbar_aside">
                            <button type="button" class="cui_button secondary" onclick="modal_open('PopupBaseCode','add', '','')"><span>추가</span></button>

                        </div>
                    </div>
                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:130px;">
                            <col style="width:130px;">
                            <col style="width:130px;">
                            <col style="width:80px;">
                            <col style="width:130px;">
                            <col>
                            <col style="width:110px;">
                            <col style="width:110px;">
                            <col style="width:110px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>업무구분</span></th>
                            <th><span>코드그룹</span></th>
                            <th><span>코드</span></th>
                            <th><span>정렬</span></th>
                            <th><span>코드명</span></th>
                            <th><span>설명</span></th>
                            <th><span>등록자</span></th>
                            <th><span>사용</span></th>
                            <th><span>등록일</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="baseCodeList : ${baseCodeList}"
                            th:onclick="modal_open('PopupBaseCode','MODIFY','/admin/siteMgr/baseCode/baseCodeInfo',[[${baseCodeList.BASE_CODE_IDX}]])">
                            <td style="display:none;" th:text="${baseCodeList.BASE_CODE_IDX}"><span></span></td>
                            <td th:text="${baseCodeList.GUBN}"><span></span></td>
                            <td ><button th:text="${baseCodeList.GROUP_CODE}" type="button" class="cui_button endpoint" th:onclick="modal_open('PopupBaseCode', 'edit', '/admin/siteMgr/baseCode/baseCodeInfo',[[${baseCodeList.BASE_CODE_IDX}]])"></button></td>
                            <!--                                <td ><button th:text="${baseConfigList.CONFIGCODE}" type="button" class="cui_button endpoint" onclick="BaseConfig_Popup('${baseConfigList.IDX}')"></button></td>-->
                            <td th:text="${baseCodeList.GROUP_CODE}" ></td>
                            <td th:text="${baseCodeList.BASE_CODE}"><span></span></td>
                            <td th:text="${baseCodeList.BASE_SORT}"><span></span></td>
                            <td th:text="${baseCodeList.BASE_NAME}"><span></span></td>
                            <td th:text="${baseCodeList.BASE_SUMMARY}"><span></span></td>
                            <td th:text="${baseCodeList.REGISTER_NAME}"><span></span></td>
                            <td th:text="${baseCodeList.BASE_STATUS}"><span></span></td>
                            <td th:text="${baseCodeList.REG_DATE}"><span></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="cui_dialog" style="width:400px;display:none;" id="PopupBaseCode">
            <div class="dialog_container">
                <div class="dialog_head">
                    <div class="dialog_title">
                        <div class="main_label">기초코드</div>
                    </div>
                    <div class="dialog_toolbar">
                        <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark"><span>Close</span></button>
                    </div>
                </div>
                <div class="dialog_body">
                    <div class="body_root">
                        <form class="cui_form_field" data-legend="true" action="/admin/siteMgr/baseCode/action" method="get">
                            <fieldset>
                                <!--                        <legend><span>ID 찾기</span></legend>-->
                                <label class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">업무구분</strong>
                                    <div class="item_content">
                                        <select class="cui_select_field wide" id="GUBN" th:name="GUBN">
                                            <option th:each="baseGubunList : ${baseGubunList}" th:value="${baseGubunList.BASE_CODE}"
                                                    th:text="${baseGubunList.BASE_NAME}"></option>
                                        </select>
                                    </div>
                                </label>
                                <label class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">코드그룹</strong>
                                    <div class="item_content">
                                        <select class="cui_select_field wide" id="GROUP_CODE" th:name="GROUP_CODE">
                                            <option value="GroupAdd">코드그룹추가</option>
                                            <option th:each="baeGroupCDList : ${baeGroupCDList}" th:value="${baeGroupCDList.GROUP_CODE}"
                                                    th:text="${baeGroupCDList.BASE_NAME}"></option>
                                        </select>
                                    </div>
                                </label>
                                <label class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">코드</strong>
                                    <div class="item_content">
                                        <input name="BASE_CODE" class="cui_text_field fixdata">
                                    </div>
                                </label>
                                <label class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">코드명</strong>
                                    <div class="item_content">
                                        <input name="BASE_NAME" class="cui_text_field ">
                                    </div>
                                </label>
                                <label class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">코드값</strong>
                                    <div class="item_content">
                                        <input name="BASE_VALUE" class="cui_text_field ">
                                    </div>
                                </label>
                                <label class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">옵션</strong>
                                    <div class="item_content">
                                        <input name="BASE_OPTION" class="cui_text_field ">
                                    </div>
                                </label>
                                <label class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">정렬</strong>
                                    <div class="item_content">
                                        <input name="BASE_SORT" class="cui_text_field ">
                                    </div>
                                </label>
                                <label class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">상태</strong>
                                    <div class="item_content">
                                        <select class="cui_select_field wide" id="BASE_STATUS" name="BASE_STATUS">
                                            <option value="Y">Y</option>
                                            <option value="N">N</option>
                                        </select>
                                    </div>
                                </label>
                                <label class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">설명</strong>
                                    <div class="item_content">
                                        <textarea  style="height:80px;" class="cui_text_field" name="BASE_SUMMARY"></textarea>
                                        <input name="REG_DW_USER_IDX" value=1  style="display:none;">
                                        <input name="BASE_CODE_IDX" value=0 style="display:none;">
                                    </div>
                                </label>

                                <div class="cui_items_wrap" data-direction="center" style="top-margin:10px;">
                                    <div class="item_content">
                                        <button type="submit" id="BaseCodeAdd" name="INFO_FLAG" value="Add" class="cui_button primary"><span>추가</span></button>
                                        <button type="submit" id="BaseCodeMod" name="INFO_FLAG" value="Mod" class="cui_button primary" style="display:none;"><span>수정</span></button>
                                        <button type="submit" id="BaseCodeDel" name="INFO_FLAG" value="Del" class="cui_button primary" style="display:none;"><span>삭제</span></button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
<script>
    $(document).ready(function() {
         modal_init("Init");
    });

    //모달 초기화
    function modal_init(flag){
        if(flag=="MODIFY"){
           $(".fixdata").attr("readonly",true);
           //버튼 바꾸기
             $("#BaseCodeAdd").css("display","none");
            $("#BaseCodeMod").css("display","block");
            $("#BaseCodeDel").css("display","block");

        }else{
            //초기화
            document.getElementsByName("BASE_CODE")[0].value = "";
            document.getElementsByName("BASE_NAME")[0].value = "";
            document.getElementsByName("BASE_VALUE")[0].value = "";
            document.getElementsByName("BASE_SUMMARY")[0].value = "";
            document.getElementsByName("BASE_SORT")[0].value = "";
            document.getElementsByName("BASE_OPTION")[0].value = "";
            document.getElementsByName("BASE_CODE_IDX")[0].value = 0;
            $("select[name=GUBN] option:eq(0)").prop("selected", true);
            $("select[name=GROUP_CODE] option:eq(0)").prop("selected", true);
            $("select[name=BASE_STATUS] option:eq(0)").prop("selected", true);
            $(".fixdata").attr("readonly",false);

            //버튼 바꾸기
            $("#ConfigAdd").css("display","block");
            $("#ConfigMod").css("display","none");
            $("#ConfigDel").css("display","none");
        }
    }


    function bindModalData(status, baseCode){
        if(baseCode != null){
            document.getElementsByName("BASE_CODE")[0].value = baseCode.BASE_CODE ;
            document.getElementsByName("BASE_NAME")[0].value = baseCode.BASE_NAME ;
            document.getElementsByName("BASE_VALUE")[0].value = baseCode.BASE_VALUE ;
            document.getElementsByName("BASE_SUMMARY")[0].value = baseCode.BASE_SUMMARY ;
            document.getElementsByName("BASE_SORT")[0].value = baseCode.BASE_SORT ;
            document.getElementsByName("BASE_OPTION")[0].value = baseCode.BASE_OPTION ;
            document.getElementsByName("BASE_CODE_IDX")[0].value = baseCode.BASE_CODE_IDX ;

            $("select[name=GUBN]").val(baseCode.GUBN).prop("selected", true);
            $("select[name=GROUP_CODE]").val(baseCode.GROUP_CODE).prop("selected", true);
            $("select[name=BASE_STATUS]").val(baseCode.BASE_STATUS).prop("selected", true);


        }
    }

    //모달 닫기
    $('.modal-close').on('click', function(e){
        e.preventDefault();
        overlay.style.display = "none"; // 오버레이 숨기기
        const modal = $(this).parents('.cui_dialog');
        modal.fadeOut();
        modal_init();
    });



</script>
</html>