@use "sass:math";
/* Checkbox */
.cui_checkbox {
    position       : relative;
    display        : inline-flex;
    flex-shrink    : 0;
    max-width      : 100%;
    vertical-align : top;

    &.wide {
        width : 100%;
    }

    i, span {
        position : relative;
    }

    i {
        font-style      : normal;
        line-height     : 1;
        position        : relative;
        z-index         : 0;
        display         : inline-flex;
        align-items     : center;
        flex-shrink     : 0;
        justify-content : center;
        width           : $checkbox-area;
        height          : $checkbox-area;
        margin          : 6px 6px 6px 0;
        cursor          : pointer;
        transition      : all 150ms $cubic-bezier 0ms;
        vertical-align  : top;
        color           : var(--checkbox);

        &:after {
            position      : absolute;
            z-index       : -1;
            top           : 50%;
            left          : 50%;
            width         : $control-size;
            height        : $control-size;
            content       : "";
            transition    : background-color 150ms $cubic-bezier 0ms;
            transform     : translate(-50%, -50%);
            border-radius : 50%;
            background    : transparent;
        }
    }

    input {
        @include clip;

        &:hover {
            & + i {
                &:after {
                    background : var(--control-bg-hover);
                }
            }
        }

        &:focus-visible + i {
            &:after {
                background : var(--control-bg-focus);
            }
        }

        &:checked + i {
            color : var(--primary);
        }

        &:disabled {
            & + i, & ~ span {
                cursor         : default;
                pointer-events : none;
            }

            & + i {
                color      : var(--checkbox-disabled);
                background : none;

                &:after {
                    background : var(--control-disabled-bg);
                }
            }

            & ~ span {
                color : var(--checkbox-disabled-text);
            }

            &:checked + i {
                &:after {
                    content : none;
                }
            }
        }

        &[type="checkbox"] {
            & + i {
                &:before {
                    @include icon-font;
                    font-size : $icon-size;
                    content   : $ci_square;
                }
            }

            &:checked + i {
                &:before {
                    content : $ci_check_square_fill;
                }
            }

            &:disabled + i {
                &:after {
                    width         : $checkbox-area - 1;
                    height        : $checkbox-area - 1;
                    border-radius : $radius;
                }
            }
        }

        &[type="radio"] {
            & + i {
                border        : 2px solid currentColor;
                border-radius : 50%;
            }

            &:checked + i {
                &:before {
                    position      : absolute;
                    top           : 50%;
                    left          : 50%;
                    width         : math.div($checkbox-area, 2);
                    height        : math.div($checkbox-area, 2);
                    content       : "";
                    transform     : translate(-50%, -50%);
                    border-radius : 50%;
                    background    : currentColor;
                }
            }

            &:disabled {
                & + i {
                    &:after {
                        width         : $checkbox-area;
                        height        : $checkbox-area;
                        border-radius : 50%;
                    }
                }
            }
        }
    }

    span {
        font-size   : $text-font-size;
        line-height : 20px;
        width       : 100%;
        padding     : math.div(($control-size - 20), 2) 4px math.div(($control-size - 20), 2) 0;
        cursor      : pointer;

        em {
            font-weight : $text-font-weight-bold;
            font-style  : normal;
            color       : red;
        }
    }
}