.cui_table {
    width           : 100%;
    border-collapse : collapse;
    vertical-align  : top;
    border-top      : 1px solid var(--border-endpoint);

    & + .cui_table {
        margin-top : 24px;
    }

    &:has(colgroup) {
        table-layout : fixed;
    }

    &.center {
        text-align : center;
    }

    &.vertical-middle {
        vertical-align : middle;
    }

    &.cui_post_table {
        & > tbody > tr:hover > :is(th,td) {
            background : var(--hover-fill);
        }

        & > :is(tbody,thead,tfoot) > tr > :is(th,td) {
            border-right-width : 0;
        }
    }

    .center {
        text-align : center;
    }

    & > thead {
        text-align : center;
    }

    th {
        font-weight : $text-font-weight;

        &.required {
            & > span:after {
                line-height    : 1;
                display        : inline-block;
                margin-left    : 4px;
                content        : '*';
                vertical-align : middle;
                color          : red;
            }
        }
    }

    & > :where(tbody, thead, tfoot) {
        vertical-align : inherit;

        & > tr {
            & > :where(th, td) {
                padding        : 6px;
                text-align     : inherit;
                vertical-align : inherit;
                word-break     : break-all;
                border-right   : 1px solid var(--border-primary);
                border-bottom  : 1px solid var(--border-primary);

                &:last-child {
                    border-right-width : 0;
                }

                & > span {
                    line-height : var(--line-height);
                    display     : inline-block;
                    padding     : 6px 0;
                }

                & > :is(div:not(.cui_items_wrap, .cui_attachments), p) {
                    padding : 6px 0;
                }
            }

        }
    }

}