<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>NCR 관리</title>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span>NCR 관리</span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form id="searchForm" method="get">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap " id="searchArea">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="NCR번호"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id='searchAuditNcrNo'  name="searchCode" search="searchBtn" placeholder=""/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체명"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchAuditEntName" name="searchName" search="searchBtn" placeholder=""/>
                            </div>
                            <input type="hidden" id="pFlag" name="pFlag"/>
                            <input type="hidden" id="pGroupCd" name="pGroupCd" value="9999"/>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">지적구분</strong>
                            <div class="item_content">
                                <select class="cui_select_field" id="searchAuditNcrNcrType">
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">진행상태</strong>
                            <div class="item_content">
                                <select class="cui_select_field" id="searchAuditNcrNcrStatus">
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">Audit 구분</strong>
                            <div class="item_content">
                                <select class="cui_select_field" id="searchAuditNcrAuditType">
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">년도</strong>
                            <div class="item_content">
                                <select class="cui_select_field" id='searchAuditNcrNcrYear'>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="search_action">
                        <button type="submit" class="cui_button primary search_btn" id="searchBtn" onclick="ListSearch();"><span>검색</span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="cui_jqGrid_section">
                <div class="cui_jqGrid_head">
                    <div class="jqGrid_label"> &nbsp;</div>
                    <div class="jqGrid_aside">
                       <!-- <button type="button" class="cui_button endpoint" data-cui-icon="upload" onclick="addOpen();"><span data-langsid="추가"></span></button>
                        <button type="button" class="cui_button endpoint" data-cui-icon="trash" onclick="delCompany();"><span data-langsid="삭제"></span></button>
                        <button type="button" class="cui_button endpoint" data-cui-icon="download" onclick="downloadExcel();"><span data-langsid="엑셀 다운로드"></span></button>-->
                    </div>
                </div>
                <div class="cui_jqGrid_body" id="Grid">
                    <div id="gridArea" gridYN=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cui_dialog" style="width:1200px;display:none;" id="PopupncrMgmt">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label">NCR</div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <form class="cui_form_field" data-legend="true" onsubmit="handleSubmit(event)"
                      action="/admin/auditMgmt/ncrMgmt/action">
                    <fieldset>
                        <legend><span>NCR</span></legend>
                        <table class="cui_table">
                            <colgroup>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th><span>Audit구분</span></th>
                                <td>
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <input class="cui_text_field" type="text" value="12341234" disabled>
                                        </div>
                                    </div>
                                </td>
                                <th><span>업체명</span></th>
                                <td>
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <input class="cui_text_field" type="text" value="12341234" disabled>
                                        </div>
                                    </div>
                                </td>
                                <th><span>심사일</span></th>
                                <td>
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <input class="cui_text_field" type="text" value="12341234" disabled>
                                        </div>
                                    </div>
                                </td>
                                <th><span>등록일</span></th>
                                <td>
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <input class="cui_text_field" type="text" value="12341234" disabled>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span>지적구분</span></th>
                                <td>
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <input class="cui_text_field" type="text" value="12341234" disabled>
                                        </div>
                                    </div>
                                </td>
                                <th><span>Auditor</span></th>
                                <td>
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <input class="cui_text_field" type="text" value="12341234" disabled>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="2">
                                </td>
                                <td colspan="2">
                                </td>
                            </tr>
                            <tr>
                                <th><span>제목</span></th>
                                <td colspan="7">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <input class="cui_text_field" type="text" value="12341234" disabled>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span>지적내용</span></th>
                                <td colspan="7">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <input class="cui_text_field" type="text" value="12341234" disabled>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- 공급사 기재 항목 1~3차 -->
                        <div class="cui_btn_group">
                            <button role="button" type="button" id="s1" name="INFO_FLAG" value="Reg"
                                    class="cui_button primary toggle_btn"><span>1차</span></button>
                            <button role="button" type="button" id="s2" name="INFO_FLAG" value="Reg"
                                    class="cui_button toggle_btn"><span>2차</span></button>
                            <button role="button" type="button" id="s3" name="INFO_FLAG" value="Reg"
                                    class="cui_button toggle_btn"><span>3차</span></button>
                        </div>

                        <legend><span>조치계획</span></legend>
                        <table class="cui_table">
                            <colgroup>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th><span>등록일시</span></th>
                                <td></td>
                                <th><span>작성자</span></th>
                                <td></td>
                                <th><span>시정조치계획일</span></th>
                                <td></td>
                                <th><span>메일주소</span></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th><span>사유</span></th>
                                <td colspan="7"></td>
                            </tr>
                            </tbody>
                        </table>

                        <legend><span>조치결과</span></legend>
                        <table class="cui_table">
                            <colgroup>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th><span>등록일시</span></th>
                                <td></td>
                                <th><span>조치완료일</span></th>
                                <td></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <th><span>첨부파일</span></th>
                                <td colspan="7">
                                    <div class="cui_attachments">
                                        <input type="file" class="cui_file_field">
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_label" data-cui-icon="paperclip"><span>파일명.html</span>
                                            </div>
                                            <div class="item_content">
                                                <button type="button" class="cui_button icon endpoint"
                                                        data-cui-icon="download" data-tooltip-title="다운로드">
                                                    <span>다운로드</span></button>
                                                <button type="button" class="cui_button icon endpoint"
                                                        data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span>
                                                </button>
                                                <button type="button" class="cui_button icon endpoint"
                                                        data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- 공급사 기재 항목 -->

                        <legend><span>조치확인</span></legend>
                        <table class="cui_table">
                            <colgroup>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                                <col style="width:154px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th><span>확인일</span></th>
                                <td></td>
                                <th><span>확인자</span></th>
                                <td></td>
                                <th><span>승인여부</span></th>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <th><span>COMMENT</span></th>
                                <td colspan="7">
                                    <textarea rows="5" style="width:100%" class="cui_text_field"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
                <div class="cui_items_wrap" data-direction="center" style="top-margin:10px;">
                    <div class="item_content">
                        <button type="button" id="BT1" name="INFO_FLAG" value="Reg" class="cui_button secondary"><span>조치결과 저장</span>
                        </button>
                        <button type="button" id="BT2" name="INFO_FLAG" value="Save" class="cui_button secondary"><span>조치결과 등록</span>
                        </button>
                        <button type="button" id="BtnClose" name="INFO_FLAG" value="Close"
                                class="cui_button primary modal-close"><span>닫기</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
var AuditNcrStatusSearch = function () {
    var typeUrl = "/api/audit/auditNcrMgmt/getCodeList";

    var ReqInfo = new Common.RequestInfo();
    ReqInfo.AddParameter("pflag", "PARTNER_AUDIT_NCRSTA");

    Common.Ajax(typeUrl, ReqInfo, function (data) {
        console.log(data);
        var localData = data.dataList;
        Common.SelectBox("#searchAuditNcrNcrStatus", localData, 'name', 'code');
    });
}

var AuditTypeSearch = function () {
    var typeUrl = "/api/audit/auditNcrMgmt/getCodeList";

    var ReqInfo = new Common.RequestInfo();
    ReqInfo.AddParameter("pflag", "PARTNER_AUDIT_TYPE");

    Common.Ajax(typeUrl, ReqInfo, function (data) {
        console.log(data);
        var localData = data.dataList;
        Common.SelectBox("#searchAuditNcrAuditType", localData, 'name', 'code');
    });
}

var AuditNCRTypeSearch = function () {
    var typeUrl = "/api/audit/auditNcrMgmt/getCodeList";

    var ReqInfo = new Common.RequestInfo();
    ReqInfo.AddParameter("pflag", "PARTNER_AUDIT_NCRTYP");

    Common.Ajax(typeUrl, ReqInfo, function (data) {
        console.log(data);
        var localData = data.dataList;
        Common.SelectBox("#searchAuditNcrNcrType", localData, 'name', 'code');
    });
}


var AuditNCRYearSearch = function () {
    //년
    var localData = new Array();
    var currentYear = new Date().getFullYear();
    var currentMonth = new Date().getMonth();
    if(3>Number(currentMonth)){
        currentYear = (Number(currentYear) -1)+"";
    }
    for(var i=Number(currentYear); i>=2018; i--){
        var tempObj = new Object();
        tempObj["NAME"] =i+"";
        tempObj["ID"] =i+"";
        localData.push(tempObj);
    }
    console.log(localData);
    Common.SelectBox("#searchAuditNcrNcrYear", localData, 'NAME', 'ID');
}

var ListSearch = function () {
    var data = {
        ncr_no : $("#searchAuditNcrNo").val(),
        type : $("#searchAuditNcrAuditType").val(),
        partnerscd : $("#searchAuditEntName").attr("data-code"),
        ncr_type : $("#searchAuditNcrNcrType").val(),
        year : $("#searchAuditNcrNcrYear").val(),
        ncr_status : $("#searchAuditNcrNcrStatus").val()
    };

    var setData = {
        "ncr_no": "",
        "type": "",
        "ncr_type": "",
        "year": "2024",
        "ncr_status": ""
    };
    var encodedData = Common.EncParam(setData);
    var url = "/api/audit/auditNcrMgmt/list/"+ encodedData;

    var ReqInfo = new Common.RequestInfo();
    ReqInfo.AddParameter($("#searchArea"));

    console.log(ReqInfo);
    Common.Ajax(url, ReqInfo, function (data) {
        var dataJson = JSON.parse(data);
        var listStr = dataJson.LIST; // "LIST"에 해당하는 값이 JSON 형식의 문자열이므로 이를 추출

        // 2. LIST 값을 다시 JSON 객체로 파싱
        var list = JSON.parse(listStr); // 이제 LIST는 JavaScript 배열이 됩니다.
        var listData = JSON.parse(list.LIST);

        $("#gridArea").pqGrid("option", "dataModel.data", listData);
        $("#gridArea").pqGrid("refreshView");
    }, {formMethod :"GET"}); //Get으로 보내도록 설정 추가
}

$(function () {
    var heightMinus = 330;
    var data = [];

    var obj = {
        bubble: false,
        numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35 },
        editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
        editModel: { clicksToEdit: 2 },
        selectionModel: { type: 'cell' },
        height: $(window).height() - heightMinus,
        title: "",
        sortable: false,
        resizable: true,
        menuIcon: true,
        scrollModel: { autoFit: false },
        hoverMode: 'row',
        rowHtHead: 30,
        //rowHt:30,
        roundCorners: true,
        rowBorders: true,
        showBottom: true,
        showHeader: true,
        showTitle: true,
        showTop: false, //excel 버튼 보이기
        showToolbar: false,
        stripeRows: false,
        autoAddRow: false,
        freezeCols:0,
        autoRow: false,
        autoRowHead: false,
        virtualY: true,
        hwrap: false,
        wrap: false,
        rowInit: function () {
            return { style: 'font-size:12px;' };
        },
        selectChange: function (event, ui) {
        },
        rowClick: function (event, ui) {
        },
        cellClick: function (event, ui) {
        },
        rowDblClick: function (event, ui) {
            var data = ui.rowData;
            const ncrseq = data.NCR_Seq ;
            loadPage(ncrseq) ;
        },
        rowSelect: function (event, ui) {
        },
        open: function () {
        },
        headerCellClick: function (event, ui) {
        }
    };
    obj.colModel = [
        { data_langsid: "NCR번호", title: siteLang.getLang("NCR번호"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "L_NcrNo", sortable: false, editor: false, editable: false },
        { data_langsid: "진행상태", title: siteLang.getLang("진행상태"), width: 120, halign: "center", align: "left", dataType: "string", dataIndx: "L_Progress", sortable: false, editor: false, editable: false },
        { data_langsid: "Audit구분", title: siteLang.getLang("Audit구분"), width: 80, halign: "center", align: "left", dataType: "string", dataIndx: "L_AuditPlanType", sortable: false, editor: false, editable: false },
        { data_langsid: "지적구분", title: siteLang.getLang("지적구분"), width: 80, halign: "center", align: "center", dataType: "string", dataIndx: "L_NcrType", sortable: false, editor: false, editable: false },
        { data_langsid: "제목", title: siteLang.getLang("제목"), width: 200, halign: "center", align: "center", dataType: "string", dataIndx: "L_Title", sortable: false, editor: false, editable: false },
        { data_langsid: "NCR발행일", title: siteLang.getLang("NCR발행일"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "L_NcrPublishedDate", sortable: false, editor: false, editable: false },
        { data_langsid: "Author", title: siteLang.getLang("Author"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "Auditor", sortable: false, editor: false, editable: false },
        { data_langsid: "시정조치계획일", title: siteLang.getLang("시정조치계획일"),  width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "L_CorrectiveActionPlanDate", sortable: false, editor: false, editable: false },
        { data_langsid: "시정조치등록일", title: siteLang.getLang("시정조치등록일"),  width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "L_CorrectiveActionMakeDate", sortable: false, editor: false, editable: false },
        { data_langsid: "NCRSEQ", title: siteLang.getLang("NCRSEQ"), hidden:true, width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "NCR_Seq", sortable: false, editor: false, editable: false },
        { data_langsid: "완료일", title: siteLang.getLang("완료일"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "L_CompleteDate", sortable: false, editor: false, editable: false }
      ];
    obj.dataModel = { data: data };
    $("#gridArea").pqGrid(obj);
    $("#gridArea").attr("gridYN", "Y");

    $(window).resize(function () {
        $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus);
        $("#gridArea").pqGrid("refreshView");
    });

});

$(document).ready(function() {
    AuditNCRYearSearch();
    AuditNCRTypeSearch();
    AuditTypeSearch();
    AuditNcrStatusSearch();
    ListSearch();
});

function loadPage(ncrseq) {
      const url = "/admin/auditMgmt/ncrMgmtDetail?NCR_SEQ=" + ncrseq  ;
      location.href = url;
}


var downloadExcel = function () {
    var grid = $("#gridArea").pqGrid("instance");
    var colModel = grid.getColModel();
    colModel[0].hidden = true;

    grid.exportData({
        url: "/common/exportData",
        format: "xlsx",
        zip: false,
        filename: "COMPANY_CODE_" + Common.GetTodayTimeString(),
        render: true
    });

    colModel[0].hidden = false;
}
</script>