<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCR 관리</title>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span>NCR 관리</span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form class="cui_form_section" data-legend="true">
                <fieldset>
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:104px;">
                            <col>
                            <col style="width:104px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>업체명</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>코비젼</span>
                                    </div>
                                </div>
                            </td>
                            <th><span>담당자</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>동우</span>
                                    </div>
                                </div>
                            </td>
                            <th><span data-langsid="구분">구분</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>PR</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span data-langsid="Audit 계획일">Audit 계획일</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>2024-10-01</span>
                                    </div>
                                </div>
                            </td>
                            <th><span data-langsid="Audit 방법">Audit 방법</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>대면</span>
                                    </div>
                                </div>
                            </td>
                            <th><span data-langsid="Audit 구분">Audit 구분</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>정기</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <legend><span>NCR List</span></legend>
                    <table class="cui_table center" id="Table">
                        <colgroup>
                            <col style="width:100px;">
                            <col style="width:130px;">
                            <col>
                            <col style="width:130px;">
                            <col style="width:130px;">
                            <col style="width:130px;">
                            <col style="width:130px;">
                            <col style="width:130px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>분류</span></th>
                            <th><span>지적구분</span></th>
                            <th><span>지적내용</span></th>
                            <th><span>진행상태</span></th>
                            <th><span>NCR발행일</span></th>
                            <th><span>조치계획일</span></th>
                            <th><span>시정조치일</span></th>
                            <th><span>완료일</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr onclick="goDetail()">
                            <td><span>품질</span></td>
                            <td><span>부적합</span></td>
                            <td><span>AAAAA</span></td>
                            <td><span>NCR발행완료</span></td>
                            <td><span>2024-09-30</span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                        </tr>
                        <tr>
                            <td><span>환안</span></td>
                            <td><span>권고</span></td>
                            <td><span>BBBBB</span></td>
                            <td><span>조치계획작성완료</span></td>
                            <td><span>2024-09-10</span></td>
                            <td><span>2024-09-21</span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="cui_dialog" style="width:1020px;display:none;" id="PopupncrMgmt">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label">NCR</div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" dialogBtn="close"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <form class="cui_form_section" data-legend="true" onsubmit="handleSubmit(event)"
                      action="/admin/auditMgmt/ncrMgmt/action">
                    <fieldset>
                        <legend><span>NCR</span></legend>
                        <table class="cui_table">
                            <colgroup>
                                <col style="width:104px;">
                                <col>
                                <col style="width:104px;">
                                <col>
                                <col style="width:104px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th><span data-langsid="Audit 구분">Audit 구분</span></th>
                                <td><span>정기</span></td>
                                <th><span data-langsid="업체명">업체명</span></th>
                                <td><span>코비젼</span></td>
                                <th><span data-langsid="등록일">등록일</span></th>
                                <td><span>2024-12-25</span></td>
                            </tr>
                            <tr>
                                <th><span data-langsid="지적구분">지적구분</span></th>
                                <td><span>부적합</span></td>
                                <th><span data-langsid="Auditor">Auditor</span></th>
                                <td>홍길동</td>
                                <th><span data-langsid="심사일">심사일</span></th>
                                <td>2024.12.31</td>
                            </tr>
                            <tr>
                                <th><span data-langsid="제목">제목</span></th>
                                <td colspan="5"><span>AAAAAAAAAAAAAAAAAA</span></td>
                            </tr>
                            <tr>
                                <th><span data-langsid="지적내용">지적내용</span></th>
                                <td colspan="5"><span>BBBBBBBBBBBBBBBBBBBBB</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset>
                        <!-- 공급사 기재 항목 1~3차 -->
                        <div class="cui_tab">
                            <div class="tab_list">
                                <ul>
                                    <li aria-selected="true">
                                        <button type="button" class="tab_button" data-tab-target="#tab1"><span> 1차 </span>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="tab_button" data-tab-target="#tab2"><span> 2차 </span>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="tab_button" data-tab-target="#tab3"><span> 3차 </span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab_contents">
                                <div id="tab1" class="tab_content" aria-expanded="true">
                                    <fieldset>
                                        <legend><span>조치계획</span></legend>
                                        <table class="cui_table">
                                            <colgroup>
                                                <col style="width:104px;">
                                                <col>
                                                <col style="width:104px;">
                                                <col>
                                                <col style="width:104px;">
                                                <col>
                                                <col style="width:104px;">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th><span data-langsid="등록일시">등록일시</span></th>
                                                <td></td>
                                                <th><span data-langsid="작성자">작성자</span></th>
                                                <td></td>
                                                <th><span data-langsid="시정조치계획일">시정조치계획일</span></th>
                                                <td>
                                                    <div class="item_content">
                                                        <div class="cui_items_wrap">
                                                            <div class="item_content" data-role="calendar-picker" >
                                                                <input type="text" id="planDate" class="cui_text_field cui_calendar_val" value="">
                                                                <button type="button" class="cui_button icon endpoint cui_calendar_ico" data-cui-icon="calendar"><span>달력 선택</span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <th><span data-langsid="메일주소">메일주소</span></th>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th><span data-langsid="사유">사유</span></th>
                                                <td colspan="7"><textarea rows="2" style="width:100%" class="cui_text_field"></textarea></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                    <fieldset>
                                        <legend><span>조치결과</span></legend>
                                        <table class="cui_table">
                                            <colgroup>
                                                <col style="width:104px;">
                                                <col>
                                                <col style="width:104px;">
                                                <col>
                                                <col style="width:104px;">
                                                <col>
                                                <col style="width:104px;">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th><span>등록일시</span></th>
                                                <td></td>
                                                <th><span>조치완료일</span></th>
                                                <td colspan="5">
                                                    <div class="item_content">
                                                        <div class="cui_items_wrap">
                                                            <div class="item_content" data-role="calendar-picker" >
                                                                <input type="text" id="completeDate" class="cui_text_field cui_calendar_val" value="">
                                                                <button type="button" class="cui_button icon endpoint cui_calendar_ico" data-cui-icon="calendar"><span>달력 선택</span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span data-langsid="조치내용">조치내용</span></th>
                                                <td colspan="7"><textarea rows="2" style="width:100%" class="cui_text_field"></textarea></td>
                                            </tr>
                                            <tr>
                                                <th><span>첨부파일</span></th>
                                                <td colspan="7" id="attachmentsContainer">
                                                    <div class="cui_attachments">
                                                        <input type="file" class="cui_file_field" name="file" onchange="toggleDeleteButton(this)" style="width: 75px;">
                                                        <div class="cui_items_wrap" data-direction="left">
                                                            <div class="item_label" data-cui-icon="paperclip" style="display: none;"><span></span></div>
                                                            <div class="item_content">
                                                                <button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제" onclick="clearFile(this)" style="display: none;"><span>삭제</span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                    <fieldset>
                                        <legend><span>조치확인</span></legend>
                                        <table class="cui_table">
                                            <colgroup>
                                                <col style="width:104px;">
                                                <col>
                                                <col style="width:104px;">
                                                <col>
                                                <col style="width:104px;">
                                                <col>
                                                <col style="width:104px;">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th><span>확인일</span></th>
                                                <td></td>
                                                <th><span>확인자</span></th>
                                                <td></td>
                                                <th><span>승인여부</span></th>
                                                <td colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <th><span>COMMENT</span></th>
                                                <td colspan="7">
                                                    <textarea rows="2" style="width:100%" class="cui_text_field"></textarea>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="cui_items_wrap" data-direction="center" style="top-margin:10px;">
                    <div class="item_content">
                        <button type="button" id="BT1" name="INFO_FLAG" value="Reg" class="cui_button secondary"><span>조치결과 저장</span>
                        </button>
                        <button type="button" id="BT2" name="INFO_FLAG" value="Save" class="cui_button secondary"><span>조치결과 등록</span>
                        </button>
                        <button type="button" id="BtnClose" name="INFO_FLAG" value="Close"
                                class="cui_button primary modal-close" dialogBtn="close"><span>닫기</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var goDetail = function () {
        Common.Dialog({ obj : $("#PopupncrMgmt"), blockClose : true });
    }

    $(document).ready(function() {

    });
 // 파일 선택 시 삭제 버튼 표시
    function toggleDeleteButton(input) {
        const deleteButton = input.closest('td').querySelector('.cui_button');
        const fileLabel = input.closest('td').querySelector('.item_label span');
        const fileLabelDiv = input.closest('td').querySelector('.item_label');

        if (input.files && input.files.length > 0) {
            var fileName = input.files[0].name;  // Get the file name
            fileLabel.textContent = fileName;    // Update the file name
            fileLabelDiv.style.display = 'inline-block';  // 파일이 선택되면 파일명 표시
            deleteButton.style.display = 'inline-block';  // 파일이 선택되면 삭제 버튼 표시
        } else {
            fileLabel.textContent = '';
            fileLabelDiv.style.display = 'none';  // 파일이 선택되지 않으면 파일명 숨기기
            deleteButton.style.display = 'none';  // 파일이 선택되지 않으면 삭제 버튼 숨기기
        }
    }

    // 파일 삭제
    function clearFile(button) {
        const fileInput = button.closest('td').querySelector('input[type="file"]');  // <input type="file"> 요소는 <button> 바로 앞에 있음
        const fileLabel = button.closest('td').querySelector('.item_label span');
        const fileLabelDiv = button.closest('td').querySelector('.item_label');

        // 파일 입력 초기화
        fileInput.value = "";
        fileLabel.textContent = '';
        // 삭제 버튼 숨기기
        button.style.display = 'none';
        fileLabelDiv.style.display = 'none';
    }
</script>
</body>
</html>