<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.dongwoo.SQM.board.dto.BoardDTO" alias="board"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.MemberDTO" alias="member"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.LoginDTO" alias="login"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.MenuDTO" alias="menu"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.common.dto.ExcelDTO" alias="excel"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.LanguageDTO" alias="language"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.BaseCodeDTO" alias="baseCode"></typeAlias>
    </typeAliases>
</configuration>