<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.dongwoo.SQM.board.dto.BoardDTO" alias="board"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.MemberDTO" alias="member"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.LoginDTO" alias="login"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.MenuDTO" alias="menu"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.MultiLanguageDTO" alias="multilanguage"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.UserInfoDTO" alias="userinfo"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.UserInfoCompanyUserDTO" alias="userinfocom"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.UserInfoCompanyDTO" alias="userinfoHis"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.system.dto.ComPanyCodeDTO" alias="comPanyCode"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.siteMgr.dto.BaseConfigDTO" alias="baseConfig"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.siteMgr.dto.UserMgrDTO" alias="userMgr"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.siteMgr.dto.UserMgrParamDTO" alias="userMgrParam"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.siteMgr.dto.BaseCodeDTO" alias="baseCode"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.siteMgr.dto.SvhcListDTO" alias="svhcList"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.siteMgr.dto.DeclarationDTO" alias="Declaration"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.siteMgr.dto.SampleFileDTO" alias="sampleFile"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.auditMgmt.dto.AuditMgmtDTO" alias="isoAuth"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.auditMgmt.dto.IsoAuthItemDTO" alias="isoAuthItem"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.auditMgmt.dto.LabourHRDTO" alias="labour"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.auditMgmt.dto.SafetyHealthDTO" alias="safetyHealth"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.companyInfo.dto.CompanyInfoDTO" alias="companyInfo"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.companyInfo.dto.CompanyInfoParamDTO" alias="companyInfoParam"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.companyInfo.dto.PartCodeDTO" alias="partCode"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.adminPartMgmt.dto.AdminPartMgmtDTO" alias="adminPartMgmt"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.partMgmt.dto.PartMgmtDTO" alias="partManagement"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.partMgmt.dto.partDetailEtcDTO"  alias="partDetailEtc"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.partMgmt.dto.partDetailHalGDTO" alias="partDetailHalg"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.partMgmt.dto.partDetailMsdsDTO" alias="partDetailMsds"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.partMgmt.dto.partDetailRohsDTO" alias="partDetailRohs"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.partMgmt.dto.PartDetailSvhcDTO" alias="partDetailSvhc"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.partMgmt.dto.partDetailDeclarDTO" alias="partDetailDeclar"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.partMgmt.dto.partDetailSccsDTO" alias="partDetailSccs"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.partMgmt.dto.partDetailIngredDTO" alias="partDetailIngred"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.partMgmt.dto.partDetailGuarantDTO" alias="partDetailGuarant"></typeAlias>
        <typeAlias type="com.dongwoo.SQM.common.dto.CommonDTO" alias="common"></typeAlias>



    </typeAliases>
</configuration>