<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span data-langsid="Q&A 등록"></span></h2>
            </div>
        </div>

        <div class="cui_body">
            <form id="fileUploadForm" action="/admin/board/qna/save" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault(); uploadFile();">
                <div class="cui_section">
                    <table class="cui_table">
                        <tbody>
                        <tr>
                            <th><span data-langsid="제목"></span></th>
                            <td>
                                <div class="cui_items_wrap">
                                    <div class="item_content">
                                        <input type="text" name="BOARD_TITLE" class="cui_text_field" style="width: 500px;" placeholder="제목을 작성해 주세요." reqcheck="reqcheck"  data-messages="제목을 작성해 주세요." messages="" >
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span data-langsid="비밀번호"></span></th>
                            <td>
                                <div class="cui_items_wrap">
                                    <div class="item_content">
                                        <input type="text" name="BOARD_PASS" class="cui_text_field">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span data-langsid="첨부파일"></span></th>
                            <td>
                                <div class="cui_attachments">
                                    <input type="file"  id="file1" name="file" class="cui_file_field">
                                    <div class="cui_items_wrap" data-direction="left">
                                    </div>
                                </div>

<!--                                <div class="cui_attachments">-->
<!--                                    <input type="file" id="file2" name="file" class="cui_file_field">-->
<!--                                    <div class="cui_items_wrap" data-direction="left">-->
<!--                                        <div class="item_label" data-cui-icon="paperclip"><span>파일명.html</span></div>-->
<!--                                        <div class="item_content">-->
<!--                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"><span>다운로드</span></button>-->
<!--                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
<!--                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <button type="button" class="cui_button"><span data-langsid="삭제"></span></button>-->
<!--                                </div>-->

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="cui_section">
                    <textarea name="BOARD_DESC" cols="30" rows="25"></textarea>
                </div>


                <div class="cui_items_wrap" data-direction="right">
                    <div class="item_content">
                        <button type="submit"  class="cui_button primary"><span data-langsid="저장"></span></button>
                        <button type="button" class="cui_button secondary" onClick="goList()" ><span data-langsid="취소"></span></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</body>


    <script>

        function goList() {
           goMenu('/admin/board/qna')
        }

          const uploadFile = () => {
               var formData = new FormData($('#fileUploadForm')[0]);

              $.ajax({
                  url: '/admin/board/qna/save',
                  type: 'POST',
                  data: formData,
                  contentType: false,
                  processData: false,
                  success: function(response) {

                      goMenu('/admin/board/qna');
                  },
                  error: function(xhr) {
                      alert(xhr.responseText);
                  }
              });
          }
    </script>

</html>