<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
<body>
<a href="/board/save">글쓰기</a>
<table>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성시간</th>
        <th>조회수</th>
    </tr>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.BOARD_IDX}"></td>
        <td>
            <a th:text="${board.BOARD_TITLE}" th:href="@{|/board/${board.BOARD_IDX}|}"></a>
        </td>
        <td th:text="${board.INPUT_USER_ID}"></td>
        <td th:text="${board.INPUT_DATE}"></td>
        <td th:text="${board.BOARD_HITS}"></td>
    </tr>
</table>
</body>
</html>