<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span>Q&A</span></h2>
            </div>
        </div>

        <div class="cui_body">
            <div class="cui_toolbar">
                <div class="toolbar_content">
                    <div class="toolbar_default">
                        <button type="button" class="cui_button secondary" onclick="listReq()"><span data-langsid="목록"></span></button>
                        <button type="button" class="cui_button" onclick="updateReq()"><span data-langsid="수정"></span></button>
                        <button type="button" class="cui_button" onclick="deleteReq()"><span data-langsid="삭제"></span></button>
                    </div>
                </div>
                <div class="toolbar_aside"></div>
            </div>
            <div class="cui_section">
                <table class="cui_table">
                    <colgroup>
                        <col style="width:152px;">
                        <col>
                        <col style="width:152px;">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th class="center"><span data-langsid="제목"></span></th>
                        <td><span th:text="${board.BOARD_TITLE}"></span></td>

                        <th class="center"><span data-langsid="조회수"></span></th>
                        <td><span th:text="${board.BOARD_HITS}"></span></td>
                    </tr>
                    <tr>
                        <th class="center"><span data-langsid="작성자"></span></th>
                        <td><span th:text="${board.INPUT_USER_ID}"></span></td>

                        <th class="center"><span data-langsid="등록일"></span></th>
                        <td><span th:text="${board.INPUT_DATE}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="cui_section">
                <textarea name="BOARD_DESC" cols="30" rows="25" readonly th:text="${board.BOARD_DESC}"></textarea>
            </div>


            <div class="cui_attachments list">

                <div class="cui_attachments_head">
                    <div class="attachments_title">
                        <div class="attachments_label"><span data-langsid="첨부파일"></span></div>
                    </div>
                </div>

                <div class="cui_items_wrap" data-direction="left">
                    <div class="item_label" data-cui-icon="paperclip"><span th:text="${board.FILE_SHOTNAME}"></span></div>
                    <input type="hidden" name ="FILE_NAME" id="FILE_NAME"  th:value="${board.FILE_NAME}" >
                    <input type="hidden" name ="FILE_SHOTNAME" id="FILE_SHOTNAME"  th:value="${board.FILE_SHOTNAME}" >
                    <div class="item_content">
                        <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드" onclick="downloadFile()"><span data-langsid="다운로드"></span></button>

                    </div>
                </div>

            </div>


        </div>

    </div>
</div>
</body>




<script th:inline="javascript">
    //목록 관리자 아이디일경우
    const listReq = () => {
        location.href = "/admin/board/qna";
    }

<!--    //사용자-->
<!--    const listReq = () => {-->
<!--        location.href = "/user/board/qna";-->
<!--    }-->

    //관리자 수정
    const updateReq = () => {
        location.href = `/admin/board/adminUpdate/[[${board.BOARD_IDX}]]`;
    }

<!--    //수정-->
<!--    const updateReq = () => {-->
<!--        location.href = `/user/board/update/[[${board.BOARD_IDX}]]`;-->
<!--    }-->

    //관리자 삭제.
    const deleteReq = () => {

      Common.Msg(siteLang.getLang("삭제 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    Common.Loading.Show();
                    setTimeout(function () {
                          location.href = `/admin/board/qna/delete/[[${board.BOARD_IDX}]]`;
                    }, 10);
                }
       });
    }

<!--    //사용자 삭제.-->
<!--    const deleteReq = () => {-->
<!--        location.href = `/user/board/delete/[[${board.BOARD_IDX}]]`;-->
<!--    }-->




     // 파일 다운로드
   function downloadFile() {

       const hiddenInput = document.getElementById('FILE_NAME');

       const downName = document.getElementById('FILE_SHOTNAME');


       var fileName = hiddenInput.value;
       var savefileName = downName.value;

       if(fileName == ""){
           Common.Msg(siteLang.getLang("첨부된 파일이 없습니다."));
           return;
       }

       fetch(`/admin/board/download?fileName=${encodeURIComponent(fileName)}`, {
           method: 'GET',
           headers: {
               'Accept': 'application/octet-stream'
           }
       })
       .then(response => {
           if (!response.ok) {
               throw new Error('Network response was not ok');
           }
           return response.blob();
       })
       .then(blob => {
           // Blob URL 생성
           const url = window.URL.createObjectURL(blob);
           const a = document.createElement('a');
           a.href = url;
           a.download = savefileName;
           document.body.appendChild(a);
           a.click();
           a.remove();
           window.URL.revokeObjectURL(url);
       })
       .catch(error => {
           console.error('파일 다운로드 실패:', error);
       });
   }

</script>
</html>