<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>list.html</h2>
<table>
    <tr>
        <th>id</th>
        <th>한국어</th>
        <th>영어</th>
        <th>중국어</th>
        <th>조회</th>
        <th>삭제</th>
    </tr>
    <tr th:each="language: ${list}">
        <td th:text="${language.id}"></td>
        <td th:text="${language.KR}"></td>
        <td th:text="${language.EN}"></td>
        <td th:text="${language.CN}"></td>
        <td>
            <!-- query string /member?id=1
                rest api /member/1 -->
            <a th:href="@{|/member/${member.id}|}">조회</a>
        </td>
        <td>
            <a th:href="@{|/member/delete/${member.id}|}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>