<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/member/update" method="post">
    <input type="hidden" th:value="${member.USER_idx}" name="id"><br>
    이메일: <input type="text" th:value="${member.USER_EMAIL}" name="USER_EMAIL" readonly> <br>
    비밀번호: <input type="text" th:value="${member.PASSWORD}" name="PASSWORD"> <br>
    이름: <input type="text" th:value="${member.USER_NAME}" name="USER_NAME"> <br>
    핸드폰: <input type="text" th:value="${member.USER_Mobile}" name="USER_Mobile"> <br>
    <input type="submit" value="정보수정" onclick="update()">
</form>
</body>
<script>
    const update = () => {
        const passwordDB = '${member.memberPassword}';
        const password = document.getElementById("memberPassword").value;
        if (passwordDB == password) {
            document.updateForm.submit();
        } else {
            alert("비밀번호가 일치하지 않습니다!");
        }
    }
</script>
</html>