<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
  <div class="cui_main">
  <div class="cui_head">
    <div class="head_content">
      <h2 class="cui_title"><span>갱신요청</span></h2>
    </div>
  </div>
  <div class="cui_body">
    <form id="formExpSvhc" class="cui_form_field" data-legend="true" onsubmit="return false">
        <table class="cui_table">
          <colgroup>
            <col style="width:154px;">
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th><span>요청사항</span></th>
            <td>
              <div class="cui_items_wrap" data-direction="left">
                <div class="item_content">
                  <textarea class="cui_text_field" name="EXP_BODY" rows="10" th:text="${EXP_BODY}" reqcheck="reqcheck" data-messages="요청사항을 입력해주세요." messages=""></textarea>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="cui_toolbar">
          <div class="toolbar_content">
            <div class="toolbar_default"></div>
          </div>
          <div class="toolbar_aside">
            <button type="button" class="cui_button primary" onclick="expBodySvhcSave($('#formExpSvhc'));"><span>저장</span></button>
            <button type="button" class="cui_button primary" onclick="sendSvhcExpAlert($('#formExpSvhc'));"><span>갱신요청 발송</span></button>
          </div>
        </div>
    </form>
  </div>

  <div class="cui_head">
    <div class="head_content">
      <h2 class="cui_title"><span>발송이력</span></h2>
    </div>
  </div>
<!--  <div class="cui_body">-->
<!--    <table class="cui_table" id="expDateLabourTable">-->
<!--      <colgroup>-->
<!--        <col style="width:200px;">-->
<!--        <col style="width:200px;">-->
<!--        <col >-->
<!--      </colgroup>-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th><span>발송일자</span></th>-->
<!--        <th><span>발송자</span></th>-->
<!--        <th><span>요청사항</span></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr>-->
<!--        <td>2024-01-01 00:00:00</td>-->
<!--        <td>홍길동</td>-->
<!--        <td>요청사항 내용입니다</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <div id="pagination" class="pagination" style="text-align: center"></div>-->
<!--    <div class="table-wrapper">-->
<!--    </div>-->
<!--  </div>-->
    <div class="cui_jqGrid_section">
      <div class="cui_jqGrid_head">
        <div class="jqGrid_label"> &nbsp;</div>
      </div>
      <div class="cui_jqGrid_body" id="Grid">
        <div id="gridArea" gridYN="" th:initData="${partSvhcLogList}"></div>
      </div>
    </div>
</div>
  <script>
    var expBodySvhcSave = function (obj) {
        if (Common.Validate(obj)) {
            Common.Msg(siteLang.getLang("저장 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    var ReqInfo = new Common.RequestInfo();
                    ReqInfo.AddParameter(obj);

                    Common.Loading.Show();
                    setTimeout(function () {
                        Common.Ajax("/admin/partMgmt/expBodySvhcSave", ReqInfo, function (response) {
                            if (response == "OK") {
                                Common.Msg(siteLang.getLang("저장되었습니다."));
                            }
                            Common.Loading.Hide();
                        });
                    }, 10);
                }
            });
        }
    }

    var sendSvhcExpAlert = function (obj) {
        Common.Msg(siteLang.getLang("요청 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    var ReqInfo = new Common.RequestInfo();
                    ReqInfo.AddParameter(obj);

                    Common.Loading.Show();
                    setTimeout(function () {
                        Common.Ajax("/admin/partMgmt/sendSvhcExpAlert", ReqInfo, function (response) {
                            if (response == "OK") {
                                Common.Msg(siteLang.getLang("요청되었습니다."));
                                ListLoad();
                            }
                            Common.Loading.Hide();
                        });
                    }, 10);
                }
            });

        //Common.Msg(sel_idxs_count + "건 발송 되었습니다.");
    }



    var SheetDataConvert = function (data) {
        var dataJson = JSON.parse(data);

        return dataJson;
    }

    var ListLoad = function () {
        var url = location.pathname;

        var ReqInfo = new Common.RequestInfo();
        ReqInfo.AddParameter($("#searchArea"));

        Common.Ajax(url, null , function (data) {
            var dataJson = SheetDataConvert(data);

            $("#gridArea").pqGrid("option", "dataModel.data", dataJson);
            $("#gridArea").pqGrid("refreshView");
        });
    }

    $(function () {
        var heightMinus = 650;

        var data = SheetDataConvert($("#gridArea").attr("initData"));

        var obj = {
            bubble: false,
            numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35 },
            editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
            editModel: { clicksToEdit: 2 },
            selectionModel: { type: 'cell', mode: 'block' },
            height: $(window).height() - heightMinus,
            title: "",
            sortable: false,
            resizable: true,
            menuIcon: true,
            scrollModel: { autoFit: false },
            hoverMode: 'row',
            rowHtHead: 30,
            //rowHt:30,
            roundCorners: false,
            rowBorders: true,
            showBottom: false,
            showHeader: true,
            showTitle: true,
            showTop: false, //excel 버튼 보이기
            showToolbar: false,
            stripeRows: false,
            virtualY: true,
            hwrap: false,
            wrap: false,
            autoAddRow: false,
            freezeCols:0,
            autoRow: false,
            autoRowHead: false,
            rowInit: function () {
                return { style: 'font-size:12px;' };
            },
            selectChange: function (event, ui) {
            },
            rowClick: function (event, ui) {
            },
            cellClick: function (event, ui) {
            },
            rowDblClick: function (event, ui) {
            },
            rowSelect: function (event, ui) {
            },
            open: function () {
            },
            headerCellClick: function (event, ui) {
            }
        };
        obj.colModel = [

            { data_langsid: "발송일자", title: siteLang.getLang("발송일자"), width: 120, halign: "center", align: "center", dataType: "string", dataIndx: "SEND_DATE", sortable: true, editor: false, editable: false },
            { data_langsid: "발송자", title: siteLang.getLang("발송자"), width: 120, halign: "center", align: "center", dataType: "string", dataIndx: "USER_NAME", sortable: true, editor: false, editable: false },
            { data_langsid: "요청사항", title: siteLang.getLang("요청사항"), width: 500, halign: "center", align: "center", dataType: "string", dataIndx: "SEND_BODY", sortable: true, editor: false, editable: false }
        ];
        obj.dataModel = { data: data };
        $("#gridArea").pqGrid(obj);
        $("#gridArea").attr("gridYN", "Y");

        $(window).resize(function () {
            $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus);
            $("#gridArea").pqGrid("refreshView");
        });
    });
  </script>
</body>
</html>