<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO</title>
</head>
<body>
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title" data-langsid="ISO 인증"><span>ISO 인증</span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form id="searchForm" method="get">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap ">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체코드">업체코드</strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchCode" data-langsid="업체코드를 입력해주세요" placeholder="업체코드를 입력해주세요"/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체명">업체명</strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchName" data-langsid="업체명을 입력해주세요" placeholder="업체명을 입력해주세요"/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="승인상태"></strong>
                            <div class="item_content">
                                <select class="cui_select_field" id="searchState">
                                    <option value=""  data-langsid="선택하세요" selected></option>
                                    <option value="SEND" data-langsid="제출"></option>
                                    <option value="APPROVE" data-langsid="승인"></option>
                                    <option value="REJECT" data-langsid="반려"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="search_action">
                        <button type="submit" class="cui_button primary search_btn" id="searchBtn"><span data-langsid="검색"></span></button>
                    </div>
                </div>
            </form>
            <table class="cui_table center" id="companyTable">
                <colgroup>
                    <col style="width:100px;">
                    <col style="width:130px;">
                    <col>
                    <col style="width:80px;">
                    <col style="width:130px;">
                    <col style="width:130px;">
                </colgroup>
                <thead>
                <tr>
                    <th><span>승인상태</span></th>
                    <th><span>업체코드</span></th>
                    <th><span>업체명</span></th>
                    <th><span>점수</span></th>
                    <th><span>제출일자</span></th>
                    <th><span>승인일자</span></th>
                </tr>
                </thead>
                <tbody>
                    <tr><td colspan="6">검색 버튼을 눌러 조회하세요.</td></tr>
                </tbody>
            </table>
            <div id="pagination" class="pagination" style="text-align: center"></div>
            <div class="table-wrapper">
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        $(document).on("click", ".load-page", function(e) {
            e.preventDefault();

            const comCode = $(this).data("code");
            const url = "/admin/auditMgmt/isoDetail?COM_CODE="+comCode;
            location.href = url;
        });

        // 검색 버튼 클릭 시
        $('#searchBtn').on('click', function(event) {
            event.preventDefault();  // 기본 폼 제출 동작 방지
            var type = 'ISO';      // audit 타입
            var name = $('#searchName').val();  // 업체명
            var code = $('#searchCode').val();  // 업체 코드
            var state = $('#searchState').val();  // state

            $.ajax({
                url: '/auditMgmt/searchAuditMgmt',  // 서버의 검색 API URL
                type: 'GET',
                data: {
                    type: type,      // audit 타입
                    name: name,      // 업체명
                    code: code,      // 업체 코드
                    state: state,  // state
                    pageNum: 1,      // 기본값으로 첫 페이지
                    amount: 10       // 한 페이지에 표시할 항목 수
                },
                success: function(response) {
                    // 테이블에 결과 채우기
                    var tableBody = $('#companyTable tbody');
                    tableBody.empty();  // 기존 내용 비우기

                    // APPROVE_STATE 매핑 객체 선언
                    var appTypeMap = {
                        'SEND': '제출',
                        'OK': '승인',
                        'REJECT': '반려'
                    };

                    if (!response.resultList || response.resultList.length === 0) {
                        var row = '<tr><td colspan="6">데이터가 없습니다.</td>></tr>';
                        tableBody.append(row);  // 테이블에 새 행 추가
                    }else{
                        // 검색된 결과를 테이블에 추가
                        response.resultList.forEach(function(auth) {
                            var appTypeText = appTypeMap[auth.APPROVE_STATE] || auth.APPROVE_STATE;  // 기본값은 'APPROVE_STATE'값 그대로
                            var itemPoint = auth.APPROVE_STATE ? auth.APPROVE_STATE: '-';  // null일 경우 '-'로 대체
                            var itemPoint = auth.POINT ? auth.POINT: '-';  // null일 경우 '0'로 대체
                            var itemApvDate = auth.APPROVE_DATE ? auth.APPROVE_DATE: '';  // null일 경우 ''로 대체
                            var row = '<tr>' +
                                            '<td>' + appTypeText + '</td>' +
                                            '<td>' + auth.COM_CODE + '</td>' +
                                            '<td><a href="javascript:void(0);" class=\'load-page\' data-code=\''+ auth.COM_CODE +'\'">' + auth.COM_NAME + '</a></td>' +
                                            '<td>' + itemPoint + '</td>' + // null일 경우 '0'로 대체
                                            '<td>' + auth.APPROVE_DATE + '</td>' +
                                            '<td>' + itemApvDate + '</td>' +
                                          '</tr>';
                            tableBody.append(row);  // 테이블에 새 행 추가
                        });
                    }

                    // 페이지네이션 업데이트 (페이지 객체가 반환된다고 가정)
                    //updatePagination(response.pageMaker);
                },
                error: function() {
                    alert("검색 결과를 가져오는 데 실패했습니다.");
                }
            });
        });
    });
</script>
</html>