<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
        <div class="cui_content">
            <div class="cui_main">
                <div class="cui_head">
                    <div class="head_content">
                        <h2 class="cui_title"><span><span th:text="${#authentication.principal.COM_NAME}"></span></span></h2>
                    </div>
                </div>
                <div class="cui_body">
                    <div class="cui_toolbar">
                        <div class="toolbar_content">
                            <div class="toolbar_default"></div>
                        </div>

                    </div>
                    <div class="cui_section">
                        <div class="cui_bullet_title" style="justify-content: space-between;align-items: center;">
                            <div class="bullet_title_label"><span>인증서 관리(배점 4점)</span></div>
                            <div class="button_section" style="display: flex;gap: 10px;">
                                <button type="button" class="cui_button secondary" id="addRowBtn"><span>추가</span></button>
                                <button type="button" class="cui_button secondary" id="delRowBtn" onclick="delCompany()"><span>삭제</span></button>
                            </div>
                        </div>

                        <form class="cui_form_field" data-legend="true">
                            <table class="cui_table center" id="isoAuthItemTable">
                                <colgroup>
                                    <col style="width:120px;">
                                    <col style="width:200px;">
                                    <col style="width:120px;">
                                    <col style="width:120px;">
                                    <col style="width:120px;">
                                    <col>
                                    <col style="width:80px;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><span>분류</span></th>
                                    <th><span>인증서</span></th>
                                    <th><span>인증일</span></th>
                                    <th><span>만료일</span></th>
                                    <th><span>등록일</span></th>
                                    <th><span>등록서류</span></th>
                                    <th><span>승인여부</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="cui_items_wrap" data-direction="right">
                                <div class="item_content">
                                    <button type="button" class="cui_button primary" id="submitIsoAuth"><span>제출</span></button>
                                </div>
                            </div>
                            <fieldset id="rejectArea" style="display:none;">
                                <legend><span>반려사유</span></legend>
                                <div>
                                    <textarea class="cui_text_field" rows="2" style="width:100%;" id="rejectReason" th:text="${companyIsoAuth.STATE_REASON}"></textarea>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(function() {
                loadPage();
                // 페이지 로드 함수
                function loadPage() {
                    const code = `[[${#authentication.principal.COM_NAME}]]`; //세션의 회사코드
                    console.log(code);
                   // 페이지가 로드되면 서버에서 데이터를 가져옴
                    $.ajax({
                        url: '/api/isoAuthItemList',  // 서버의 API URL
                        type: 'GET',
                        data: { pageNum: 1, amount: 30, COM_CODE: code },
                        success: function(response) {
                            var tableBody = $('#isoAuthItemTable tbody');
                            tableBody.empty(); // 기존 내용 비우기

                            var reversedAuthCodeMap = {
                                'ISO9001': '품질관리',
                                'IATF16949': '품질관리',
                                'ISO14001': '환경',
                                'ISO45001': '안전보건',
                                'KOSHA MS': '안전보건',
                                'QC080000': 'HSPM',
                                'ISO50001': 'ENERGY',
                                '녹색기업': '기타'
                            };

                            if (!response || response.length === 0) {
                                for (var key in reversedAuthCodeMap) {
                                    if (reversedAuthCodeMap.hasOwnProperty(key)) {
                                        var value = reversedAuthCodeMap[key];  // value 추출
                                        var row = '<tr>' +
                                                    '<td>' + value + '</td>' +
                                                    '<td>' + key + '</td>' +
                                                    '<td><input type="text" class="cui_text_field datepicker" name="AUTH_DATE"></td>' +
                                                    '<td><input type="text" class="cui_text_field datepicker" name="EXP_DATE"></td>' +
                                                    '<td><input type="text" class="cui_text_field datepicker" name="REG_DATE"></td>' +
                                                    '<td><div class="cui_items_wrap" data-direction="left"><div class="cui_attachments">' +
                                                    '<input type="file" class="cui_file_field" name="file" onchange="toggleDeleteButton(this)">' +
                                                    '<button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제" onclick="clearFile(this)" style="display: none;"><span>삭제</span></button>' +
                                                    '</div></div></td>' +
                                                    '<td>신규</td>' +
                                                '</tr>';
                                        tableBody.append(row);
                                    }
                                }
                                // 새로 추가된 input 요소에 대해 datepicker 초기화
                                $(".datepicker").datepicker({
                                    dateFormat: "yy-mm-dd",  // 날짜 형식 (예: 2024-11-22)
                                });
                            }else{
                                response.forEach(function(isoAuth) {
                                    var row = '<tr>' +
                                                    '<td>' + isoAuth.AUTH_TYPE + '</td>' +
                                                    '<td>' + isoAuth.AUTH_CODE + '</td>' +
                                                    '<td><input type="text" class="cui_text_field" value="'+ isoAuth.AUTH_DATE + '"></input></td>' +
                                                    '<td><input type="text" class="cui_text_field" value="'+ isoAuth.EXP_DATE + '"></input></td>' +
                                                    '<td><input type="text" class="cui_text_field" value="'+ isoAuth.REG_DATE + '"></input></td>' +
                                                    '<td><a href="/api/getIsoAuthFileDown?fileName=' + encodeURIComponent(isoAuth.FILE_NAME) + '" download>다운로드</a></td>' +
                                                    '<td>' + isoAuth.ITEM_STATE + '</td>' +
                                                  '</tr>';
                                    tableBody.append(row);
                                    //상태가 제출이나 승인일때는 제출 버튼 안보이도록
                                    if(isoAuth.ITEM_STATE == 'SEND'){
                                        $('#submitIsoAuth').css('display', 'none');
                                        $('#addRowBtn').css('display', 'none');
                                        $('#delRowBtn').css('display', 'none');
                                    }

                                    //상태가 반려일때는 반려 사유가 보이도록
                                    if(isoAuth.ITEM_STATE == 'REJECT'){
                                        $('#rejectArea').css('display', 'block');
                                    }
                                });
                            }
                        },
                        error: function() {
                            showAlert('warning','정보를 가져오는 데 실패했습니다.');
                        }
                    });  // $.ajax 호출 끝
                }

                //제출
                function saveTableData() {
                    var tableData = [];

                    $("#isoAuthItemTable tbody tr").each(function() {
                        var row = {};
                        var fileCnt = {};
                        row['AUTH_TYPE'] = $(this).find('td').eq(0).text();
                        row['AUTH_CODE'] = $(this).find('td').eq(1).text() == ''?$(this).find('input[name="AUTH_CODE"]').val():$(this).find('td').eq(1).text();
                        row['AUTH_DATE'] = $(this).find('input[name="AUTH_DATE"]').val();
                        row['EXP_DATE'] = $(this).find('input[name="EXP_DATE"]').val();
                        row['REG_DATE'] = $(this).find('input[name="REG_DATE"]').val();

                        var fileInput = $(this).find('input[type="file"]')[0];
                        if (fileInput && fileInput.files.length > 0) {
                            row['FILE_NAME'] = fileInput.files[0].name;
                        }
                        tableData.push(row);
                    });

                    var formData = new FormData();
                    formData.append('data', JSON.stringify(tableData));  // 테이블 데이터를 JSON으로 직렬화하여 전송

                     // 파일들을 formData에 추가
                    $("#isoAuthItemTable tbody tr").each(function(index) {
                        var fileInput = $(this).find('input[name="file"]')[0];
                        if (fileInput && fileInput.files.length > 0) {
                            // 파일에 대한 유효성 검증
                            var file = fileInput.files[0];
                            if (validation(file)) {  // 검증을 통과한 파일만 formData에 추가
                                formData.append('file_name', file);  // 각 파일을 'file_name'이라는 이름으로 추가
                            } else {
                                showAlert('warning','파일 검증 실패했습니다.');
                                console.log("파일 검증 실패: " + file.name);
                            }
                        }
                    });

                    $.ajax({
                        url: '/api/sendIsoAuthData',
                        type: 'POST',
                        data: formData,
                        processData: false,  // FormData는 자동으로 처리되지 않으므로 설정
                        contentType: false,  // 기본 contentType을 사용하지 않음
                        success: function(response) {
                            console.log(response);
                            showAlert('success','데이터가 성공적으로 저장되었습니다.');
                            //리스트 새로 로드 - 상태가 바뀌므로
                            loadPage(1);
                        },
                        error: function(xhr, status, error) {
                            showAlert('warning','데이터 저장에 실패했습니다.');
                        }
                    });
                }

                // 저장 버튼 클릭 시 데이터 저장
                $("#submitIsoAuth").click(function() {
                    saveTableData();
                });

            });

            // '추가' 버튼 클릭 시 테이블에 행 추가
            $('#addRowBtn').on('click', function() {
                // 새로운 tr 행 생성
                var row = '<tr>' +
                            '<td><input type="checkbox">기타</td>' +  // 첫 번째 td - key 입력 필드
                            '<td><input type="text" class="cui_text_field" name="AUTH_CODE"></td>' +  // 두 번째 td - value 입력 필드
                            '<td><input type="text" class="cui_text_field datepicker" name="AUTH_DATE"></td>' +  // 날짜 필드
                            '<td><input type="text" class="cui_text_field datepicker" name="EXP_DATE"></td>' +  // 날짜 필드
                            '<td><input type="text" class="cui_text_field datepicker" name="REG_DATE"></td>' +  // 날짜 필드
                            '<td><div class="cui_items_wrap" data-direction="left"><div class="cui_attachments" style="flex-direction: row;">' +
                            '<input type="file" class="cui_file_field" name="file" multiple onchange="toggleDeleteButton(this)" style="width: 200px;">' +
                            '<button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제" onclick="clearFile(this)" style="display: none;"><span>삭제</span></button>' +
                            '</div></div></td>' +
                            '<td>신규</td>' +  // 상태
                          '</tr>';

                // 테이블의 tbody에 새로운 행 추가
                $('#isoAuthItemTable tbody').append(row);

                // 새로 추가된 input 필드들에 대해 datepicker 초기화
                $(".datepicker").datepicker({
                    dateFormat: "yy-mm-dd",  // 날짜 형식 (예: 2024-11-22)
                });
            });

            // '삭제' 버튼 클릭 시 테이블에 행 삭제
            $('#delRowBtn').on('click', function() {
                //체크된 행만 삭제
            });

            //상세 항목 정보 - Ajax로 받아온 데이터 바인딩
            function bindModalData(status, data) {
                $('#modalTitle').text(status == 'detail'?'업체 수정':'신규 추가'); //모달창의 제목 변경
                const authTypeSelect = document.getElementById("modalAuthType");
                const authSelect = document.getElementById("modalAuthCode");
                authTypeSelect.value = data.AUTH_TYPE;
                authSelect.value = data.AUTH_CODE;
                $('#modalCompanyName').val(data.COM_CODE);
                $('#modalAuthDate').val(data.AUTH_DATE);
                $('#modalExpDate').val(data.EXP_DATE);
                $('#attachInfo').css('display', 'block');
                $('#modalFileName span').text(data.FILE_NAME);
                //$('#modalFactoryId').val(data.AUTH_TYPE);
            }

            // 파일 선택 시 삭제 버튼 표시
            function toggleDeleteButton(inputElement) {
                const deleteButton = inputElement.nextElementSibling;  // <button> 요소가 바로 뒤에 있으므로 nextElementSibling 사용

                if (inputElement.files.length > 0) {
                    deleteButton.style.display = 'inline-block';  // 파일이 선택되면 삭제 버튼 표시
                } else {
                    deleteButton.style.display = 'none';  // 파일이 선택되지 않으면 삭제 버튼 숨기기
                }
            }

            // 파일 삭제
            function clearFile(buttonElement) {
                const fileInput = buttonElement.previousElementSibling;  // <input type="file"> 요소는 <button> 바로 앞에 있음

                // 파일 입력 초기화
                fileInput.value = "";

                // 삭제 버튼 숨기기
                buttonElement.style.display = 'none';
            }

        </script>
</body>
</html>