<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
<div class="cui_main">
  <div class="cui_head">
    <div class="head_content">
      <h2 class="cui_title"><span>갱신요청</span></h2>
    </div>
  </div>
  <div class="cui_body">
    <form class="cui_form_field" data-legend="true">
      <fieldset>
        <table class="cui_table">
          <colgroup>
            <col style="width:154px;">
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th><span>만료일</span></th>
            <td>
              <div class="cui_items_wrap" data-direction="left">
                <div class="item_content">
                  <input class="cui_text_field" type="text" id="txtExpDate" placeholder="만료일 숫자입력."/>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th><span>요청사항</span></th>
            <td>
              <div class="cui_items_wrap" data-direction="left">
                <div class="item_content">
                  <textarea class="cui_text_field" rows="10"></textarea>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="cui_toolbar">
          <div class="toolbar_content">
            <div class="toolbar_default"></div>
          </div>
          <div class="toolbar_aside">
            <button type="button" class="cui_button primary"><span>저장</span></button>
            <button type="button" class="cui_button primary"><span>갱신요청 발송</span></button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="cui_head">
    <div class="head_content">
      <h2 class="cui_title"><span>자재별 갱신</span></h2>
    </div>
  </div>
  <div class="cui_body">
    <form id="searchForm" method="get">
      <div class="cui_search">
        <div class="search_list cui_grid_wrap ">
          <div class="cui_items_wrap" data-direction="left">
            <strong class="item_label">만료일</strong>
            <div class="item_content">
              <input class="cui_text_field" type="text" placeholder="만료일 숫자입력."/>
            </div>
          </div>
          <div class="cui_items_wrap" data-direction="left">
            <strong class="item_label">업체코드</strong>
            <div class="item_content">
              <input class="cui_text_field" type="text" placeholder=""/>
            </div>
          </div>
          <div class="cui_items_wrap" data-direction="left">
            <strong class="item_label">업체명</strong>
            <div class="item_content">
              <input class="cui_text_field" type="text" placeholder=""/>
            </div>
          </div>
        </div>
        <div class="search_action">
          <button type="submit" class="cui_button primary search_btn" id="searchBtn"><span>검색</span></button>
        </div>
      </div>
    </form>

    <div class="cui_toolbar">
      <div class="toolbar_content">
        <div class="toolbar_default"></div>
      </div>
      <div class="toolbar_aside">
        <button type="button" class="cui_button secondary"><span>갱신요청 발송</span></button>
      </div>
    </div>

    <table class="cui_table" id="expDateLabourTable">
      <colgroup>
        <col style="width:70px;">
        <col style="width:200px;">
        <col style="width:200px;">
        <col >
        <col style="width:150px;">
      </colgroup>
      <thead>
      <tr>
        <th class="center"><label class="cui_checkbox"><input type="checkbox"><i></i></label></th>
        <th><span>자재코드</span></th>
        <th><span>자재명</span></th>
        <th><span>업체명</span></th>
        <th><span>만료일</span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="center"><label class="cui_checkbox"><input type="checkbox"><i></i></label></td>
        <td class="center">AAAA1</td>
        <td>AABB</td>
        <td>코비젼-</td>
        <td class="center">2024-11-11</td>
      </tr>
      </tbody>
    </table>
    <div id="pagination" class="pagination" style="text-align: center"></div>
    <div class="table-wrapper">
    </div>
  </div>
</div>
</body>
</html>