<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>auditResult</title>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span th:text="${#authentication.principal.COM_NAME}"></span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form class="cui_form_section" data-legend="true">
                <fieldset>
                    <legend><span>Audit 결과</span></legend>
                    <table class="cui_table center" id="auditResultTable">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>항목</span></th>
                            <th><span>제출 일자</span></th>
                            <th><span>구분</span></th>
                            <th><span>제출 방식</span></th>
                            <th><span>갱신 예정일</span></th>
                            <th><span>점수</span></th>
                            <th><span>결과(등급)</span></th>
                        </tr>
                        </thead>
                        <tbody th:unless="${#lists.isEmpty(auditRsltData)}">
                        <tr th:each="data : ${auditRsltData}">
                            <td class="center"><span th:text="${data.AUTH_TYPE}">ISO 인증서</span></td>
                            <td class="center"><span th:text="${data.APPROVE_DATE}">2024-11-11</span></td>
                            <td class="center"><span th:text="${data.APPROVE_STATE}">제출</span></td>
                            <td class="center"><span th:text="${data.AUDIT_WAY}">서면</span></td>
                            <td class="center"><span>2024-00-00</span></td>
                            <td class="center">
                                <span th:text="${data.POINT}"></span> /
                                <span th:text="${data.FULL_POINT}"></span>
                            </td>
                            <td class="center"><span></span></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>