<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="cui_dialog" style="width:400px;" id="PopupBaseConfig">
  <div class="dialog_container">
    <div class="dialog_head">
      <div class="dialog_title">
        <div class="main_label">PARTNER ID/PW 찾기</div>
      </div>
      <div class="dialog_toolbar">
        <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark"><span>Close</span></button>
      </div>
    </div>
    <div class="dialog_body">
      <div class="body_root">
        <form class="cui_form_field" data-legend="true">
          <fieldset>
            <legend><span>ID 찾기</span></legend>
            <label class="cui_items_wrap" data-direction="left">
              <strong class="item_label">영문이름</strong>
              <div class="item_content">
                <input type="text" class="cui_text_field">
              </div>
            </label>
            <label class="cui_items_wrap" data-direction="left">
              <strong class="item_label">이메일</strong>
              <div class="item_content">
                <input type="email" class="cui_text_field">
              </div>
            </label>
            <div class="cui_items_wrap" data-direction="center">
              <div class="item_content">
                <button type="button" class="cui_button primary"><span>추가</span></button>
                <button type="button" class="cui_button primary"><span>삭제</span></button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
<script>

</script>
</html>