<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/mainLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>기초설정</title>
    <style>
        .cui_dialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="cui_app">
    <div class="cui_container" data-module="">
        <div class="cui_lnb">
            <div class="lnb_root">
                <div class="lnb_head">
                    <h2 class="lnb_title"><span>Site Management</span></h2>
                </div>
                <div class="cui_nav">
                    <nav class="nav_root">
                        <ul>
                            <li>
                                <a href="#" class="nav_item">
                                    <span class="nav_label">동우 사용자 관리</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav_item" aria-selected="true">
                                    <span class="nav_label">기초설정</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav_item">
                                    <span class="nav_label">기초코드</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav_item">
                                    <span class="nav_label">SVHC 항목 </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav_item">
                                    <span class="nav_label">Declaration Letter 항목</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav_item" aria-selected="true">
                                    <span class="nav_label">SAMPLE 파일</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="cui_content">
            <div class="cui_main">
                <div class="cui_head">
                    <div class="head_content">
                        <h2 class="cui_title"><span>기초설정</span></h2>
                    </div>
                </div>
                <div class="cui_body">
                    <form id="searchForm" action="/baseconfig/search" method="get">
                        <div class="cui_search">
                            <div class="search_list cui_grid_wrap ">
                                <div class="cui_items_wrap" data-direction="left">
                                    <strong class="item_label">업무구분</strong>
                                    <div class="item_content">
                                        <select class="cui_select_field wide" name="gubun">
                                            <option value="">전체</option>
                                            <option value="Basic">기초</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="cui_items_wrap" data-size="2">
                                    <strong class="item_label">검색조건</strong>
                                    <div class="item_content">
                                        <select class="cui_select_field" name="searchkey">
                                            <option value="key" selected>설정키</option>
                                            <option value="val">설정값</option>
                                        </select>
                                        <input class="cui_text_field" type="text" name="searchval">
                                    </div>
                                </div>
                            </div>
                            <div class="search_action">
                                <button type="submit" class="cui_button primary search_btn" ><span>검색</span></button>
                            </div>
                        </div>
                    </form>
                    <div class="cui_toolbar">
                        <div class="toolbar_content">
                            <div class="toolbar_default"></div>
                        </div>
                        <div class="toolbar_aside">
                         <button type="button" class="cui_button secondary" onclick="modal('PopupBaseConfig','add')"><span>추가</span></button>
<!--                            <button type="button" class="cui_button secondary" onclick="BaseConfig_Popup()"><span>추가</span></button>-->

                        </div>
                    </div>
                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:140px;">
                            <col style="width:140px;">
                            <col style="width:140px;">
                            <col>
                            <col style="width:120px;">
                            <col style="width:80px;">
                            <col style="width:110px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>업무구분</span></th>
                            <th><span>설정키</span></th>
                            <th><span>설정값</span></th>
                            <th><span>설명</span></th>
                            <th><span>등록자</span></th>
                            <th><span>상태</span></th>
                            <th><span>등록일</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="baseConfigList : ${baseConfigList}">
                            <td style="display:none;" th:text="${baseConfigList.IDX}"><span></span></td>
                            <td th:text="${baseConfigList.GUBN}"><span></span></td>
                            <!--                                <td ><button th:text="${baseConfigList.CONFIGCODE}" type="button" class="cui_button endpoint" onclick="BaseConfig_Popup('${baseConfigList.IDX}')"></button></td>-->
                            <td ><button th:text="${baseConfigList.CONFIGCODE}" type="button" class="cui_button endpoint" th:onclick="modal('PopupBaseConfig',[[${baseConfigList.IDX}]])"></button></td>
                            <td th:text="${baseConfigList.CONFIGVALUE}"><span></span></td>
                            <td th:text="${baseConfigList.CONFIGSUMMARY}"><span></span></td>
                            <td th:text="${baseConfigList.USERNAME}"><span></span></td>
                            <td th:text="${baseConfigList.CONFIGSTATUS}"><span></span></td>
                            <td th:text="${baseConfigList.REGDATE}"><span></span></td>

                        </tr>
                        <!--                        <tr>-->
                        <!--                            <td><span>기본</span></td>-->
                        <!--                            <td><button type="button" class="cui_button endpoint">key1</button></td>-->
                        <!--                            <td><span>Y</span></td>-->
                        <!--                            <td><span>기본 key 설명</span></td>-->
                        <!--                            <td><span>홍길동</span></td>-->
                        <!--                            <td><span>사용</span></td>-->
                        <!--                            <td><span>2024-08-29</span></td>-->
                        <!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cui_dialog" style="width:400px;display:none;" id="PopupBaseConfig">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label">기초설정</div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <form class="cui_form_field" data-legend="true" onsubmit="handleSubmit(event)" action="/baseconfig/action">
                    <fieldset>
<!--                        <legend><span>ID 찾기</span></legend>-->
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">구분</strong>
                            <div class="item_content">
                                <select class="cui_select_field wide" name="GUBN">
                                    <option value="Basic">기초</option>
                                </select>
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">설정키</strong>
                            <div class="item_content">
                                <input name="CONFIGCODE" class="cui_text_field fixdata">
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">설정값</strong>
                            <div class="item_content">
                                <input name="CONFIGVALUE" class="cui_text_field ">
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">상태</strong>
                            <div class="item_content">
                                <select class="cui_select_field wide " name="CONFIGSTATUS">
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                </select>
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">설명</strong>
                            <div class="item_content">
                                <textarea  style="height:80px;" class="cui_text_field" name="CONFIGSUMMARY"></textarea>
                                <input name="USERID" style="display:none;">
                                <input name="IDX" value=0 style="display:none;">
                            </div>
                        </label>
                        <div class="cui_items_wrap" data-direction="center" style="top-margin:10px;">
                            <div class="item_content">
                                <button type="submit" id="ConfigAdd" name="INFOFLAG" value="Add" class="cui_button primary"><span>추가</span></button>
                                <button type="submit" id="ConfigMod" name="INFOFLAG" value="Mod" class="cui_button primary" style="display:none;"><span>수정</span></button>
                                <button type="submit" id="ConfigDel" name="INFOFLAG" value="Del" class="cui_button primary" style="display:none;"><span>삭제</span></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function BaseConfig_Popup(){
        let popOption ="width=601,height=436,top=100,left=100";
        let openUrl = "/BaseConfig/Popup";
        window.open(openUrl, 'BaseConfig', popOption);
    }

    //모달 초기화
    function modal_init(flag){
        if(flag=="MODIFY"){
           $(".fixdata").attr("readonly",true);
           //버튼 바꾸기
             $("#ConfigAdd").css("display","none");
            $("#ConfigMod").css("display","block");
            $("#ConfigDel").css("display","block");

        }else{
            //초기화
            document.getElementsByName("CONFIGCODE")[0].value = "";
            document.getElementsByName("CONFIGVALUE")[0].value = "";
            document.getElementsByName("CONFIGSUMMARY")[0].value = "";
            $("select[name=GUBN] option:eq(0)").prop("selected", true);
            $("select[name=CONFIGSTATUS] option:eq(0)").prop("selected", true);
            $(".fixdata").attr("readonly",false);

            //버튼 바꾸기
            $("#ConfigAdd").css("display","block");
            $("#ConfigMod").css("display","none");
            $("#ConfigDel").css("display","none");
        }

    }


    //모달 열기
    function modal(id, status){
      if(status !='add'){
       var sUrl = "/baseConfig/baseConfig_Info" ;

        $.ajax({
          type: "post",
          url:   sUrl,
          data: {
              "status": status
          },
          success: function(res) {
              console.log("요청성공", res);

              if (res.status == "ok") {
                //공동업무자정보
                //ID /PASS
                bindBasConfigInfo(res);           //정보 바인딩. ★
                $("#" + id).fadeIn();
                modal_init("MODIFY");

              }
          },
          error: function(err) {
              console.log("에러발생", err);
          }
        });
      }else{
        modal_init();
        $("#" + id).fadeIn();
      }
    }

    function bindBasConfigInfo(baseConfig){
        if(baseConfig != null){
            document.getElementsByName("CONFIGCODE")[0].value = baseConfig.CONFIGCODE ;
            document.getElementsByName("CONFIGVALUE")[0].value = baseConfig.CONFIGVALUE ;
            document.getElementsByName("CONFIGSUMMARY")[0].value = baseConfig.CONFIGSUMMARY ;
            document.getElementsByName("IDX")[0].value = baseConfig.IDX ;

            $("select[name=GUBN]").val(baseConfig.GUBN).prop("selected", true);
            $("select[name=STATUS]").val(baseConfig.CONFIGSTATUS).prop("selected", true);

        }
    }

    //모달 닫기
    $('.modal-close').on('click', function(e){
      e.preventDefault();
      const modal = $(this).parents('.cui_dialog');
      modal.fadeOut();
      modal_init();
    });



</script>
</html>