<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">

<body>
    <div class="cui_content">
        <div class="cui_main">
            <div class="cui_head">
                <div class="head_content">
                    <h2 class="cui_title"><span data-langsid="동우 사용자 관리"></span></h2>
                </div>
            </div>

            <div class="cui_body">
                    <div class="cui_search">
                        <div class="search_list cui_grid_wrap" id="searchArea">
                            <div class="cui_items_wrap required_field"  data-direction="left">
                                <strong class="item_label" data-langsid="아이디"></strong>
                                <div class="item_content">
                                    <input id="userid" name="USER_ID" class="cui_text_field" type="text" search="searchBtn"  data-langsid="아이디를 입력해주세요">
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="이름"></strong>
                                <div class="item_content">
                                    <input id ="username" name = "USER_NAME" class="cui_text_field" type="text"  search="searchBtn" data-langsid="이름을 입력해주세요" >
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="사업부" ></strong>
                                <div class="item_content">
                                    <select id="deptcode" name="DEPT_CODE" class="cui_select_field wide" onchange="ListSearch();">
                                        <option value=""></option>
                                        <option th:each="dept : ${deptList}"
                                                th:value="${dept.BASE_CODE_IDX}"
                                                th:text="${dept.BASE_NAME}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="이메일"></strong>
                                <div class="item_content">
                                    <input id = "email" name = "EMAIL" class="cui_text_field" type="email" search="searchBtn" data-langsid="이메일을 입력해주세요" >
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="구분"></strong>
                                <div class="item_content">
                                    <select id = "userlevel" name = "USER_LEVEL" class="cui_select_field wide" onchange="ListSearch();">
                                        <option value=""></option>
                                        <option value="100" data-langsid="관리자"></option>
                                        <option value="1" data-langsid="사용자"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="상태"></strong>
                                <div class="item_content">
                                    <select id = "userStatus" name = "USER_STATUS" class="cui_select_field wide" onchange="ListSearch();">
                                        <option value=""></option>
                                        <option value="Y" data-langsid="사용"></option>
                                        <option value="N" data-langsid="미사용"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="search_action">
                            <button type="button" id = "searchBtn"  onclick="ListSearch()" class="cui_button primary"><span data-langsid="검색"></span></button>
                        </div>
                    </div>
                    <div class="cui_jqGrid_section">
                        <div class="cui_jqGrid_head">
                            <div class="jqGrid_label"> &nbsp;</div>
                            <div class="jqGrid_aside">
                                <button type="button" class="cui_button endpoint" data-cui-icon="upload" onclick="addOpen();"><span data-langsid="추가"></span></button>
                                <button type="button" class="cui_button endpoint" data-cui-icon="download" onclick="downloadExcel();"><span data-langsid="엑셀 다운로드"></span></button>
                            </div>
                        </div>
                        <div class="cui_jqGrid_body" id="Grid">
                            <div id="gridArea" gridYN=""></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</body>



<div class="cui_dialog" style="width:720px;display:none;" id="dialogUserUpdate">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label"><span id="popTitle">title</span></div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" dialogBtn="close"><span>Close</span></button>
            </div>
        </div>

        <div class="dialog_body">
            <div class="body_root">
                <form id="updateForm" method="POST" action="/userMgr/updateUserMgr" class="cui_form_section" data-legend="true">
                    <fieldset>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="아이디"></strong>
                            <div class="item_content">
                                <input id="user_id" name = "USER_ID" type="text" class="cui_text_field" reqcheck="reqcheck" data-messages="아이디 입력하세요." messages="">
                                <input id="user_idx" name="USER_IDX" class="cui_text_field" type="hidden" >
                                <input id="info_flag" name="INFO_FLAG" class="cui_text_field" type="hidden" >
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left" id = "userPWD">
                            <strong class="item_label" data-langsid="비밀번호"></strong>
                            <div class="item_content">
                                <input id="user_pwd" name = "USER_PWD" type="text" class="cui_text_field" reqcheck="reqcheck" data-messages="비밀번호를 입력하세요." messages="">
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="이름"></strong>
                            <div class="item_content">
                                <input id="user_name" name = "USER_NAME" type="text" class="cui_text_field" reqcheck="reqcheck" data-messages="이름을 입력하세요." messages="">
                            </div>
                        </label>

                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="사업부"></strong>
                            <div class="item_content">
                                <select id="dept_code" name="DEPT_CODE" class="cui_select_field wide">
                                    <option th:each="dept : ${deptList}"
                                            th:value="${dept.BASE_CODE_IDX}"
                                            th:text="${dept.BASE_NAME}">
                                    </option>
                                </select>
                            </div>
                        </label>

                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="이메일"></strong>
                            <div class="item_content">
                                <input id="e_mail" name = "EMAIL" type="email" class="cui_text_field" reqcheck="reqcheck" data-messages="Email를 입력하세요." messages="">
                            </div>
                        </label>

                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="구분"></strong>
                            <div class="item_content">
                                <select id="user_level" name = "USER_LEVEL" class="cui_select_field wide">
                                    <option value="100" data-langsid="관리자"></option>
                                    <option value="1" data-langsid="사용자"></option>
                                </select>
                            </div>
                        </label>

                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="상태"></strong>
                            <div class="item_content">
                                <select id="user_status" name = "USER_STATUS" class="cui_select_field wide">
                                    <option value="Y" data-langsid="사용"></option>
                                    <option value="N" data-langsid="미사용"></option>
                                </select>
                            </div>
                        </label>

                        <div class="cui_grid_wrap_member_b" >
                            <table class="cui_checkbox_group" style="width: 100%; table-layout: fixed;">
                                <tr>
                                    <td id="tditdm1" style="width: 45%;">
                                        <div class="cui_items_wrap" data-direction="column" style="flex: 1; margin-right: 10px;">
                                            <div class="item_label"><span>Audit Management</span></div>
                                            <div class="item_content">

                                                <div id = "chkIos" >
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_iso_yn_01" name = "MANAGE_ISO_YN_01"><i></i><span data-langsid="ISO/노동환경"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_iso_yn_02" name = "MANAGE_ISO_YN_02"><i></i><span data-langsid="ISO/환경안전(평택공장)"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_iso_yn_03" name = "MANAGE_ISO_YN_03"><i></i><span data-langsid="ISO/환경안전(신흥공장)"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_iso_yn_04" name = "MANAGE_ISO_YN_04"><i></i><span data-langsid="ISO/환경안전(삼기공장)"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_iso_yn_05" name = "MANAGE_ISO_YN_05"><i></i><span data-langsid="ISO/품질체계/분쟁.책임광물(반도체)"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_iso_yn_06" name = "MANAGE_ISO_YN_06"><i></i><span data-langsid="ISO/품질체계/분쟁.책임광물(첨단소재)"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_iso_yn_07" name = "MANAGE_ISO_YN_07"><i></i><span data-langsid="ISO/품질체계/분쟁.책임광물(첨단-삼기)"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_iso_yn_08" name = "MANAGE_ISO_YN_08"><i></i><span data-langsid="ISO/품질체계/분쟁.책임광물(옵티칼)"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_iso_yn_09" name = "MANAGE_ISO_YN_09"><i></i><span data-langsid="ISO/품질체계/분쟁.책임광물(통신디바이스)"></span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td id ="tditdm2" style="width: 30%;align-content: baseline;">
                                        <div id = "chkmiddle" class="cui_items_wrap" data-direction="column"  style="flex: 1; margin-right: 5px;">

                                            <div class="item_label"><span>Part Management</span></div>
                                            <div class="item_content">

                                                <div id = "chkCoa" style="display: flex; flex-direction: column;">
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_part_yn" name = "MANAGE_PART_YN"><i></i><span data-langsid="PART 관리자"></span></label>
                                                </div>
                                            </div>
                                            <div class="item_label"><span> </span></div>
                                            <div class="item_label"><span data-langsid="CoA 관리"></span></div>
                                            <div class="item_content" >

                                                <div id = "chkCoa2" class="cui_checkbox_group"  style="display: flex; flex-direction: column;" data-direction="column">
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_coa_yn_01" name = "MANAGE_COA_YN_01"><i></i><span data-langsid="COA 반도체"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_coa_yn_02" name = "MANAGE_COA_YN_02"><i></i><span data-langsid="COA 첨단소재"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_coa_yn_03" name = "MANAGE_COA_YN_03"><i></i><span data-langsid="COA 첨단-삼기"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_coa_yn_04" name = "MANAGE_COA_YN_04"><i></i><span data-langsid="COA 통신디바이스"></span></label>
                                                </div>
                                            </div>

                                        </div>
                                    </td>

                                    <td id ="tditdm3" style="width: 25%;align-content: baseline;">
                                        <div id = "chkend"  class="cui_items_wrap" data-direction="column"  style="flex: 1; margin-right: 5px;">

                                            <div class="item_label"><span data-langsid="변경점 관리"></span></div>
                                            <div class="item_content" >

                                                <div id = "chkchange" class="cui_checkbox_group"  style="display: flex; flex-direction: column;" data-direction="column">
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_change_yn_01" name = "MANAGE_CHANGE_YN_01"><i></i><span data-langsid="변경점관리 반도체"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_change_yn_02" name = "MANAGE_CHANGE_YN_02"><i></i><span data-langsid="첨단소재"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_change_yn_03" name = "MANAGE_CHANGE_YN_03"><i></i><span data-langsid="첨단-삼기"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_change_yn_04" name = "MANAGE_CHANGE_YN_04"><i></i><span data-langsid="옵티칼"></span></label>
                                                    <label class="cui_checkbox"><input type="checkbox" id="manage_change_yn_05" name = "MANAGE_CHANGE_YN_05"><i></i><span data-langsid="통신디바이스"></span></label>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="cui_items_wrap" data-direction="center">
                            <div class="item_content">
                                <button type="button" id="userinfoAdd" class="cui_button primary" onclick="save();"><span data-langsid="저장"></span></button>
                                <button type="button" id="userinfoPop" class="cui_button secondary" dialogBtn="close"><span data-langsid="닫기"></span></button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>


<script>

  var ListSearch = function () {
       var url = "/userMgr/getUserInfo";

       var ReqInfo = new Common.RequestInfo();
       ReqInfo.AddParameter($("#searchArea"));

       Common.Ajax(url, ReqInfo, function (data) {
           var dataJson = JSON.parse(data);

           for (var i = 0; i < dataJson.length; i++) {

               if (dataJson[i].user_STATUS == "Y") {
                   dataJson[i].user_STATUS = siteLang.getLang("사용");
               } else {
                   dataJson[i].user_STATUS = siteLang.getLang("미사용");
               }
           }

           $("#gridArea").pqGrid("option", "dataModel.data", dataJson);
           $("#gridArea").pqGrid("refreshView");
       }, { contentType : "application/json" });
   }


      var addOpen = function () {
            initPopform("I");
            Common.Dialog({ obj : $("#dialogUserUpdate"), blockClose : false });
        }

     function initPopform(type) {

        if(type =="U"){
            document.getElementById('popTitle').innerHTML =  siteLang.getLang("사용자 수정");
            document.getElementById('user_id').readOnly = true ;
            document.getElementById('user_name').readOnly = true ;
            document.getElementById('info_flag').value = "U";

            document.getElementById('user_pwd').value = "" ;
            document.getElementById('userPWD').style.display = 'none';
            document.getElementById('user_pwd').removeAttribute('reqcheck');

        }else{
            document.getElementById('info_flag').value = "I";
            document.getElementById('popTitle').innerHTML = siteLang.getLang("사용자 등록");
            document.getElementById('user_id').readOnly = false ;
            document.getElementById('user_name').readOnly = false ;
            document.getElementById('e_mail').value = "";
            document.getElementById('user_id').value = "" ;
            document.getElementById('user_name').value = "" ;
            document.getElementById('user_pwd').value = "" ;
            document.getElementById('userPWD').style.display = '';
            document.getElementById('user_pwd').setAttribute('reqcheck', 'reqcheck');

            $('#manage_iso_yn_01').prop('checked',false);
            $('#manage_iso_yn_02').prop('checked',false);
            $('#manage_iso_yn_03').prop('checked',false);
            $('#manage_iso_yn_04').prop('checked',false);
            $('#manage_iso_yn_05').prop('checked',false);
            $('#manage_iso_yn_06').prop('checked',false);
            $('#manage_iso_yn_07').prop('checked',false);
            $('#manage_iso_yn_08').prop('checked',false);
            $('#manage_iso_yn_09').prop('checked',false);

            $('#manage_part_yn').prop('checked', false);

            $('#manage_coa_yn_01').prop('checked',false);
            $('#manage_coa_yn_02').prop('checked',false);
            $('#manage_coa_yn_03').prop('checked',false);
            $('#manage_coa_yn_04').prop('checked',false);

            $('#manage_change_yn_01').prop('checked', false);
            $('#manage_change_yn_02').prop('checked', false);
            $('#manage_change_yn_03').prop('checked', false);
            $('#manage_change_yn_04').prop('checked', false);
            $('#manage_change_yn_05').prop('checked', false);
        }
    }


      function save() {
        var Validator = true ;
        var IdValidatorMsg ="";

        if(document.getElementById('info_flag').value == "I"){
         Validator = false ;
         const user_id = document.getElementById('user_id').value ;
         const user_name = document.getElementById('user_name').value ;
         const user_pwd = document.getElementById('user_pwd').value ;

            if (Common.Validate($("#dialogUserUpdate")) == false){
                return;
            }


            // 정규식: 6자리 이상 숫자와 영문 (대문자 또는 소문자) 포함
            const regex = /^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{6,}$/;

            if (!regex.test(user_pwd)) {
                IdValidatorMsg = siteLang.getLang("비밀번호는 6자리 이상의 숫자와 영문자로만 구성되어야 합니다.") ;
                Common.Msg(IdValidatorMsg);
                $('#user_pwd').focus();
                return;
            }

            // 영어 또는 숫자 외의 값을 입력했을 경우
            if(onlyNumberAndEnglish(user_id) === false) {
                IdValidatorMsg = siteLang.getLang("아이디는 영어 또는 숫자만 가능합니다.");
                Common.Msg(IdValidatorMsg);
                $('#user_id').focus();
            }
            // 글자 수가 4~12글자가 아닐 경우
            else if(idLength(user_id) === false) {
                IdValidatorMsg =    siteLang.getLang("아이디는 6~12글자이어야 합니다.");
                Common.Msg(IdValidatorMsg);
                $('#user_id').focus();
            }
            // 조건을 모두 만족할 경우
            else if(idLength(user_id) || onlyNumberAndEnglish(user_id)) {
                document.getElementById('user_idx').value = 0;

                memberIDCheck(user_id).then(function(isValid) {
                    if (isValid) {

                       $.ajax({
                            type: "post",
                            url: "/userMgr/updateUserMgr",
                            data: $('#updateForm').serialize(),
                            success: function(response) {
                               Common.Msg(siteLang.getLang("사용자 정보가 추가 되었습니다."));
                               $("#dialogUserUpdate").data("Hide")();
                               ListSearch();
                            },
                            error: function(err) {
                                console.log("에러발생", err);
                                Common.Msg(err);
                            }
                        });
                    }
                });
            }
        }else{
            if ( Common.Validate( $("#dialogUserUpdate") ) == true){
                 $.ajax({
                    type: "post",
                    url: "/userMgr/updateUserMgr",
                    data: $('#updateForm').serialize(),
                    success: function(response) {
                       Common.Msg(siteLang.getLang("사용자 정보가 수정되었습니다."));
                       $("#dialogUserUpdate").data("Hide")();
                       ListSearch();
                    },
                    error: function(err) {
                        console.log("에러발생", err);
                        Common.Msg(err);
                    }
                });
            }
        }
    }


    //2-1. 아이디 : 글자 수 제한 (6글자 이상, 12글자 이하)
    function idLength(value) {
      return value.length >= 6 && value.length <= 12
    }
    //6글자 이상 또는 12글자 이하인 경우 true, 아니면 false를 리턴한다.


    //2-2. 아이디 : 영어 또는 숫자만 가능
    function onlyNumberAndEnglish(str) {
      return /^[A-Za-z0-9][A-Za-z0-9]*$/.test(str);
    }

   function memberIDCheck(searchID) {
    return new Promise(function(resolve, reject) {
        $.ajax({
            type: "post",
            url: "/member/id-check",
            data: {
                "memberID": searchID
            },
            success: function(res) {
                if (res == "ok") {
                    resolve(true);
                } else {
                    Common.Msg(siteLang.getLang("동일한 아이디가 존재합니다."));
                    $('#user_id').focus();
                    resolve(false);
                }
            },
            error: function(err) {
                console.log("에러발생", err);
                reject(err);
            }
        });
    });
}


    function getUserData(userid) {

        const deptSelect = $('#dept_code');
        const levelSelect = $('#user_level');
        const userStatusSelect = $('#user_status');


        document.getElementById('user_id').readOnly = true;
        document.getElementById('user_name').readOnly = true;

        $.ajax({
            type: "POST",
            url: "/userMgr/getUserInfoByID",
            contentType: "application/json",
            data: JSON.stringify({ "USER_ID": userid }),
            success: function(res) {

                if (res) {
                    document.getElementById('user_id').value = res.user_ID;
                    document.getElementById('user_idx').value = res.user_IDX;
                    document.getElementById('user_name').value = res.user_NAME;
                    document.getElementById('e_mail').value = res.email;

                    //document.getElementById('dept_code').value = res.dept_CODE;
                    //document.getElementById('user_level').value = res.user_LEVEL;
                    //document.getElementById('manage_system_yn').value = res.manage_SYSTEM_YN;

                    //이름으로
                    deptSelect.find('option').filter(function() {
                        return $(this).text() === res.dept_CODE;
                    }).prop('selected', true);

                    levelSelect.find('option').filter(function() {
                        return $(this).text() === res.user_LEVEL;
                    }).prop('selected', true);

                    userStatusSelect.find('option').filter(function() {
                        return $(this).text() === res.user_STATUS;
                    }).prop('selected', true);

                    $('#manage_iso_yn_01').prop('checked', res.manage_ISO_YN_01 === 'Y');
                    $('#manage_iso_yn_02').prop('checked', res.manage_ISO_YN_02 === 'Y');
                    $('#manage_iso_yn_03').prop('checked', res.manage_ISO_YN_03 === 'Y');
                    $('#manage_iso_yn_04').prop('checked', res.manage_ISO_YN_04 === 'Y');
                    $('#manage_iso_yn_05').prop('checked', res.manage_ISO_YN_05 === 'Y');
                    $('#manage_iso_yn_06').prop('checked', res.manage_ISO_YN_06 === 'Y');
                    $('#manage_iso_yn_07').prop('checked', res.manage_ISO_YN_07 === 'Y');
                    $('#manage_iso_yn_08').prop('checked', res.manage_ISO_YN_08 === 'Y');
                    $('#manage_iso_yn_09').prop('checked', res.manage_ISO_YN_09 === 'Y');

                    $('#manage_part_yn').prop('checked', res.manage_PART_YN === 'Y');

                    $('#manage_coa_yn_01').prop('checked', res.manage_COA_YN_01 === 'Y');
                    $('#manage_coa_yn_02').prop('checked', res.manage_COA_YN_02 === 'Y');
                    $('#manage_coa_yn_03').prop('checked', res.manage_COA_YN_03 === 'Y');
                    $('#manage_coa_yn_04').prop('checked', res.manage_COA_YN_04 === 'Y');

                    $('#manage_change_yn_01').prop('checked', res.manage_CHANGE_YN_01 === 'Y');
                    $('#manage_change_yn_02').prop('checked', res.manage_CHANGE_YN_02 === 'Y');
                    $('#manage_change_yn_03').prop('checked', res.manage_CHANGE_YN_03 === 'Y');
                    $('#manage_change_yn_04').prop('checked', res.manage_CHANGE_YN_04 === 'Y');
                    $('#manage_change_yn_05').prop('checked', res.manage_CHANGE_YN_05 === 'Y');

                } else {
                    alert("사용자 정보를 찾을 수 없습니다.");
                }
            },
            error: function(err) {
                console.log("에러 발생", err);
            }
        });
    }


$(function () {
    var heightMinus = 330;

    var data = [];

    var obj = {
        bubble: false,
        numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35 },
        editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
        editModel: { clicksToEdit: 2 },
        selectionModel: { type: 'cell', mode: 'block' },
        height: $(window).height() - heightMinus,
        title: "",
        sortable: false,
        resizable: true,
        menuIcon: true,
        scrollModel: { autoFit: false },
        hoverMode: 'row',
        rowHtHead: 30,
        //rowHt:30,
        roundCorners: false,
        rowBorders: true,
        showBottom: true,
        showHeader: true,
        showTitle: true,
        showTop: false, //excel 버튼 보이기
        showToolbar: false,
        stripeRows: false,
        wrap: false,
        autoAddRow: false,
        freezeCols:0,
        autoRow: false,
        autoRowHead: false,
        rowInit: function () {
            return { style: 'font-size:12px;' };
        },
        selectChange: function (event, ui) {
        },
        rowClick: function (event, ui) {
        },
        cellClick: function (event, ui) {
        },
        rowDblClick: function (event, ui) {
            var data = ui.rowData;
            const user_ID = data.user_ID ;
            initPopform('U') ;
            getUserData(user_ID);
            Common.Dialog({ obj : $("#dialogUserUpdate"), blockClose : false });
        },
        rowSelect: function (event, ui) {
        },
        open: function () {
        },
        headerCellClick: function (event, ui) {
        }
    };
    obj.colModel = [

        { data_langsid: "아이디", title: siteLang.getLang("아이디"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "user_ID", sortable: true, editor: false, editable: false },
        { data_langsid: "이름", title: siteLang.getLang("이름"), width: 200, halign: "center", align: "left", dataType: "string", dataIndx: "user_NAME", sortable: true, editor: false, editable: false },
        { data_langsid: "사업부", title: siteLang.getLang("사업부"), width: 200, halign: "center", align: "center", dataType: "string", dataIndx: "dept_CODE", sortable: true, editor: false, editable: false },
        { data_langsid: "이메일", title: siteLang.getLang("이메일"), width: 250, halign: "center", align: "center", dataType: "string", dataIndx: "email", sortable: true, editor: false, editable: false },
        { data_langsid: "구분", title: siteLang.getLang("구분"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "user_STATUS", sortable: true, editor: false, editable: false },
        { data_langsid: "등록일", title: siteLang.getLang("등록일"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "reg_DATE", sortable: true, editor: false, editable: false }
    ];
    obj.dataModel = { data: data };
    $("#gridArea").pqGrid(obj);
    $("#gridArea").attr("gridYN", "Y");

    $(window).resize(function () {
            $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus);
            $("#gridArea").pqGrid("refreshView");
    });
           ListSearch();
});


    $(document).ready(function() {
       ListSearch();
    });


   function downloadExcel() {
        var grid = $("#gridArea").pqGrid("instance");
        var colModel = grid.getColModel();
        colModel[0].hidden = true;

        grid.exportData({
            url: "/common/exportData",
            format: "xlsx",
            zip: false,
            filename: "USER_INFO" + Common.GetTodayTimeString(),
            render: true
        });

        colModel[0].hidden = false;
   }

</script>



</html>

