<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>노동환경</title>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span data-langsid="노동환경">노동환경</span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form id="searchForm" method="get">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap " id="searchArea">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체코드"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchCode" name="searchCode" search="searchBtn" placeholder=""/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체명"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchName" name="searchName" search="searchBtn" placeholder=""/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="승인상태"></strong>
                            <div class="item_content">
                                <select class="cui_select_field" id="searchState" name="searchState" onchange="ListSearch();">
                                    <option value="" selected></option>
                                    <option value="SEND" data-langsid="제출"></option>
                                    <option value="APPROVE" data-langsid="승인"></option>
                                    <option value="REJECT" data-langsid="반려"></option>
                                </select>
                            </div>
                            <input type="hidden" id="searchType" name="searchType" value="LABOUR"/>
                        </div>
                    </div>
                    <div class="search_action">
                        <button type="submit" class="cui_button primary search_btn" id="searchBtn" onclick="ListSearch();"><span data-langsid="검색"></span></button>
                    </div>
                </div>
            </form>
            <div class="cui_jqGrid_section">
                <div class="cui_jqGrid_head">
                    <div class="jqGrid_label"> &nbsp;</div>
                    <div class="jqGrid_aside">
                        <button type="button" class="cui_button endpoint" data-cui-icon="download" onclick="downloadExcel();"><span data-langsid="엑셀 다운로드"></span></button>
                    </div>
                </div>
                <div class="cui_jqGrid_body" id="Grid">
                    <div id="gridArea" gridYN=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
var ListSearch = function () {
    var url = "/auditMgmt/searchAuditMgmt";

    var ReqInfo = new Common.RequestInfo();
    ReqInfo.AddParameter($("#searchArea"));

    Common.Ajax(url, ReqInfo, function (data) {
        var dataJson = JSON.parse(data);

        $("#gridArea").pqGrid("option", "dataModel.data", dataJson);
        $("#gridArea").pqGrid("refreshView");
    });
}

$(function () {
    var heightMinus = 330;
    var data = [];

    var RowColorChg = function (ui) {

        var data = ui.rowData;
        var rowStatus = data.APPROVE_STATE;

        if (rowStatus == "SEND") {
            return { style: "background-color:#A9E2F3" } ; //하늘색
        } else if (rowStatus == "REJECT") {
            return { style: "background-color:#F5A9A9" } ; //핑크
        } else if (rowStatus == "APPROVED" ) {
            return { style: "background-color:#FFFFFF" } ;
        }
    }

    var obj = {
        bubble: false,
        numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35, style: 'border-right:1px' },
        editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
        editModel: { clicksToEdit: 2 },
        selectionModel: { type: 'cell', mode: 'block' },
        height: $(window).height() - heightMinus - $(".cui_search").height(),
        title: "",
        sortable: false,
        resizable: true,
        menuIcon: false,
        scrollModel: { autoFit: false },
        hoverMode: 'row',
        roundCorners: false,
        rowBorders: true,
        showBottom: false,
        showHeader: true,
        showTitle: true,
        showTop: false,
        showToolbar: true,
        stripeRows: false,
        wrap: false,
        autoAddRow: false,
        freezeCols:0,
        autoRow: false,
        autoRowHead: false,
        rowHt:25,
        rowInit: function () {
            return { style: 'font-size:12px;' };
        },
        selectChange: function (event, ui) {
        },
        rowClick: function (event, ui) {
        },
        cellClick: function (event, ui) {
        },
        rowDblClick: function (event, ui) {
            var data = ui.rowData;
            const cpcode = data.COM_CODE ;
            loadPage(cpcode) ;
        },
        rowSelect: function (event, ui) {
        },
        open: function () {
        },
        headerCellClick: function (event, ui) {
        }
    };
    obj.colModel = [
        { data_langsid: "승인상태", title: siteLang.getLang("승인상태"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "APPROVE_STATE", sortable: false, editor: false, editable: false,render: RowColorChg },
        { data_langsid: "업체코드", title: siteLang.getLang("업체코드"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "COM_CODE", sortable: false, editor: false, editable: false ,render: RowColorChg},
        { data_langsid: "업체명", title: siteLang.getLang("업체명"), width: 350, halign: "center", align: "left", dataType: "string", dataIndx: "COM_NAME", sortable: false, editor: false, editable: false,render: RowColorChg },
        { data_langsid: "점수", title: siteLang.getLang("점수"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "POINT", sortable: false, editor: false, editable: false,render: RowColorChg },
        { data_langsid: "제출일자", title: siteLang.getLang("제출일자"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "SEND_DATE", sortable: false, editor: false, editable: false,render: RowColorChg },
        { data_langsid: "승인일자", title: siteLang.getLang("승인일자"), hidden : false, width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "APPROVE_DATE", sortable: false, editor: false, editable: false,render: RowColorChg }
    ];
    obj.dataModel = { data: data };
    $("#gridArea").pqGrid(obj);
    $("#gridArea").attr("gridYN", "Y");

    $(window).resize(function () {
        $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus);
        $("#gridArea").pqGrid("refreshView");
    });

});

$(document).ready(function() {
    ListSearch();
});

function loadPage(cpcode) {
      const url = "/admin/auditMgmt/labourHRDetail?COM_CODE=" + cpcode  ;
      location.href = url;
}
var downloadExcel = function () {
    var grid = $("#gridArea").pqGrid("instance");
    var colModel = grid.getColModel();
    colModel[0].hidden = true;

    grid.exportData({
        url: "/common/exportData",
        format: "xlsx",
        zip: false,
        filename: "COMPANY_CODE_" + Common.GetTodayTimeString(),
        render: true
    });

    colModel[0].hidden = false;
}
</script>