<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span th:text="${companyAuthFile.COM_NAME}"></span></h2>
            </div>
            <div class="head_aside">
                <p><span id="authState"></span></p>
            </div>
        </div>
        <div class="cui_body">
            <form class="cui_form_section" data-legend="true">
                <fieldset>
                    <legend><span>노동환경/윤리경영 (배점 10점)</span></legend>
                    <table class="cui_table">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>파일 첨부</span></th>
                        </tr>
                        <tr>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <div class="cui_attachments">
                                            <div class="cui_items_wrap" data-direction="left">
                                                <div class="item_label" data-cui-icon="paperclip"><span id="downFileName"></span></div>
                                                <div class="item_content">
                                                    <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드" id="downloadButton" onclick="downloadFile()"><span>다운로드</span></button>
                                                    <button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제" id="deleteButton" onclick="clearFile(this)" style="display: none;"><span>삭제</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
            <div class="cui_items_wrap" data-direction="right">
                <div class="item_content">
                    <span>평가점수 0 ~ 10 점</span>
                </div>
            </div>
            <form class="cui_border_section" data-legend="true">
                <div class="cui_section" th:unless="${#lists.isEmpty(auditItems)}">
                    <div class="cui_bullet_title">
                        <div class="bullet_title_label">
                            <span>평가 문항</span>
                        </div>
                    </div>
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:120px;">
                            <col>
                            <col style="width:300px;">
                            <col style="width:200px;">
                            <col style="width:100px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>항목</span></th>
                            <th><span>내용</span></th>
                            <th><span>답변 가이던스</span></th>
                            <th><span>평가점수</span></th>
                            <th><span>답변</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data, iterStat : ${auditItems}">
                            <td><span th:text="${data.AUDIT_ITEM}"></span></td>
                            <td><span th:text="${data.AUDIT_DESC}"></span></td>
                            <td><span th:text="${data.AUDIT_CRITERIA}"></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cui_section" id="resultField">
                    <div class="cui_bullet_title">
                        <div class="bullet_title_label"><span>결과</span></div>
                    </div>
                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:154px;">
                            <col>
                            <col style="width:154px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>점수</span></th>
                            <td></td>
                            <th><span>처리결과</span></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th><span>처리자</span></th>
                            <td></td>
                            <th><span>처리일자</span></th>
                            <td></td>
                        </tr>
                        <tr id="rejectReason">
                            <th><span>반려사유</span></th>
                            <td colspan="3"><textarea rows="2" style="width:100%"></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cui_items_wrap" data-direction="right">
                    <div class="item_content">
                        <button type="submit" class="cui_button primary"><span>승인</span></button>
                        <button type="submit" class="cui_button primary"><span>반려</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#resultField').hide();
        $('#rejectReason').hide();

        $('#authState').text('');
        loadInfo();
    });

    //입력 파일 출력
    function loadInfo(){
        var dataSize = [[${companyAuthFile != null ? 1 : 0}]];
        if (dataSize > 0) {
            var state = '[[${companyAuthFile.APPROVE_STATE != null ? companyAuthFile.APPROVE_STATE : ''}]]';
            if (state !== '') {
                var fileName = '[[${companyAuthFile.FILE_NAME}]]';
                $('#downFileName').text(fileName);
                $('#deleteButton').css("display", "block");

                var approvedDate = '[[${companyAuthFile.APPROVE_DATE}]]';
                if (state === 'SEND') {
                    $('#authState').text('[제출:' +approvedDate+']');
                    $('#deleteButton').css("display", "none");
                    $('.resultField').show();
                    $('#sendAuth').hide();
                }
            }
        }
    }

    //파일다운로드
    function downloadFile() {
        var fileName = '[[${companyAuthFile.FILE_NAME}]]';
        var url = "/auditMgmt/getIsoAuthFileDown?filename=" + encodeURIComponent(fileName);

        var link = document.createElement("a");
        link.href = url;
        link.download = fileName;  // Optionally set the download filename if needed

        document.body.appendChild(link);

        link.click();

        document.body.removeChild(link);
    }
</script>
</body>
</html>