<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span th:text="${companyAuthFile.COM_NAME}"></span></h2>
            </div>
            <div class="head_aside">
                <p><span id="authState"></span></p>
            </div>
        </div>
        <div class="cui_body">
            <form class="cui_form_section" data-legend="true">
                <fieldset>
                    <legend><span>노동환경/윤리경영 (배점 10점)</span></legend>
                    <table class="cui_table" th:unless="${companyAuthFile == null}">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>파일 첨부</span></th>
                        </tr>
                        <tr>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <div class="cui_attachments">
                                            <div class="cui_items_wrap" data-direction="left">
                                                <div class="item_label" data-cui-icon="paperclip"><span id="downFileName"></span></div>
                                                <div class="item_content">
                                                    <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드" id="downloadButton" onclick="downloadFile()"><span>다운로드</span></button>
                                                    <button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제" id="deleteButton" onclick="clearFile(this)" style="display: none;"><span>삭제</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
            <div class="cui_items_wrap" data-direction="right">
                <div class="item_content">
                    <span>평가점수 0 ~ 10 점</span>
                </div>
            </div>
            <form data-legend="true">
                <div class="cui_section">
                    <div class="cui_bullet_title">
                        <div class="bullet_title_label">
                            <span>평가 문항</span>
                        </div>
                    </div>
                    <table class="cui_table" id="itemTable">
                        <colgroup>
                            <col style="width:90px;">
                            <col style="width:150px;">
                            <col style="width:260px;">
                            <col style="width:180px;">
                            <col style="width:120px;">
                            <col style="width:100px;">
                            <col style="width:70px;">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>구분</span></th>
                            <th><span>항목</span></th>
                            <th><span>내용</span></th>
                            <th><span>답변 가이던스</span></th>
                            <th><span>평가 기준</span></th>
                            <th><span>평가</span></th>
                            <th><span>점수</span></th>
                            <th><span>근거자료</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:unless="${#lists.isEmpty(auditItemPoint)}" th:each="data, iterStat : ${auditItemPoint}">
                            <td><span th:text="${data.PROVISION}"></span></td>
                            <td><span th:text="${data.AUDIT_ITEM}"></span></td>
                            <td><span th:text="${data.AUDIT_DESC}"></span></td>
                            <td style="text-align: left;"><span th:utext="${data.AUDIT_CRITERIA}"></span></td>
                            <td style="text-align: left;"><span th:utext="${data.POINT_CRITERIA}"></span></td>
                            <td><span></span></td>
                            <td style="text-align: right;"><span th:text="${data.POINT}"></span></td>
                            <td>
                                <input type="text" name="AUDIT_COMMENT" class="cui_text_field"  th:value="${data.AUDIT_COMMENT}">
                                <input type="hidden" name="AUDIT_ID" th:value="${data.AUDIT_ID}">
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" style="text-align: right;">Total</td>
                            <td id="totalPoint"></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:154px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>승인의견</span></th>
                            <td><textarea  id="approveComment" name="approveComment" rows="5" style="width:100%" th:text="${companyAuth.REASON}"></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cui_section" id="resultField" th:if="${companyAuth.APPROVE_STATE != 'SEND'}">
                    <div class="cui_bullet_title">
                        <div class="bullet_title_label"><span>결과</span></div>
                    </div>
                    <table class="cui_table center">
                        <colgroup>
                            <col style="width:154px;">
                            <col>
                            <col style="width:154px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>점수</span></th>
                            <td><span th:text="${companyAuth.POINT}">0</span> / 20</td>
                            <th><span>처리결과</span></th>
                            <td><span th:text="${companyAuth.APPROVE_STATE}"></span></td>
                        </tr>
                        <tr>
                            <th><span>처리자</span></th>
                            <td><span th:text="${companyAuth.UP_DW_USER_IDX}"></span></td>
                            <th><span>처리일자</span></th>
                            <td><span th:text="${companyAuth.APPROVE_DATE}"></span></td>
                        </tr>
                        <tr id="rejectReason" th:if="${companyAuth.APPROVE_STATE == 'REJECT'}">
                            <th><span>반려사유</span></th>
                            <td colspan="3"><textarea rows="5" style="width:100%" th:text="${companyAuth.REASON}"></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cui_items_wrap" data-direction="right" th:if="${companyAuth.APPROVE_STATE == 'SEND'}">
                    <div class="item_content">
                        <button type="button" class="cui_button primary" th:onclick="approveAuth([[${companyAuth.AUTH_SEQ}]])"><span>승인</span></button>
                        <button type="button" class="cui_button primary" th:onclick="rejectAuth([[${companyAuth.AUTH_SEQ}]])"><span>반려</span></button>
                    </div>
                </div>
            </form>
            <div class="cui_items_wrap" data-direction="right">
                <div class="item_content">
                    <button type="button" class="cui_button secondary" onClick="goList()"><span data-langsid="목록"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cui_dialog" style="width:600px;display:none;" id="Reason">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label"><span>반려 사유</span></div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" onClick="modal_close('Reason')"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <form class="cui_form_field" data-legend="true" id="formReason">
                    <input type="hidden" name="authCode">
                    <input type="hidden" name="COM_CODE">
                    <div class="cui_items_wrap" data-direction="center" >
                        <div class="item_content" style="padding: 10px;">
                            <label for="inputReason"></label><textarea class="cui_text_field" rows="5" style="width:100%;" id="inputReason"></textarea>
                        </div>
                    </div>
                    <div class="cui_items_wrap" data-direction="center">
                        <div class="item_content">
                            <button type="submit" id="ReasonAdd" class="cui_button primary"><span>저장</span></button>
                            <button type="button" id="ReasonPop" class="cui_button secondary" onClick="modal_close('Reason')"><span>닫기</span></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#resultField').hide();
        $('#rejectReason').hide();
        $('#authState').text('');
        loadInfo();

        // 평가기준에 맞게 Select box 표시 >> 선택된 값의 Total 점수 표시
        var totalScore = 0;
        $('#itemTable tbody tr').each(function(index, row) {
            var $cells = $(row).find('td'); // td 요소들을 jQuery 객체로 가져옴
            var thirdTdContent = $cells.eq(4).html() || '';  // 5번째 td의 내용을 가져오기
            var thirdTdContentStr = thirdTdContent.replace('<span>', '').replace('</span>', '');
            var lines = thirdTdContentStr.split('<br>');  // 내용을 줄 단위로 분리

            var $selectBox = $('<select></select>');  // select box 생성
            var $baseOption = $('<option></option>');
            $baseOption.val('');  // 빈값
            $baseOption.text('평가');
            $selectBox.append($baseOption);
            $selectBox.attr('name', 'selectPoint');
            // 각 줄을 옵션으로 변환하여 select box에 추가
            lines.forEach(function(line) {
                var cleanLine = line.replace('ㆍ', '').trim();  // "ㆍ" 문자를 제거하고 여백 제거
                var parts = cleanLine.split(':'); // " : "을 기준으로 분리

                if (parts.length === 2) {
                    var $option = $('<option></option>');
                    $option.val(parts[1].trim());  // 값 (예: 4)
                    $option.text(parts[0].trim());  // 텍스트 (예: Conformance)
                    $selectBox.append($option);
                } else if (parts.length === 1) {
                    var $option = $('<option></option>');
                    $option.val('');  // 값이 없으면 빈 값을 설정
                    $option.text(parts[0].trim());  // 항목 이름만 설정
                    $selectBox.append($option);
                }
            });

            // 5번째 td에 select box 추가
            $cells.eq(5).append($selectBox);
            // 6번째 td에 기존 점수가 있다면, 셀렉트 박스를 자동으로 설정
            var existingScore = $cells.eq(6).text().trim();  // 7번째 td에서 기존 점수를 가져옴
            var previousScore = 0;  // 기존 점수 저장용

            if (existingScore) {
                // 기존 점수와 일치하는 option을 셀렉트 박스에서 선택
                $selectBox.find('option').each(function() {
                    if ($(this).val() === existingScore) {
                        $(this).prop('selected', true);  // 값이 일치하면 해당 option을 선택
                        previousScore = parseFloat(existingScore);  // 기존 점수를 저장
                        return false;  // 루프 종료
                    }
                });
            }

            // 7번째 td에 초기 점수 추가 (선택된 값에 따라 점수 추가)
            if (previousScore) {
                totalScore += previousScore;  // 기존 점수를 총점에 추가
                $('#totalPoint').text(totalScore);
            }

            // change 이벤트 핸들러 추가
            $selectBox.on('change', function(event) {
                var selectedValue = $(event.target).val();  // 선택된 값
                var selectedScore = parseFloat(selectedValue);  // 숫자 값으로 변환

                // 만약 점수가 NaN이면 0으로 처리
                if (isNaN(selectedScore)) {
                    selectedScore = 0;
                }

                // 7번째 td에 선택된 값(점수) 표시
                $cells.eq(6).text(selectedScore);

                // 기존 점수 빼고 새로운 점수 더하기
                totalScore -= previousScore;  // 이전 점수 빼기
                totalScore += selectedScore;  // 새 점수 더하기
                $('#totalPoint').text(totalScore);  // 총점 갱신

                // 이전 점수를 업데이트
                previousScore = selectedScore;  // 새 점수로 업데이트
            });
        });
    });

    //입력 파일 출력
    function loadInfo(){
        var dataSize = [[${companyAuthFile != null ? 1 : 0}]];

        if (dataSize > 0) {
            var state = '[[${companyAuthFile.APPROVE_STATE != null ? companyAuthFile.APPROVE_STATE : ''}]]';
            if (state != '') {
                var fileName = '[[${companyAuthFile.FILE_NAME}]]';
                $('#downFileName').text(fileName);
                $('#deleteButton').css("display", "block");

                var approvedDate = '[[${companyAuthFile.APPROVE_DATE}]]';
                if(state == 'SEND'){
                    $('#authState').text('[제출:' +approvedDate+']');
                }
                if(state == 'APPROVED'){
                    $('#authState').text('[승인:' +approvedDate+']');
                }
                $('#deleteButton').css("display", "none");
                $('#resultField').show();

            }
        }
    }

    //파일다운로드
    function downloadFile() {
        var fileName = '[[${companyAuthFile.FILE_NAME}]]';
        var url = "/auditMgmt/getAuditFileDown?filename=" + encodeURIComponent(fileName);

        var link = document.createElement("a");
        link.href = url;
        link.download = fileName;  // Optionally set the download filename if needed

        document.body.appendChild(link);
        link.click();

        document.body.removeChild(link);
    }


    // 반려 버튼 클릭시 반려사유 입력
    function rejectAuth(key){
        Common.Dialog({ obj : $("#Reason"), blockClose : false });
        $('input[name="authCode"]').val(key);
        $('input[name="COM_CODE"]').val(`[[${companyAuth.COM_CODE}]]`);
    }

    // 공통 저장 처리
    function updateAuthData(state, reason, authSeq, point) {
        const formData = new FormData();
        const tableData = [];
        const comCode = `[[${companyAuth.COM_CODE}]]`;  // 회사 코드
        const type = 'LABOUR';

        $("#itemTable tbody tr").each(function() {
            var row = {};
            var fileCnt = {};
            row['POINT'] = $(this).find('td').eq(6).text();
            row['AUDIT_COMMENT'] = $(this).find('input[name="AUDIT_COMMENT"]').val() || '';
            row['AUDIT_ID'] = $(this).find('input[name="AUDIT_ID"]').val();

            console.log("insert data"+row['AUDIT_ID']);
            tableData.push(row);
        });
        formData.append('data', JSON.stringify(tableData));  // 테이블 데이터를 JSON으로 직렬화하여 전송
        formData.append('reason', reason);
        formData.append('state', state);
        formData.append('com_code', comCode);
        formData.append('auth_seq', authSeq);
        formData.append('auth_type', type);
        formData.append('point', point);

        $.ajax({
            url: '/auditMgmt/setAuthData',  // 서버의 API URL
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                // 상태만 변경
                $('div[name="stateField"]').text(state); // 상태 표시 업데이트
                showAlert('success', '데이터가 성공적으로 저장되었습니다.');
                setTimeout(function() {
                    location.reload();  // 승인 시 페이지 새로고침
                }, 500);  // 500ms 후에 실행
            },
            error: function() {
                showAlert('warning', '정보를 가져오는 데 실패했습니다.');
            }
        });  // $.ajax 호출 끝
    }

    // 반려 사유 저장
    $('#ReasonAdd').on('click', function() {
        const authSeq = $('input[name="authCode"]').val();
        const inputReason = $('#inputReason').val();  // 반려사유
        const state = 'REJECT';
        updateAuthData(state, inputReason, authSeq, 0.0);
    });

    // 승인 버튼 클릭시 승인 처리
    function approveAuth(key) {
        const authSeq = key;
        const state = 'APPROVED';
        const point = $('#totalPoint').text() != null ? $('#totalPoint').text() : 0;
        const approveComment = $('#approveComment').val();  // 반려사유
        updateAuthData(state, approveComment, authSeq, point);
    }

    function goList() {
        const url = "/admin/auditMgmt/labourHR";
        location.href = url;
    }
</script>
</body>
</html>