<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>노동환경 관리</title>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span th:text="${#authentication.principal.COM_NAME}"></span></h2>
            </div>
            <div class="head_aside">
                <p><span id="authState"></span></p>
            </div>
        </div>
        <div class="cui_body">
            <form class="cui_form_section" data-legend="true">
                <fieldset>
                    <legend><span>노동환경/윤리경영 (배점 10점)</span></legend>
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:200px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>제출 구분</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <label class="cui_checkbox"><input type="radio" name="chkType" value="file" checked><i></i><span>파일첨부</span></label>
                                        <label class="cui_checkbox"><input type="radio" name="chkType" value="text"><i></i><span>직접입력</span></label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset id="fs_file">
                    <div class="cui_items_wrap" data-direction="right">
                        <div class="item_content">
                            <button type="submit" class="cui_button secondary" onclick ="downSampleFile()"><span>양식다운로드</span></button>
                        </div>
                    </div>
                    <table class="cui_table" id="attachTable">
                        <colgroup>
                            <col style="width:200px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>파일 첨부</span></th>
                            <td id="attachmentsContainer">
                                <div class="cui_attachments" th:if="${companyAuthFile == null}">
                                    <input type="file" class="cui_file_field" name="file">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_label" data-cui-icon="paperclip"><span id="downFileName"></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드" id="downloadButton" onclick="downloadFile()"><span>다운로드</span></button>
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제" id="deleteButton" onclick="clearFile(this)" style="display: none;"><span>삭제</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="cui_attachments" th:unless="${companyAuthFile == null}">
                                    <div class="cui_items_wrap" data-direction="left" th:each="file : ${companyAuthFile}">
                                        <div class="item_label" data-cui-icon="paperclip"><span th:text="${file.FILE_NAME}"></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드" th:onclick="downloadFile([[${file.FILE_NAME}]])"><span >다운로드</span></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset id="fs_text">
                    <div class="cui_items_wrap" data-direction="right">
                        <div class="item_content">
                            <span>평가점수 0 ~ 10 점</span>
                        </div>
                    </div>
                    <form class="cui_border_section" data-legend="true">
                        <div class="cui_section">
                            <div class="cui_bullet_title">
                                <div class="bullet_title_label"><span>평가 항목</span></div>
                            </div>
                            <table class="cui_table" id="itemTable">
                                <colgroup>
                                    <col style="width:100px;">
                                    <col style="width:150px;">
                                    <col style="width:250px;">
                                    <col style="width:200px;">
                                    <col style="width:200px;">
                                    <col style="width:70px;">
                                    <col style="width:70px;">
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><span>구분</span></th>
                                    <th><span>항목</span></th>
                                    <th><span>내용</span></th>
                                    <th><span>답변 가이던스</span></th>
                                    <th><span>평가 기준</span></th>
                                    <th><span>평가</span></th>
                                    <th><span>점수</span></th>
                                    <th><span>근거자료</span></th>
                                </tr>
                                </thead>
                                <tbody th:if="${#lists.isEmpty(auditItemPoint)}">
                                <tr>
                                    <td colspan="8">등록된 정보가 없습니다.</td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr th:unless="${#lists.isEmpty(auditItemPoint)}" th:each="data, iterStat : ${auditItemPoint}">
                                    <td><span th:text="${data.PROVISION}"></span></td>
                                    <td><span th:text="${data.AUDIT_ITEM}"></span></td>
                                    <td><span th:text="${data.AUDIT_DESC}"></span></td>
                                    <td style="text-align: left;"><span th:utext="${#strings.replace(data.AUDIT_CRITERIA, '\n', '<br/>')}"></span></td>
                                    <td style="text-align: left;"><span th:utext="${#strings.replace(data.POINT_CRITERIA, '\n', '<br/>')}"></span></td>
                                    <td style="text-align: center;"></td>
                                    <td style="text-align: right;"  th:text="${data.POINT}"></td>
                                    <td>
                                        <input type="text" name="AUDIT_COMMENT" class="cui_text_field"  th:value="${data.AUDIT_COMMENT}">
                                        <input type="hidden" name="AUDIT_ID" th:value="${data.AUDIT_ID}">
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="6" style="text-align: right;">Total</td>
                                    <td id="totalPoint"></td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                            <table class="cui_table center" th:if="${companyAuth.APPROVE_STATE == 'APPROVED'}">
                                <colgroup>
                                    <col style="width:154px;">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th><span>승인의견</span></th>
                                    <td><textarea  id="approveComment" name="approveComment" rows="5" style="width:100%" th:text="${companyAuth.REASON}"></textarea></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </fieldset>
                <fieldset class="resultField">
                    <div class="cui_section" id="rejectReason" th:if="${companyAuth.APPROVE_STATE == 'REJECT'}">
                        <div class="cui_bullet_title">
                            <div class="bullet_title_label"><span>반려사유</span></div>
                        </div>
                        <div>
                            <textarea rows="5" style="width:100%" th:text="${companyAuth.REASON}"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="cui_items_wrap" data-direction="right">
                    <div class="item_content">
                        <button type="submit" class="cui_button primary" id="sendAuth"><span>제출</span></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#rejectReason').hide();
        $("#fs_text").hide(); //파일첨부가 초기값이므로
        $('.resultField').hide();


        // 평가기준에 맞게 Select box 표시 >> 선택된 값의 Total 점수 표시
        var totalScore = 0;
        $('#itemTable tbody tr').each(function(index, row) {
            var $cells = $(row).find('td'); // td 요소들을 jQuery 객체로 가져옴
            var thirdTdContent = $cells.eq(4).html() || '';  // 5번째 td의 내용을 가져오기
            var thirdTdContentStr = thirdTdContent.replace('<span>', '').replace('</span>', '');
            var lines = thirdTdContentStr.split('<br>');  // 내용을 줄 단위로 분리

            var $selectBox = $('<select></select>');  // select box 생성
            var $baseOption = $('<option></option>');
            $baseOption.val('');  // 빈값
            $baseOption.text('평가');
            $selectBox.attr('name', 'selectPoint');
            $selectBox.append($baseOption);
            // 각 줄을 옵션으로 변환하여 select box에 추가
            lines.forEach(function(line) {
                var cleanLine = line.replace('ㆍ', '').trim();  // "ㆍ" 문자를 제거하고 여백 제거
                var parts = cleanLine.split(':'); // " : "을 기준으로 분리

                if (parts.length === 2) {
                    var $option = $('<option></option>');
                    $option.val(parts[1].trim());  // 값 (예: 4)
                    $option.text(parts[0].trim());  // 텍스트 (예: Conformance)
                    $selectBox.append($option);
                } else if (parts.length === 1) {
                    var $option = $('<option></option>');
                    $option.val('');  // 값이 없으면 빈 값을 설정
                    $option.text(parts[0].trim());  // 항목 이름만 설정
                    $selectBox.append($option);
                }
            });

            // 5번째 td에 select box 추가
            $cells.eq(5).append($selectBox);
            var existingScore = $cells.eq(6).text().trim();  // 7번째 td에서 기존 점수를 가져옴
            var previousScore = 0;  // 기존 점수 저장용

            if (existingScore) {
                // 기존 점수와 일치하는 option을 셀렉트 박스에서 선택
                $selectBox.find('option').each(function() {
                    if ($(this).val() === existingScore) {
                        $(this).prop('selected', true);  // 값이 일치하면 해당 option을 선택
                        previousScore = parseFloat(existingScore);  // 기존 점수를 저장
                        return false;  // 루프 종료
                    }
                });
            }

            // 7번째 td에 초기 점수 추가 (선택된 값에 따라 점수 추가)
            if (previousScore) {
                totalScore += previousScore;  // 기존 점수를 총점에 추가
                $('#totalPoint').text(totalScore);
            }

            // change 이벤트 핸들러 추가
            $selectBox.on('change', function(event) {
                var selectedValue = $(event.target).val();  // 선택된 값
                var selectedScore = parseFloat(selectedValue);  // 숫자 값으로 변환

                // 만약 점수가 NaN이면 0으로 처리
                if (isNaN(selectedScore)) {
                    selectedScore = 0;
                }
                $cells.eq(6).text(selectedScore); // 7번째 td에 선택된 값(점수) 표시

                // 기존 점수 빼고 새로운 점수 더하기
                totalScore -= previousScore;  // 이전 점수 빼기
                totalScore += selectedScore;  // 새 점수 더하기
                $('#totalPoint').text(totalScore);  // 총점 갱신

                // 이전 점수를 업데이트
                previousScore = selectedScore;  // 새 점수로 업데이트
            });
        });
        loadInfo();

        //파일 타입 체크
        $('input[type="file"]').on('change', function(event) {
            const files = event.target.files; // 선택된 모든 파일
            let isValid = true;

            // 각 파일에 대해 validation 체크
            $.each(files, function(index, file) {
                if (file && !validation(file)) {
                    // 잘못된 파일인 경우
                    event.target.value = '';  // input 초기화
                    clearFile($(event.target).closest('.cui_attachments').find('#deleteButton'));
                    console.log('잘못된 파일: ', file.name);
                    isValid = false;
                    return false;  // 잘못된 파일이 있으면 반복문을 종료
                }
            });
        });
    });

    $("input:radio[name=chkType]").change(function () {
        var chkValue = $("input:radio[name=chkType]:checked").val();
        if(chkValue == "file"){
            $("#fs_file").show();
            $("#fs_text").hide();
        }
        else if(chkValue == "text"){
            $("#fs_file").hide();
            $("#fs_text").show();
        }
    });


    //파일다운로드
    function downloadFile() {
        var fileName = '[[${companyAuthFile != null ? companyAuthFile.FILE_NAME:''}]]';
        var url = "/auditMgmt/getAuditFileDown?filename=" + encodeURIComponent(fileName);

        var link = document.createElement("a");
        link.href = url;
        link.download = fileName;  // Optionally set the download filename if needed

        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    function downSampleFile() {
        alert("양식파일 등록후 다운로드.");
    }

    // 제출 버튼 클릭 시 데이터 저장
    $("#sendAuth").click(function() {
        const formData = new FormData();
        var tableData = [];
        var chkValue = $("input:radio[name=chkType]:checked").val();

        if(chkValue == "file"){
            const fileInput = document.querySelector('input[type="file"]');
            if (fileInput && fileInput.files.length > 0) {
                // 파일에 대한 유효성 검증
                var file = fileInput.files[0];
                if (validation(file)) {  // 검증을 통과한 파일만 formData에 추가
                    formData.append('file_name', file);  // 각 파일을 'file_name'이라는 이름으로 추가
                } else {
                    return false;
                    showAlert('warning','파일 검증 실패했습니다.');
                    console.log("파일 검증 실패: " + file.name);
                }
            }
        }else{
            $("#itemTable tbody tr").each(function() {
                var row = {};
                var fileCnt = {};
                row['POINT'] = $(this).find('td').eq(6).text();
                row['AUDIT_COMMENT'] = $(this).find('input[name="AUDIT_COMMENT"]').val() || '';
                row['AUDIT_ID'] = $(this).find('input[name="AUDIT_ID"]').val();

                console.log("insert data"+row['AUDIT_ID']);
                tableData.push(row);
            });
        }

        formData.append('data', JSON.stringify(tableData));  // 테이블 데이터를 JSON으로 직렬화하여 전송
        formData.append('chkType', chkValue);

        $.ajax({
            url: '/auditMgmt/sendLabourAuthData',
            type: 'POST',
            data: formData,
            processData: false,  // FormData는 자동으로 처리되지 않으므로 설정
            contentType: false,  // 기본 contentType을 사용하지 않음
            success: function(response) {
                showAlert('success',response);
                setTimeout(function() {
                    location.reload();  // 페이지 새로 고침
                }, 100);  // 100ms 후에 실행
            },
            error: function(xhr, status, error) {
                showAlert('warning','데이터 저장에 실패했습니다.');
            }
        });
    });

    // 파일 삭제
    function clearFile(button) {
        const fileInput = button.closest('td').querySelector('input[type="file"]');  // <input type="file"> 요소는 <button> 바로 앞에 있음
        const fileLabel = button.closest('td').querySelector('.item_label span');
        const fileLabelDiv = button.closest('td').querySelector('.item_label');

        // 파일 입력 초기화
        fileInput.value = "";
        fileLabel.textContent = '';
        // 삭제 버튼 숨기기
        button.style.display = 'none';
        fileLabelDiv.style.display = 'none';
    }

    //제출 상태
    function loadInfo(){
        const comState = `[[${companyAuth.APPROVE_STATE}]]`;
        const inputType = `[[${companyAuth.INPUT_TYPE}]]`;

        if(comState != "" ){
            $("#fs_text").show();
            $("input:radio[name=chkType]").prop("disabled", true);
            $("select[name=selectPoint]").prop("disabled", true);

            if(comState === 'SEND'){
                $('#authState').text('[제출:' +'[[${companyAuth.APPROVE_DATE}]]'+']');
                $('#sendAuth').hide();
            }else if(comState === 'APPROVED'){
                $('#authState').text('[승인:' +'[[${companyAuth.APPROVE_DATE}]]'+']');
                $('#sendAuth').hide();
            }else if(comState === 'REJECT'){
                $('#authState').text('[반려:' +'[[${companyAuth.APPROVE_DATE}]]'+']');
                $('.resultField').show(); // 결과 보이기
            }
        }

    }


</script>
</body>
</html>