<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCR 관리</title>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span>노동인권</span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form class="cui_form_field" data-legend="true">
                <fieldset>
                    <legend><span>노동인권/윤리경영 (배점 10점)</span></legend>
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:200px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>파일 첨부</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <div class="cui_attachments">
                                            <input type="file" class="cui_file_field">
                                            <div class="cui_items_wrap" data-direction="left">
                                                <div class="item_label" data-cui-icon="paperclip"><span>파일명.html</span></div>
                                                <div class="item_content">
                                                    <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"><span>다운로드</span></button>
                                                    <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>
                                                    <button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <div class="cui_items_wrap" data-direction="right">
                    <div class="item_content">
                        <button type="submit" class="cui_button primary"><span>제출</span></button>
                    </div>
                </div>
            </form>
            <div class="cui_items_wrap" data-direction="right">
                <div class="item_content">
                    <span>평가점수 0 ~ 10 점</span>
                </div>
            </div>
            <form class="cui_form_field" data-legend="true">
                <fieldset>
                    <legend><span>1.제조소 공통 정보</span></legend>
                    <table class="cui_table center">
                        <thead>
                        <tr>
                            <th><span>항목</span></th>
                            <th><span>내용</span></th>
                            <th><span>답변</span></th>
                            <th><span>답변 가이던스</span></th>
                            <th><span>평가점수</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <legend><span>2.노동인권</span></legend>
                    <table class="cui_table center">
                        <thead>
                        <tr>
                            <th><span>항목</span></th>
                            <th><span>내용</span></th>
                            <th><span>답변</span></th>
                            <th><span>답변 가이던스</span></th>
                            <th><span>평가점수</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <legend><span>3.윤리경영</span></legend>
                    <table class="cui_table center">
                        <thead>
                        <tr>
                            <th><span>항목</span></th>
                            <th><span>내용</span></th>
                            <th><span>답변</span></th>
                            <th><span>답변 가이던스</span></th>
                            <th><span>평가점수</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <legend><span>4.반려사유</span></legend>
                    <div>
                        <textarea class="cui_text_field" rows="2" style="width:100%"></textarea>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>