<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/mainLayout}"
      layout:fragment="Content" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>기초설정</title>
    <style>
        .cui_dialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="cui_app">
    <div class="cui_container" data-module="">
        <div class="cui_lnb">
            <div class="lnb_root">
                <div class="lnb_head">
                    <h2 class="lnb_title"><span>Site Management</span></h2>
                </div>
                <div class="cui_nav">
                    <nav class="nav_root">
                        <ul>
                            <li>
                                <a href="/admin/siteMgr/dwUserList" class="nav_item">
                                    <span class="nav_label">동우 사용자 관리</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/siteMgr/baseConfig" class="nav_item" aria-selected="true">
                                    <span class="nav_label">기초설정</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/siteMgr/baseCode" class="nav_item">
                                    <span class="nav_label">기초코드</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/siteMgr/svhcList" class="nav_item">
                                    <span class="nav_label">SVHC 항목 </span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/siteMgr/declarationList" class="nav_item">
                                    <span class="nav_label">Declaration Letter 항목</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/siteMgr/samplefile" class="nav_item" aria-selected="true">
                                    <span class="nav_label">SAMPLE 파일</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="cui_content">
            <div class="cui_main version_kor">
                <div class="cui_head">
                    <div class="head_content">
                        <h2 class="cui_title"><span>SAMPLE 파일</span></h2>
                    </div>
                </div>
                <div>
                    <input type="hidden" th:value="${Language}" id="selectLang"/>
                    <button type="button" name="ChangeLang" th:class="${Language} == 'KOR'? 'cui_button primary' : 'cui_button' " onclick="getFileList('KOR');"><span>국문</span></button>
                    <button type="button" name="ChangeLang" th:class="${Language} == 'ENG'? 'cui_button primary' : 'cui_button' " onclick="getFileList('ENG');"><span>영문</span></button>
                    <button type="button" name="ChangeLang" th:class="${Language} == 'JPN'? 'cui_button primary' : 'cui_button' " onclick="getFileList('JPN');"><span>일문</span></button>
                    <button type="button" name="ChangeLang" th:class="${Language} == 'CHN'? 'cui_button primary' : 'cui_button' " onclick="getFileList('CHN');"><span>중문</span></button>
                </div>

                <div class="cui_body version_KOR">
                    <form action="/admin/siteMgmt/upload" method="post" enctype="multipart/form-data">
                        <table class="cui_table">
                            <colgroup>
                                <col style="width:180px">
                                <col style="width:100px">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th><span>워런티 협약 양식</span></th>
                                <td colspan="2">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <div class="cui_attachments">
                                                <input type="file" class="cui_file_field" name="files">
                                                <input type="hidden" name="FILE_STATUS">
                                                <input type="hidden" name="FILE_CASE" value="WARANTY"/>
                                                <input type="hidden" name="FILE_GUBN" value=""/>
                                                <input type="hidden" name="FILE_NUM" value="1"/>
                                                <div class="cui_items_wrap file_wrap" data-direction="left">
                                                    <div class="item_label" data-cui-icon="paperclip"><span id="WARANTY_1"></span></div>
                                                    <div class="item_content">
                                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"
                                                                th:href="@{/admin/siteMgmt/download(baseCode=,fileNum=1,sLang=${Language},GUBN=WARANTY)}"><span>다운로드</span></button>
<!--                                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
                                                        <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th ><span>Audit 안전보건</br>(서면/방문)</span></th>
                                <td colspan="2">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <div class="cui_attachments">
                                                <input type="file" class="cui_file_field" name="files">
                                                <input type="hidden" class="cui_file_field" name="FILE_STATUS">
                                                <input type="hidden" name="FILE_CASE" value="SAFTY"/>
                                                <input type="hidden" name="FILE_GUBN" value=""/>
                                                <input type="hidden" name="FILE_NUM" value="1"/>
                                                <div class="cui_items_wrap file_wrap" data-direction="left">
                                                    <div class="item_label" data-cui-icon="paperclip"><span id="SAFTY_1"></span></div>
                                                    <div class="item_content">
                                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"
                                                                th:href="@{/admin/siteMgmt/download(baseCode=,fileNum=1,sLang=${Language},GUBN=SAFTY)}"><span>다운로드</span></button>
<!--                                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
                                                        <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr th:each="korPlantList, rowStat : ${korPlantListArray}" class="plant_row">
                                <th  th:if="${rowStat.index==0}"  th:rowspan="${#arrays.length(korPlantListArray)}"><span>Audit 품질관리</br>(서면/방문)</span></th>
<!--                                <td  th:unless="${rowStat.index==0}" th:rowspan="${korPlantList.size()}"></td>-->
                                <td ><span th:text="${korPlantList.BASE_CODE}"></span></td>
                                <td>
                                    <div class="cui_items_wrap" data-direction="column">
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <div class="cui_attachments">
                                                    <input type="file" class="cui_file_field" name="files">
                                                    <input type="hidden" class="cui_file_field" name="FILE_STATUS">
                                                    <input type="hidden" name="FILE_CASE" value="PLANT"/>
                                                    <input type="hidden" name="FILE_GUBN" th:value="${korPlantList.BASE_CODE}"/>
                                                    <input type="hidden" name="FILE_NUM" value="1"/>
                                                    <div class="cui_items_wrap file_wrap" data-direction="left" th:id="'PLANT_'+${korPlantList.BASE_CODE}+'_1_fileDiv'">
                                                        <div class="item_label" data-cui-icon="paperclip">
                                                            <span th:id="'PLANT_'+${korPlantList.BASE_CODE}+'_1'"></span>
                                                        </div>
                                                        <div class="item_content">
                                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"
                                                                    th:href="@{/admin/siteMgmt/download(baseCode=${korPlantList.BASE_CODE},fileNum=1,sLang=${Language},GUBN=PLANT)}">
                                                                <span>다운로드</span>
                                                            </button>
<!--                                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
                                                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <div class="cui_attachments">
                                                    <input type="file" class="cui_file_field" name="files">
                                                    <input type="hidden" class="cui_file_field" name="FILE_STATUS">
                                                    <input type="hidden" name="FILE_CASE" value="PLANT"/>
                                                    <input type="hidden" name="FILE_GUBN"  th:value="${korPlantList.BASE_CODE}"/>
                                                    <input type="hidden" name="FILE_NUM" value="2"/>
                                                    <div class="cui_items_wrap file_wrap" data-direction="left" th:id="'PLANT_'+${korPlantList.BASE_CODE}+'_2_fileDiv'">
                                                        <div class="item_label" data-cui-icon="paperclip">
                                                            <span th:id="'PLANT_'+${korPlantList.BASE_CODE}+'_2'"></span>
                                                        </div>
                                                        <div class="item_content">
                                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"
                                                                    th:href="@{/admin/siteMgmt/download(baseCode=${korPlantList.BASE_CODE},fileNum=2,sLang=${Language},GUBN=PLANT)}">
                                                                <span>다운로드</span>
                                                            </button>
                                                            <!--                                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
                                                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="2"><span>Audit 광물</span></th>
                                <td ><span>분쟁광물</span></td>
                                <td>
                                    <div class="cui_items_wrap" data-direction="column">
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <div class="cui_attachments">
                                                    <input type="file" class="cui_file_field" name="files">
                                                    <input type="hidden" class="cui_file_field" name="FILE_STATUS">
                                                    <input type="hidden" name="FILE_CASE" value="CMRT"/>
                                                    <input type="hidden" name="FILE_GUBN" value=""/>
                                                    <input type="hidden" name="FILE_NUM" value="1"/>
                                                    <div class="cui_items_wrap file_wrap" data-direction="left">
                                                        <div class="item_label" data-cui-icon="paperclip"><span id="CMRT_1"></span></div>
                                                        <div class="item_content">
                                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"
                                                                    th:href="@{/admin/siteMgmt/download(baseCode=,fileNum=1,sLang=${Language},GUBN=CMRT)}"><span>다운로드</span></button>
<!--                                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
                                                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td ><span>책임광물</span></td>
                                <td>
                                    <div class="cui_items_wrap" data-direction="column">
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <div class="cui_attachments">
                                                    <input type="file" class="cui_file_field" name="files">
                                                    <input type="hidden" class="cui_file_field" name="FILE_STATUS">
                                                    <input type="hidden" name="FILE_CASE" value="EMRT"/>
                                                    <input type="hidden" name="FILE_GUBN" value=""/>
                                                    <input type="hidden" name="FILE_NUM" value="1"/>
                                                    <div class="cui_items_wrap file_wrap" data-direction="left">
                                                        <div class="item_label" data-cui-icon="paperclip"><span id="EMRT_1"></span></div>
                                                        <div class="item_content">
                                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드"
                                                                    th:href="@{/admin/siteMgmt/download(baseCode=,fileNum=1,sLang=${Language},GUBN=EMRT)}"><span>다운로드</span></button>
<!--                                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="search_square" data-tooltip-title="미리보기"><span>미리보기</span></button>-->
                                                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" data-tooltip-title="삭제"><span>삭제</span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="cui_items_wrap" data-direction="right">
                            <div class="item_content">
                                <button type="submit" name="FILE_LANG" value="KOR" id="submit_KOR" class="cui_button primary" th:style="${Language} == 'KOR'? '' : 'display:none' " ><span>저장1</span></button>
                                <button type="submit" name="FILE_LANG" value="ENG" id="submit_ENG" class="cui_button primary" th:style="${Language} == 'ENG'? '' : 'display:none' "><span>저장2</span></button>
                                <button type="submit" name="FILE_LANG" value="JPN" id="submit_JPN" class="cui_button primary" th:style="${Language} == 'JPN'? '' : 'display:none' "><span>저장3</span></button>
                                <button type="submit" name="FILE_LANG" value="CHN" id="submit_CHN" class="cui_button primary" th:style="${Language} == 'CHN'? '' : 'display:none' "><span>저장4</span></button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function(){
        //Audit 품질관리 (서면/방문) plant 기존 파일 바인딩하기
        let slang = $("#selectLang").val();
        console.log("test : ============== "+slang);
        getplantData(slang);

    });

    //파일 변경 시 status 변경
    $(function(){
        $('input:file').change(function (){
            var fileName = $(this).val();
            if(fileName != ''){
                if($(this).closest('.cui_attachments').find('.item_label span').text()==''){
                    //기존 파일이 없다면 insert
                    //$(this).closest('name="FILE_STATUS"').text('INSERT');
                    $(this).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val('INSERT');
                }else{
                    //기존파일이 있다면 update
                    //$(this).closest('name="FILE_STATUS"').text('UPDATE');
                    $(this).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val('UPDATE');
                }
            }else{
                //status 가 delet가 아니라면 초기화
                if($(this).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val() != 'DELETE'){
                    //$(this).closest('name="FILE_STATUS"').text('');
                    $(this).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val('');
                }
            }

        });
    });

    //status 업데이트
    function status_Del(status){
        //삭제버튼 클릭 시 DELETE
        //$(status).closest('name="FILE_STATUS"').val('DELETE');
        $(status).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val('DELETE');

        //안보이게 처리
        $(status).closest('.file_wrap').css('display','none');
<!--        else if(stat == 'UPDATE'){-->
<!--            $(this).closet('<input type="hidden" name="FILE_STATUS" >').val('UPDATE');-->
<!--        }else if(stat == 'INSERT'){-->
<!--            $(this).closet('<input type="hidden" name="FILE_STATUS" >').val('INSERT');-->
<!--        }else{-->
<!--            $(this).closet('<input type="hidden" name="FILE_STATUS" >').val('');-->
<!--        }-->
        //파일 선택 되었을 때 기존 데이터가 없으면 > insert, 있으면 update
    }



    //plant data 바인딩
    function getplantData(language){
        if(language == null || language == undefined) language = 'KOR';

        $.ajax({
            url : '/admin/siteMgmt/getFileList',
            type : 'GET',
            data : {
                sLang : language
            },
            success : function(response){
                bindPlantData(response);
            },
            error : function(xhr,status,error) {
                console.error("error : " + error)
            },
            complete: function(xhr,status){
                getotherData(language);
                //displayFileDiv();
            }
        });
    }

    function bindPlantData(list){
        list.forEach((file,index) =>{
            //PLANT_'+${korPlantList.BASE_CODE}+'_1_fileDiv
            //document.getElementByID('PLANT_'+file.FILE_GUBN+'_'+file.FILE_NUM+'_fileDiv').textContent = file.FILE_NAME;
            $('#PLANT_'+file.FILE_GUBN+'_'+file.FILE_NUM).text(file.FILE_NAME);
        });

        //file_wrap


    }

    //그 외 데이터 바인딩
    function getotherData(language){
        if(language == null || language == undefined) language = 'KOR';

        $.ajax({
            url : '/admin/siteMgmt/getOtherFileList',
            type : 'GET',
            data : {
                sLang : language
            },
            success : function(response){
                bindOtherData(response);
            },
            error : function(xhr,status,error) {
                console.error("error : " + error)
            },
            complete: function(xhr,status){
                displayFileDiv();
            }
        });
    }

    function bindOtherData(list){
        list.forEach((file,index) =>{
            //WARANTY_1
            //document.getElementByID('PLANT_'+file.FILE_GUBN+'_'+file.FILE_NUM+'_fileDiv').textContent = file.FILE_NAME;
            $('#'+file.FILE_CASE+'_'+file.FILE_NUM).text(file.FILE_NAME);
        });

    }

    //파일 바인딩 후 등록안된곳은 숨기기 file_wrap
    function displayFileDiv(){
        $('.file_wrap').each(function() {
            const span = $(this).find('.item_label > span');

            if($.trim(span.text()) === ''){
                $(this).css('display','none');
            }
        });

    }

    function initFileData(){
        //파일 명 바인등 초기화
        $('.file_wrap').each(function() {
            const span = $(this).find('.item_label > span');
            span.text('');
            $(this).css('display','');

        });

        //현재 상태 초기화 status
        $('input[name=FILE_STATUS]').each(function() {
            $(this).val('');
        });

        $('input:file').each(function() {
            $(this).val('');
        });

    }

    function getFileList(lange){
        //초기화
        initFileData();
        //버튼
        $('button[name=FILE_LANG]').each(function() {
            const span = $(this).val();
            if(span===lange){
                $(this).css('display','');
            }else{
                $(this).css('display','none');
            }

        });


        getplantData(lange);
        //getotherData(lange);

    }

<!--    const buttons = document.getElementsByName("ChangeLang");-->
<!--    buttons.forEach(function(button){-->
<!--        button.addEventListener("click",displayFileDiv);-->
<!--    });-->




</script>
</html>
