<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content" xmlns="">
<head>
    <meta charset="UTF-8">
<style>
    .cui_tab {
    &[data-wrap=wrap] {
        .tab_list {
            ul {
                flex-wrap : wrap;
            }
        }
    }

    &[data-fill=fit] {
        .tab_list {
            ul {
                li {
                    flex : 1 0 0;
                }
            }
        }
    }

    .tab_list {
        ul {
            @include reset-this-list;
            display     : flex;
            align-items : stretch;

            li {
                flex : 0 0 auto;

                .tab_button {
                    @include reset-button;
                    line-height : var(--line-height);
                    position    : relative;
                    width       : 100%;
                    height      : 100%;
                    padding     : 12px;
                    border      : 1px solid var(--border-primary);

                    &:before {
                        position   : absolute;
                        top        : 0;
                        right      : 0;
                        left       : 0;
                        display    : none;
                        width      : 100%;
                        height     : 3px;
                        content    : '';
                        background : var(--primary);
                    }

                    &:hover {
                        background : var(--hover-theme);
                    }
                }

                &[aria-selected="true"] {
                    a, button {
                        &:before {
                            display : block;
                        }
                    }
                }
            }
        }
    }

    .tab_contents {
        .tab_content {
            display : none;

            &[aria-expanded="true"] {
                display : block;
                padding : 8px;
            }
        }

    }
}

    .cui_attachments { width:100%; };
</style>
</head>
<body ondragenter="return false;" ondragover="return false;" ondrop="return false;">
<div class="cui_app">
    <div class="cui_container" data-module="">
        <div class="cui_content">
            <div class="cui_main version_kor">
                <div class="cui_head">
                    <div class="head_content">
                        <h2 class="cui_title"><span data-langsid="SAMPLE 파일"></span></h2>
                    </div>
                </div>
                <div class="cui_tab">
                    <div class="tab_list">
                        <ul>
                            <li th:attr="aria-selected = ${Language} == 'KOR'? 'true' : '' ">
                                <button type="button" name="ChangeLang" onclick="getFileList('KOR');" class="tab_button">&nbsp;&nbsp;<span>KOR</span>&nbsp;&nbsp;</button>
                            </li>
                            <li th:attr="aria-selected = ${Language} == 'ENG'? 'true' : '' " >
                                <button type="button" class="tab_button" name="ChangeLang" onclick="getFileList('ENG');">&nbsp;&nbsp;<span>ENG</span>&nbsp;&nbsp;</button></li>
                            <li th:attr="aria-selected = ${Language} == 'JPN'? 'true' : '' " >
                                <button type="button" class="tab_button" name="ChangeLang" onclick="getFileList('JPN');" >&nbsp;&nbsp;<span>JPN</span>&nbsp;&nbsp;</button></li>
                            <li th:attr="aria-selected = ${Language} == 'CHN'? 'true' : '' " >
                                <button type="button" class="tab_button" name="ChangeLang" onclick="getFileList('CHN');" >&nbsp;&nbsp;<span>CHN</span>&nbsp;&nbsp;</button></li>
                        </ul>
                    </div>

                </div>

                <div class="cui_body version_KOR">
                    <form class="cui_form_section" data-legend="true" id="frmSampleFile" enctype="multipart/form-data" onsubmit="return false;">
                        <input type="hidden" name="SaveMode">
                        <table class="cui_table">
                            <colgroup>
                                <col style="width:250px">
                                <col style="width:100px">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th><span data-langsid="워런티 협약 양식"></span></th>
                                <td colspan="2">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <div class="cui_attachments">
                                                <input type="file" class="cui_file_field" name="files">
                                                <input type="hidden" name="FILE_STATUS">
                                                <input type="hidden" name="FILE_CASE" value="WARANTY"/>
                                                <input type="hidden" name="FILE_GUBN" value=""/>
                                                <input type="hidden" name="FILE_NUM" value="1"/>
                                                <div class="cui_items_wrap file_wrap" data-direction="left">
                                                    <div class="item_label" data-cui-icon="paperclip"><span id="WARANTY_1"></span></div>
                                                    <div class="item_content">
                                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="download" th:href="@{/admin/siteMgmt/download(baseCode=,fileNum=1,sLang=${Language},GUBN=WARANTY)}"><span data-langsid="다운로드"></span></button>
                                                        <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark"><span data-langsid="삭제"></span></button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th ><span data-langsid="Audit 안전보건 (서면/방문)"></span></th>
                                <td colspan="2">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_content">
                                            <div class="cui_attachments">
                                                <input type="file" class="cui_file_field" name="files">
                                                <input type="hidden" name="FILE_STATUS">
                                                <input type="hidden" name="FILE_CASE" value="SAFTY"/>
                                                <input type="hidden" name="FILE_GUBN" value=""/>
                                                <input type="hidden" name="FILE_NUM" value="1"/>
                                                <div class="cui_items_wrap file_wrap" data-direction="left">
                                                    <div class="item_label" data-cui-icon="paperclip"><span id="SAFTY_1"></span></div>
                                                    <div class="item_content">
                                                        <button type="button" class="cui_button icon endpoint" data-cui-icon="download" th:href="@{/admin/siteMgmt/download(baseCode=,fileNum=1,sLang=${Language},GUBN=SAFTY)}"><span data-langsid="다운로드"></span></button>
                                                        <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark"><span data-langsid="삭제"></span></button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr th:each="korPlantList, rowStat : ${korPlantListArray}" class="plant_row">
                                <th  th:if="${rowStat.index==0}"  th:rowspan="${#arrays.length(korPlantListArray)}"><span data-langsid="Audit 품질관리 (서면/방문)"></span></th>
<!--                                <td  th:unless="${rowStat.index==0}" th:rowspan="${korPlantList.size()}"></td>-->
                                <td ><span th:text="${korPlantList.BASE_CODE}"></span></td>
                                <td>
                                    <div th:multiFileUpload="'PLANT_'+${korPlantList.BASE_CODE}+'_Files'">
                                        <div th:each="plantList : ${plantFileList}" th:if="${korPlantList.BASE_CODE==plantList.FILE_GUBN}" th:text="'${plantList.FILE_IDX}'++''"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="2"><span data-langsid="Audit 광물"></span></th>
                                <td ><span data-langsid="분쟁광물"></span></td>
                                <td>
                                    <div class="cui_items_wrap" data-direction="column">
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <div class="cui_attachments">
                                                    <input type="file" class="cui_file_field" name="files">
                                                    <input type="hidden" name="FILE_STATUS">
                                                    <input type="hidden" name="FILE_CASE" value="CMRT"/>
                                                    <input type="hidden" name="FILE_GUBN" value=""/>
                                                    <input type="hidden" name="FILE_NUM" value="1"/>
                                                    <div class="cui_items_wrap file_wrap" data-direction="left">
                                                        <div class="item_label" data-cui-icon="paperclip"><span id="CMRT_1"></span></div>
                                                        <div class="item_content">
                                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download"
                                                                    th:href="@{/admin/siteMgmt/download(baseCode=,fileNum=1,sLang=${Language},GUBN=CMRT)}"><span data-langsid="다운로드"></span></button>
                                                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark"><span data-langsid="삭제"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td ><span data-langsid="책임광물"></span></td>
                                <td>
                                    <div class="cui_items_wrap" data-direction="column">
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <div class="cui_attachments">
                                                    <input type="file" class="cui_file_field" name="files">
                                                    <input type="hidden" name="FILE_STATUS">
                                                    <input type="hidden" name="FILE_CASE" value="EMRT"/>
                                                    <input type="hidden" name="FILE_GUBN" value=""/>
                                                    <input type="hidden" name="FILE_NUM" value="1"/>
                                                    <div class="cui_items_wrap file_wrap" data-direction="left">
                                                        <div class="item_label" data-cui-icon="paperclip"><span id="EMRT_1"></span></div>
                                                        <div class="item_content">
                                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download"
                                                                    th:href="@{/admin/siteMgmt/download(baseCode=,fileNum=1,sLang=${Language},GUBN=EMRT)}"><span data-langsid="다운로드"></span></button>
                                                            <button type="button" class="cui_button icon endpoint" onclick="status_Del(this)" data-cui-icon="xmark" ><span data-langsid="삭제"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <input type="hidden" th:value="${PLANT_ORGINFO}">
                        <div class="cui_items_wrap" data-direction="right" style="margin-top:20px;">
                            <div class="item_content">
                                <button type="submit" name="FILE_LANG" onclick="frmSubmit('KOR')" class="cui_button primary" th:style="${Language} == 'KOR'? '' : 'display:none' " ><span data-langsid="저장"></span></button>
                                <button type="submit" name="FILE_LANG" onclick="frmSubmit('ENG')" class="cui_button primary" th:style="${Language} == 'ENG'? '' : 'display:none' "><span data-langsid="저장"></span></button>
                                <button type="submit" name="FILE_LANG" onclick="frmSubmit('JPN')" class="cui_button primary" th:style="${Language} == 'JPN'? '' : 'display:none' "><span data-langsid="저장"></span></button>
                                <button type="submit" name="FILE_LANG" onclick="frmSubmit('CHN')" class="cui_button primary" th:style="${Language} == 'CHN'? '' : 'display:none' "><span data-langsid="저장"></span></button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function(){
        //Audit 품질관리 (서면/방문) plant 기존 파일 바인딩하기
        let slang = $("#selectLang").val();
        console.log("test : ============== "+slang);
        getplantData(slang);


    });

    //파일 변경 시 status 변경
    $(function(){
        $('input:file').change(function (){
            var fileName = $(this).val();
            if(fileName != ''){
                if($(this).closest('.cui_attachments').find('.item_label span').text()==''){
                    //기존 파일이 없다면 insert
                    //$(this).closest('name="FILE_STATUS"').text('INSERT');
                    $(this).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val('INSERT');
                }else{
                    //기존파일이 있다면 update
                    //$(this).closest('name="FILE_STATUS"').text('UPDATE');
                    $(this).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val('UPDATE');
                }
            }else{
                //status 가 delet가 아니라면 초기화
                if($(this).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val() != 'DELETE'){
                    //$(this).closest('name="FILE_STATUS"').text('');
                    $(this).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val('');
                }
            }

        });
    });

    //status 업데이트
    function status_Del(status){
        //삭제버튼 클릭 시 DELETE
        //$(status).closest('name="FILE_STATUS"').val('DELETE');
        $(status).closest('.cui_attachments').find('input[name="FILE_STATUS"]').val('DELETE');

        //안보이게 처리
        $(status).closest('.file_wrap').css('display','none');
<!--        else if(stat == 'UPDATE'){-->
<!--            $(this).closet('<input type="hidden" name="FILE_STATUS" >').val('UPDATE');-->
<!--        }else if(stat == 'INSERT'){-->
<!--            $(this).closet('<input type="hidden" name="FILE_STATUS" >').val('INSERT');-->
<!--        }else{-->
<!--            $(this).closet('<input type="hidden" name="FILE_STATUS" >').val('');-->
<!--        }-->
        //파일 선택 되었을 때 기존 데이터가 없으면 > insert, 있으면 update
    }



    //plant data 바인딩
    function getplantData(language){
        if(language == null || language == undefined) language = 'KOR';

        $.ajax({
            url : '/admin/siteMgmt/getFileList',
            type : 'GET',
            data : {
                sLang : language
            },
            success : function(response){
                bindPlantData(response);
            },
            error : function(xhr,status,error) {
                console.error("error : " + error)
            },
            complete: function(xhr,status){
                getotherData(language);
                //displayFileDiv();
            }
        });
    }

    function bindPlantData(list){
        list.forEach((file,index) =>{
            //PLANT_'+${korPlantList.BASE_CODE}+'_1_fileDiv
            //document.getElementByID('PLANT_'+file.FILE_GUBN+'_'+file.FILE_NUM+'_fileDiv').textContent = file.FILE_NAME;
            $('#PLANT_'+file.FILE_GUBN+'_'+file.FILE_NUM).text(file.FILE_NAME);
        });

        //file_wrap


    }

    //그 외 데이터 바인딩
    function getotherData(language){
        if(language == null || language == undefined) language = 'KOR';

        $.ajax({
            url : '/admin/siteMgmt/getOtherFileList',
            type : 'GET',
            data : {
                sLang : language
            },
            success : function(response){
                bindOtherData(response);
            },
            error : function(xhr,status,error) {
                console.error("error : " + error)
            },
            complete: function(xhr,status){
                displayFileDiv();
            }
        });
    }

    function bindOtherData(list){
        list.forEach((file,index) =>{
            //WARANTY_1
            //document.getElementByID('PLANT_'+file.FILE_GUBN+'_'+file.FILE_NUM+'_fileDiv').textContent = file.FILE_NAME;
            $('#'+file.FILE_CASE+'_'+file.FILE_NUM).text(file.FILE_NAME);
        });

    }

    //파일 바인딩 후 등록안된곳은 숨기기 file_wrap
    function displayFileDiv(){
        $('.file_wrap').each(function() {
            const span = $(this).find('.item_label > span');

            if($.trim(span.text()) === ''){
                $(this).css('display','none');
            }
        });

    }

    function initFileData(){
        //파일 명 바인등 초기화
        $('.file_wrap').each(function() {
            const span = $(this).find('.item_label > span');
            span.text('');
            $(this).css('display','');

        });

        //현재 상태 초기화 status
        $('input[name=FILE_STATUS]').each(function() {
            $(this).val('');
        });

        $('input:file').each(function() {
            $(this).val('');
        });

    }

    function getFileList(lange){
        //초기화
        initFileData();
        //버튼
        $('button[name=FILE_LANG]').each(function() {
            const span = $(this).val();
            if(span===lange){
                $(this).css('display','');
            }else{
                $(this).css('display','none');
            }

        });


        //getplantData(lange);
        //getotherData(lange);

    }

<!--    const buttons = document.getElementsByName("ChangeLang");-->
<!--    buttons.forEach(function(button){-->
<!--        button.addEventListener("click",displayFileDiv);-->
<!--    });-->


    var frmSubmit = function(flag){
        var frmObj = $("#frmSampleFile");
        $("#frmSampleFile").find("input[name=SaveMode]").val(flag);
        //var pm_idx = $("input[name=PM_IDX]").val() == '' ? $("input[name=PM_IDX]").val() : 0;


        Common.Msg(siteLang.getLang("저장 하시겠습니까?"), {
            mode : "confrim"
            , okback : function () {
              var ReqInfo = new Common.RequestInfo();
              ReqInfo.formData  = new FormData();
              ReqInfo.AddParameter(frmObj);

              Common.Loading.Show();
              setTimeout(function () {
                Common.Ajax("/admin/siteMgmt/upload", ReqInfo, function (response) {
                    if (response == "OK") {
                        location.reload();
                    }
                });
              }, 10);
            }
        });
    }

    var DeleteOrgFile = function (idx){
        var ReqInfo = new Common.RequestInfo();
        ReqInfo.AddParameter("DEL_IDX", idx);
        Common.Ajax("/admin/siteMgmt/deleteOrgFile", ReqInfo, function (response) {
            if (response == "OK") {
                location.reload();
            }
        });
    }




</script>
</html>
