$ci_location_crosshairs_fill        : unquote('"\eb43"');
$ci_location_crosshairs             : unquote('"\eb42"');
$ci_eye_slash_fill                  : unquote('"\eb41"');
$ci_eye_slash                       : unquote('"\eb40"');
$ci_bookmark_plus_fill              : unquote('"\eb3f"');
$ci_bookmark_plus                   : unquote('"\eb3e"');
$ci_arrow_up_line_long_fill         : unquote('"\eb3d"');
$ci_arrow_up_line_long              : unquote('"\eb3c"');
$ci_arrow_up_line_fill              : unquote('"\eb3b"');
$ci_arrow_up_line                   : unquote('"\eb3a"');
$ci_arrow_right_line_long_fill      : unquote('"\eb39"');
$ci_arrow_right_line_long           : unquote('"\eb38"');
$ci_arrow_right_line_fill           : unquote('"\eb37"');
$ci_arrow_right_line                : unquote('"\eb36"');
$ci_arrow_left_line_long_fill       : unquote('"\eb35"');
$ci_arrow_left_line_long            : unquote('"\eb34"');
$ci_arrow_left_line_fill            : unquote('"\eb33"');
$ci_arrow_left_line                 : unquote('"\eb32"');
$ci_arrow_down_line_long_fill       : unquote('"\eb31"');
$ci_arrow_down_line_long            : unquote('"\eb30"');
$ci_arrow_down_line_fill            : unquote('"\eb2f"');
$ci_arrow_down_line                 : unquote('"\eb2e"');
$ci_xmark_fill                      : unquote('"\eb2d"');
$ci_wrench_fill                     : unquote('"\eb2c"');
$ci_windsock_fill                   : unquote('"\eb2b"');
$ci_window_restore_fill             : unquote('"\eb2a"');
$ci_vote_fill                       : unquote('"\eb29"');
$ci_volume_low_fill                 : unquote('"\eb28"');
$ci_vector_square_fill              : unquote('"\eb27"');
$ci_user_team_fill                  : unquote('"\eb26"');
$ci_user_square_fill                : unquote('"\eb25"');
$ci_user_plus_fill                  : unquote('"\eb24"');
$ci_user_pen_fill                   : unquote('"\eb23"');
$ci_user_message_fill               : unquote('"\eb22"');
$ci_user_group_fill                 : unquote('"\eb21"');
$ci_user_gear_fill                  : unquote('"\eb20"');
$ci_upload_fill                     : unquote('"\eb1f"');
$ci_unlock_fill                     : unquote('"\eb1e"');
$ci_umbrella                        : unquote('"\eb1d"');
$ci_trophy_fill                     : unquote('"\eb1c"');
$ci_trending_up_fill                : unquote('"\eb1b"');
$ci_trash_fill                      : unquote('"\eb1a"');
$ci_ticket_fill                     : unquote('"\eb19"');
$ci_thumbs_up_fill                  : unquote('"\eb18"');
$ci_text_fill                       : unquote('"\eb17"');
$ci_text_area_fill                  : unquote('"\eb16"');
$ci_task_fill                       : unquote('"\eb15"');
$ci_tag_fill                        : unquote('"\eb14"');
$ci_table_rows_fill                 : unquote('"\eb13"');
$ci_table_list_fill                 : unquote('"\eb12"');
$ci_table_fill                      : unquote('"\eb11"');
$ci_table_columns_fill              : unquote('"\eb10"');
$ci_table_cells_fill                : unquote('"\eb0f"');
$ci_syringe_fill                    : unquote('"\eb0e"');
$ci_swiper_right_fill               : unquote('"\eb0d"');
$ci_swiper_left_fill                : unquote('"\eb0c"');
$ci_sun_half                        : unquote('"\eb0b"');
$ci_square_small_fill               : unquote('"\eb0a"');
$ci_square_minus_fill               : unquote('"\eb09"');
$ci_square_fill                     : unquote('"\eb08"');
$ci_square_dot_fill                 : unquote('"\eb07"');
$ci_split_fill                      : unquote('"\eb06"');
$ci_spinner_fill                    : unquote('"\eb05"');
$ci_sort_up                         : unquote('"\eb04"');
$ci_sort_down                       : unquote('"\eb03"');
$ci_smail_fill                      : unquote('"\eb02"');
$ci_slip_fill                       : unquote('"\eb01"');
$ci_sitemap_fill                    : unquote('"\eb00"');
$ci_sidebar_fill                    : unquote('"\eaff"');
$ci_shield_user_fill                : unquote('"\eafe"');
$ci_share_nodes_fill                : unquote('"\eafd"');
$ci_server_fill                     : unquote('"\eafc"');
$ci_select_fill                     : unquote('"\eafb"');
$ci_search_square_fill              : unquote('"\eafa"');
$ci_search_plus_fill                : unquote('"\eaf9"');
$ci_search_minus_fill               : unquote('"\eaf8"');
$ci_search_fill                     : unquote('"\eaf7"');
$ci_search_check_fill               : unquote('"\eaf6"');
$ci_rotate_right_fill               : unquote('"\eaf5"');
$ci_rotate_reverse_fill             : unquote('"\eaf4"');
$ci_rotate_left_fill                : unquote('"\eaf3"');
$ci_rotate_fill                     : unquote('"\eaf2"');
$ci_rings_fill                      : unquote('"\eaf1"');
$ci_ribbon_fill                     : unquote('"\eaf0"');
$ci_rectangle_history_fill          : unquote('"\eaef"');
$ci_receipt_fill                    : unquote('"\eaee"');
$ci_radio_fill                      : unquote('"\eaed"');
$ci_process_fill                    : unquote('"\eaec"');
$ci_print_fill                      : unquote('"\eaeb"');
$ci_plus_fill                       : unquote('"\eaea"');
$ci_plus_circle_fill                : unquote('"\eae9"');
$ci_play_fill                       : unquote('"\eae8"');
$ci_phone_plus_fill                 : unquote('"\eae7"');
$ci_phone_plus                      : unquote('"\eae6"');
$ci_pen_square_fill                 : unquote('"\eae5"');
$ci_pen_line_fill                   : unquote('"\eae4"');
$ci_pen_fill                        : unquote('"\eae3"');
$ci_pause_fill                      : unquote('"\eae2"');
$ci_pause_circle_fill               : unquote('"\eae1"');
$ci_paperclip_fill                  : unquote('"\eae0"');
$ci_paper_plane_fill                : unquote('"\eadf"');
$ci_number_fill                     : unquote('"\eade"');
$ci_notes_fill                      : unquote('"\eadd"');
$ci_newspaper_fill                  : unquote('"\eadc"');
$ci_monitor_fill                    : unquote('"\eadb"');
$ci_mobile_fill                     : unquote('"\eada"');
$ci_minus_fill                      : unquote('"\ead9"');
$ci_minus_circle_fill               : unquote('"\ead8"');
$ci_minimize_fill                   : unquote('"\ead7"');
$ci_microphone_slash_fill           : unquote('"\ead6"');
$ci_microphone_lines_fill           : unquote('"\ead5"');
$ci_microphone_fill                 : unquote('"\ead4"');
$ci_messages_fill                   : unquote('"\ead3"');
$ci_message_my_fill                 : unquote('"\ead2"');
$ci_message_lines_fill              : unquote('"\ead1"');
$ci_message_laugh_wink_fill         : unquote('"\ead0"');
$ci_message_fill                    : unquote('"\eacf"');
$ci_message_eyes_fill               : unquote('"\eace"');
$ci_message_exclamation_fill        : unquote('"\eacd"');
$ci_medical_fill                    : unquote('"\eacc"');
$ci_maximize_fill                   : unquote('"\eacb"');
$ci_mail_open_fill                  : unquote('"\eaca"');
$ci_mail_open_check_fill            : unquote('"\eac9"');
$ci_mail_open_check                 : unquote('"\eac8"');
$ci_mail_open_bottom_right_cut_fill : unquote('"\eac7"');
$ci_mail_open_bottom_left_cut_fill  : unquote('"\eac6"');
$ci_mail_fill                       : unquote('"\eac5"');
$ci_mail_check_fill                 : unquote('"\eac4"');
$ci_mail_bottom_right_cut_fill      : unquote('"\eac3"');
$ci_mail_bottom_left_cut_fill       : unquote('"\eac2"');
$ci_logout_fill                     : unquote('"\eac1"');
$ci_list_ul_fill                    : unquote('"\eac0"');
$ci_list_check_fill                 : unquote('"\eabf"');
$ci_link_fill                       : unquote('"\eabe"');
$ci_lightbulb_fill                  : unquote('"\eabd"');
$ci_layer_group_fill                : unquote('"\eabc"');
$ci_laptop_fill                     : unquote('"\eabb"');
$ci_island_fill                     : unquote('"\eaba"');
$ci_inbox_history_fill              : unquote('"\eab9"');
$ci_inbox_fill                      : unquote('"\eab8"');
$ci_image_landscape_fill            : unquote('"\eab7"');
$ci_image_fill                      : unquote('"\eab6"');
$ci_id_card_fill                    : unquote('"\eab5"');
$ci_id_badge_fill                   : unquote('"\eab4"');
$ci_house_fill                      : unquote('"\eab3"');
$ci_hourglass_fill                  : unquote('"\eab2"');
$ci_heading_fill                    : unquote('"\eab1"');
$ci_grid_fill                       : unquote('"\eab0"');
$ci_graduation_cap_fill             : unquote('"\eaaf"');
$ci_global_fill                     : unquote('"\eaae"');
$ci_gear_fill                       : unquote('"\eaad"');
$ci_gadget_fill                     : unquote('"\eaac"');
$ci_ga_fill                         : unquote('"\eaab"');
$ci_folder_open_fill                : unquote('"\eaaa"');
$ci_folder_house_fill               : unquote('"\eaa9"');
$ci_folder_closed_fill              : unquote('"\eaa8"');
$ci_folder_arrow_down_fill          : unquote('"\eaa7"');
$ci_folder_arrow_circle_up_fill     : unquote('"\eaa6"');
$ci_folder_arrow_circle_down_fill   : unquote('"\eaa5"');
$ci_flatware_fill                   : unquote('"\eaa4"');
$ci_flag_swallowtail_fill           : unquote('"\eaa3"');
$ci_flag_fill                       : unquote('"\eaa2"');
$ci_filter_fill                     : unquote('"\eaa1"');
$ci_files_fill                      : unquote('"\eaa0"');
$ci_file_search_fill                : unquote('"\ea9f"');
$ci_file_lines_fill                 : unquote('"\ea9e"');
$ci_file_lines_CSV_fill             : unquote('"\ea9d"');
$ci_file_fill                       : unquote('"\ea9c"');
$ci_file_check_fill                 : unquote('"\ea9b"');
$ci_file_3_lines_fill               : unquote('"\ea9a"');
$ci_fax_fill                        : unquote('"\ea99"');
$ci_face_fill                       : unquote('"\ea98"');
$ci_eye_square_fill                 : unquote('"\ea97"');
$ci_eye_magnifier_fill              : unquote('"\ea96"');
$ci_eye_fill                        : unquote('"\ea95"');
$ci_exclamation_fill                : unquote('"\ea94"');
$ci_ellipsis_vertical_fill          : unquote('"\ea93"');
$ci_download_fill                   : unquote('"\ea92"');
$ci_double_monitor_fill             : unquote('"\ea91"');
$ci_dotted_time_fill                : unquote('"\ea90"');
$ci_database_fill                   : unquote('"\ea8f"');
$ci_credit_card_fill                : unquote('"\ea8e"');
$ci_covi_ai_fill                    : unquote('"\ea8d"');
$ci_corner_fill                     : unquote('"\ea8c"');
$ci_copy_fill                       : unquote('"\ea8b"');
$ci_comment_fill                    : unquote('"\ea8a"');
$ci_color_fill                      : unquote('"\ea89"');
$ci_coin_fill                       : unquote('"\ea88"');
$ci_cloud_up_fill                   : unquote('"\ea87"');
$ci_cloud_up                        : unquote('"\ea86"');
$ci_cloud_tree_fill                 : unquote('"\ea85"');
$ci_cloud_down_fill                 : unquote('"\ea84"');
$ci_clone_fill                      : unquote('"\ea83"');
$ci_clipboard_fill                  : unquote('"\ea82"');
$ci_clipboard_check_fill            : unquote('"\ea81"');
$ci_clap_fill                       : unquote('"\ea80"');
$ci_chrysanthemum_fill              : unquote('"\ea7f"');
$ci_chevron_up_fill                 : unquote('"\ea7e"');
$ci_chevron_right_fill              : unquote('"\ea7d"');
$ci_chevron_left_fill               : unquote('"\ea7c"');
$ci_chevron_down_fill               : unquote('"\ea7b"');
$ci_chevron_circle_up               : unquote('"\ea7a"');
$ci_chevron_circle_right            : unquote('"\ea79"');
$ci_chevron_circle_left             : unquote('"\ea78"');
$ci_chevron_circle_down             : unquote('"\ea77"');
$ci_check_small_fill                : unquote('"\ea76"');
$ci_check_rectangle_fill            : unquote('"\ea75"');
$ci_check_fill                      : unquote('"\ea74"');
$ci_chart_pie_fill                  : unquote('"\ea73"');
$ci_chart_line_fill                 : unquote('"\ea72"');
$ci_chart_bar_fill                  : unquote('"\ea71"');
$ci_change_fill                     : unquote('"\ea70"');
$ci_cart_shopping_fill              : unquote('"\ea6f"');
$ci_caret_up_fill                   : unquote('"\ea6e"');
$ci_caret_right_fill                : unquote('"\ea6d"');
$ci_caret_left_fill                 : unquote('"\ea6c"');
$ci_caret_down_fill                 : unquote('"\ea6b"');
$ci_cancel_fill                     : unquote('"\ea6a"');
$ci_camcorder_fill                  : unquote('"\ea69"');
$ci_calendar_fill                   : unquote('"\ea68"');
$ci_calendar_days_fill              : unquote('"\ea67"');
$ci_calendar_clock_fill             : unquote('"\ea66"');
$ci_calendar_check_fill             : unquote('"\ea65"');
$ci_calculator_fill                 : unquote('"\ea64"');
$ci_cake_first_fill                 : unquote('"\ea63"');
$ci_cake_fill                       : unquote('"\ea62"');
$ci_bullhorn_fill                   : unquote('"\ea61"');
$ci_buildings_fill                  : unquote('"\ea60"');
$ci_briefcase_fill                  : unquote('"\ea5f"');
$ci_box_memo_fill                   : unquote('"\ea5e"');
$ci_box_archive_fill                : unquote('"\ea5d"');
$ci_bot_fill                        : unquote('"\ea5c"');
$ci_book_fill                       : unquote('"\ea5b"');
$ci_bars_small_fill                 : unquote('"\ea5a"');
$ci_bars_gear_fill                  : unquote('"\ea59"');
$ci_bars_fill                       : unquote('"\ea58"');
$ci_bars_caret_down_fill            : unquote('"\ea57"');
$ci_ban_fill                        : unquote('"\ea56"');
$ci_balanced_fill                   : unquote('"\ea55"');
$ci_baby_fill                       : unquote('"\ea54"');
$ci_at_fill                         : unquote('"\ea53"');
$ci_arrow_up_right_from_square_fill : unquote('"\ea52"');
$ci_arrow_up_long_fill              : unquote('"\ea51"');
$ci_arrow_up_fill                   : unquote('"\ea50"');
$ci_arrow_turn_up_fill              : unquote('"\ea4f"');
$ci_arrow_turn_right_fill           : unquote('"\ea4e"');
$ci_arrow_turn_left_fill            : unquote('"\ea4d"');
$ci_arrow_turn_down_right_long_fill : unquote('"\ea4c"');
$ci_arrow_turn_down_right_fill      : unquote('"\ea4b"');
$ci_arrow_turn_down_fill            : unquote('"\ea4a"');
$ci_arrow_right_long_fill           : unquote('"\ea49"');
$ci_arrow_right_fill                : unquote('"\ea48"');
$ci_arrow_left_long_fill            : unquote('"\ea47"');
$ci_arrow_left_fill                 : unquote('"\ea46"');
$ci_arrow_fill                      : unquote('"\ea45"');
$ci_arrow_down_long_fill            : unquote('"\ea44"');
$ci_arrow_down_left_to_square_fill  : unquote('"\ea43"');
$ci_arrow_down_fill                 : unquote('"\ea42"');
$ci_arrow_down_arrow_up_fill        : unquote('"\ea41"');
$ci_arrow_circle_up_fill            : unquote('"\ea40"');
$ci_arrow_circle_right_fill         : unquote('"\ea3f"');
$ci_arrow_circle_left_fill          : unquote('"\ea3e"');
$ci_arrow_circle_down_fill          : unquote('"\ea3d"');
$ci_app_fill                        : unquote('"\ea3c"');
$ci_angles_right_fill               : unquote('"\ea3b"');
$ci_angles_left_fill                : unquote('"\ea3a"');
$ci_angle_up_fill                   : unquote('"\ea39"');
$ci_angle_right_fill                : unquote('"\ea38"');
$ci_angle_left_fill                 : unquote('"\ea37"');
$ci_angle_down_fill                 : unquote('"\ea36"');
$ci_ai_fill                         : unquote('"\ea35"');
$ci_address_card_fill               : unquote('"\ea34"');
$ci_address_book_fill               : unquote('"\ea33"');
$ci_a_fill                          : unquote('"\ea32"');
$ci_calendar_days                   : unquote('"\ea31"');
$ci_bars_caret_down                 : unquote('"\ea30"');
$ci_cart_shopping                   : unquote('"\ea2f"');
$ci_exclamation                     : unquote('"\ea2e"');
$ci_file_lines_CSV                  : unquote('"\ea2d"');
$ci_dotted_time                     : unquote('"\ea2c"');
$ci_document_fill                   : unquote('"\ea2b"');
$ci_covi_ai                         : unquote('"\ea2a"');
$ci_clock_fill                      : unquote('"\ea29"');
$ci_bot                             : unquote('"\ea28"');
$ci_bell_fill                       : unquote('"\ea27"');
$ci_arrow_turn_down_right_long      : unquote('"\ea26"');
$ci_tag                             : unquote('"\ea25"');
$ci_question_circle_fill            : unquote('"\ea24"');
$ci_mail_open_bottom_right_cut      : unquote('"\ea23"');
$ci_mail_open_bottom_left_cut       : unquote('"\ea22"');
$ci_mail_bottom_right_cut           : unquote('"\ea21"');
$ci_mail_bottom_left_cut            : unquote('"\ea20"');
$ci_heading                         : unquote('"\ea1f"');
$ci_bars_gear                       : unquote('"\ea1e"');
$ci_arrow_turn_right                : unquote('"\ea1d"');
$ci_arrow_turn_left                 : unquote('"\ea1c"');
$ci_arrow_turn_down_right           : unquote('"\ea1b"');
$ci_square_minus                    : unquote('"\ea1a"');
$ci_square_dot                      : unquote('"\ea19"');
$ci_split                           : unquote('"\ea18"');
$ci_speech_balloon_fill             : unquote('"\ea17"');
$ci_speech_balloon                  : unquote('"\ea16"');
$ci_smail                           : unquote('"\ea15"');
$ci_slip                            : unquote('"\ea14"');
$ci_messages                        : unquote('"\ea13"');
$ci_graduation_cap                  : unquote('"\ea12"');
$ci_double_monitor                  : unquote('"\ea11"');
$ci_check_small                     : unquote('"\ea10"');
$ci_chart_line                      : unquote('"\ea0f"');
$ci_camcorder                       : unquote('"\ea0e"');
$ci_bookmark_fill                   : unquote('"\ea0d"');
$ci_bookmark                        : unquote('"\ea0c"');
$ci_balanced                        : unquote('"\ea0b"');
$ci_volume_low                      : unquote('"\ea0a"');
$ci_user_pen                        : unquote('"\ea09"');
$ci_user_message                    : unquote('"\ea08"');
$ci_trophy                          : unquote('"\ea07"');
$ci_ticket                          : unquote('"\ea06"');
$ci_table_rows                      : unquote('"\ea05"');
$ci_table_columns                   : unquote('"\ea04"');
$ci_square_small                    : unquote('"\ea03"');
$ci_server                          : unquote('"\ea02"');
$ci_search_check                    : unquote('"\ea01"');
$ci_mail_check                      : unquote('"\ea00"');
$ci_layer_group                     : unquote('"\e9ff"');
$ci_inbox_history                   : unquote('"\e9fe"');
$ci_grid                            : unquote('"\e9fd"');
$ci_folder_open                     : unquote('"\e9fc"');
$ci_folder_house                    : unquote('"\e9fb"');
$ci_folder_closed                   : unquote('"\e9fa"');
$ci_folder_arrow_down               : unquote('"\e9f9"');
$ci_folder_arrow_circle_up          : unquote('"\e9f8"');
$ci_folder_arrow_circle_down        : unquote('"\e9f7"');
$ci_flag_swallowtail                : unquote('"\e9f6"');
$ci_file_search                     : unquote('"\e9f5"');
$ci_file_check                      : unquote('"\e9f4"');
$ci_file_3_lines                    : unquote('"\e9f3"');
$ci_file                            : unquote('"\e9f2"');
$ci_credit_card                     : unquote('"\e9f1"');
$ci_cloud_tree                      : unquote('"\e9f0"');
$ci_chart_pie                       : unquote('"\e9ef"');
$ci_chart_bar                       : unquote('"\e9ee"');
$ci_box_memo                        : unquote('"\e9ed"');
$ci_bars_small                      : unquote('"\e9ec"');
$ci_arrow_down_arrow_up             : unquote('"\e9eb"');
$ci_address_book                    : unquote('"\e9ea"');
$ci_message_my                      : unquote('"\e9e9"');
$ci_cloud_down                      : unquote('"\e9e8"');
$ci_window_restore                  : unquote('"\e9e7"');
$ci_minus                           : unquote('"\e9e6"');
$ci_message_laugh_wink              : unquote('"\e9e5"');
$ci_message_eyes                    : unquote('"\e9e4"');
$ci_spinner                         : unquote('"\e9e3"');
$ci_pause_circle                    : unquote('"\e9e2"');
$ci_list_ul                         : unquote('"\e9e1"');
$ci_ga                              : unquote('"\e9e0"');
$ci_ai                              : unquote('"\e9df"');
$ci_a                               : unquote('"\e9de"');
$ci_vector_square                   : unquote('"\e9dd"');
$ci_text_area                       : unquote('"\e9dc"');
$ci_text                            : unquote('"\e9db"');
$ci_table                           : unquote('"\e9da"');
$ci_select                          : unquote('"\e9d9"');
$ci_rectangle_history               : unquote('"\e9d8"');
$ci_radio                           : unquote('"\e9d7"');
$ci_process                         : unquote('"\e9d6"');
$ci_number                          : unquote('"\e9d5"');
$ci_monitor                         : unquote('"\e9d4"');
$ci_laptop                          : unquote('"\e9d3"');
$ci_database                        : unquote('"\e9d2"');
$ci_coin                            : unquote('"\e9d1"');
$ci_calendar_clock                  : unquote('"\e9d0"');
$ci_xmark_cirle                     : unquote('"\e9cf"');
$ci_xmark_circle_fill               : unquote('"\e9ce"');
$ci_xmark                           : unquote('"\e9cd"');
$ci_wrench                          : unquote('"\e9cc"');
$ci_windsock                        : unquote('"\e9cb"');
$ci_wind_fill                       : unquote('"\e9ca"');
$ci_wind                            : unquote('"\e9c9"');
$ci_vote                            : unquote('"\e9c8"');
$ci_user_team                       : unquote('"\e9c7"');
$ci_user_square                     : unquote('"\e9c6"');
$ci_user_plus                       : unquote('"\e9c5"');
$ci_user_group                      : unquote('"\e9c4"');
$ci_user_gear                       : unquote('"\e9c3"');
$ci_user_fill                       : unquote('"\e9c2"');
$ci_user_circle_fill                : unquote('"\e9c1"');
$ci_user_circle                     : unquote('"\e9c0"');
$ci_user                            : unquote('"\e9bf"');
$ci_upload                          : unquote('"\e9be"');
$ci_unlock                          : unquote('"\e9bd"');
$ci_umbrella_fill                   : unquote('"\e9bc"');
$ci_triangle_exclamation_fill       : unquote('"\e9bb"');
$ci_triangle_exclamation            : unquote('"\e9ba"');
$ci_trending_up                     : unquote('"\e9b9"');
$ci_trash                           : unquote('"\e9b8"');
$ci_thumbtack_fill                  : unquote('"\e9b7"');
$ci_thumbtack                       : unquote('"\e9b6"');
$ci_thumbs_up                       : unquote('"\e9b5"');
$ci_task                            : unquote('"\e9b4"');
$ci_table_list                      : unquote('"\e9b3"');
$ci_table_cells                     : unquote('"\e9b2"');
$ci_syringe                         : unquote('"\e9b1"');
$ci_swiper_right                    : unquote('"\e9b0"');
$ci_swiper_left                     : unquote('"\e9af"');
$ci_sun_half_fill                   : unquote('"\e9ae"');
$ci_sun_fill                        : unquote('"\e9ad"');
$ci_sun_cloud_fill                  : unquote('"\e9ac"');
$ci_sun_cloud                       : unquote('"\e9ab"');
$ci_sun                             : unquote('"\e9aa"');
$ci_star_fill                       : unquote('"\e9a9"');
$ci_star                            : unquote('"\e9a8"');
$ci_sort_up_fill                    : unquote('"\e9a7"');
$ci_sort_down_fill                  : unquote('"\e9a6"');
$ci_sitemap                         : unquote('"\e9a5"');
$ci_sidebar                         : unquote('"\e9a4"');
$ci_shield_user                     : unquote('"\e9a3"');
$ci_share_nodes                     : unquote('"\e9a2"');
$ci_search_square                   : unquote('"\e9a1"');
$ci_search_plus                     : unquote('"\e9a0"');
$ci_search_minus                    : unquote('"\e99f"');
$ci_search                          : unquote('"\e99e"');
$ci_rotate_right                    : unquote('"\e99d"');
$ci_rotate_reverse                  : unquote('"\e99c"');
$ci_rotate_left                     : unquote('"\e99b"');
$ci_rotate                          : unquote('"\e99a"');
$ci_rings                           : unquote('"\e999"');
$ci_ribbon                          : unquote('"\e998"');
$ci_receipt                         : unquote('"\e997"');
$ci_question_circle                 : unquote('"\e996"');
$ci_print                           : unquote('"\e995"');
$ci_plus_circle                     : unquote('"\e994"');
$ci_plus                            : unquote('"\e993"');
$ci_play_square_fill                : unquote('"\e992"');
$ci_play_square                     : unquote('"\e991"');
$ci_play                            : unquote('"\e990"');
$ci_phone_fill                      : unquote('"\e98f"');
$ci_phone                           : unquote('"\e98e"');
$ci_pen_square                      : unquote('"\e98d"');
$ci_pen_line                        : unquote('"\e98c"');
$ci_pen                             : unquote('"\e98b"');
$ci_pause                           : unquote('"\e98a"');
$ci_paperclip                       : unquote('"\e989"');
$ci_paper_plane                     : unquote('"\e988"');
$ci_notes                           : unquote('"\e987"');
$ci_newspaper                       : unquote('"\e986"');
$ci_mobile                          : unquote('"\e985"');
$ci_minus_circle                    : unquote('"\e984"');
$ci_minimize                        : unquote('"\e983"');
$ci_microphone_slash                : unquote('"\e982"');
$ci_microphone_lines                : unquote('"\e981"');
$ci_microphone                      : unquote('"\e980"');
$ci_message_lines                   : unquote('"\e97f"');
$ci_message_exclamation             : unquote('"\e97e"');
$ci_message                         : unquote('"\e97d"');
$ci_medical                         : unquote('"\e97c"');
$ci_maximize                        : unquote('"\e97b"');
$ci_mail_open                       : unquote('"\e97a"');
$ci_mail                            : unquote('"\e979"');
$ci_logout                          : unquote('"\e978"');
$ci_lock_fill                       : unquote('"\e977"');
$ci_lock                            : unquote('"\e976"');
$ci_location_fill                   : unquote('"\e975"');
$ci_location                        : unquote('"\e974"');
$ci_list_check                      : unquote('"\e973"');
$ci_link                            : unquote('"\e972"');
$ci_lightbulb                       : unquote('"\e971"');
$ci_island                          : unquote('"\e970"');
$ci_info_circle_fill                : unquote('"\e96f"');
$ci_info_circle                     : unquote('"\e96e"');
$ci_inbox                           : unquote('"\e96d"');
$ci_image_landscape                 : unquote('"\e96c"');
$ci_image                           : unquote('"\e96b"');
$ci_id_card                         : unquote('"\e96a"');
$ci_id_badge                        : unquote('"\e969"');
$ci_house                           : unquote('"\e968"');
$ci_hourglass                       : unquote('"\e967"');
$ci_heart_fill                      : unquote('"\e966"');
$ci_heart                           : unquote('"\e965"');
$ci_global                          : unquote('"\e964"');
$ci_gear                            : unquote('"\e963"');
$ci_gadget                          : unquote('"\e962"');
$ci_folder_fill                     : unquote('"\e961"');
$ci_folder                          : unquote('"\e960"');
$ci_flatware                        : unquote('"\e95f"');
$ci_flag                            : unquote('"\e95e"');
$ci_filter                          : unquote('"\e95d"');
$ci_files                           : unquote('"\e95c"');
$ci_file_lines                      : unquote('"\e95b"');
$ci_fax                             : unquote('"\e95a"');
$ci_face                            : unquote('"\e959"');
$ci_eye_square                      : unquote('"\e958"');
$ci_eye_magnifier                   : unquote('"\e957"');
$ci_eye                             : unquote('"\e956"');
$ci_exclamation_circle_fill         : unquote('"\e955"');
$ci_exclamation_circle              : unquote('"\e954"');
$ci_ellipsis_vertical               : unquote('"\e953"');
$ci_download                        : unquote('"\e952"');
$ci_document                        : unquote('"\e951"');
$ci_corner                          : unquote('"\e950"');
$ci_copy                            : unquote('"\e94f"');
$ci_comment                         : unquote('"\e94e"');
$ci_color                           : unquote('"\e94d"');
$ci_cloud_sun_fill                  : unquote('"\e94c"');
$ci_cloud_sun                       : unquote('"\e94b"');
$ci_cloud_snow_fill                 : unquote('"\e94a"');
$ci_cloud_snow                      : unquote('"\e949"');
$ci_cloud_rain_fill                 : unquote('"\e948"');
$ci_cloud_rain                      : unquote('"\e947"');
$ci_cloud_fill                      : unquote('"\e946"');
$ci_cloud_bolt_fill                 : unquote('"\e945"');
$ci_cloud_bolt                      : unquote('"\e944"');
$ci_cloud                           : unquote('"\e943"');
$ci_clone                           : unquote('"\e942"');
$ci_clock                           : unquote('"\e941"');
$ci_clipboard_check                 : unquote('"\e940"');
$ci_clipboard                       : unquote('"\e93f"');
$ci_clap                            : unquote('"\e93e"');
$ci_chrysanthemum                   : unquote('"\e93d"');
$ci_chevron_up                      : unquote('"\e93c"');
$ci_chevron_right                   : unquote('"\e93b"');
$ci_chevron_left                    : unquote('"\e93a"');
$ci_chevron_down                    : unquote('"\e939"');
$ci_chevron_circle_up_fill          : unquote('"\e938"');
$ci_chevron_circle_right_fill       : unquote('"\e937"');
$ci_chevron_circle_left_fill        : unquote('"\e936"');
$ci_chevron_circle_down_fill        : unquote('"\e935"');
$ci_check_square_fill               : unquote('"\e934"');
$ci_square                          : unquote('"\e933"');
$ci_check_square                    : unquote('"\e932"');
$ci_check_rectangle                 : unquote('"\e931"');
$ci_check_circle_fill               : unquote('"\e930"');
$ci_check_circle                    : unquote('"\e92f"');
$ci_check                           : unquote('"\e92e"');
$ci_change                          : unquote('"\e92d"');
$ci_caret_up                        : unquote('"\e92c"');
$ci_caret_right                     : unquote('"\e92b"');
$ci_caret_left                      : unquote('"\e92a"');
$ci_caret_down                      : unquote('"\e929"');
$ci_cancel                          : unquote('"\e928"');
$ci_calendar_check                  : unquote('"\e927"');
$ci_calendar                        : unquote('"\e926"');
$ci_calculator                      : unquote('"\e925"');
$ci_cake_first                      : unquote('"\e924"');
$ci_cake                            : unquote('"\e923"');
$ci_bullhorn                        : unquote('"\e922"');
$ci_buildings                       : unquote('"\e921"');
$ci_briefcase                       : unquote('"\e920"');
$ci_box_archive                     : unquote('"\e91f"');
$ci_book                            : unquote('"\e91e"');
$ci_bell                            : unquote('"\e91d"');
$ci_bars                            : unquote('"\e91c"');
$ci_ban                             : unquote('"\e91b"');
$ci_baby                            : unquote('"\e91a"');
$ci_at                              : unquote('"\e919"');
$ci_arrow_up_right_from_square      : unquote('"\e918"');
$ci_arrow_up_long                   : unquote('"\e917"');
$ci_arrow_up                        : unquote('"\e916"');
$ci_arrow_turn_up                   : unquote('"\e915"');
$ci_arrow_turn_down                 : unquote('"\e914"');
$ci_arrow_right_long                : unquote('"\e913"');
$ci_arrow_right                     : unquote('"\e912"');
$ci_arrow_left_long                 : unquote('"\e911"');
$ci_arrow_left                      : unquote('"\e910"');
$ci_arrow_down_long                 : unquote('"\e90f"');
$ci_arrow_down_left_to_square       : unquote('"\e90e"');
$ci_arrow_down                      : unquote('"\e90d"');
$ci_arrow_circle_up                 : unquote('"\e90c"');
$ci_arrow_circle_right              : unquote('"\e90b"');
$ci_arrow_circle_left               : unquote('"\e90a"');
$ci_arrow_circle_down               : unquote('"\e909"');
$ci_arrow                           : unquote('"\e908"');
$ci_app                             : unquote('"\e907"');
$ci_angles_right                    : unquote('"\e906"');
$ci_angles_left                     : unquote('"\e905"');
$ci_angle_up                        : unquote('"\e904"');
$ci_angle_right                     : unquote('"\e903"');
$ci_angle_left                      : unquote('"\e902"');
$ci_angle_down                      : unquote('"\e901"');
$ci_address_card                    : unquote('"\e900"');