<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
        <div class="cui_content">
            <div class="cui_main">
                <div class="cui_head">
                    <div class="head_content">
                        <h2 class="cui_title"><span>Company Information (업체용)</span></h2>
                    </div>
                </div>
                <div class="cui_body">
<!--                    <form class="cui_form_field" data-legend="true">-->
                    <form id="updateForm"  class="cui_form_field">
                        <fieldset>
                            <legend><span>업체 기본정보</span></legend>
                            <table class="cui_table">
                                <colgroup>
                                    <col style="width:154px;">
                                    <col>
                                    <col style="width:154px;">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th><span>Vendor 번호</span></th>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <input class="cui_text_field" type="text" name ="comcode"  id = "searchCustomer"  th:value="${member.COM_CODE}" disabled>
                                                <input type="hidden" name="COM_CODE" id="COM_CODE" th:value="${member.COM_CODE}">
                                            </div>
                                        </div>
                                    </td>
                                    <th><span>귀사 정보</span></th>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <input class="cui_text_field" type="text"  id="COM_NAME"  th:value="${member.COM_NAME}" disabled>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span>Vendor 업종 형태</span></th>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <label class="cui_checkbox">
                                                    <input type="radio" name="VENDOR_WORK_KIND" value="D" id="Manufacturer"
                                                           th:checked="${member.VENDOR_WORK_KIND == 'D'}">
                                                    <i></i><span>제조사</span>
                                                </label>

                                                <label class="cui_checkbox">
                                                    <input type="radio" name="VENDOR_WORK_KIND" value="L" id="Logistics"
                                                           th:checked="${member.VENDOR_WORK_KIND == 'L'}">
                                                    <i></i><span>물류사</span>
                                                </label>

                                            </div>
                                        </div>
                                    </td>
                                    <th><span>국가</span></th>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <input class="cui_text_field" type="text"  name="COM_NATION" id="COM_NATION" th:value="${member.COM_NATION}" disabled>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span>회사명 (한글 또는 해당국가 언어)</span></th>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <input class="cui_text_field" type="text" name = "COMPANY_NAME" id="COMPANY_NAME" th:value="${member.COMPANY_NAME}">
                                            </div>
                                        </div>
                                    </td>
                                    <th><span>제조 공장명</span></th>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <input class="cui_text_field" type="text" name = "FACTORY_NAME" id="FACTORY_NAME" th:value="${member.FACTORY_NAME}">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span>사업자 등록번호</span></th>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <input class="cui_text_field" type="text"  name = "BUS_NUMBER" id="BUS_NUMBER" th:value="${member.BUS_NUMBER}">
                                            </div>
                                        </div>
                                    </td>
                                    <th><span>회사주소 (영문)</span></th>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <input class="cui_text_field" type="text"  name = "COM_ADDRESS" id="COM_ADDRESS" th:value="${member.COM_ADDRESS}">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span>CEO 성명(영문)</span></th>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <input class="cui_text_field" type="text"  name = "COM_CEO_NAME" id="COM_CEO_NAME" th:value="${member.COM_CEO_NAME}">
                                            </div>
                                        </div>
                                    </td>
                                    <th><span>CEO 연락처(영문)</span></th>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <input class="cui_text_field" type="text" name = "COM_CEO_PHONE" id="COM_CEO_PHONE" th:value="${member.COM_CEO_PHONE}">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span>CEO e-mail(영문)</span></th>
                                    <td colspan="3">
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <input class="cui_text_field" name ="COM_CEO_EMAIL" id ="COM_CEO_EMAIL" th:value="${member.COM_CEO_EMAIL}">
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </fieldset>
                        <div class="cui_items_wrap" data-direction="right">
                            <div class="item_content">
<!--                                <button type="submit" class="cui_button primary"><span>수정</span></button>-->
                                <button type="button" class="cui_button primary" onClick="saveCpBase()"><span>수정</span></button>
                            </div>
                        </div>
                    </form>
                    <form class="cui_form_field" data-legend="true">
                        <fieldset>
                            <legend><span>공동 업무자 정보</span></legend>
                            <table class="cui_table center">
                                <thead>
                                <tr>
                                    <th><span>담당자 구분</span></th>
                                    <th><span>성명(영문)</span></th>
                                    <th><span>직위</span></th>
                                    <th><span>부서명</span></th>
                                    <th><span>email</span></th>
                                    <th><span>연락처</span></th>
                                    <th><button type="button" class="cui_button secondary" id="addRowButton" ><span>추가</span></button></th>
                                </tr>
                                </thead>
                                <tbody id="tableBody">
                                <tr class="collaborator-row" th:each=" user : ${companyUserList}">
                                    <td><span th:text="${user.MAIN_USER_YN == 'Y' ? '메인 담당자' : '공동 업무자'}"></span>
                                        <input type="hidden"  name="MAIN_USER_YN"  class="cui_text_field" th:value="${user.MAIN_USER_YN}">
                                        <input type="hidden"  name="MAIN_USER_IDX"  class="cui_text_field" th:value="${user.USER_IDX}">

                                    </td>

                                    <td>
                                        <input type="text" name="USER_NAME" class="cui_text_field" th:value="${user.USER_NAME}">
                                        <input type="hidden"  name="COM_USER_IDX"  class="cui_text_field" th:value="${user.COM_USER_IDX}">
                                    </td>
                                    <td><input type="text" name="USER_POSITION" class="cui_text_field" th:value="${user.USER_POSITION}"></td>
                                    <td><input type="text" name="USER_DEPT" class="cui_text_field" th:value="${user.USER_DEPT}"></td>
                                    <td><input type="text" name="USER_EMAIL" class="cui_text_field" th:value="${user.USER_EMAIL}"></td>
                                    <td><input type="text" name="USER_PHONE" class="cui_text_field" th:value="${user.USER_PHONE}"></td>
                                    <td>
                                        <button type="button" class="cui_button icon" data-cui-icon="trash" id="delRowButton" th:if="${user.MAIN_USER_YN != 'Y'}">
                                            <span>삭제</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </form>
                    <form class="cui_form_field" data-legend="true">
                        <fieldset>
                            <legend><span>Green Partner</span></legend>
                            <table class="cui_table">
                                <colgroup>
                                    <col style="width:154px;">
                                    <col>
                                    <col style="width:154px;">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th><span>Warranty Letter</span></th>
                                    <td>
                                        <span th:switch="${member.COM_MANAGE_STATUS}">
                                            <span th:case="'0'">Pending</span>
                                            <span th:case="'1'">Waiting</span>
                                            <span th:case="'2'">Approved</span>
                                            <span th:case="'3'">Rejected</span>
                                        </span>
                                    </td>
                                    <th><span>Audit 관리</span></th>
                                    <td>
                                        <span th:text="${member.COM_AUDIT_POINT != null ? member.COM_AUDIT_POINT + '점  |  ' : ' 점수 없음 |'}"></span>
                                        <span th:text="${member.COM_AUDIT_LEVEL != null ? member.COM_AUDIT_LEVEL + '등급  |  ' : ' 등급 없음 | '}"></span>
                                        <span th:text="${member.COM_OK_DATE != null ? member.COM_OK_DATE.substring(0, 10) : ''}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="cui_table center">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th colspan="4"><span>분쟁광물(CMRT)</span></th>
                                    <th colspan="2"><span>책임광물(EMRT)</span></th>
                                </tr>
                                <tr>
                                    <th><span>Tantalum</span></th>
                                    <th><span>Tungsten</span></th>
                                    <th><span>Tin</span></th>
                                    <th><span>Gold</span></th>
                                    <th><span>Cobalt</span></th>
                                    <th><span>Mica</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span th:text="${member.TANTALUM_YN == 'Y' ? '사용' : '미사용'}"></span></td>
                                    <td><span th:text="${member.TIN_YN == 'Y' ? '사용' : '미사용'}"></span></td>
                                    <td><span th:text="${member.GOLD_YN == 'Y' ? '사용' : '미사용'}"></span></td>
                                    <td><span th:text="${member.COBALT_YN == 'Y' ? '사용' : '미사용'}"></span></td>
                                    <td><span th:text="${member.COBALT_YN == 'Y' ? '사용' : '미사용'}"></span></td>
                                    <td><span th:text="${member.MICA_YN == 'Y' ? '사용' : '미사용'}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset>
                            <legend><span>DWFC 거래 사업부</span></legend>
                            <table class="cui_table">
                                <colgroup>
                                    <col style="width:154px;">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th><span>사업본부</span></th>
                                    <td>
                                        <div th:each="companyCodeWork, iterStat : ${companyCodeWorkList}">
                                            <span th:text="${iterStat.index + 1} + ') ' + ${companyCodeWork.BASE_NAME}"></span><br>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <div class="cui_items_wrap" data-direction="right">
                            <div class="item_content">
                                <button type="button" class="cui_button primary" onClick="updateCpUser()"><span>수정</span></button>
                            </div>
                        </div>
                    </form>
                    <form class="cui_form_field" data-legend="true">
                        <fieldset>
                            <legend><span>외부 인증 정보</span></legend>
                            <table class="cui_table">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><span>인증 구분</span></th>
                                    <th><span>인증일</span></th>
                                    <th><span>유효일</span></th>
                                    <th><span>인증기관</span></th>
                                    <th><span>인증서</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span>ISO 14001</span></td>
                                    <td><span>2024-01-01</span></td>
                                    <td><span>2024-01-01</span></td>
                                    <td><span>SGS</span></td>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="center">
                                            <div class="item_content">
                                                <button type="submit" class="cui_button secondary"><span>다운로드</span></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>ISO 14001</span></td>
                                    <td><span>2024-01-01</span></td>
                                    <td><span>2024-01-01</span></td>
                                    <td><span>SGS</span></td>
                                    <td>
                                        <div class="cui_items_wrap" data-direction="center">
                                            <div class="item_content">
                                                <button type="submit" class="cui_button secondary"><span>다운로드</span></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <div class="cui_items_wrap" data-direction="right">
                            <div class="item_content">
                                <button type="button" class="cui_button primary" onclick="location.href='/user/auditMgmt/isoAuth'"><span>수정</span></button>
                            </div>
                        </div>
                    </form>
                    <form class="cui_form_field" data-legend="true">
                        <fieldset>
                            <legend><span>회원 ID 관리</span></legend>
                            <table class="cui_table center">
                                <colgroup>
                                    <col style="width:120px;">
                                    <col style="width:120px;">
                                    <col style="width:240px;">
                                    <col style="width:120px;">
                                    <col style="width:180px;">
                                    <col >
                                    <col style="width:120px;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><span>ID</span></th>
                                    <th><span>이름</span></th>
                                    <th><span>E-mail</span></th>
                                    <th><span>가입일</span></th>
                                    <th><span>승인일</span></th>
                                    <th><span>접속 목적</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each=" user : ${companyUserIDList}" th:id="'idListRow-' + ${user.USER_IDX}">
                                        <td><span th:text="${user.USER_ID}" ></span></td>
                                        <td><span th:text="${user.USER_NAME}"></span></td>
                                        <td><span th:text="${user.USER_EMAIL}"></span></td>
                                        <td><span th:text="${user.REG_DATE != null ? user.REG_DATE.substring(0, 10) : ''}"></span></td>
                                        <td>
                                            <a href="#"
                                               th:attr="data-return-reason=${user.RETURN_REASON}"
                                               onclick="showReturnReason(this)">
                                                <span th:text="${user.USER_STATUS == '3' ? '(반려)' : ''}"></span>
                                            </a>
                                            <span th:text="${user.USER_OK_DATE != null ? user.USER_OK_DATE.substring(0, 10) : ''}"></span>
                                        </td>
                                        <td style="text-align: left;"><span th:utext="${#strings.replace(user.BASE_NAMES, '\n', '<br />')}"></span></td>
                                        <td>
                                            <div class="cui_items_wrap" data-direction="center">
                                                <div class="item_content">
                                                    <input type="hidden" name="USER_IDX" id="USER_IDX" th:value="${user.USER_IDX}">
                                                    <button type="button" name="deleteCpUser" class="cui_button secondary"   th:onclick="'deleteCpUserConfirm(' + '\'' + ${user.USER_IDX} + '\'' + ')'">
                                                        <span th:text="${user.USER_STATUS == '2' ? '탈퇴' : '삭제'}"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
</body>

<div class="cui_dialog" style="width:720px;display:none;" id="dialogReturnReason">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label"><span id="popTitle">반려</span></div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark"><span>Close</span></button>
            </div>
        </div>

        <div class="dialog_body">
            <div class="body_root">
                <form id="updateForm1" method="POST" class="cui_form_field" data-legend="true">
                    <fieldset>

                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">반려사유</strong>
                            <div class="item_content">
                                <textarea  style="height:80px;" class="cui_text_field" id="RETURN_REASON" name="RETURN_REASON"></textarea>
                            </div>
                        </label>

                        <div class="cui_items_wrap" data-direction="center">
                            <div class="item_content">
                                <button type="button" class="cui_button secondary modal-close"><span>닫기</span></button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>



</html>

<script>

   $(document).ready(function() {

        $('#addRowButton').on('click', function() {
           // 공동 업무자 정보 생성
           const newRow = `
               <tr class="collaborator-row">
                   <td><span>공동 업무자</span></td>
                   <td><input type="text" name="USER_NAME" class="cui_text_field" name="USER_NAME" placeholder="이름"></td>
                   <td><input type="text" name="USER_POSITION" class="cui_text_field" name="USER_POSITION"></td>
                   <td><input type="text" name="USER_DEPT" class="cui_text_field" name="USER_DEPT"></td>
                   <td><input type="text" name="USER_EMAIL" class="cui_text_field" name="USER_EMAIL" placeholder="이메일" ></td>
                   <td><input type="text" name="USER_PHONE" class="cui_text_field" name="USER_PHONE" placeholder="전화번호" ></td>
                   <td><button type="button" class="cui_button icon" data-cui-icon="trash" id="delRowButton"><span>삭제</span></button></td>
               </tr>
           `;

           $('#tableBody').append(newRow);
       });

       // 공동 업무자 정보 삭제
       $(document).on('click', '#delRowButton', function() {
           $(this).closest('tr').remove();
       });
   });



 function saveCpBase() {

    const formData = $('#updateForm').serialize();

     $.ajax({
        type: "post",
        url: "/user/companyInfo/updateCompanyInfo",
        data: formData,
        success: function(response) {
           showAlert('success', 'Company 정보가 업데이트되었습니다.');
        },
        error: function(err) {
          console.log("에러발생", err);
          showAlert('warning', '업데이트 중 오류가 발생했습니다.');
        }
    });
  }

 function updateCpUser() {

     const comCode = document.getElementById("COM_CODE").value;

     const rowsData = [];
      $('tr.collaborator-row').each(function () {
            const rowData = {
                COM_CODE: comCode,
                USER_IDX: $(this).find('input[name="MAIN_USER_IDX"]').val(),
                MAIN_USER_YN: $(this).find('input[name="MAIN_USER_YN"]').val(),
                COM_USER_IDX: $(this).find('input[name="COM_USER_IDX"]').val(),
                USER_NAME: $(this).find('input[name="USER_NAME"]').val(),
                USER_POSITION: $(this).find('input[name="USER_POSITION"]').val(),
                USER_DEPT: $(this).find('input[name="USER_DEPT"]').val(),
                USER_EMAIL: $(this).find('input[name="USER_EMAIL"]').val(),
                USER_PHONE: $(this).find('input[name="USER_PHONE"]').val()
            };
            rowsData.push(rowData);
      });

     $.ajax({
        type: "post",
        url: "/user/companyInfo/updateCompanyUserInfo",
        data: JSON.stringify(rowsData),
        contentType: "application/json",
        success: function(response) {
            if(response.status === "success") {
                showAlert('success', response.message);
            }
        },
        error: function(err) {
          console.log("에러발생", err);
          showAlert('warning', '업데이트 중 오류가 발생했습니다.');
        }
    });
  }

     function deleteCpUser(userIdx) {

         $.ajax({
            type: "post",
            url: "/user/companyInfo/deleteCompanyUserInfo",
            data: {
                  "USER_IDX": userIdx
              },
            success: function(response) {
                if(response.status === "success") {
                    showAlert('success', response.message);
                    const row = document.getElementById('idListRow-' + userIdx );
                    if (row) {
                        row.remove();
                    }
                }
            },
            error: function(err) {
              console.log("에러발생", err);
              showAlert('warning',err);
            }
        });

      }

    function deleteCpUserConfirm(userIdx) {
        //유효성  1개 아이디 남기자.
        var buttons = document.querySelectorAll('button[name="deleteCpUser"]');

        if (buttons.length === 1) {
            showAlert('warning','한 명 이상의 기본 사용자가 있어야 됩니다.');
            return;
        }

        showConfirm('warning', '정말로 삭제하시겠습니까?', function(isConfirmed) {
            if (isConfirmed) {
              deleteCpUser(userIdx);
            } else {
                overlay.style.display = "none";
            }
        });
    }


    function modal(id){
        overlay.style.display = "block"; // 오버레이 배경 표시
        $("#" + id).fadeIn();
    }

    $('.modal-close').on('click', function(e){
        overlay.style.display = "none"; // 오버레이 숨기기
        e.preventDefault();
        const modal = $(this).parents('.cui_dialog');
        modal.fadeOut();
    });

    function showReturnReason(element){
       const reason = element.getAttribute('data-return-reason');
       document.getElementById('RETURN_REASON').value =reason ;
       modal('dialogReturnReason');

    }


</script>