/* 모달 설정 */
.cui_dialog {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* 페이징 영역 */
.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #008CBA;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
