<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{common/fragments/config :: ConfigFragment}">
    <title>SCHEMA</title>
</head>
<body>
    <div class="cui_app">
        <th:block th:replace="~{common/fragments/header :: HeaderFragment}"></th:block>
        <div class="cui_container">
            <th:block th:replace="~{common/fragments/aside :: AsideFragment}"></th:block>
            <div class="cui_content">
                <th:block layout:fragment="Content"></th:block>
            </div>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>

    <!--==alert==-->
    <div class="cui_dialog" style="width:420px;display:none" id="dialog">
        <div class="dialog_container">
            <div class="dialog_body">
                <div class="body_root">
                    <div class="cui_alert alert_modal alert_basic" data-type="success" role="alert" id="alertTypeimg"> <p id="messageContent" ></p> </div>
                    <div class="cui_items_wrap" data-direction="center">
                        <div class="item_content">
                            <button type="button" class="cui_button primary modal-close" onClick="modal('cui_dialog')"><span>확인</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==alert==-->

    <!--==Confirm==-->
    <div class="cui_dialog" style="width:420px;display:none" id="dialogConfirm">
        <div class="dialog_container">
            <div class="dialog_body">
                <div class="body_root">
                    <div class="cui_alert alert_modal alert_basic" data-type="warning" role="alert" id="ConfirmTypeimg"> <p id="confirmMessageContent" ></p> </div>
                    <div class="cui_items_wrap" data-direction="center">
                        <div class="item_content">
                            <button type="button" class="cui_button primary" onClick="confirmAction(true)">
                                <span>확인</span>
                            </button>
                            <button type="button" class="cui_button" onClick="confirmAction(false)">
                                <span>취소</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==Confirm==-->
</body>
</html>