<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{common/fragments/config :: ConfigFragment}">
    <title>SCHEMA</title>
</head>
<body>
    <div class="cui_app">
        <th:block th:replace="~{common/fragments/header :: HeaderFragment}"></th:block>
        <div class="cui_container">
            <th:block th:replace="~{common/fragments/aside :: AsideFragment}"></th:block>
            <div class="cui_content">
                <th:block layout:fragment="Content"></th:block>
            </div>
        </div>
    </div>
</body>
</html>