<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{common/fragments/configMain :: ConfigMainFragment}">
    <title>SCHEMA</title>
</head>
<body>
    <div class="cui_app">
        <th:block th:replace="~{common/fragments/header :: HeaderFragment}"></th:block>
        <div class="cui_container">
            <!-- <div th:if="${currentUrl != '/main' and currentUrl != '/' and currentUrl != '/member/myPage'}">
                <aside th:replace="~{common/fragments/aside :: AsideFragment}"></aside>&lt;!&ndash; 공통 사이드 메뉴 &ndash;&gt;
            </div>-->
            <!-- content 영역 -->
            <div class="cui_content">
                <th:block layout:fragment="Content"></th:block>
            </div>
        </div>
    </div>
</body>
</html>