[data-cui-icon="location_crosshairs_fill"]:before {
    content : $ci_location_crosshairs_fill;
}

[data-cui-icon="location_crosshairs"]:before {
    content : $ci_location_crosshairs;
}

[data-cui-icon="eye_slash_fill"]:before {
    content : $ci_eye_slash_fill;
}

[data-cui-icon="eye_slash"]:before {
    content : $ci_eye_slash;
}

[data-cui-icon="bookmark_plus_fill"]:before {
    content : $ci_bookmark_plus_fill;
}

[data-cui-icon="bookmark_plus"]:before {
    content : $ci_bookmark_plus;
}

[data-cui-icon="arrow_up_line_long_fill"]:before {
    content : $ci_arrow_up_line_long_fill;
}

[data-cui-icon="arrow_up_line_long"]:before {
    content : $ci_arrow_up_line_long;
}

[data-cui-icon="arrow_up_line_fill"]:before {
    content : $ci_arrow_up_line_fill;
}

[data-cui-icon="arrow_up_line"]:before {
    content : $ci_arrow_up_line;
}

[data-cui-icon="arrow_right_line_long_fill"]:before {
    content : $ci_arrow_right_line_long_fill;
}

[data-cui-icon="arrow_right_line_long"]:before {
    content : $ci_arrow_right_line_long;
}

[data-cui-icon="arrow_right_line_fill"]:before {
    content : $ci_arrow_right_line_fill;
}

[data-cui-icon="arrow_right_line"]:before {
    content : $ci_arrow_right_line;
}

[data-cui-icon="arrow_left_line_long_fill"]:before {
    content : $ci_arrow_left_line_long_fill;
}

[data-cui-icon="arrow_left_line_long"]:before {
    content : $ci_arrow_left_line_long;
}

[data-cui-icon="arrow_left_line_fill"]:before {
    content : $ci_arrow_left_line_fill;
}

[data-cui-icon="arrow_left_line"]:before {
    content : $ci_arrow_left_line;
}

[data-cui-icon="arrow_down_line_long_fill"]:before {
    content : $ci_arrow_down_line_long_fill;
}

[data-cui-icon="arrow_down_line_long"]:before {
    content : $ci_arrow_down_line_long;
}

[data-cui-icon="arrow_down_line_fill"]:before {
    content : $ci_arrow_down_line_fill;
}

[data-cui-icon="arrow_down_line"]:before {
    content : $ci_arrow_down_line;
}

[data-cui-icon="xmark_fill"]:before {
    content : $ci_xmark_fill;
}

[data-cui-icon="wrench_fill"]:before {
    content : $ci_wrench_fill;
}

[data-cui-icon="windsock_fill"]:before {
    content : $ci_windsock_fill;
}

[data-cui-icon="window_restore_fill"]:before {
    content : $ci_window_restore_fill;
}

[data-cui-icon="vote_fill"]:before {
    content : $ci_vote_fill;
}

[data-cui-icon="volume_low_fill"]:before {
    content : $ci_volume_low_fill;
}

[data-cui-icon="vector_square_fill"]:before {
    content : $ci_vector_square_fill;
}

[data-cui-icon="user_team_fill"]:before {
    content : $ci_user_team_fill;
}

[data-cui-icon="user_square_fill"]:before {
    content : $ci_user_square_fill;
}

[data-cui-icon="user_plus_fill"]:before {
    content : $ci_user_plus_fill;
}

[data-cui-icon="user_pen_fill"]:before {
    content : $ci_user_pen_fill;
}

[data-cui-icon="user_message_fill"]:before {
    content : $ci_user_message_fill;
}

[data-cui-icon="user_group_fill"]:before {
    content : $ci_user_group_fill;
}

[data-cui-icon="user_gear_fill"]:before {
    content : $ci_user_gear_fill;
}

[data-cui-icon="upload_fill"]:before {
    content : $ci_upload_fill;
}

[data-cui-icon="unlock_fill"]:before {
    content : $ci_unlock_fill;
}

[data-cui-icon="umbrella"]:before {
    content : $ci_umbrella;
}

[data-cui-icon="trophy_fill"]:before {
    content : $ci_trophy_fill;
}

[data-cui-icon="trending_up_fill"]:before {
    content : $ci_trending_up_fill;
}

[data-cui-icon="trash_fill"]:before {
    content : $ci_trash_fill;
}

[data-cui-icon="ticket_fill"]:before {
    content : $ci_ticket_fill;
}

[data-cui-icon="thumbs_up_fill"]:before {
    content : $ci_thumbs_up_fill;
}

[data-cui-icon="text_fill"]:before {
    content : $ci_text_fill;
}

[data-cui-icon="text_area_fill"]:before {
    content : $ci_text_area_fill;
}

[data-cui-icon="task_fill"]:before {
    content : $ci_task_fill;
}

[data-cui-icon="tag_fill"]:before {
    content : $ci_tag_fill;
}

[data-cui-icon="table_rows_fill"]:before {
    content : $ci_table_rows_fill;
}

[data-cui-icon="table_list_fill"]:before {
    content : $ci_table_list_fill;
}

[data-cui-icon="table_fill"]:before {
    content : $ci_table_fill;
}

[data-cui-icon="table_columns_fill"]:before {
    content : $ci_table_columns_fill;
}

[data-cui-icon="table_cells_fill"]:before {
    content : $ci_table_cells_fill;
}

[data-cui-icon="syringe_fill"]:before {
    content : $ci_syringe_fill;
}

[data-cui-icon="swiper_right_fill"]:before {
    content : $ci_swiper_right_fill;
}

[data-cui-icon="swiper_left_fill"]:before {
    content : $ci_swiper_left_fill;
}

[data-cui-icon="sun_half"]:before {
    content : $ci_sun_half;
}

[data-cui-icon="square_small_fill"]:before {
    content : $ci_square_small_fill;
}

[data-cui-icon="square_minus_fill"]:before {
    content : $ci_square_minus_fill;
}

[data-cui-icon="square_fill"]:before {
    content : $ci_square_fill;
}

[data-cui-icon="square_dot_fill"]:before {
    content : $ci_square_dot_fill;
}

[data-cui-icon="split_fill"]:before {
    content : $ci_split_fill;
}

[data-cui-icon="spinner_fill"]:before {
    content : $ci_spinner_fill;
}

[data-cui-icon="sort_up"]:before {
    content : $ci_sort_up;
}

[data-cui-icon="sort_down"]:before {
    content : $ci_sort_down;
}

[data-cui-icon="smail_fill"]:before {
    content : $ci_smail_fill;
}

[data-cui-icon="slip_fill"]:before {
    content : $ci_slip_fill;
}

[data-cui-icon="sitemap_fill"]:before {
    content : $ci_sitemap_fill;
}

[data-cui-icon="sidebar_fill"]:before {
    content : $ci_sidebar_fill;
}

[data-cui-icon="shield_user_fill"]:before {
    content : $ci_shield_user_fill;
}

[data-cui-icon="share_nodes_fill"]:before {
    content : $ci_share_nodes_fill;
}

[data-cui-icon="server_fill"]:before {
    content : $ci_server_fill;
}

[data-cui-icon="select_fill"]:before {
    content : $ci_select_fill;
}

[data-cui-icon="search_square_fill"]:before {
    content : $ci_search_square_fill;
}

[data-cui-icon="search_plus_fill"]:before {
    content : $ci_search_plus_fill;
}

[data-cui-icon="search_minus_fill"]:before {
    content : $ci_search_minus_fill;
}

[data-cui-icon="search_fill"]:before {
    content : $ci_search_fill;
}

[data-cui-icon="search_check_fill"]:before {
    content : $ci_search_check_fill;
}

[data-cui-icon="rotate_right_fill"]:before {
    content : $ci_rotate_right_fill;
}

[data-cui-icon="rotate_reverse_fill"]:before {
    content : $ci_rotate_reverse_fill;
}

[data-cui-icon="rotate_left_fill"]:before {
    content : $ci_rotate_left_fill;
}

[data-cui-icon="rotate_fill"]:before {
    content : $ci_rotate_fill;
}

[data-cui-icon="rings_fill"]:before {
    content : $ci_rings_fill;
}

[data-cui-icon="ribbon_fill"]:before {
    content : $ci_ribbon_fill;
}

[data-cui-icon="rectangle_history_fill"]:before {
    content : $ci_rectangle_history_fill;
}

[data-cui-icon="receipt_fill"]:before {
    content : $ci_receipt_fill;
}

[data-cui-icon="radio_fill"]:before {
    content : $ci_radio_fill;
}

[data-cui-icon="process_fill"]:before {
    content : $ci_process_fill;
}

[data-cui-icon="print_fill"]:before {
    content : $ci_print_fill;
}

[data-cui-icon="plus_fill"]:before {
    content : $ci_plus_fill;
}

[data-cui-icon="plus_circle_fill"]:before {
    content : $ci_plus_circle_fill;
}

[data-cui-icon="play_fill"]:before {
    content : $ci_play_fill;
}

[data-cui-icon="phone_plus_fill"]:before {
    content : $ci_phone_plus_fill;
}

[data-cui-icon="phone_plus"]:before {
    content : $ci_phone_plus;
}

[data-cui-icon="pen_square_fill"]:before {
    content : $ci_pen_square_fill;
}

[data-cui-icon="pen_line_fill"]:before {
    content : $ci_pen_line_fill;
}

[data-cui-icon="pen_fill"]:before {
    content : $ci_pen_fill;
}

[data-cui-icon="pause_fill"]:before {
    content : $ci_pause_fill;
}

[data-cui-icon="pause_circle_fill"]:before {
    content : $ci_pause_circle_fill;
}

[data-cui-icon="paperclip_fill"]:before {
    content : $ci_paperclip_fill;
}

[data-cui-icon="paper_plane_fill"]:before {
    content : $ci_paper_plane_fill;
}

[data-cui-icon="number_fill"]:before {
    content : $ci_number_fill;
}

[data-cui-icon="notes_fill"]:before {
    content : $ci_notes_fill;
}

[data-cui-icon="newspaper_fill"]:before {
    content : $ci_newspaper_fill;
}

[data-cui-icon="monitor_fill"]:before {
    content : $ci_monitor_fill;
}

[data-cui-icon="mobile_fill"]:before {
    content : $ci_mobile_fill;
}

[data-cui-icon="minus_fill"]:before {
    content : $ci_minus_fill;
}

[data-cui-icon="minus_circle_fill"]:before {
    content : $ci_minus_circle_fill;
}

[data-cui-icon="minimize_fill"]:before {
    content : $ci_minimize_fill;
}

[data-cui-icon="microphone_slash_fill"]:before {
    content : $ci_microphone_slash_fill;
}

[data-cui-icon="microphone_lines_fill"]:before {
    content : $ci_microphone_lines_fill;
}

[data-cui-icon="microphone_fill"]:before {
    content : $ci_microphone_fill;
}

[data-cui-icon="messages_fill"]:before {
    content : $ci_messages_fill;
}

[data-cui-icon="message_my_fill"]:before {
    content : $ci_message_my_fill;
}

[data-cui-icon="message_lines_fill"]:before {
    content : $ci_message_lines_fill;
}

[data-cui-icon="message_laugh_wink_fill"]:before {
    content : $ci_message_laugh_wink_fill;
}

[data-cui-icon="message_fill"]:before {
    content : $ci_message_fill;
}

[data-cui-icon="message_eyes_fill"]:before {
    content : $ci_message_eyes_fill;
}

[data-cui-icon="message_exclamation_fill"]:before {
    content : $ci_message_exclamation_fill;
}

[data-cui-icon="medical_fill"]:before {
    content : $ci_medical_fill;
}

[data-cui-icon="maximize_fill"]:before {
    content : $ci_maximize_fill;
}

[data-cui-icon="mail_open_fill"]:before {
    content : $ci_mail_open_fill;
}

[data-cui-icon="mail_open_check_fill"]:before {
    content : $ci_mail_open_check_fill;
}

[data-cui-icon="mail_open_check"]:before {
    content : $ci_mail_open_check;
}

[data-cui-icon="mail_open_bottom_right_cut_fill"]:before {
    content : $ci_mail_open_bottom_right_cut_fill;
}

[data-cui-icon="mail_open_bottom_left_cut_fill"]:before {
    content : $ci_mail_open_bottom_left_cut_fill;
}

[data-cui-icon="mail_fill"]:before {
    content : $ci_mail_fill;
}

[data-cui-icon="mail_check_fill"]:before {
    content : $ci_mail_check_fill;
}

[data-cui-icon="mail_bottom_right_cut_fill"]:before {
    content : $ci_mail_bottom_right_cut_fill;
}

[data-cui-icon="mail_bottom_left_cut_fill"]:before {
    content : $ci_mail_bottom_left_cut_fill;
}

[data-cui-icon="logout_fill"]:before {
    content : $ci_logout_fill;
}

[data-cui-icon="list_ul_fill"]:before {
    content : $ci_list_ul_fill;
}

[data-cui-icon="list_check_fill"]:before {
    content : $ci_list_check_fill;
}

[data-cui-icon="link_fill"]:before {
    content : $ci_link_fill;
}

[data-cui-icon="lightbulb_fill"]:before {
    content : $ci_lightbulb_fill;
}

[data-cui-icon="layer_group_fill"]:before {
    content : $ci_layer_group_fill;
}

[data-cui-icon="laptop_fill"]:before {
    content : $ci_laptop_fill;
}

[data-cui-icon="island_fill"]:before {
    content : $ci_island_fill;
}

[data-cui-icon="inbox_history_fill"]:before {
    content : $ci_inbox_history_fill;
}

[data-cui-icon="inbox_fill"]:before {
    content : $ci_inbox_fill;
}

[data-cui-icon="image_landscape_fill"]:before {
    content : $ci_image_landscape_fill;
}

[data-cui-icon="image_fill"]:before {
    content : $ci_image_fill;
}

[data-cui-icon="id_card_fill"]:before {
    content : $ci_id_card_fill;
}

[data-cui-icon="id_badge_fill"]:before {
    content : $ci_id_badge_fill;
}

[data-cui-icon="house_fill"]:before {
    content : $ci_house_fill;
}

[data-cui-icon="hourglass_fill"]:before {
    content : $ci_hourglass_fill;
}

[data-cui-icon="heading_fill"]:before {
    content : $ci_heading_fill;
}

[data-cui-icon="grid_fill"]:before {
    content : $ci_grid_fill;
}

[data-cui-icon="graduation_cap_fill"]:before {
    content : $ci_graduation_cap_fill;
}

[data-cui-icon="global_fill"]:before {
    content : $ci_global_fill;
}

[data-cui-icon="gear_fill"]:before {
    content : $ci_gear_fill;
}

[data-cui-icon="gadget_fill"]:before {
    content : $ci_gadget_fill;
}

[data-cui-icon="ga_fill"]:before {
    content : $ci_ga_fill;
}

[data-cui-icon="folder_open_fill"]:before {
    content : $ci_folder_open_fill;
}

[data-cui-icon="folder_house_fill"]:before {
    content : $ci_folder_house_fill;
}

[data-cui-icon="folder_closed_fill"]:before {
    content : $ci_folder_closed_fill;
}

[data-cui-icon="folder_arrow_down_fill"]:before {
    content : $ci_folder_arrow_down_fill;
}

[data-cui-icon="folder_arrow_circle_up_fill"]:before {
    content : $ci_folder_arrow_circle_up_fill;
}

[data-cui-icon="folder_arrow_circle_down_fill"]:before {
    content : $ci_folder_arrow_circle_down_fill;
}

[data-cui-icon="flatware_fill"]:before {
    content : $ci_flatware_fill;
}

[data-cui-icon="flag_swallowtail_fill"]:before {
    content : $ci_flag_swallowtail_fill;
}

[data-cui-icon="flag_fill"]:before {
    content : $ci_flag_fill;
}

[data-cui-icon="filter_fill"]:before {
    content : $ci_filter_fill;
}

[data-cui-icon="files_fill"]:before {
    content : $ci_files_fill;
}

[data-cui-icon="file_search_fill"]:before {
    content : $ci_file_search_fill;
}

[data-cui-icon="file_lines_fill"]:before {
    content : $ci_file_lines_fill;
}

[data-cui-icon="file_lines_CSV_fill"]:before {
    content : $ci_file_lines_CSV_fill;
}

[data-cui-icon="file_fill"]:before {
    content : $ci_file_fill;
}

[data-cui-icon="file_check_fill"]:before {
    content : $ci_file_check_fill;
}

[data-cui-icon="file_3_lines_fill"]:before {
    content : $ci_file_3_lines_fill;
}

[data-cui-icon="fax_fill"]:before {
    content : $ci_fax_fill;
}

[data-cui-icon="face_fill"]:before {
    content : $ci_face_fill;
}

[data-cui-icon="eye_square_fill"]:before {
    content : $ci_eye_square_fill;
}

[data-cui-icon="eye_magnifier_fill"]:before {
    content : $ci_eye_magnifier_fill;
}

[data-cui-icon="eye_fill"]:before {
    content : $ci_eye_fill;
}

[data-cui-icon="exclamation_fill"]:before {
    content : $ci_exclamation_fill;
}

[data-cui-icon="ellipsis_vertical_fill"]:before {
    content : $ci_ellipsis_vertical_fill;
}

[data-cui-icon="download_fill"]:before {
    content : $ci_download_fill;
}

[data-cui-icon="double_monitor_fill"]:before {
    content : $ci_double_monitor_fill;
}

[data-cui-icon="dotted_time_fill"]:before {
    content : $ci_dotted_time_fill;
}

[data-cui-icon="database_fill"]:before {
    content : $ci_database_fill;
}

[data-cui-icon="credit_card_fill"]:before {
    content : $ci_credit_card_fill;
}

[data-cui-icon="covi_ai_fill"]:before {
    content : $ci_covi_ai_fill;
}

[data-cui-icon="corner_fill"]:before {
    content : $ci_corner_fill;
}

[data-cui-icon="copy_fill"]:before {
    content : $ci_copy_fill;
}

[data-cui-icon="comment_fill"]:before {
    content : $ci_comment_fill;
}

[data-cui-icon="color_fill"]:before {
    content : $ci_color_fill;
}

[data-cui-icon="coin_fill"]:before {
    content : $ci_coin_fill;
}

[data-cui-icon="cloud_up_fill"]:before {
    content : $ci_cloud_up_fill;
}

[data-cui-icon="cloud_up"]:before {
    content : $ci_cloud_up;
}

[data-cui-icon="cloud_tree_fill"]:before {
    content : $ci_cloud_tree_fill;
}

[data-cui-icon="cloud_down_fill"]:before {
    content : $ci_cloud_down_fill;
}

[data-cui-icon="clone_fill"]:before {
    content : $ci_clone_fill;
}

[data-cui-icon="clipboard_fill"]:before {
    content : $ci_clipboard_fill;
}

[data-cui-icon="clipboard_check_fill"]:before {
    content : $ci_clipboard_check_fill;
}

[data-cui-icon="clap_fill"]:before {
    content : $ci_clap_fill;
}

[data-cui-icon="chrysanthemum_fill"]:before {
    content : $ci_chrysanthemum_fill;
}

[data-cui-icon="chevron_up_fill"]:before {
    content : $ci_chevron_up_fill;
}

[data-cui-icon="chevron_right_fill"]:before {
    content : $ci_chevron_right_fill;
}

[data-cui-icon="chevron_left_fill"]:before {
    content : $ci_chevron_left_fill;
}

[data-cui-icon="chevron_down_fill"]:before {
    content : $ci_chevron_down_fill;
}

[data-cui-icon="chevron_circle_up"]:before {
    content : $ci_chevron_circle_up;
}

[data-cui-icon="chevron_circle_right"]:before {
    content : $ci_chevron_circle_right;
}

[data-cui-icon="chevron_circle_left"]:before {
    content : $ci_chevron_circle_left;
}

[data-cui-icon="chevron_circle_down"]:before {
    content : $ci_chevron_circle_down;
}

[data-cui-icon="check_small_fill"]:before {
    content : $ci_check_small_fill;
}

[data-cui-icon="check_rectangle_fill"]:before {
    content : $ci_check_rectangle_fill;
}

[data-cui-icon="check_fill"]:before {
    content : $ci_check_fill;
}

[data-cui-icon="chart_pie_fill"]:before {
    content : $ci_chart_pie_fill;
}

[data-cui-icon="chart_line_fill"]:before {
    content : $ci_chart_line_fill;
}

[data-cui-icon="chart_bar_fill"]:before {
    content : $ci_chart_bar_fill;
}

[data-cui-icon="change_fill"]:before {
    content : $ci_change_fill;
}

[data-cui-icon="cart_shopping_fill"]:before {
    content : $ci_cart_shopping_fill;
}

[data-cui-icon="caret_up_fill"]:before {
    content : $ci_caret_up_fill;
}

[data-cui-icon="caret_right_fill"]:before {
    content : $ci_caret_right_fill;
}

[data-cui-icon="caret_left_fill"]:before {
    content : $ci_caret_left_fill;
}

[data-cui-icon="caret_down_fill"]:before {
    content : $ci_caret_down_fill;
}

[data-cui-icon="cancel_fill"]:before {
    content : $ci_cancel_fill;
}

[data-cui-icon="camcorder_fill"]:before {
    content : $ci_camcorder_fill;
}

[data-cui-icon="calendar_fill"]:before {
    content : $ci_calendar_fill;
}

[data-cui-icon="calendar_days_fill"]:before {
    content : $ci_calendar_days_fill;
}

[data-cui-icon="calendar_clock_fill"]:before {
    content : $ci_calendar_clock_fill;
}

[data-cui-icon="calendar_check_fill"]:before {
    content : $ci_calendar_check_fill;
}

[data-cui-icon="calculator_fill"]:before {
    content : $ci_calculator_fill;
}

[data-cui-icon="cake_first_fill"]:before {
    content : $ci_cake_first_fill;
}

[data-cui-icon="cake_fill"]:before {
    content : $ci_cake_fill;
}

[data-cui-icon="bullhorn_fill"]:before {
    content : $ci_bullhorn_fill;
}

[data-cui-icon="buildings_fill"]:before {
    content : $ci_buildings_fill;
}

[data-cui-icon="briefcase_fill"]:before {
    content : $ci_briefcase_fill;
}

[data-cui-icon="box_memo_fill"]:before {
    content : $ci_box_memo_fill;
}

[data-cui-icon="box_archive_fill"]:before {
    content : $ci_box_archive_fill;
}

[data-cui-icon="bot_fill"]:before {
    content : $ci_bot_fill;
}

[data-cui-icon="book_fill"]:before {
    content : $ci_book_fill;
}

[data-cui-icon="bars_small_fill"]:before {
    content : $ci_bars_small_fill;
}

[data-cui-icon="bars_gear_fill"]:before {
    content : $ci_bars_gear_fill;
}

[data-cui-icon="bars_fill"]:before {
    content : $ci_bars_fill;
}

[data-cui-icon="bars_caret_down_fill"]:before {
    content : $ci_bars_caret_down_fill;
}

[data-cui-icon="ban_fill"]:before {
    content : $ci_ban_fill;
}

[data-cui-icon="balanced_fill"]:before {
    content : $ci_balanced_fill;
}

[data-cui-icon="baby_fill"]:before {
    content : $ci_baby_fill;
}

[data-cui-icon="at_fill"]:before {
    content : $ci_at_fill;
}

[data-cui-icon="arrow_up_right_from_square_fill"]:before {
    content : $ci_arrow_up_right_from_square_fill;
}

[data-cui-icon="arrow_up_long_fill"]:before {
    content : $ci_arrow_up_long_fill;
}

[data-cui-icon="arrow_up_fill"]:before {
    content : $ci_arrow_up_fill;
}

[data-cui-icon="arrow_turn_up_fill"]:before {
    content : $ci_arrow_turn_up_fill;
}

[data-cui-icon="arrow_turn_right_fill"]:before {
    content : $ci_arrow_turn_right_fill;
}

[data-cui-icon="arrow_turn_left_fill"]:before {
    content : $ci_arrow_turn_left_fill;
}

[data-cui-icon="arrow_turn_down_right_long_fill"]:before {
    content : $ci_arrow_turn_down_right_long_fill;
}

[data-cui-icon="arrow_turn_down_right_fill"]:before {
    content : $ci_arrow_turn_down_right_fill;
}

[data-cui-icon="arrow_turn_down_fill"]:before {
    content : $ci_arrow_turn_down_fill;
}

[data-cui-icon="arrow_right_long_fill"]:before {
    content : $ci_arrow_right_long_fill;
}

[data-cui-icon="arrow_right_fill"]:before {
    content : $ci_arrow_right_fill;
}

[data-cui-icon="arrow_left_long_fill"]:before {
    content : $ci_arrow_left_long_fill;
}

[data-cui-icon="arrow_left_fill"]:before {
    content : $ci_arrow_left_fill;
}

[data-cui-icon="arrow_fill"]:before {
    content : $ci_arrow_fill;
}

[data-cui-icon="arrow_down_long_fill"]:before {
    content : $ci_arrow_down_long_fill;
}

[data-cui-icon="arrow_down_left_to_square_fill"]:before {
    content : $ci_arrow_down_left_to_square_fill;
}

[data-cui-icon="arrow_down_fill"]:before {
    content : $ci_arrow_down_fill;
}

[data-cui-icon="arrow_down_arrow_up_fill"]:before {
    content : $ci_arrow_down_arrow_up_fill;
}

[data-cui-icon="arrow_circle_up_fill"]:before {
    content : $ci_arrow_circle_up_fill;
}

[data-cui-icon="arrow_circle_right_fill"]:before {
    content : $ci_arrow_circle_right_fill;
}

[data-cui-icon="arrow_circle_left_fill"]:before {
    content : $ci_arrow_circle_left_fill;
}

[data-cui-icon="arrow_circle_down_fill"]:before {
    content : $ci_arrow_circle_down_fill;
}

[data-cui-icon="app_fill"]:before {
    content : $ci_app_fill;
}

[data-cui-icon="angles_right_fill"]:before {
    content : $ci_angles_right_fill;
}

[data-cui-icon="angles_left_fill"]:before {
    content : $ci_angles_left_fill;
}

[data-cui-icon="angle_up_fill"]:before {
    content : $ci_angle_up_fill;
}

[data-cui-icon="angle_right_fill"]:before {
    content : $ci_angle_right_fill;
}

[data-cui-icon="angle_left_fill"]:before {
    content : $ci_angle_left_fill;
}

[data-cui-icon="angle_down_fill"]:before {
    content : $ci_angle_down_fill;
}

[data-cui-icon="ai_fill"]:before {
    content : $ci_ai_fill;
}

[data-cui-icon="address_card_fill"]:before {
    content : $ci_address_card_fill;
}

[data-cui-icon="address_book_fill"]:before {
    content : $ci_address_book_fill;
}

[data-cui-icon="a_fill"]:before {
    content : $ci_a_fill;
}

[data-cui-icon="calendar_days"]:before {
    content : $ci_calendar_days;
}

[data-cui-icon="bars_caret_down"]:before {
    content : $ci_bars_caret_down;
}

[data-cui-icon="cart_shopping"]:before {
    content : $ci_cart_shopping;
}

[data-cui-icon="exclamation"]:before {
    content : $ci_exclamation;
}

[data-cui-icon="file_lines_CSV"]:before {
    content : $ci_file_lines_CSV;
}

[data-cui-icon="dotted_time"]:before {
    content : $ci_dotted_time;
}

[data-cui-icon="document_fill"]:before {
    content : $ci_document_fill;
}

[data-cui-icon="covi_ai"]:before {
    content : $ci_covi_ai;
}

[data-cui-icon="clock_fill"]:before {
    content : $ci_clock_fill;
}

[data-cui-icon="bot"]:before {
    content : $ci_bot;
}

[data-cui-icon="bell_fill"]:before {
    content : $ci_bell_fill;
}

[data-cui-icon="arrow_turn_down_right_long"]:before {
    content : $ci_arrow_turn_down_right_long;
}

[data-cui-icon="tag"]:before {
    content : $ci_tag;
}

[data-cui-icon="question_circle_fill"]:before {
    content : $ci_question_circle_fill;
}

[data-cui-icon="mail_open_bottom_right_cut"]:before {
    content : $ci_mail_open_bottom_right_cut;
}

[data-cui-icon="mail_open_bottom_left_cut"]:before {
    content : $ci_mail_open_bottom_left_cut;
}

[data-cui-icon="mail_bottom_right_cut"]:before {
    content : $ci_mail_bottom_right_cut;
}

[data-cui-icon="mail_bottom_left_cut"]:before {
    content : $ci_mail_bottom_left_cut;
}

[data-cui-icon="heading"]:before {
    content : $ci_heading;
}

[data-cui-icon="bars_gear"]:before {
    content : $ci_bars_gear;
}

[data-cui-icon="arrow_turn_right"]:before {
    content : $ci_arrow_turn_right;
}

[data-cui-icon="arrow_turn_left"]:before {
    content : $ci_arrow_turn_left;
}

[data-cui-icon="arrow_turn_down_right"]:before {
    content : $ci_arrow_turn_down_right;
}

[data-cui-icon="square_minus"]:before {
    content : $ci_square_minus;
}

[data-cui-icon="square_dot"]:before {
    content : $ci_square_dot;
}

[data-cui-icon="split"]:before {
    content : $ci_split;
}

[data-cui-icon="speech_balloon_fill"]:before {
    content : $ci_speech_balloon_fill;
}

[data-cui-icon="speech_balloon"]:before {
    content : $ci_speech_balloon;
}

[data-cui-icon="smail"]:before {
    content : $ci_smail;
}

[data-cui-icon="slip"]:before {
    content : $ci_slip;
}

[data-cui-icon="messages"]:before {
    content : $ci_messages;
}

[data-cui-icon="graduation_cap"]:before {
    content : $ci_graduation_cap;
}

[data-cui-icon="double_monitor"]:before {
    content : $ci_double_monitor;
}

[data-cui-icon="check_small"]:before {
    content : $ci_check_small;
}

[data-cui-icon="chart_line"]:before {
    content : $ci_chart_line;
}

[data-cui-icon="camcorder"]:before {
    content : $ci_camcorder;
}

[data-cui-icon="bookmark_fill"]:before {
    content : $ci_bookmark_fill;
}

[data-cui-icon="bookmark"]:before {
    content : $ci_bookmark;
}

[data-cui-icon="balanced"]:before {
    content : $ci_balanced;
}

[data-cui-icon="volume_low"]:before {
    content : $ci_volume_low;
}

[data-cui-icon="user_pen"]:before {
    content : $ci_user_pen;
}

[data-cui-icon="user_message"]:before {
    content : $ci_user_message;
}

[data-cui-icon="trophy"]:before {
    content : $ci_trophy;
}

[data-cui-icon="ticket"]:before {
    content : $ci_ticket;
}

[data-cui-icon="table_rows"]:before {
    content : $ci_table_rows;
}

[data-cui-icon="table_columns"]:before {
    content : $ci_table_columns;
}

[data-cui-icon="square_small"]:before {
    content : $ci_square_small;
}

[data-cui-icon="server"]:before {
    content : $ci_server;
}

[data-cui-icon="search_check"]:before {
    content : $ci_search_check;
}

[data-cui-icon="mail_check"]:before {
    content : $ci_mail_check;
}

[data-cui-icon="layer_group"]:before {
    content : $ci_layer_group;
}

[data-cui-icon="inbox_history"]:before {
    content : $ci_inbox_history;
}

[data-cui-icon="grid"]:before {
    content : $ci_grid;
}

[data-cui-icon="folder_open"]:before {
    content : $ci_folder_open;
}

[data-cui-icon="folder_house"]:before {
    content : $ci_folder_house;
}

[data-cui-icon="folder_closed"]:before {
    content : $ci_folder_closed;
}

[data-cui-icon="folder_arrow_down"]:before {
    content : $ci_folder_arrow_down;
}

[data-cui-icon="folder_arrow_circle_up"]:before {
    content : $ci_folder_arrow_circle_up;
}

[data-cui-icon="folder_arrow_circle_down"]:before {
    content : $ci_folder_arrow_circle_down;
}

[data-cui-icon="flag_swallowtail"]:before {
    content : $ci_flag_swallowtail;
}

[data-cui-icon="file_search"]:before {
    content : $ci_file_search;
}

[data-cui-icon="file_check"]:before {
    content : $ci_file_check;
}

[data-cui-icon="file_3_lines"]:before {
    content : $ci_file_3_lines;
}

[data-cui-icon="file"]:before {
    content : $ci_file;
}

[data-cui-icon="credit_card"]:before {
    content : $ci_credit_card;
}

[data-cui-icon="cloud_tree"]:before {
    content : $ci_cloud_tree;
}

[data-cui-icon="chart_pie"]:before {
    content : $ci_chart_pie;
}

[data-cui-icon="chart_bar"]:before {
    content : $ci_chart_bar;
}

[data-cui-icon="box_memo"]:before {
    content : $ci_box_memo;
}

[data-cui-icon="bars_small"]:before {
    content : $ci_bars_small;
}

[data-cui-icon="arrow_down_arrow_up"]:before {
    content : $ci_arrow_down_arrow_up;
}

[data-cui-icon="address_book"]:before {
    content : $ci_address_book;
}

[data-cui-icon="message_my"]:before {
    content : $ci_message_my;
}

[data-cui-icon="cloud_down"]:before {
    content : $ci_cloud_down;
}

[data-cui-icon="window_restore"]:before {
    content : $ci_window_restore;
}

[data-cui-icon="minus"]:before {
    content : $ci_minus;
}

[data-cui-icon="message_laugh_wink"]:before {
    content : $ci_message_laugh_wink;
}

[data-cui-icon="message_eyes"]:before {
    content : $ci_message_eyes;
}

[data-cui-icon="spinner"]:before {
    content : $ci_spinner;
}

[data-cui-icon="pause_circle"]:before {
    content : $ci_pause_circle;
}

[data-cui-icon="list_ul"]:before {
    content : $ci_list_ul;
}

[data-cui-icon="ga"]:before {
    content : $ci_ga;
}

[data-cui-icon="ai"]:before {
    content : $ci_ai;
}

[data-cui-icon="a"]:before {
    content : $ci_a;
}

[data-cui-icon="vector_square"]:before {
    content : $ci_vector_square;
}

[data-cui-icon="text_area"]:before {
    content : $ci_text_area;
}

[data-cui-icon="text"]:before {
    content : $ci_text;
}

[data-cui-icon="table"]:before {
    content : $ci_table;
}

[data-cui-icon="select"]:before {
    content : $ci_select;
}

[data-cui-icon="rectangle_history"]:before {
    content : $ci_rectangle_history;
}

[data-cui-icon="radio"]:before {
    content : $ci_radio;
}

[data-cui-icon="process"]:before {
    content : $ci_process;
}

[data-cui-icon="number"]:before {
    content : $ci_number;
}

[data-cui-icon="monitor"]:before {
    content : $ci_monitor;
}

[data-cui-icon="laptop"]:before {
    content : $ci_laptop;
}

[data-cui-icon="database"]:before {
    content : $ci_database;
}

[data-cui-icon="coin"]:before {
    content : $ci_coin;
}

[data-cui-icon="calendar_clock"]:before {
    content : $ci_calendar_clock;
}

[data-cui-icon="xmark_cirle"]:before {
    content : $ci_xmark_cirle;
}

[data-cui-icon="xmark_circle_fill"]:before {
    content : $ci_xmark_circle_fill;
}

[data-cui-icon="xmark"]:before {
    content : $ci_xmark;
}

[data-cui-icon="wrench"]:before {
    content : $ci_wrench;
}

[data-cui-icon="windsock"]:before {
    content : $ci_windsock;
}

[data-cui-icon="wind_fill"]:before {
    content : $ci_wind_fill;
}

[data-cui-icon="wind"]:before {
    content : $ci_wind;
}

[data-cui-icon="vote"]:before {
    content : $ci_vote;
}

[data-cui-icon="user_team"]:before {
    content : $ci_user_team;
}

[data-cui-icon="user_square"]:before {
    content : $ci_user_square;
}

[data-cui-icon="user_plus"]:before {
    content : $ci_user_plus;
}

[data-cui-icon="user_group"]:before {
    content : $ci_user_group;
}

[data-cui-icon="user_gear"]:before {
    content : $ci_user_gear;
}

[data-cui-icon="user_fill"]:before {
    content : $ci_user_fill;
}

[data-cui-icon="user_circle_fill"]:before {
    content : $ci_user_circle_fill;
}

[data-cui-icon="user_circle"]:before {
    content : $ci_user_circle;
}

[data-cui-icon="user"]:before {
    content : $ci_user;
}

[data-cui-icon="upload"]:before {
    content : $ci_upload;
}

[data-cui-icon="unlock"]:before {
    content : $ci_unlock;
}

[data-cui-icon="umbrella_fill"]:before {
    content : $ci_umbrella_fill;
}

[data-cui-icon="triangle_exclamation_fill"]:before {
    content : $ci_triangle_exclamation_fill;
}

[data-cui-icon="triangle_exclamation"]:before {
    content : $ci_triangle_exclamation;
}

[data-cui-icon="trending_up"]:before {
    content : $ci_trending_up;
}

[data-cui-icon="trash"]:before {
    content : $ci_trash;
}

[data-cui-icon="thumbtack_fill"]:before {
    content : $ci_thumbtack_fill;
}

[data-cui-icon="thumbtack"]:before {
    content : $ci_thumbtack;
}

[data-cui-icon="thumbs_up"]:before {
    content : $ci_thumbs_up;
}

[data-cui-icon="task"]:before {
    content : $ci_task;
}

[data-cui-icon="table_list"]:before {
    content : $ci_table_list;
}

[data-cui-icon="table_cells"]:before {
    content : $ci_table_cells;
}

[data-cui-icon="syringe"]:before {
    content : $ci_syringe;
}

[data-cui-icon="swiper_right"]:before {
    content : $ci_swiper_right;
}

[data-cui-icon="swiper_left"]:before {
    content : $ci_swiper_left;
}

[data-cui-icon="sun_half_fill"]:before {
    content : $ci_sun_half_fill;
}

[data-cui-icon="sun_fill"]:before {
    content : $ci_sun_fill;
}

[data-cui-icon="sun_cloud_fill"]:before {
    content : $ci_sun_cloud_fill;
}

[data-cui-icon="sun_cloud"]:before {
    content : $ci_sun_cloud;
}

[data-cui-icon="sun"]:before {
    content : $ci_sun;
}

[data-cui-icon="star_fill"]:before {
    content : $ci_star_fill;
}

[data-cui-icon="star"]:before {
    content : $ci_star;
}

[data-cui-icon="sort_up_fill"]:before {
    content : $ci_sort_up_fill;
}

[data-cui-icon="sort_down_fill"]:before {
    content : $ci_sort_down_fill;
}

[data-cui-icon="sitemap"]:before {
    content : $ci_sitemap;
}

[data-cui-icon="sidebar"]:before {
    content : $ci_sidebar;
}

[data-cui-icon="shield_user"]:before {
    content : $ci_shield_user;
}

[data-cui-icon="share_nodes"]:before {
    content : $ci_share_nodes;
}

[data-cui-icon="search_square"]:before {
    content : $ci_search_square;
}

[data-cui-icon="search_plus"]:before {
    content : $ci_search_plus;
}

[data-cui-icon="search_minus"]:before {
    content : $ci_search_minus;
}

[data-cui-icon="search"]:before {
    content : $ci_search;
}

[data-cui-icon="rotate_right"]:before {
    content : $ci_rotate_right;
}

[data-cui-icon="rotate_reverse"]:before {
    content : $ci_rotate_reverse;
}

[data-cui-icon="rotate_left"]:before {
    content : $ci_rotate_left;
}

[data-cui-icon="rotate"]:before {
    content : $ci_rotate;
}

[data-cui-icon="rings"]:before {
    content : $ci_rings;
}

[data-cui-icon="ribbon"]:before {
    content : $ci_ribbon;
}

[data-cui-icon="receipt"]:before {
    content : $ci_receipt;
}

[data-cui-icon="question_circle"]:before {
    content : $ci_question_circle;
}

[data-cui-icon="print"]:before {
    content : $ci_print;
}

[data-cui-icon="plus_circle"]:before {
    content : $ci_plus_circle;
}

[data-cui-icon="plus"]:before {
    content : $ci_plus;
}

[data-cui-icon="play_square_fill"]:before {
    content : $ci_play_square_fill;
}

[data-cui-icon="play_square"]:before {
    content : $ci_play_square;
}

[data-cui-icon="play"]:before {
    content : $ci_play;
}

[data-cui-icon="phone_fill"]:before {
    content : $ci_phone_fill;
}

[data-cui-icon="phone"]:before {
    content : $ci_phone;
}

[data-cui-icon="pen_square"]:before {
    content : $ci_pen_square;
}

[data-cui-icon="pen_line"]:before {
    content : $ci_pen_line;
}

[data-cui-icon="pen"]:before {
    content : $ci_pen;
}

[data-cui-icon="pause"]:before {
    content : $ci_pause;
}

[data-cui-icon="paperclip"]:before {
    content : $ci_paperclip;
}

[data-cui-icon="paper_plane"]:before {
    content : $ci_paper_plane;
}

[data-cui-icon="notes"]:before {
    content : $ci_notes;
}

[data-cui-icon="newspaper"]:before {
    content : $ci_newspaper;
}

[data-cui-icon="mobile"]:before {
    content : $ci_mobile;
}

[data-cui-icon="minus_circle"]:before {
    content : $ci_minus_circle;
}

[data-cui-icon="minimize"]:before {
    content : $ci_minimize;
}

[data-cui-icon="microphone_slash"]:before {
    content : $ci_microphone_slash;
}

[data-cui-icon="microphone_lines"]:before {
    content : $ci_microphone_lines;
}

[data-cui-icon="microphone"]:before {
    content : $ci_microphone;
}

[data-cui-icon="message_lines"]:before {
    content : $ci_message_lines;
}

[data-cui-icon="message_exclamation"]:before {
    content : $ci_message_exclamation;
}

[data-cui-icon="message"]:before {
    content : $ci_message;
}

[data-cui-icon="medical"]:before {
    content : $ci_medical;
}

[data-cui-icon="maximize"]:before {
    content : $ci_maximize;
}

[data-cui-icon="mail_open"]:before {
    content : $ci_mail_open;
}

[data-cui-icon="mail"]:before {
    content : $ci_mail;
}

[data-cui-icon="logout"]:before {
    content : $ci_logout;
}

[data-cui-icon="lock_fill"]:before {
    content : $ci_lock_fill;
}

[data-cui-icon="lock"]:before {
    content : $ci_lock;
}

[data-cui-icon="location_fill"]:before {
    content : $ci_location_fill;
}

[data-cui-icon="location"]:before {
    content : $ci_location;
}

[data-cui-icon="list_check"]:before {
    content : $ci_list_check;
}

[data-cui-icon="link"]:before {
    content : $ci_link;
}

[data-cui-icon="lightbulb"]:before {
    content : $ci_lightbulb;
}

[data-cui-icon="island"]:before {
    content : $ci_island;
}

[data-cui-icon="info_circle_fill"]:before {
    content : $ci_info_circle_fill;
}

[data-cui-icon="info_circle"]:before {
    content : $ci_info_circle;
}

[data-cui-icon="inbox"]:before {
    content : $ci_inbox;
}

[data-cui-icon="image_landscape"]:before {
    content : $ci_image_landscape;
}

[data-cui-icon="image"]:before {
    content : $ci_image;
}

[data-cui-icon="id_card"]:before {
    content : $ci_id_card;
}

[data-cui-icon="id_badge"]:before {
    content : $ci_id_badge;
}

[data-cui-icon="house"]:before {
    content : $ci_house;
}

[data-cui-icon="hourglass"]:before {
    content : $ci_hourglass;
}

[data-cui-icon="heart_fill"]:before {
    content : $ci_heart_fill;
}

[data-cui-icon="heart"]:before {
    content : $ci_heart;
}

[data-cui-icon="global"]:before {
    content : $ci_global;
}

[data-cui-icon="gear"]:before {
    content : $ci_gear;
}

[data-cui-icon="gadget"]:before {
    content : $ci_gadget;
}

[data-cui-icon="folder_fill"]:before {
    content : $ci_folder_fill;
}

[data-cui-icon="folder"]:before {
    content : $ci_folder;
}

[data-cui-icon="flatware"]:before {
    content : $ci_flatware;
}

[data-cui-icon="flag"]:before {
    content : $ci_flag;
}

[data-cui-icon="filter"]:before {
    content : $ci_filter;
}

[data-cui-icon="files"]:before {
    content : $ci_files;
}

[data-cui-icon="file_lines"]:before {
    content : $ci_file_lines;
}

[data-cui-icon="fax"]:before {
    content : $ci_fax;
}

[data-cui-icon="face"]:before {
    content : $ci_face;
}

[data-cui-icon="eye_square"]:before {
    content : $ci_eye_square;
}

[data-cui-icon="eye_magnifier"]:before {
    content : $ci_eye_magnifier;
}

[data-cui-icon="eye"]:before {
    content : $ci_eye;
}

[data-cui-icon="exclamation_circle_fill"]:before {
    content : $ci_exclamation_circle_fill;
}

[data-cui-icon="exclamation_circle"]:before {
    content : $ci_exclamation_circle;
}

[data-cui-icon="ellipsis_vertical"]:before {
    content : $ci_ellipsis_vertical;
}

[data-cui-icon="download"]:before {
    content : $ci_download;
}

[data-cui-icon="document"]:before {
    content : $ci_document;
}

[data-cui-icon="corner"]:before {
    content : $ci_corner;
}

[data-cui-icon="copy"]:before {
    content : $ci_copy;
}

[data-cui-icon="comment"]:before {
    content : $ci_comment;
}

[data-cui-icon="color"]:before {
    content : $ci_color;
}

[data-cui-icon="cloud_sun_fill"]:before {
    content : $ci_cloud_sun_fill;
}

[data-cui-icon="cloud_sun"]:before {
    content : $ci_cloud_sun;
}

[data-cui-icon="cloud_snow_fill"]:before {
    content : $ci_cloud_snow_fill;
}

[data-cui-icon="cloud_snow"]:before {
    content : $ci_cloud_snow;
}

[data-cui-icon="cloud_rain_fill"]:before {
    content : $ci_cloud_rain_fill;
}

[data-cui-icon="cloud_rain"]:before {
    content : $ci_cloud_rain;
}

[data-cui-icon="cloud_fill"]:before {
    content : $ci_cloud_fill;
}

[data-cui-icon="cloud_bolt_fill"]:before {
    content : $ci_cloud_bolt_fill;
}

[data-cui-icon="cloud_bolt"]:before {
    content : $ci_cloud_bolt;
}

[data-cui-icon="cloud"]:before {
    content : $ci_cloud;
}

[data-cui-icon="clone"]:before {
    content : $ci_clone;
}

[data-cui-icon="clock"]:before {
    content : $ci_clock;
}

[data-cui-icon="clipboard_check"]:before {
    content : $ci_clipboard_check;
}

[data-cui-icon="clipboard"]:before {
    content : $ci_clipboard;
}

[data-cui-icon="clap"]:before {
    content : $ci_clap;
}

[data-cui-icon="chrysanthemum"]:before {
    content : $ci_chrysanthemum;
}

[data-cui-icon="chevron_up"]:before {
    content : $ci_chevron_up;
}

[data-cui-icon="chevron_right"]:before {
    content : $ci_chevron_right;
}

[data-cui-icon="chevron_left"]:before {
    content : $ci_chevron_left;
}

[data-cui-icon="chevron_down"]:before {
    content : $ci_chevron_down;
}

[data-cui-icon="chevron_circle_up_fill"]:before {
    content : $ci_chevron_circle_up_fill;
}

[data-cui-icon="chevron_circle_right_fill"]:before {
    content : $ci_chevron_circle_right_fill;
}

[data-cui-icon="chevron_circle_left_fill"]:before {
    content : $ci_chevron_circle_left_fill;
}

[data-cui-icon="chevron_circle_down_fill"]:before {
    content : $ci_chevron_circle_down_fill;
}

[data-cui-icon="check_square_fill"]:before {
    content : $ci_check_square_fill;
}

[data-cui-icon="square"]:before {
    content : $ci_square;
}

[data-cui-icon="check_square"]:before {
    content : $ci_check_square;
}

[data-cui-icon="check_rectangle"]:before {
    content : $ci_check_rectangle;
}

[data-cui-icon="check_circle_fill"]:before {
    content : $ci_check_circle_fill;
}

[data-cui-icon="check_circle"]:before {
    content : $ci_check_circle;
}

[data-cui-icon="check"]:before {
    content : $ci_check;
}

[data-cui-icon="change"]:before {
    content : $ci_change;
}

[data-cui-icon="caret_up"]:before {
    content : $ci_caret_up;
}

[data-cui-icon="caret_right"]:before {
    content : $ci_caret_right;
}

[data-cui-icon="caret_left"]:before {
    content : $ci_caret_left;
}

[data-cui-icon="caret_down"]:before {
    content : $ci_caret_down;
}

[data-cui-icon="cancel"]:before {
    content : $ci_cancel;
}

[data-cui-icon="calendar_check"]:before {
    content : $ci_calendar_check;
}

[data-cui-icon="calendar"]:before {
    content : $ci_calendar;
}

[data-cui-icon="calculator"]:before {
    content : $ci_calculator;
}

[data-cui-icon="cake_first"]:before {
    content : $ci_cake_first;
}

[data-cui-icon="cake"]:before {
    content : $ci_cake;
}

[data-cui-icon="bullhorn"]:before {
    content : $ci_bullhorn;
}

[data-cui-icon="buildings"]:before {
    content : $ci_buildings;
}

[data-cui-icon="briefcase"]:before {
    content : $ci_briefcase;
}

[data-cui-icon="box_archive"]:before {
    content : $ci_box_archive;
}

[data-cui-icon="book"]:before {
    content : $ci_book;
}

[data-cui-icon="bell"]:before {
    content : $ci_bell;
}

[data-cui-icon="bars"]:before {
    content : $ci_bars;
}

[data-cui-icon="ban"]:before {
    content : $ci_ban;
}

[data-cui-icon="baby"]:before {
    content : $ci_baby;
}

[data-cui-icon="at"]:before {
    content : $ci_at;
}

[data-cui-icon="arrow_up_right_from_square"]:before {
    content : $ci_arrow_up_right_from_square;
}

[data-cui-icon="arrow_up_long"]:before {
    content : $ci_arrow_up_long;
}

[data-cui-icon="arrow_up"]:before {
    content : $ci_arrow_up;
}

[data-cui-icon="arrow_turn_up"]:before {
    content : $ci_arrow_turn_up;
}

[data-cui-icon="arrow_turn_down"]:before {
    content : $ci_arrow_turn_down;
}

[data-cui-icon="arrow_right_long"]:before {
    content : $ci_arrow_right_long;
}

[data-cui-icon="arrow_right"]:before {
    content : $ci_arrow_right;
}

[data-cui-icon="arrow_left_long"]:before {
    content : $ci_arrow_left_long;
}

[data-cui-icon="arrow_left"]:before {
    content : $ci_arrow_left;
}

[data-cui-icon="arrow_down_long"]:before {
    content : $ci_arrow_down_long;
}

[data-cui-icon="arrow_down_left_to_square"]:before {
    content : $ci_arrow_down_left_to_square;
}

[data-cui-icon="arrow_down"]:before {
    content : $ci_arrow_down;
}

[data-cui-icon="arrow_circle_up"]:before {
    content : $ci_arrow_circle_up;
}

[data-cui-icon="arrow_circle_right"]:before {
    content : $ci_arrow_circle_right;
}

[data-cui-icon="arrow_circle_left"]:before {
    content : $ci_arrow_circle_left;
}

[data-cui-icon="arrow_circle_down"]:before {
    content : $ci_arrow_circle_down;
}

[data-cui-icon="arrow"]:before {
    content : $ci_arrow;
}

[data-cui-icon="app"]:before {
    content : $ci_app;
}

[data-cui-icon="angles_right"]:before {
    content : $ci_angles_right;
}

[data-cui-icon="angles_left"]:before {
    content : $ci_angles_left;
}

[data-cui-icon="angle_up"]:before {
    content : $ci_angle_up;
}

[data-cui-icon="angle_right"]:before {
    content : $ci_angle_right;
}

[data-cui-icon="angle_left"]:before {
    content : $ci_angle_left;
}

[data-cui-icon="angle_down"]:before {
    content : $ci_angle_down;
}

[data-cui-icon="address_card"]:before {
    content : $ci_address_card;
}