<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content" xmlns="">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="cui_app">
        <div class="cui_container" data-module="">
            <div class="cui_content">
                <div class="cui_main">
                    <div class="cui_head">
                        <div class="head_content">
                            <h2 class="cui_title"><span data-langsid="SVHC 항목"></span></h2>
                        </div>
                    </div>
                    <div class="cui_body">
                        <form id="sendForm" method="post" enctype="multipart/form-data" onsubmit="return false;">
                            <table class="cui_table">
                                <colgroup>
                                    <col style="width:120px;">
                                    <col>
                                    <col style="width:120px;">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th><span data-langsid="양식 업로드"></span></th>
                                    <td colspan="3">
                                        <div class="cui_items_wrap" data-direction="left">
                                            <div class="item_content">
                                                <div class="cui_attachments" style="width:500px;">
                                                    <input type="file" name="file" id="fileInfo" class="cui_file_field" >
                                                </div>
                                                <button type="button" class="cui_button primary" onclick="sendSubmit();"><span data-langsid="저장"></span></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:100px;vertical-align:middle;"><span data-langsid="샘플파일"></span></th>
                                    <td style="width:100px">
                                        <div class="cui_attachments" style="display:flex;">
                                            <input type="file" class="cui_file_field" name="SVHC_FILE">
                                        </div>
                                        <div class="cui_items_wrap file_wrap" data-direction="left" th:style="${SVHC_SAMPLE_FILE_NAME == '' ? 'display:none;' : '' }">
                                            <div class="item_label" data-cui-icon="paperclip" style="width:auto;">
                                                <span id="SVHC_SAMPLE_FILE_NAME" th:value="${SVHC_SAMPLE_FILE_NAME}" th:text="${SVHC_SAMPLE_FILE_NAME}"></span>
                                            </div>
                                            <div class="item_content">
                                                <button type="button" class="cui_button icon endpoint" data-cui-icon="download" th:onclick="downloadFile('SVHC_SAMPLE_FILE')" data-tooltip-title="다운로드" ><span data-langsid="다운로드"></span></button>
                                                <button type="button" class="cui_button icon endpoint" th:onclick="status_Del($(this))" data-cui-icon="xmark" data-tooltip-title="삭제"><span data-langsid="삭제"></span></button>
                                            </div>
                                        </div>
                                    </td>
                                    <th style="width:100px;vertical-align:middle;"><span data-langsid="보증 물질수"></span></th>
                                    <td style="width:100px;vertical-align: middle;">
                                        <input style="vertical-align:middle;width:90px;padding:0px;" type="number" class="cui_text_field" name="SVHC_ROW_COUNT" th:value="${SVHC_ROW_COUNT}" reqcheck="reqcheck" data-messages="보증 물질수를 입력해주세요." messages="">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                        <div class="cui_jqGrid_section">
                            <div class="cui_jqGrid_head">
                                <div class="jqGrid_label"> &nbsp;</div>
                                <div class="jqGrid_aside">
                                </div>
                            </div>
                            <div class="cui_jqGrid_body" id="Grid">
                                <div id="gridArea" gridYN="" th:initData="${svhcDataList}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var sendSubmit = function () {
            var obj = $("#sendForm");

            if($("input[name=SVHC_FILE]").val() === '' && $("#SVHC_SAMPLE_FILE_NAME").text() === '') {
                 isValid=false;
                 return Common.Msg(siteLang.getLang("샘플 파일을 지정해주세요"));
            }

            if (Common.Validate(obj) == true) {
                Common.Msg(siteLang.getLang("저장 하시겠습니까?"), {
                    mode : "confrim"
                    , okback : function () {
                        Common.Loading.Show();

                        var ReqInfo = new Common.RequestInfo();
                        ReqInfo.formData  = new FormData();
                        ReqInfo.AddParameter(obj);

                        Common.Ajax("/svhcData/upload", ReqInfo, function (response) {
                            if (response == "OK") {
                                Common.Loading.Hide();
                                Common.Msg(siteLang.getLang("저장되었습니다."), {
                                    mode : "msg"
                                    , okback : function () {
                                        location.reload();
                                    }
                                });
                            }
                        });

                        //obj.submit();
                    }
                });
            }
        }

        var status_Del = function(obj){
            //alert(idx+"++++"+mode);
            Common.Msg(siteLang.getLang("데이터가 삭제됩니다. 파일을 삭제 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    var frmObj = $("#sendForm");
                    var ReqInfo = new Common.RequestInfo();
                    ReqInfo.formData  = new FormData();
                    ReqInfo.AddParameter(frmObj);

                    Common.Ajax("/svhcData/DeleteSvhcSampleFile", ReqInfo, function (response) {
                        if (response == "OK") {
                            Common.Msg(siteLang.getLang("삭제되었습니다."));
                        }
                    });

                    var row = obj.parent().parent();
                    row.find("span[id*=FILE_NAME]").text('');
<!--                    row.paren?t().find("input[name*=FILE_STATUS").val("DEL");-->
                    row.css("display","none");


                }
            });

        }

        var sampleDownLoad = function () {
            alert("샘플파일 서버에 올린 후 다운로드 경로만 넣어줘야함.");
            //location.href = "";
        }

        var SheetDataConvert = function (data) {
            var dataJson = JSON.parse(data);
            return dataJson;
        }

        $(function () {
            var heightMinus = 260;

            var data = SheetDataConvert($("#gridArea").attr("initData"));

            var obj = {
                bubble: false,
                numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35, style: 'border-right:1px' },
                editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
                editModel: { clicksToEdit: 2 },
                selectionModel: { type: 'cell', mode: 'block' },
                height: $(window).height() - heightMinus ,
                title: "",
                sortable: false,
                resizable: true,
                menuIcon: false,
                scrollModel: { autoFit: false },
                hoverMode: 'row',
                roundCorners: false,
                rowBorders: true,
                showBottom: false,
                showHeader: true,
                showTitle: true,
                showTop: false,
                showToolbar: true,
                stripeRows: false,
                wrap: false,
                autoAddRow: false,
                freezeCols:0,
                autoRow: false,
                autoRowHead: false,
                rowInit: function () {
                    return { style: 'font-size:12px;' };
                },
                selectChange: function (event, ui) {
                },
                rowClick: function (event, ui) {
                },
                cellClick: function (event, ui) {
                },
                rowDblClick: function (event, ui) {
                },
                rowSelect: function (event, ui) {
                },
                open: function () {
                },
                headerCellClick: function (event, ui) {
                }
            };
            obj.colModel = [
                { title: "NO", width: 120, halign: "center", align: "center", dataType: "string", dataIndx: "SVHC_NUM", sortable: false, editor: false, editable: false },
                { data_langsid: "물질명", title: siteLang.getLang("물질명"), width: 600, halign: "center", align: "left", dataType: "string", dataIndx: "SVHC_NAME", sortable: false, editor: false, editable: false },
                { title: "EC No.", width: 120, halign: "center", align: "center", dataType: "string", dataIndx: "SVHC_EUNUM", sortable: false, editor: false, editable: false },
                { title: "CAS No.", width: 120, halign: "center", align: "center", dataType: "string", dataIndx: "SVHC_CASNUM", sortable: false, editor: false, editable: false }
            ];
            obj.dataModel = { data: data };
            $("#gridArea").pqGrid(obj);
            $("#gridArea").attr("gridYN", "Y");

            $(window).resize(function () {
                $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus);
                $("#gridArea").pqGrid("refreshView");
            });
        });
    </script>
</body>
</html>