<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span data-langsid="업체코드"></span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form id="searchForm" method="get">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap " id="searchArea">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체코드"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchCode" name="searchCode" search="searchBtn" data-langsid="업체코드를 입력해주세요" placeholder=""/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체명"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchName" name="searchName" search="searchBtn" data-langsid="업체명을 입력해주세요" placeholder=""/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="사업본부"></strong>
                            <div class="item_content">
                                <select class="cui_select_field" id="searchFactory" name="searchFactory">
                                    <option value="CODEGROUP" data-langsid="선택" selected></option>
                                    <option value="BASECODE" data-langsid="사업본부"></option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="국가"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchNation" name="searchNation" search="searchBtn">
                            </div>
                        </div>
                    </div>
                    <div class="search_action">
                        <button type="button" class="cui_button primary search_btn" id="searchBtn" onclick="ListSearch();"><span data-langsid="검색"></span></button>
                    </div>
                </div>
            </form>
            <div class="cui_toolbar">
                <div class="toolbar_content">
                    <div class="toolbar_default"></div>
                </div>
                <div class="toolbar_aside">
                    <button type="button" class="cui_button secondary" onclick="addOpen();"><span data-langsid="추가"></span></button>
                    <button type="button" class="cui_button secondary" onclick="delCompany()"><span data-langsid="삭제"></span></button>
                    <button type="button" class="cui_button secondary" onclick="downloadExcel()"><span data-langsid="엑셀다운로드"></span></button>
                </div>
            </div>

            <div id="gridArea"></div>
        </div>
    </div>
</div>
<div class="cui_dialog" style="width:400px;display:none;" id="CpCodeMgmt">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label"><span id="modalTitle" data-langsid="신규추가"></span></div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" dialogBtn="close"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <form class="cui_form_section" data-legend="true" name="formCpCodeMgmt" onsubmit="return false;">
                    <fieldset>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체 코드"></strong>
                            <div class="item_content">
                                <input type="text" id="COM_CODE" name="COM_CODE" class="cui_text_field fixdata" reqcheck="reqcheck" data-messages="업체 코드를 입력하세요." messages="">
                                <button type="button" class="cui_button icon" data-cui-icon="search" onclick="selCpCodeOpen();"><span data-langsid="검색"></span></button>
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체명"></strong>
                            <div class="item_content">
                                <input type="text" id="COM_NAME" name="COM_NAME" class="cui_text_field fixdata" disabled="disabled" reqcheck="reqcheck" data-messages="업체명을 입력하세요." messages="">
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="사업본부"></strong>
                            <div class="item_content" style="display:table;">
                                <div><label class="cui_checkbox"><input type="checkbox" name="checkbox1"><i></i><span>반도체 사업본부</span></label></div>
                                <div><label class="cui_checkbox"><input type="checkbox" name="checkbox1"><i></i><span>첨단소재 사업본부</span></label></div>
                                <div><label class="cui_checkbox"><input type="checkbox" name="checkbox1"><i></i><span>에너지 기능재료 사업부</span></label></div>
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="국가"></strong>
                            <div class="item_content">
                                <input type="text" id="COM_NATION" name="COM_NATION" class="cui_text_field " disabled="disabled">
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="사용"></strong>
                            <div class="item_content">
                                <select class="cui_select_field wide" id="COM_STATUS" name="COM_STATUS">
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                </select>
                            </div>
                        </label>

                        <div class="cui_items_wrap" data-direction="center" style="top-margin:10px;">
                            <div class="item_content">
                                <button type="button" id="CpCodeMgmtAdd" class="cui_button primary" onclick="addComCodeSave();"><span data-langsid="저장"></span></button>
                                <button type="button" id="CpCodeMgmtPop" class="cui_button secondary" dialogBtn="close"><span data-langsid="닫기"></span></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
var addOpen = function () {
    Common.Dialog({ obj : $("#CpCodeMgmt"), blockClose : false });
}

var addComCodeSave = function() {
    if (Common.Validate($("#CpCodeMgmt")) == true) {
        Common.Msg(siteLang.getLang("저장 하시겠습니까?"), {
            mode : "confrim"
            , okback : function () {
                if (Common.Validate($("#CpCodeMgmt")) == true) {
                    Common.Loading.Show();

                    setTimeout(function () {
                        var ReqInfo = new Common.RequestInfo();
                        ReqInfo.AddParameter("COM_CODE", $('#COM_CODE').val());
                        ReqInfo.AddParameter("COM_NAME", $('#COM_NAME').val());
                        ReqInfo.AddParameter("COM_NATION", $('#COM_NATION').val());
                        ReqInfo.AddParameter("COM_STATUS", "Y");

                        Common.Ajax("/companyInfo/setCompanyData", ReqInfo, function (response) {
                            if (response == "Form submitted successfully!") {
                                $("#CpCodeMgmt").data("Hide")();
                                ListSearch();
                                Common.Loading.Hide();
                            } else {
                                Common.Loading.Hide();
                                Common.Msg(response);
                            }
                        }, { contentType : "application/json" });
                    }, 10);
                }
            }
        });
    }
}

var selCpCodeOpen = function () {
    Common.Dialog({ url : "/admin/companyInfo/cpCodeApiList" });
}

var ListSearch = function () {
    var url = "/companyInfo/listSearchCompanies";

    var ReqInfo = new Common.RequestInfo();
    ReqInfo.AddParameter($("#searchArea"));

    Common.Ajax(url, ReqInfo, function (data) {
        var dataJson = JSON.parse(data);

        for (var i = 0; i < dataJson.length; i++) {
            dataJson[i].CHECK_YN = false;
            if (dataJson[i].COM_STATUS == "Y") {
                dataJson[i].COM_STATUS_NAME = siteLang.getLang("사용");
            } else {
                dataJson[i].COM_STATUS_NAME = siteLang.getLang("미사용");
            }
        }

        $("#gridArea").pqGrid("option", "dataModel.data", dataJson);
        $("#gridArea").pqGrid("refreshView");
    });
}

$(function () {
    var heightMinus = 330;

    var data = [];

    var obj = {
        bubble: false,
        numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35 },
        editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
        editModel: { clicksToEdit: 2 },
        selectionModel: { type: 'cell', mode: 'block' },
        height: $(window).height() - heightMinus,
        title: "",
        sortable: false,
        resizable: true,
        menuIcon: true,
        scrollModel: { autoFit: false },
        hoverMode: 'row',
        rowHtHead: 30,
        rowHt:30,
        roundCorners: false,
        rowBorders: true,
        showBottom: true,
        showHeader: true,
        showTitle: true,
        showTop: false,
        showToolbar: true,
        stripeRows: true,
        wrap: false,
        autoAddRow: false,
        freezeCols:0,
        autoRow: false,
        autoRowHead: false,
        rowInit: function () {
            return { style: 'font-size:12px;' };
        },
        selectChange: function (event, ui) {
        },
        rowClick: function (event, ui) {
        },
        cellClick: function (event, ui) {
        },
        rowDblClick: function (event, ui) {
        },
        rowSelect: function (event, ui) {
        },
        open: function () {
        },
        headerCellClick: function (event, ui) {
        }
    };
    obj.colModel = [
        {
            dataIndx: "CHECK_YN", width: 50, halign: "center", align: "center", resizable: true,
            title: "",
            type: 'checkBoxSelection', sortable: true, editor: true, editable: true,
            dataType: 'bool',
            cb: {
                all: false,
                header: false
            }, render: function (ui) {
                if (ui.cellData == undefined) {
                    return { text: "" };
                } else {
                    return;
                }
            }
        },
        { title: siteLang.getLang("업체코드"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "COM_CODE", sortable: true, editor: false, editable: false },
        { title: siteLang.getLang("업체명"), width: 350, halign: "center", align: "left", dataType: "string", dataIndx: "COM_NAME", sortable: true, editor: false, editable: false },
        { title: siteLang.getLang("국가"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "COM_NATION", sortable: true, editor: false, editable: false },
        { title: siteLang.getLang("구분"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "COM_STATUS_NAME", sortable: true, editor: false, editable: false }
    ];
    obj.dataModel = { data: data };
    $("#gridArea").pqGrid(obj);

    $(window).resize(function () {
        $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus);
        $("#gridArea").pqGrid("refreshView");
    });
});

$(document).ready(function() {
    ListSearch();
});
</script>
</body>
</html>