<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../../css/style.css" >
    <link rel="stylesheet" type="text/css" href="../../css/schema.css?v=20241122" >
    <link rel="stylesheet" type="text/css" href="../../plugin/loading/iosOverlay.css" >
    <link rel="stylesheet" type="text/css" href="../../plugin/sweetalert/sweetalert2.css" >

    <script type="text/javascript" src="../../plugin/jquery/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../../plugin/jqueryUi/jquery-ui.js"></script>
    <script type="text/javascript" src="../../plugin/loading/iosOverlay.js"></script>
    <script type="text/javascript" src="../../plugin/loading/spin.min.js"></script>
    <script type="text/javascript" src="../../plugin/sweetalert/core.js"></script>
    <script type="text/javascript" src="../../plugin/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="../../js/app.js"></script>
    <script type="text/javascript" src="../../js/pages/schema.common.js?v=20241122"></script>
    <title>Schema</title>
    <style>
        .swal2-modal .swal2-title {
            font-size : 25px;
        }
    </style>
</head>
<body>
<div class="cui_app">
    <div class="cui_container" data-module="login">
        <div class="cui_content" >
            <div class="cui_main" >
                <div class="login_logo"><span>Schema Supply chain & Chemical conformation management system</span></div>
                <div class="login_content">
                    <div class="login_box">
                        <article class="login_form">
                            <form class="login_form_filed" action="/auth/login" method="post" onsubmit="return loginFormCheck($(this));">
                                <div class="cui_items_wrap" data-direction="right">
                                    <div class="item_content">
                                        <select class="cui_select_field" id="multiLanguage">
                                            <option value="KOR">KOR</option>
                                            <option value="ENG">ENG</option>
                                            <option value="JPN">JPN</option>
                                            <option value="CHN">CHN</option>
                                        </select>
                                    </div>
                                </div>
                                <h1 class="login_form_logo"><span data-langsid="동우화인캠"></span></h1>
                                <div class="cui_items_wrap" data-direction="left">
                                    <input name="username" class="cui_text_field" type="text" placeholder="ID" reqcheck="reqcheck" data-messages="ID를 입력해주세요." messages="">
                                </div>
                                <div class="cui_items_wrap" data-direction="left">
                                    <input name="password" class="cui_text_field" type="password" placeholder="PW" reqcheck="reqcheck" data-messages="비밀번호를 입력해주세요." messages="">
                                </div>
                                <div class="cui_items_wrap" data-direction="left">
                                    <input name="comUserIdx" type="hidden" th:value="222">
                                    <button type="submit" class="cui_button primary"><span>LOGIN</span></button>
                                </div>
                            </form>
                            <!-- 로그인 실패 메시지 표시 -->
                            <div th:if="${error}" class="cui_alert alert_basic" data-type="warning" role="alert" style="margin-top:10px;">
                                <div class="alert_message">
                                    <p class="data-langsid" th:text="${exception}"></p>
                                </div>
                            </div>

                            <div class="login_form_settings">
                                <a href="#" onClick="Common.Dialog({ obj : $('#dialog') });return false;" class="cui_button endpoint" data-cui-icon="search"><span data-langsid="ID/PW 찾기"></span></a>
                                <a href="/member/agree" class="cui_button endpoint" data-cui-icon="user_plus"><span data-langsid="회원가입"></span></a>
                            </div>
                        </article>
                        <article class="login_info">
                            <h2 data-cui-icon="messages"><span>FAQ</span></h2>
                            <p data-langsid="Schema 시스템의 궁금한 점 있으시면 문의해주세요."></p>
                            <div><a href="mailto:partnerhelp@dwchem.co.kr"><span>partnerhelp@dwchem.co.kr</span></a></div>
                        </article>
                    </div>
                    <p>COPYRIGHT ⓒ 2024 DWCHEM.CO.KR. ALL RIGHTS RESERVED.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cui_dialog" style="width:240px;display:none;" id="dialog">
        <div class="dialog_container">
            <div class="dialog_head">
                <div class="dialog_title">
                    <div class="main_label" data-langsid="ID/PW 찾기"></div>
                </div>
                <div class="dialog_toolbar">
                    <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" dialogBtn="close"><span>Close</span></button>
                </div>
            </div>
            <div class="dialog_body">
                <div class="body_root">
                    <div class="cui_items_wrap" data-direction="center">
                        <div class="item_content">
                            <button type="button" class="cui_button primary" onClick="Common.Dialog({ obj : $('#dialogD')});" ><span>Dongwoo</span></button>
                            <button type="button" class="cui_button primary" onClick="Common.Dialog({ obj : $('#dialogP')});" ><span>Partner</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cui_dialog" style="width:420px;display:none;" id="dialogD">
        <div class="dialog_container">
            <div class="dialog_head">
                <div class="dialog_title">
                    <div class="main_label" data-langsid="DONGWOO ID/PW 찾기"></div>
                </div>
                <div class="dialog_toolbar">
                    <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" dialogBtn="close"><span>Close</span></button>
                </div>
            </div>
            <div class="dialog_body">
                <div class="body_root">
                    <form class="cui_form_section">
                        <fieldset>
                            <legend><span data-langsid="ID 이메일 정보 입력"></span></legend>
                            <label class="cui_items_wrap" data-direction="left">
                                <strong class="item_label">PC ID</strong>
                                <div class="item_content">
                                    <input type="text" class="cui_text_field" id="DWPCID" name="DWPCID" reqcheck="reqcheck" data-messages="PC ID를 입력하세요." messages="">
                                </div>
                            </label>
                            <label class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="이메일"></strong>
                                <div class="item_content">
                                    <input type="email" class="cui_text_field" id="DWEMail" name="DWEMail" reqcheck="reqcheck" data-messages="이메일을 입력하세요." messages="">
                                </div>
                            </label>
                            <div class="cui_items_wrap" data-direction="right">
                                <div class="item_content">
                                    <button type="button" class="cui_button primary" onClick="findDW();"><span data-langsid="찾기"></span></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="cui_dialog" style="width:420px;display:none;" id="dialogP">
        <div class="dialog_container">
            <div class="dialog_head">
                <div class="dialog_title">
                    <div class="main_label" data-langsid="PARTNER ID/PW 찾기"></div>
                </div>
                <div class="dialog_toolbar">
                    <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" dialogBtn="close"><span>Close</span></button>
                </div>
            </div>
            <div class="dialog_body">
                <div class="body_root">
                    <form class="cui_form_section" id="dialogPID" data-legend="true">
                        <fieldset>
                            <legend><span data-langsid="ID 찾기"></span></legend>
                            <label class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="영문이름"></strong>
                                <div class="item_content">
                                    <input type="text" class="cui_text_field" id="CompanySearchIDName" name="CompanySearchIDName" reqcheck="reqcheck" data-messages="이름을 입력하세요." messages="">
                                </div>
                            </label>
                            <label class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="이메일"></strong>
                                <div class="item_content">
                                    <input type="email" class="cui_text_field" id="CompanySearchIDEmail" name="CompanySearchIDEmail" reqcheck="reqcheck" data-messages="이메일을 입력하세요." messages="">
                                </div>
                            </label>
                            <div class="cui_items_wrap" data-direction="right">
                                <div class="item_content">
                                    <button type="button" class="cui_button primary" onClick="findCompanyID();"><span>ID 찾기</span></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <form class="cui_form_section" id="dialogPPW" data-legend="true">
                        <fieldset>
                            <legend><span data-langsid="비밀번호 찾기"></span></legend>
                            <label class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="ID"></strong>
                                <div class="item_content">
                                    <input type="text" class="cui_text_field" id="CompanySearchPWID" name="CompanySearchPWID" reqcheck="reqcheck" data-messages="ID를 입력하세요." messages="">
                                </div>
                            </label>
                            <label class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="영문이름"></strong>
                                <div class="item_content">
                                    <input type="text" class="cui_text_field" id="CompanySearchPWName" name="CompanySearchPWName" reqcheck="reqcheck" data-messages="이름을 입력하세요." messages="">
                                </div>
                            </label>
                            <label class="cui_items_wrap" data-direction="left">
                                <strong class="item_label" data-langsid="이메일"></strong>
                                <div class="item_content">
                                    <input type="email" class="cui_text_field" id="CompanySearchPWEmail" name="CompanySearchPWEmail" reqcheck="reqcheck" data-messages="이메일을 입력하세요." messages="">
                                </div>
                            </label>
                            <div class="cui_items_wrap" data-direction="right">
                                <div class="item_content">
                                    <button type="button" class="cui_button primary" onClick="findCompanyPW();"><span data-langsid="PW 찾기"></span></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="cui_alert alert_basic" data-type="info" role="alert">
                        <div class="alert_message">
                            <p data-langsid="검색 불가시는 아래 메일로 연락 주시기 바랍니다."></p>
                            <p>partnerhelp@dwchem.co.kr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
<script>
    function loginFormCheck (obj) {
        if (obj.attr("otpok") == "Y") {
            return true;
        }

        if (Common.Validate(obj)) {
            var rtnValue = false;
            var ReqInfo = new Common.RequestInfo();
            ReqInfo.AddParameter(obj);

            Common.Ajax("/idpwCheck", ReqInfo, function (response) {
                if (response.substring(0, 2) == "OK") {
                    if (response.substring(3, 4) == "0") {
                        rtnValue = true;
                        return;
                    } else {
                        var param = { username: obj.find("input[name=username]").val() };
                        Common.Dialog({ url : "/otp", param : param });
                        $("#errorMsg").remove();
                    }
                } else {
                    if ($("#errorMsg").length == 0) {
                        var msgDiv = '<div id="errorMsg" class="cui_alert alert_basic" data-type="warning" role="alert" style="margin-top:10px;">';
                        msgDiv += '<div class="alert_message">';
                        msgDiv += '<p class="" data-langsid="' + response + '">' + siteLang.getLang(response) + '</p>';
                        msgDiv += '</div>';
                        msgDiv += '</div>';
                        obj.after(msgDiv)
                    }
                }
            });

            return rtnValue;
        }

        return false;
    }

    var findDW = function () {
        if (Common.Validate($("#dialogD")) == true) {
            var ReqInfo = new Common.RequestInfo();
            ReqInfo.AddParameter($("#dialogD"));

            Common.Ajax("/findDW", ReqInfo, function (response) {
                if (response == "OK") {
                    Common.Msg(siteLang.getLang("메일이 발송되었습니다."), {
                        okback : function () {
                            $("#dialogD").data("Hide")();
                            $("#dialog").data("Hide")();
                        }
                    });
                } else {
                    Common.Msg(siteLang.getLang(response));
                }
            });
        }
    }

    var findCompanyID = function () {
        if (Common.Validate($("#dialogPID")) == true) {
            var ReqInfo = new Common.RequestInfo();
            ReqInfo.AddParameter($("#dialogPID"));

            Common.Ajax("/findCompanyID", ReqInfo, function (response) {
                if (response == "OK") {
                    Common.Msg(siteLang.getLang("메일이 발송되었습니다."), {
                        okback : function () {
                            $("#dialogP").data("Hide")();
                            $("#dialog").data("Hide")();
                        }
                    });
                } else {
                    Common.Msg(siteLang.getLang(response));
                }
            });
        }
    }

    var findCompanyPW = function () {
        if (Common.Validate($("#dialogPPW")) == true) {
            var ReqInfo = new Common.RequestInfo();
            ReqInfo.AddParameter($("#dialogPPW"));

            Common.Ajax("/findCompanyPW", ReqInfo, function (response) {
                if (response == "OK") {
                    Common.Msg(siteLang.getLang("메일이 발송되었습니다."), {
                        okback : function () {
                            $("#dialogP").data("Hide")();
                            $("#dialog").data("Hide")();
                        }
                    });
                } else {
                    Common.Msg(siteLang.getLang(response));
                }
            });
        }
    }

    $("#multiLanguage").bind("change", function () {
        siteLang.chgLangs($(this).val());
    });

    // 로그인 페이지에서 언어 초기화 하기
    $(document).ready(function () {
        var selOption = $("#multiLanguage").find("option[value=" + siteLang.selLang + "]");
        selOption.attr("selected", "selected");

        siteLang.clear();
        siteLang.init();
        siteLang.showLangs();
    });
</script>
</html>
