<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="cui_main">
    <div class="cui_head">
        <div class="head_content">
            <h2 class="cui_title"><span data-langsid="만료일 설정"></span></h2>
        </div>
    </div>
    <div class="cui_body">
        <form id="formExp" class="cui_form_field" data-legend="true" onsubmit="return false">
            <table class="cui_table">
                <colgroup>
                    <col style="width:154px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th><span data-langsid="요청사항"></span></th>
                    <td>
                        <div class="cui_items_wrap" data-direction="left">
                            <div class="item_content">
                                <textarea class="cui_text_field" name="EXP_BODY" rows="10" th:text="${EXP_BODY}"
                                          reqcheck="reqcheck" data-messages="요청사항을 입력해주세요." messages=""></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="cui_toolbar" style="margin-top:10px;">
                <div class="toolbar_content">
                    <div class="toolbar_default"></div>
                </div>
                <div class="toolbar_aside">
                    <button type="button" class="cui_button primary" onclick="expDateSave($('#formExp'));"><span
                            data-langsid="저장"></span></button>
                </div>
            </div>
        </form>
    </div>

    <div class="cui_head">
        <div class="head_content">
            <h2 class="cui_title"><span data-langsid="발송이력"></span></h2>
        </div>
    </div>
    <div class="cui_body">
        <div class="cui_jqGrid_section">
            <div class="cui_jqGrid_head">
                <div class="jqGrid_label"> &nbsp;</div>
                <div class="jqGrid_aside">
                    <button type="button" class="cui_button endpoint" data-cui-icon="upload"
                            onclick="sendExpAlert();"><span data-langsid="갱신요청 발송"></span></button>
                </div>
            </div>
            <div class="cui_jqGrid_body" id="Grid">
                <div id="gridArea" gridYN="" th:initData="${auditList}"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var sendExpAlert = function () {
        var sel_idxs = "";
        var sel_idxs_count = 0;
        var grid = $("#gridArea").pqGrid("instance");
        for (j = 0; j < grid.pdata.length; j++) {
            if (grid.pdata[j]["CHECK_YN"] == true) {
                if (sel_idxs == "") sel_idxs += ",";
                sel_idxs += grid.pdata[j]["MSDS_IDX"];
                sel_idxs_count++;
            }
        }

        if (sel_idxs_count == 0) {
            Common.Msg(siteLang.getLang("갱신 요청 데이터를 선택하세요."));
            return;
        }else{
            Common.Msg(siteLang.getLang("발송 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    var ReqInfo = new Common.RequestInfo();
                    ReqInfo.AddParameter(obj);

                    Common.Loading.Show();
                    setTimeout(function () {
                        Common.Ajax("/sendEmail?fromMail=recipient@example.com&to=recipient@example.com&subject=Test&text=Hello+World!", ReqInfo, function (response) {
                            if (response == "OK") {
                                Common.Msg(sel_idxs_count + "건 발송 되었습니다.");
                            }
                            Common.Loading.Hide();
                        });
                    }, 10);
                }
            });
        }
    }

    var expDateSave = function (obj) {
        if (Common.Validate(obj)) {
            Common.Msg(siteLang.getLang("저장 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    var ReqInfo = new Common.RequestInfo();
                    ReqInfo.AddParameter(obj);

                    Common.Loading.Show();
                    setTimeout(function () {
                        Common.Ajax("/admin/auditMgmt/expDateSafetySave", ReqInfo, function (response) {
                            if (response == "OK") {
                                Common.Msg(siteLang.getLang("저장되었습니다."));
                            }
                            Common.Loading.Hide();
                        });
                    }, 10);
                }
            });
        }
    }

    var SheetDataConvert = function (data) {
        var dataJson = JSON.parse(data);

        for (var i = 0; i < dataJson.length; i++) {
            dataJson[i].CHECK_YN = false;
        }

        return dataJson;
    }

    var ListSearch = function () {
        var url = location.pathname;
        console.log(url);

        var ReqInfo = new Common.RequestInfo();
        ReqInfo.AddParameter($("#searchArea"));

        Common.Ajax(url, ReqInfo, function (data) {
            var dataJson = SheetDataConvert(data);

            $("#gridArea").pqGrid("option", "dataModel.data", dataJson);
            $("#gridArea").pqGrid("refreshView");
        });
    }

    $(function () {
        var heightMinus = 650;

        var data = SheetDataConvert($("#gridArea").attr("initData"));

        var obj = {
            bubble: false,
            numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35 },
            editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
            editModel: { clicksToEdit: 2 },
            selectionModel: { type: 'cell', mode: 'block' },
            height: $(window).height() - heightMinus,
            title: "",
            sortable: false,
            resizable: true,
            menuIcon: true,
            scrollModel: { autoFit: false },
            hoverMode: 'row',
            rowHtHead: 30,
            //rowHt:30,
            roundCorners: false,
            rowBorders: true,
            showBottom: false,
            showHeader: true,
            showTitle: true,
            showTop: false, //excel 버튼 보이기
            showToolbar: false,
            stripeRows: false,
            virtualY: true,
            hwrap: false,
            wrap: false,
            autoAddRow: false,
            freezeCols:0,
            autoRow: false,
            autoRowHead: false,
            rowInit: function () {
                return { style: 'font-size:12px;' };
            },
            selectChange: function (event, ui) {
            },
            rowClick: function (event, ui) {
            },
            cellClick: function (event, ui) {
            },
            rowDblClick: function (event, ui) {
            },
            rowSelect: function (event, ui) {
            },
            open: function () {
            },
            headerCellClick: function (event, ui) {
            }
        };
        obj.colModel = [

            { data_langsid: "발송일자", title: siteLang.getLang("발송일자"), width: 120, halign: "center", align: "center", dataType: "string", dataIndx: "SEND_DATE", sortable: true, editor: false, editable: false },
            { data_langsid: "발송자", title: siteLang.getLang("발송자"), width: 120, halign: "center", align: "center", dataType: "string", dataIndx: "USER_NAME", sortable: true, editor: false, editable: false },
            { data_langsid: "요청사항", title: siteLang.getLang("요청사항"), width: 500, halign: "center", align: "center", dataType: "string", dataIndx: "SEND_BODY", sortable: true, editor: false, editable: false }
        ];
        obj.dataModel = { data: data };
        $("#gridArea").pqGrid(obj);
        $("#gridArea").attr("gridYN", "Y");

        $(window).resize(function () {
            $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus);
            $("#gridArea").pqGrid("refreshView");
        });
    });
</script>
</body>
</html>