<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
    <div class="cui_content">
        <div class="cui_main">
            <div class="cui_head">
                <div class="head_content">
                    <h2 class="cui_title"><span>업체승인</span></h2>
                </div>
            </div>
            <div class="cui_body">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap ">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">업체Code</strong>
                            <div class="item_content">
                                <input id="comCode" name="COM_CODE" class="cui_text_field" type="text" placeholder="업체Code를 입력해주세요">
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">업체명</strong>
                            <div class="item_content">
                                <input id="comName" name="comName" class="cui_text_field" type="text" placeholder="업체명을 입력해주세요">
<!--                                <button type="button" class="cui_button icon" data-cui-icon="search"><span>검색</span></button>-->
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">Warranty</strong>
                            <div class="item_content">
                                <select class="cui_select_field wide" id="comManageStatus" name="comManageStatus">
                                    <option value=""></option>
                                    <option value="0">Pending</option>
                                    <option value="1">Waiting</option>
                                    <option value="2">Approved</option>
                                    <option value="3">Rejected</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">사업부</strong>
                            <div class="item_content">
                                <select id="deptCode" name="deptCode" class="cui_select_field wide">
                                    <option value=""></option>
                                    <option th:each="dept : ${deptList}"
                                            th:value="${dept.BASE_CODE}"
                                            th:text="${dept.BASE_NAME}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">신청구분</strong>
                            <div class="item_content">
                                <select id="mineral" name="mineral" class="cui_select_field" >
                                    <option value=""></option>
                                    <option value="TANTALUM_YN">신규등록</option>
                                    <option value="TIN_YN">ID 추가</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">처리상태</strong>
                            <div class="item_content">
                                <select id="userStatus" name="userStatus" class="cui_select_field" >
                                    <option value=""></option>
<!--                                    <option value="0">대기</option>-->
                                    <option value="1">검토중</option>
                                    <option value="2">승인</option>
                                    <option value="3">반려</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">사업자번호</strong>
                            <div class="item_content">
                                <input id="busNumber" name="busNumber" class="cui_text_field" type="text">
                            </div>
                        </div>


                    </div>
                    <div class="search_action">
<!--                        <button type="button" class="cui_button primary"><span>검색</span></button>-->
                        <button type="button" id = "searchUser"  onclick="fetchDataLis()" class="cui_button primary"><span>검색</span></button>
                    </div>
                </div>
                <div class="cui_toolbar">
                    <div class="toolbar_content">
                        <div class="toolbar_default"></div>
                    </div>
                    <div class="toolbar_aside">
                        <button type="button" class="cui_button secondary"><span>엑셀 다운로드</span></button>
                    </div>
                </div>




                 <table class="cui_table cui_font_xs">
                     <colgroup>
                         <col style="width:100px">
                         <col style="width:150px">
                         <col style="width:300px">
                         <col style="width:200px">
                         <col style="width:100px">
                         <col style="width:100px">
                         <col >
                     </colgroup>
                     <thead>
                         <tr>
                             <th><span>신청구분</span></th>
                             <th><span>업체코드</span></th>
                             <th><span>업체명(영문)</span></th>
                             <th><span>사업자번호</span></th>
                             <th><span>Warranty</span></th>
                             <th><span>처리상태</span></th>
                             <th><span>사업본부</span></th>
                         </tr>
                     </thead>
                     <tbody id="companyTableBody">
                         <tr>
                             <td style="text-align:center"><span id = "com_file_name" name = "COM_FILE_NAME">신규 등록</span></td>
                             <td style="text-align:center">
                                <a href="#" class="cui_link">
                                    <span id = "com_code" name = "COM_CODE" ></span>
                                </a>
                             </td>
                             <td style="text-align:center"><span id = "com_name" name = "COM_NAME"></span></td>
                             <td style="text-align:center"><span id = "bus_number" name = "BUS_NUMBER" ></span></td>
                             <td style="text-align:center"><span id = "com_ok_date" name = "COM_OK_DATE" ></span></td>
                             <td style="text-align:center"><span id = "com_manage_status" name = "com_manage_status" ></span></td>
                             <td style="text-align:center"><span id = "code_work" name = "CODE_WORK" ></span></td>
                         </tr>
                     </tbody>
                 </table>

            </div>
        </div>
    </div>
</body>
</html>


<script>


    function fetchDataLis() {

       const dto = {
           "COM_CODE": document.getElementById('comCode').value,                     //업체코드
           "COM_NAME": document.getElementById('comName').value,                     //업체명
           "DEPT_CODE": document.getElementById('deptCode').value,                 //사업부
           "COM_MANAGE_STATUS": document.getElementById('comManageStatus').value ,   //warranty
           "BUS_NUMBER": document.getElementById('busNumber').value   ,             //사업자번호
           "USER_STATUS": document.getElementById('userStatus').value                //처리상태
             //신청구분??
       };

       fetch('/admin/companyInfo/getCompanyApprovalList', {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json',
           },
           body: JSON.stringify(dto)
       })
       .then(response => {
           if (!response.ok) {
               throw new Error('Network response was not ok');
           }
           return response.json();
       })
       .then(data => {
            console.log('응답 데이터:', data);
            if (data && Array.isArray(data)) {
                 populateTable(data);
            } else {
                 alert("nodata");
            }
       })
       .catch(error => {
           console.error('데이터 조회 실패:', error);
       });
    }


    function populateTable(data) {

     const tableBody = $("#companyTableBody");
     tableBody.empty();

     data.forEach(company => {
         const row = `
             <tr>
                 <td style="text-align:center"><span id = "com_name" name = "COM_NAME">신규등록</span></td>
                 <td style="text-align:center">
                    <a href="#"  onclick="goDetail('${company.com_CODE}')"  class="cui_link">
                        <span id = "com_code" name = "COM_CODE" >${company.com_CODE}</span>
                    </a>
                 </td>
                 <td style="text-align:center"><span id = "com_name" name = "COM_NAME">${company.com_NAME}</span></td>
                 <td style="text-align:center"><span id = "bus_number" name = "BUS_NUMBER">${company.bus_NUMBER}</span></td>
                 <td style="text-align:center"><span id = "com_manage_status" name = "COM_MANAGE_STATUS">${company.com_MANAGE_STATUS}</span></td>
                 <td style="text-align:center"><span id = "user_status" name = "user_status" >${company.user_STATUS}</span></td>
                 <td style="text-align:center">
                    <span class="company_code_work" >
                     ${company.cp_CODE_WORK_CD1 !=null  ? company.cp_CODE_WORK_CD1 +",": ""}
                     ${company.cp_CODE_WORK_CD2 !=null  ? company.cp_CODE_WORK_CD2 +",": ""}
                     ${company.cp_CODE_WORK_CD3 !=null  ? company.cp_CODE_WORK_CD3 +",": ""}
                     ${company.cp_CODE_WORK_CD4 !=null  ? company.cp_CODE_WORK_CD4 +",": ""}
                     ${company.cp_CODE_WORK_CD5 !=null  ? company.cp_CODE_WORK_CD5 +",": ""}
                    </span>
                 </td>

             </tr>
         `;
         tableBody.append(row);
     });

         $(".company_code_work").each(function() {
            $(this).text($(this).text().replace(/,\s*$/, ''));
         });
    }

    const goDetail = (com_code) => {
        location.href = '/admin/companyInfo/cpDetail?com_code='+com_code;
    }

</script>