<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>

        <div class="cui_main">
            <div class="cui_head">
                <div class="head_content">
                    <h2 class="cui_title"><span data-langsid="업체승인"></span></h2>
                </div>
            </div>
            <div class="cui_body">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap ">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체Code"></strong>
                            <div class="item_content">
                                <input id="comCode" name="COM_CODE" class="cui_text_field" type="text" search="searchBtn">
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체명"></strong>
                            <div class="item_content">
                                <input id="comName" name="comName" class="cui_text_field" type="text" search="searchBtn">
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">Warranty</strong>
                            <div class="item_content">
                                <select class="cui_select_field wide" id="comManageStatus" name="comManageStatus">
                                    <option value=""></option>
                                    <option value="1">Waiting</option>
                                    <option value="2">Approved</option>
                                    <option value="3">Rejected</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="사업부"></strong>
                            <div class="item_content">
                                <select id="deptCode" name="deptCode" class="cui_select_field wide">
                                    <option value=""></option>
                                    <option th:each="dept : ${deptList}"
                                            th:value="${dept.BASE_CODE}"
                                            th:text="${dept.BASE_NAME}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="신청구분"></strong>
                            <div class="item_content">
                                <select id="idAddType" name="idAddType" class="cui_select_field" >
                                    <option value=""></option>
                                    <option value="0" data-langsid="신규등록"></option>
                                    <option value="1" data-langsid="ID 추가"></option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="처리상태"></strong>
                            <div class="item_content">
                                <select id="userStatus" name="userStatus" class="cui_select_field" >
                                    <option value=""></option>
<!--                                    <option value="0">대기</option>-->
                                    <option value="1" data-langsid="검토중"></option>
                                    <option value="2" data-langsid="승인"></option>
                                    <option value="3" data-langsid="반려"></option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="사업자번호"></strong>
                            <div class="item_content">
                                <input id="busNumber" name="busNumber" class="cui_text_field" type="text">
                            </div>
                        </div>


                    </div>
                    <div class="search_action">
                        <button type="button" id = "searchBtn"  onclick="ListSearch()" class="cui_button primary"><span data-langsid="검색"></span></button>
                    </div>
                </div>
                <div class="cui_toolbar">
                    <div class="toolbar_content">
                        <div class="toolbar_default"></div>
                    </div>
                    <div class="toolbar_aside">
<!--                        <button type="button" id="exportBtn" class="cui_button secondary"><span data-langsid="엑셀 다운로드"></span></button>-->
                        <button type="button" class="cui_button secondary" onclick="downloadExcel()"><span data-langsid="엑셀 다운로드"></span></button>
                    </div>
                </div>

                <div id="gridArea" gridYN=""></div>

            </div>
        </div>

</body>
</html>


<script>

   $(document).ready(function() {
       preSearchSetting();
       ListSearch();
   });

   function ListSearch() {
      const dto = {
          "COM_CODE": document.getElementById('comCode').value,
          "COM_NAME": document.getElementById('comName').value,
          "DEPT_CODE": document.getElementById('deptCode').value,
          "COM_MANAGE_STATUS": document.getElementById('comManageStatus').value,
          "BUS_NUMBER": document.getElementById('busNumber').value,
          "USER_STATUS": document.getElementById('userStatus').value,
          "ID_ADD_TYPE": document.getElementById('idAddType').value
      };

      fetch('/admin/companyInfo/getCompanyApprovalList', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(dto)
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          return response.json();
      })
      .then(data => {

           var dataJson =data;
           if (data && Array.isArray(data)) {
                $("#gridArea").pqGrid("option", "dataModel.data", dataJson);
                $("#gridArea").pqGrid("refreshView");
           }
      })
      .catch(error => {
          console.error('데이터 조회 실패:', error);
      });
   }

    function loadPage(code ,useridx ) {

           const url = "/admin/companyInfo/cpApprovalDetail?com_code=" + code + '&user_idx=' + useridx+ '&prePage=';

           sessionStorage.setItem('preSearch', code);

           const queryParams = {
               approval_COM_CODE: document.getElementById('comCode').value,
               approval_COM_NAME: document.getElementById('comName').value,
               approval_DEPT_CODE: document.getElementById('deptCode').value,
               approval_COM_MANAGE_STATUS: document.getElementById('comManageStatus').value,
               approval_BUS_NUMBER: document.getElementById('busNumber').value,
               approval_USER_STATUS: document.getElementById('userStatus').value,
               approval_ID_ADD_TYPE: document.getElementById('idAddType').value
           };

           Object.keys(queryParams).forEach(key => {
               sessionStorage.setItem(key, queryParams[key]);
           });

           location.href = url;
    }


    function preSearchSetting() {
      const storedCode = sessionStorage.getItem('preSearch');
       if (storedCode) {
           document.getElementById('comCode').value = sessionStorage.getItem('approval_COM_CODE');
           document.getElementById('comName').value = sessionStorage.getItem('approval_COM_NAME');
           $('#deptCode').val(sessionStorage.getItem('approval_DEPT_CODE'));
           $('#comManageStatus').val(sessionStorage.getItem('approval_COM_MANAGE_STATUS'));
           $('#idAddType').val(sessionStorage.getItem('approval_ID_ADD_TYPE'));
           $('#userStatus').val(sessionStorage.getItem('approval_USER_STATUS'));
           document.getElementById('busNumber').value  = sessionStorage.getItem('approval_BUS_NUMBER');
       }
    }


      $(function () {
       var heightMinus = 330;

       var data = [];

       var obj = {
           bubble: false,
           numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35 },
           editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
           editModel: { clicksToEdit: 2 },
           selectionModel: { type: 'cell', mode: 'block' },
           height: $(window).height() - heightMinus,
           title: "",
           sortable: false,
           resizable: true,
           menuIcon: true,
           scrollModel: { autoFit: false },
           hoverMode: 'row',
           //rowHtHead: 30,
           rowHt:30,
           roundCorners: false,
           rowBorders: true,
           showBottom: true,
           showHeader: true,
           showTitle: true,
           showTop: false,
           showToolbar: false,
           stripeRows: false,
           wrap: false,
           autoAddRow: false,
           freezeCols:0,
           autoRow: false,
           autoRowHead: false,
           rowInit: function () {
               return { style: 'font-size:12px;' };
           },
           selectChange: function (event, ui) {
           },
           rowClick: function (event, ui) {
           },
           cellClick: function (event, ui) {
           },
           rowDblClick: function (event, ui) {
               var data = ui.rowData;
               const cpcode = data.COM_CODE ;
               const useridx = data.USER_IDX ;

               loadPage(cpcode ,useridx ) ;
           },
           rowSelect: function (event, ui) {
           },
           open: function () {
           },
           headerCellClick: function (event, ui) {
           }
       };
       obj.colModel = [

             {
                data_langsid: "신청구분",
                title: siteLang.getLang("신청구분"),
                width: 100,
                halign: "center",
                align: "center",
                dataType: "string",
                dataIndx: "ID_ADD_TYPE",
                sortable: true,
                editor: false,
                editable: false,
                render: function (ui) {
                    var idaddtype = ui.cellData;
                    if (idaddtype == 0) {
                        return siteLang.getLang("신규") ;
                    }
                    else {
                       return siteLang.getLang("ID추가") ;
                    }
                }
            },
            {  data_langsid :"업체코드" ,title: siteLang.getLang("업체코드"), width: 150, halign: "center", align: "center", dataType: "string", dataIndx: "COM_CODE", sortable: true, editor: false, editable: false },
            {  data_langsid :"업체명" ,title: siteLang.getLang("업체명"), width: 200, halign: "center", align: "center", dataType: "string", dataIndx: "COM_NAME", sortable: true, editor: false, editable: false },
            {  data_langsid :"사업자번호" ,title: siteLang.getLang("사업자번호"), width: 150, halign: "center", align: "center", dataType: "string", dataIndx: "bus_NUMBER", sortable: true, editor: false, editable: false },
            {  data_langsid :"Warranty" ,title: siteLang.getLang("Warranty"), width: 150, halign: "center", align: "center", dataType: "string", dataIndx: "com_MANAGE_STATUS", sortable: true, editor: false, editable: false },
            {  data_langsid :"처리상태" ,title: siteLang.getLang("처리상태"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "user_STATUS", sortable: true, editor: false, editable: false },
            {
                    data_langsid: "사업본부",
                    title: siteLang.getLang("사업본부"),
                    width: 350,
                    halign: "center",
                    align: "center",
                    dataType: "string",
                    dataIndx: "cp_CODE_WORK_CD1",
                    sortable: true,
                    editor: false,
                    editable: false,
                    render: function (ui) {

                        var cp_CODE_WORK_CD1 = ui.rowData.cp_CODE_WORK_CD1 !=null ? ui.rowData.cp_CODE_WORK_CD1 + "," : "";
                        var cp_CODE_WORK_CD2 = ui.rowData.cp_CODE_WORK_CD2 !=null ? ui.rowData.cp_CODE_WORK_CD2 + "," : "";
                        var cp_CODE_WORK_CD3 = ui.rowData.cp_CODE_WORK_CD3 !=null ? ui.rowData.cp_CODE_WORK_CD3 + "," : "";
                        var cp_CODE_WORK_CD4 = ui.rowData.cp_CODE_WORK_CD4 !=null ? ui.rowData.cp_CODE_WORK_CD4 + "," : "";
                        var cp_CODE_WORK_CD5 = ui.rowData.cp_CODE_WORK_CD5 !=null ? ui.rowData.cp_CODE_WORK_CD5 + "," : "";
                        var ret = cp_CODE_WORK_CD1 + cp_CODE_WORK_CD2 +  cp_CODE_WORK_CD3 +  cp_CODE_WORK_CD4 +  cp_CODE_WORK_CD5 ;
                        ret = ret.replace(/,\s*$/, '');
                        return ret;
                    }
            }
       ];
       obj.dataModel = { data: data };
       $("#gridArea").pqGrid(obj);
       $("#gridArea").attr("gridYN", "Y");

       $(window).resize(function () {
           $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus);
           $("#gridArea").pqGrid("refreshView");
       });

       ListSearch();
    });

    var downloadExcel = function () {
        var grid = $("#gridArea").pqGrid("instance");
        var colModel = grid.getColModel();
        colModel[0].hidden = true;

        grid.exportData({
            url: "/common/exportData",
            format: "xlsx",
            zip: false,
            filename: "COMPANY_APPROVAL_" + Common.GetTodayTimeString(),
            render: true
        });

        colModel[0].hidden = false;
    }
</script>