<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<style>
    /* 기본 스타일 */
    tr.load-page {
        cursor: pointer; /* 클릭 가능하게 */
    }

    /* 마우스 오버 시 밑줄 스타일 */
    tr.load-page:hover td {
        text-decoration: underline; /* 텍스트 밑줄 */
    }
</style>
        <div class="cui_main">
            <div class="cui_head">
                <div class="head_content">
                    <h2 class="cui_title"><span>업체승인</span></h2>
                </div>
            </div>
            <div class="cui_body">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap ">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">업체Code</strong>
                            <div class="item_content">
                                <input id="comCode" name="COM_CODE" class="cui_text_field" type="text" placeholder="업체Code를 입력해주세요">
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">업체명</strong>
                            <div class="item_content">
                                <input id="comName" name="comName" class="cui_text_field" type="text" placeholder="업체명을 입력해주세요">
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">Warranty</strong>
                            <div class="item_content">
                                <select class="cui_select_field wide" id="comManageStatus" name="comManageStatus">
                                    <option value=""></option>
                                    <option value="1">Waiting</option>
                                    <option value="2">Approved</option>
                                    <option value="3">Rejected</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">사업부</strong>
                            <div class="item_content">
                                <select id="deptCode" name="deptCode" class="cui_select_field wide">
                                    <option value=""></option>
                                    <option th:each="dept : ${deptList}"
                                            th:value="${dept.BASE_CODE}"
                                            th:text="${dept.BASE_NAME}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">신청구분</strong>
                            <div class="item_content">
                                <select id="idAddType" name="idAddType" class="cui_select_field" >
                                    <option value=""></option>
                                    <option value="0">신규등록</option>
                                    <option value="1">ID 추가</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">처리상태</strong>
                            <div class="item_content">
                                <select id="userStatus" name="userStatus" class="cui_select_field" >
                                    <option value=""></option>
<!--                                    <option value="0">대기</option>-->
                                    <option value="1">검토중</option>
                                    <option value="2">승인</option>
                                    <option value="3">반려</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">사업자번호</strong>
                            <div class="item_content">
                                <input id="busNumber" name="busNumber" class="cui_text_field" type="text">
                            </div>
                        </div>


                    </div>
                    <div class="search_action">
                        <button type="button" id = "searchUser"  onclick="fetchDataLis()" class="cui_button primary"><span>검색</span></button>
                    </div>
                </div>
                <div class="cui_toolbar">
                    <div class="toolbar_content">
                        <div class="toolbar_default"></div>
                    </div>
                    <div class="toolbar_aside">
                        <button type="button" class="cui_button secondary"><span>엑셀 다운로드</span></button>
                    </div>
                </div>

                 <table class="cui_table cui_font_xs">
                     <colgroup>
                         <col style="width:100px">
                         <col style="width:150px">
                         <col style="width:300px">
                         <col style="width:200px">
                         <col style="width:100px">
                         <col style="width:100px">
                         <col >
                     </colgroup>
                     <thead>
                         <tr>
                             <th><span>신청구분</span></th>
                             <th><span>업체코드</span></th>
                             <th><span>업체명(영문)</span></th>
                             <th><span>사업자번호</span></th>
                             <th><span>Warranty</span></th>
                             <th><span>처리상태</span></th>
                             <th><span>사업본부</span></th>
                         </tr>
                     </thead>
                     <tbody id="companyTableBody">
                         <tr>
                             <td style="text-align:center"><span id = "com_file_name" name = "COM_FILE_NAME"></span></td>
                             <td style="text-align:center">
                                <a href="#" class="cui_link">
                                    <span id = "com_code" name = "COM_CODE" ></span>
                                </a>
                             </td>
                             <td style="text-align:center"><span id = "com_name" name = "COM_NAME"></span></td>
                             <td style="text-align:center"><span id = "bus_number" name = "BUS_NUMBER" ></span></td>
                             <td style="text-align:center"><span id = "com_ok_date" name = "COM_OK_DATE" ></span></td>
                             <td style="text-align:center"><span id = "com_manage_status" name = "com_manage_status" ></span></td>
                             <td style="text-align:center"><span id = "code_work" name = "CODE_WORK" ></span></td>

                         </tr>
                     </tbody>
                 </table>

            </div>
        </div>

</body>
</html>


<script>

    $(document).ready(function() {

       fetchDataLis();

       history.replaceState({ comCode: null }, null, location.href);

       $(document).on("click", ".load-page", function(e) {
           e.preventDefault();
           const code = $(this).data("code");
           const useridx = $(this).data("useridx");
           const url = "/admin/companyInfo/cpApprovalDetail?com_code=" + code + '&user_idx=' + useridx;
           let urlOri = "/admin/companyInfo/cpApproval";

           history.pushState({ comCode: code }, null, urlOri);

           sessionStorage.setItem('comCode', code);

           const queryParams = {
               COM_CODE: document.getElementById('comCode').value,
               COM_NAME: document.getElementById('comName').value,
               DEPT_CODE: document.getElementById('deptCode').value,
               COM_MANAGE_STATUS: document.getElementById('comManageStatus').value,
               BUS_NUMBER: document.getElementById('busNumber').value,
               USER_STATUS: document.getElementById('userStatus').value,
               ID_ADD_TYPE: document.getElementById('idAddType').value
           };

           Object.keys(queryParams).forEach(key => {
               sessionStorage.setItem(key, queryParams[key]);
           });

           renderContent(url,false);
       });

        window.addEventListener("popstate", function(event) {
           let url = "/admin/companyInfo/cpApproval";
           renderContent(url,true);
       });

   });


   function fetchDataLis() {

      const dto = {
          "COM_CODE": document.getElementById('comCode').value,
          "COM_NAME": document.getElementById('comName').value,
          "DEPT_CODE": document.getElementById('deptCode').value,
          "COM_MANAGE_STATUS": document.getElementById('comManageStatus').value,
          "BUS_NUMBER": document.getElementById('busNumber').value,
          "USER_STATUS": document.getElementById('userStatus').value,
          "ID_ADD_TYPE": document.getElementById('idAddType').value
      };

      fetch('/admin/companyInfo/getCompanyApprovalList', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(dto)
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          return response.json();
      })
      .then(data => {
           //console.log('응답 데이터:', data);
           if (data && Array.isArray(data)) {
                populateTable(data);
           } else {
                alert("nodata");
           }
      })
      .catch(error => {
          console.error('데이터 조회 실패:', error);
      });
   }

   function populateTable(data) {

    const tableBody = $("#companyTableBody");
    tableBody.empty();

    data.forEach(company => {
        const row = `
            <tr class='load-page' data-code='${company.COM_CODE}' data-useridx='${company.USER_IDX}'>
                <td style="text-align:center"><span id = "com_name" name = "COM_NAME">${company.ID_ADD_TYPE == 0 ? '신규' : 'ID추가'}</span></td>
                <td style="text-align:center"><span id = "com_code" name = "COM_CODE" >${company.COM_CODE}</span></td>
                <td style="text-align:center"><span id = "com_name" name = "COM_NAME">${company.COM_NAME}</span></td>
                <td style="text-align:center"><span id = "bus_number" name = "BUS_NUMBER">${company.bus_NUMBER}</span></td>
                <td style="text-align:center"><span id = "com_manage_status" name = "COM_MANAGE_STATUS">${company.com_MANAGE_STATUS}</span></td>
                <td style="text-align:center"><span id = "user_status" name = "user_status" >${company.user_STATUS}</span></td>
                <td style="text-align:center">
                   <span class="company_code_work" >
                    ${company.cp_CODE_WORK_CD1 !=null  ? company.cp_CODE_WORK_CD1 +",": ""}
                    ${company.cp_CODE_WORK_CD2 !=null  ? company.cp_CODE_WORK_CD2 +",": ""}
                    ${company.cp_CODE_WORK_CD3 !=null  ? company.cp_CODE_WORK_CD3 +",": ""}
                    ${company.cp_CODE_WORK_CD4 !=null  ? company.cp_CODE_WORK_CD4 +",": ""}
                    ${company.cp_CODE_WORK_CD5 !=null  ? company.cp_CODE_WORK_CD5 +",": ""}
                   </span>
                </td>

            </tr>
        `;
        tableBody.append(row);
    });

        $(".company_code_work").each(function() {
           $(this).text($(this).text().replace(/,\s*$/, ''));
        });
   }

function renderContent(url,searchList) {
   $(".cui_content").fadeOut(200, function() {
       $.ajax({
           url: url,
           type: "GET",
           success: function(response) {
               const sanitizedResponse = response
                   .replace(/<script(?![^>]*id\s*=\s*['"][^'"]*detailscript[^'"]*['"])[^>]*>[\s\S]*?<\/script>/gi, "")
                   .replace(/<link[^>]*>/gi, "");

               $(".cui_app").html(sanitizedResponse).fadeIn(200);

                if(searchList){
                   preSearchSetting();
                }
           },
           error: function() {
               console.log("콘텐츠 로드 실패");
           }
       });
   });
}

function preSearchSetting() {
  const storedCode = sessionStorage.getItem('comCode');
   if (storedCode) {
       document.getElementById('comCode').value = sessionStorage.getItem('COM_CODE');
       document.getElementById('comName').value = sessionStorage.getItem('COM_NAME');
       $('#deptCode').val(sessionStorage.getItem('DEPT_CODE'));
       $('#comManageStatus').val(sessionStorage.getItem('COM_MANAGE_STATUS'));
       $('#idAddType').val(sessionStorage.getItem('ID_ADD_TYPE'));
       $('#userStatus').val(sessionStorage.getItem('USER_STATUS'));
       document.getElementById('busNumber').value  = sessionStorage.getItem('BUS_NUMBER');
   }
   fetchDataLis();
}


</script>