<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
    <div class="cui_content">
        <div class="cui_main">
            <div class="cui_head">
                <div class="head_content">
                    <h2 class="cui_title"><span>업체목록</span></h2>
                </div>
            </div>
            <div class="cui_body">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap ">
                        <div class="cui_items_wrap">
                            <strong class="item_label">업체Code</strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" placeholder="업체Code를 입력해주세요">
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">업체명</strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" placeholder="업체명을 입력해주세요">
                                <button type="button" class="cui_button icon" data-cui-icon="search"><span>검색</span></button>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">사업부</strong>
                            <div class="item_content">
                                <select class="cui_select_field wide">
                                    <option value="">제목</option>
                                    <option value="">제목</option>
                                    <option value="">제목</option>
                                    <option value="">제목</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">책임광물</strong>
                            <div class="item_content">
                                <select class="cui_select_field">
                                    <option value="">제목</option>
                                    <option value="">제목</option>
                                    <option value="">제목</option>
                                    <option value="">제목</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">Audit 점수</strong>
                            <div class="item_content">
                                <input type="text" class="cui_text_field">
                                <div class="field_connect">~</div>
                                <input type="text" class="cui_text_field">
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">Warranty</strong>
                            <div class="item_content">
                                <select class="cui_select_field wide">
                                    <option value="">제목</option>
                                    <option value="">제목</option>
                                    <option value="">제목</option>
                                    <option value="">제목</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="search_action">
                        <button type="button" class="cui_button primary"><span>검색</span></button>
                    </div>
                </div>
                <div class="cui_toolbar">
                    <div class="toolbar_content">
                        <div class="toolbar_default"></div>
                    </div>
                    <div class="toolbar_aside">
                        <button type="button" class="cui_button secondary"><span>엑셀 다운로드</span></button>
                    </div>
                </div>
                <div class="cui_jqGrid_section">
                    <div class="cui_jqGrid_head">
                        <div class="jqGrid_label"> COA  List</div>
                        <div class="jqGrid_aside">
                            <button type="button" class="cui_button endpoint" data-cui-icon="folder_open"><span>복사</span></button>
                            <button type="button" class="cui_button endpoint" data-cui-icon="download"><span>스펙다운로드</span></button>
                            <button type="button" class="cui_button endpoint" data-cui-icon="upload"><span>업로드</span></button>
                            <button type="button" class="cui_button endpoint" data-cui-icon="pen"><span>등록</span></button>
                            <button type="button" class="cui_button endpoint" data-cui-icon="trash"><span>선택삭제</span></button>
                        </div>
                    </div>
                    <div class="cui_jqGrid_body" id="Grid">
                        <table id="jqGrid">

                        </table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>

                <!-- <table class="cui_table cui_font_xs"> -->
                <!--     <colgroup> -->
                <!--         <col> -->
                <!--         <col> -->
                <!--         <col style="width:92px"> -->
                <!--         <col style="width:40px"> -->
                <!--         <col style="width:94px"> -->
                <!--         <col style="width:68px"> -->
                <!--         <col style="width:68px"> -->
                <!--         <col style="width:68px"> -->
                <!--         <col style="width:68px"> -->
                <!--         <col style="width:68px"> -->
                <!--         <col style="width:68px"> -->
                <!--         <col style="width:48px"> -->
                <!--         <col style="width:48px"> -->
                <!--         <col style="width:48px"> -->
                <!--         <col style="width:48px"> -->
                <!--         <col style="width:48px"> -->
                <!--     </colgroup> -->
                <!--     <thead> -->
                <!--         <tr> -->
                <!--             <th rowspan="2"><span>업체코드</span></th> -->
                <!--             <th rowspan="2"><span>업체명(영문)</span></th> -->
                <!--             <th rowspan="2"><span>Warranty</span></th> -->
                <!--             <th colspan="2"><span>Audit 결과</span></th> -->
                <!--             <th colspan="6"><span>분쟁 및 책임광물</span></th> -->
                <!--             <th colspan="5"><span>사업부</span></th> -->
                <!--         </tr> -->
                <!--         <tr> -->
                <!--             <th><span>점수</span></th> -->
                <!--             <th><span>실시일</span></th> -->
                <!--             <th><span>티타늄</span></th> -->
                <!--             <th><span>주석</span></th> -->
                <!--             <th><span>텅스텐</span></th> -->
                <!--             <th><span>금</span></th> -->
                <!--             <th><span>코발트</span></th> -->
                <!--             <th><span>운모</span></th> -->
                <!--             <th><span>반도체</span></th> -->
                <!--             <th><span>첨단<br>소재</span></th> -->
                <!--             <th><span>옵티칼</span></th> -->
                <!--             <th><span>통신<br>디바이스</span></th> -->
                <!--             <th><span>에너지<br>기능재료</span></th> -->
                <!--         </tr> -->
                <!--     </thead> -->
                <!--     <tbody> -->
                <!--         <tr> -->
                <!--             <td><a href="#" class="cui_link">a01</a></td> -->
                <!--             <td><span>aaa</span></td> -->
                <!--             <td style="text-align:center"><span>Approved</span></td> -->
                <!--             <td style="text-align:center"><span>91</span></td> -->
                <!--             <td style="text-align:center"><span>2024-02-22</span></td> -->
                <!--             <td style="text-align:center"><span>미사용</span></td> -->
                <!--             <td style="text-align:center"><span>사용(인증)</span></td> -->
                <!--             <td style="text-align:center"><span>미사용</span></td> -->
                <!--             <td style="text-align:center"><span>미사용</span></td> -->
                <!--             <td style="text-align:center"><span>미사용</span></td> -->
                <!--             <td style="text-align:center"><span>미사용</span></td> -->
                <!--             <td style="text-align:center"><span>O</span></td> -->
                <!--             <td></td> -->
                <!--             <td></td> -->
                <!--             <td></td> -->
                <!--             <td></td> -->
                <!--         </tr> -->
                <!--     </tbody> -->
                <!-- </table> -->
            </div>
        </div>
    </div>
</body>
</html>