<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span>업체코드</span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form id="searchForm" method="get">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap ">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">업체코드</strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" placeholder="업체코드를 입력해주세요"/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">업체명</strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" placeholder="업체명을 입력해주세요"/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">사업본부</strong>
                            <div class="item_content">
                                <select class="cui_select_field" name="SEARCHKEY">
                                    <option value="CODEGROUP" selected>선택</option>
                                    <option value="BASECODE">사업본부</option>
                                </select>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">국가</strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" name="SEARCHVAL">
                            </div>
                        </div>
                    </div>
                    <div class="search_action">
                        <button type="button" class="cui_button primary search_btn" onclick=""><span>검색</span></button>
                    </div>
                </div>
            </form>
            <div class="cui_toolbar">
                <div class="toolbar_content">
                    <div class="toolbar_default"></div>
                </div>
                <div class="toolbar_aside">
                    <button type="button" class="cui_button secondary" onclick="modal_open('CpCode','add', '')"><span>추가</span></button>
                    <button type="button" class="cui_button secondary" onclick="CpCode_Popup()"><span>삭제</span></button>
                    <button type="button" class="cui_button secondary" onclick="CpCode_Popup()"><span>엑셀다운로드</span></button>
                </div>
            </div>

            <table class="cui_table center" id="companyTable">
                <colgroup>
                    <col style="width:50px;">
                    <col style="width:130px;">
                    <col>
                    <col style="width:130px;">
                    <col style="width:80px;">
                </colgroup>
                <thead>
                <tr>
                    <th><span>선택</span></th>
                    <th><span>업체코드</span></th>
                    <th><span>업체명</span></th>
                    <th><span>국가</span></th>
                    <th><span>구분</span></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div id="pagination" class="pagination" style="text-align: center"></div>
            <div class="table-wrapper">
            </div>
        </div>
    </div>
</div>

<div class="cui_dialog" style="width:400px;display:none;" id="CpCode">
    <div class="dialog_container">
        <div class="dialog_head">
            <div class="dialog_title">
                <div class="main_label">신규 추가</div>
            </div>
            <div class="dialog_toolbar">
                <button class="cui_button icon endpoint modal-close" data-cui-icon="xmark" onClick="modal_close('CpCode')"><span>Close</span></button>
            </div>
        </div>
        <div class="dialog_body">
            <div class="body_root">
                <form class="cui_form_field" data-legend="true" action="/baseCode/action" method="get" name="formCpCode">
                    <fieldset>
                        <!--                        <legend><span>ID 찾기</span></legend>-->
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">업체 코드</strong>
                            <div class="item_content">
                                <input name="COMPANY_CODE" class="cui_text_field fixdata">
                                <button type="button" class="cui_button icon" data-cui-icon="search"><span>검색</span></button>
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">업체명</strong>
                            <div class="item_content">
                                <input name="BASE_CODE" class="cui_text_field fixdata">
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">사업본부</strong>
                            <div class="item_content">
                                <label class="cui_checkbox"><input type="checkbox" name="checkbox1"><i></i><span>체크박스 1</span></label>
                                <label class="cui_checkbox"><input type="checkbox" name="checkbox1" disabled><i></i><span>체크박스 비활성화</span></label>
                                <label class="cui_checkbox"><input type="checkbox" name="checkbox1" checked disabled><i></i><span>체크박스 비활성화</span></label>
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">국가</strong>
                            <div class="item_content">
                                <input name="BASE_NAME" class="cui_text_field ">
                            </div>
                        </label>
                        <label class="cui_items_wrap" data-direction="left">
                            <strong class="item_label">사용</strong>
                            <div class="item_content">
                                <select class="cui_select_field wide" id="BASE_STATUS" name="BASE_STATUS">
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                </select>
                            </div>
                        </label>

                        <div class="cui_items_wrap" data-direction="center" style="top-margin:10px;">
                            <div class="item_content">
                                <button type="submit" id="CpCodeAdd" class="cui_button primary"><span>저장</span></button>
                                <button type="button" id="CpCodePop" class="cui_button secondary" onClick="modal_close('CpCode')"><span>닫기</span></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        $.ajax({
            url: '/api/pageMaker',  // 서버에서 pageMaker 객체를 가져오는 API URL
            type: 'GET',
            data: {
                pageNum: 1,  // 기본값으로 첫 페이지를 설정, 필요에 따라 변경
                amount: 10    // 페이지당 항목 수
            },
            success: function(response) {
                // pageMaker 객체를 받아옴
                var startPage = response.startPage;
                var endPage = response.endPage;
                var currentPage = response.criteria.pageNum;
                var totalPages = response.totalPages;

                // 페이지네이션 컨테이너를 업데이트
                var paginationHtml = '';

                // "이전" 버튼 처리
                if (currentPage > 1) {
                    paginationHtml += `<a href="#" class="prev" data-page="${currentPage - 1}">&lt;&lt;</a>`;
                }

                // 페이지 번호 처리
                for (var i = startPage; i <= endPage; i++) {
                    if (i === currentPage) {
                        paginationHtml += `<a href="#" class="page active" data-page="${i}">${i}</a>`;
                    } else {
                        paginationHtml += `<a href="#" class="page" data-page="${i}">${i}</a>`;
                    }
                }

                // "다음" 버튼 처리
                if (currentPage < totalPages) {
                    paginationHtml += `<a href="#" class="next" data-page="${currentPage + 1}">&gt;&gt;</a>`;
                }

                // 페이지네이션 컨테이너에 HTML 추가
                $('#pagination').html(paginationHtml);
                loadPage(1);

                // 페이지 번호 클릭 시 페이지네이션 갱신
                $('.page, .prev, .next').on('click', function(event) {
                    event.preventDefault();
                    var pageNum = $(this).data('page');
                    loadPage(pageNum);
                });
            },
            error: function() {
                alert("페이지네이션 데이터를 가져오는 데 실패했습니다.");
            }
        });

        // 페이지 로드 함수
        function loadPage(pageNum) {
           // 페이지가 로드되면 서버에서 데이터를 가져옴
            $.ajax({
                url: '/api/companyList',  // 서버의 API URL
                type: 'GET',
                data: { pageNum: pageNum, amount: 10 },
                success: function(response) {
                    var tableBody = $('#companyTable tbody');
                    tableBody.empty(); // 기존 내용 비우기

                    response.forEach(function(company) {
                        var row = '<tr>' +
                                        '<td>' + company.rn + '</td>' +
                                        '<td>' + company.com_CODE + '</td>' +
                                        '<td><a href="/company/' + company.com_CODE + '">' + company.com_NAME + '</a></td>' +
                                        '<td>' + company.com_NATION + '</td>' +
                                        '<td>' + company.com_STATUS + '</td>' +
                                      '</tr>';
                        tableBody.append(row);
                    });
                },
                error: function() {
                    alert("회사를 가져오는 데 실패했습니다.");
                }
            });  // $.ajax 호출 끝
        }
    });  // $(document).ready() 끝
</script>
</body>
</html>