<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminPartMgmt">
    <select id ="searchAdminPartMgmt" parameterType="adminPartMgmt" resultType="adminPartMgmt">
        SELECT
            pmd.PM_IDX
            , pmd.PM_PART_CODE
            , pc.PART_NAME
            , pmd.PM_PART_PLANT_CODE
            , pmd.PM_QUALITY
            , pmd.PM_STATUS
            , pmd.PM_CHEMICAL_YN
            , pmd.PM_ACTIVE_YN
            , NVL(TO_CHAR(pmd.PM_REG_DATE, 'YYYY-MM-DD'),'') as PM_REG_DATE
            , pmd.PM_REG_USER
            , ui.USER_NAME as PM_REG_USER_NAME
            , ui.USER_ID as PM_REG_USER_ID
            , pmd.PM_APPROVAL_STATUS
            , NVL(TO_CHAR(pmd.PM_APPROVAL_DATE, 'YYYY-MM-DD'),'') as PM_APPROVAL_DATE
            , pmd.PM_MODIFY_USER
            , ui2.USER_NAME as PM_MODIFY_USER_NAME
            , ui2.USER_ID as PM_MODIFY_USER_ID
            , NVL(TO_CHAR(pmd.PM_REQUEST_APPROVAL_DATE, 'YYYY-MM-DD'),'') as PM_REQUEST_APPROVAL_DATE
            , NVL(TO_CHAR(pmd.PM_MODIFY_DATE, 'YYYY-MM-DD'),'') as PM_MODIFY_DATE
            , pc.COM_CODE
            , scc.COM_NAME
            , scc.COM_NATION
        FROM SC_PART_MANAGEMENT_DATA pmd
            LEFT OUTER JOIN  SC_PART_CODE pc ON pmd.PM_PART_CODE  = pc.PART_CODE AND pmd.PM_PART_PLANT_CODE  = pc.PLANT_CODE
            LEFT OUTER JOIN SC_USER_INFO ui  ON pmd.PM_REG_USER  = ui.USER_IDX
            LEFT OUTER JOIN SC_USER_INFO ui2  ON pmd.PM_MODIFY_USER  = ui.USER_IDX
            LEFT OUTER JOIN SC_COMPANY_CODE scc ON scc.COM_CODE = pc.COM_CODE
        WHERE 1 =1
        <if test="COM_CODE != null and COM_CODE != ''">
            <![CDATA[
                AND (pc.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
            ]]>
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            <![CDATA[
                AND (scc.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
            ]]>
        </if>
        <if test="PM_PART_CODE != null and PM_PART_CODE != ''">
            <![CDATA[
                AND (pmd.PM_PART_CODE LIKE CONCAT(CONCAT('%',  #{PM_PART_CODE}), '%'))
            ]]>
        </if>
        <if test="PART_NAME != null and PART_NAME != ''">
            <![CDATA[
                AND (pc.PART_NAME LIKE CONCAT(CONCAT('%',  #{PART_NAME}), '%'))
            ]]>
        </if>
        <if test="SEARCH_REG_USER != null and SEARCH_REG_USER != ''">
            <![CDATA[
                AND (ui.USER_ID  LIKE CONCAT(CONCAT('%',  #{SEARCH_REG_USER}), '%'))
            ]]>
        </if>
        <if test="PM_ACTIVE_YN != null and PM_ACTIVE_YN != ''">
            AND (PM_ACTIVE_YN = #{PM_ACTIVE_YN})
        </if>
        <if test="PM_PART_PLANT_CODE != null and PM_PART_PLANT_CODE != ''">
            <![CDATA[
                AND (pmd.PM_PART_PLANT_CODE LIKE CONCAT(CONCAT('%',  #{PM_PART_PLANT_CODE}), '%'))
            ]]>
        </if>
        <if test="PM_APPROVAL_STATUS != null and PM_APPROVAL_STATUS != ''">
            <![CDATA[
                AND (pmd.PM_APPROVAL_STATUS LIKE CONCAT(CONCAT('%',  #{PM_APPROVAL_STATUS}), '%'))
            ]]>
        </if>
        <if test="SEARCH_PM_SDATE != null and SEARCH_PM_SDATE != ''">
            <![CDATA[ AND (pmd.PM_APPROVAL_DATE >= #{SEARCH_PM_SDATE}) ]]>
        </if>
        <if test="SEARCH_PM_EDATE != null and SEARCH_PM_EDATE != ''">
            <![CDATA[ AND (pmd.PM_APPROVAL_DATE  <= #{SEARCH_PM_EDATE})  ]]>
        </if>
    </select>


    <select id ="getPartMSDSExpList" parameterType="hashMap" resultType="java.util.HashMap">
        SELECT
            msds.MSDS_IDX
            , pc.PART_CODE
            , pc.PART_NAME
            , cc.COM_CODE
            , cc.COM_NAME
            --, TO_CHAR(TO_DATE(msds.MSDS_REG_DATE, 'YYYY-MM-DD') + (INTERVAL '1' YEAR), 'YYYY-MM-DD') AS EXP_DATE
            ,TO_CHAR( ADD_MONTHS(TO_DATE(msds.MSDS_REG_DATE, 'YYYY-MM-DD'), #{EXP_MONTH}) , 'YYYY-MM-DD')  AS EXP_DATE
        FROM
            SC_PART_MGMT_DETAIL_MSDS msds
            LEFT OUTER JOIN SC_PART_MANAGEMENT_DATA pm ON msds.PM_IDX  = pm.PM_IDX
            LEFT OUTER JOIN SC_PART_CODE pc ON pm.PM_PART_CODE  = pc.PART_CODE
            LEFT OUTER JOIN SC_COMPANY_CODE cc ON pc.COM_CODE  = cc.COM_CODE
        WHERE 1 = 1
        <if test="EXP_DATE != null and EXP_DATE != ''">
            <![CDATA[
                AND ADD_MONTHS(TO_DATE(msds.MSDS_REG_DATE, 'YYYY-MM-DD'),#{EXP_MONTH}) <= TO_DATE(#{EXP_DATE}, 'YYYY-MM-DD')
            ]]>
        </if>
        <if test="COM_CODE != null and COM_CODE != ''">
            AND (cc.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND (cc.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
        </if>
    </select>

    <select id ="getPartSvhcExpList" parameterType="hashMap" resultType="java.util.HashMap">
        SELECT  TO_CHAR(SEND_DATE , 'YYYY-MM-DD HH24:MI:SS') as SEND_DATE , sui.USER_NAME , SEND_BODY
        FROM SC_MESSAGE_LOG sml
        INNER JOIN SC_USER_INFO sui ON sml.REG_DW_USER_IDX = sui.USER_IDX
        WHERE MES_KIND ='SVHC'
    </select>

    <select id ="getPartDeclExpList" parameterType="hashMap" resultType="java.util.HashMap">
        SELECT
        spmdd.DECL_IDX
        , pc.PART_CODE
        , pc.PART_NAME
        , cc.COM_CODE
        , cc.COM_NAME
        --, TO_CHAR(TO_DATE(spmdd.CONFIRM_DATE , 'YYYY-MM-DD') + (INTERVAL '1' YEAR), 'YYYY-MM-DD') AS EXP_DATE
        ,TO_CHAR( ADD_MONTHS(TO_DATE(spmdd.CONFIRM_DATE , 'YYYY-MM-DD'), #{EXP_MONTH}) , 'YYYY-MM-DD')  AS EXP_DATE
        FROM
        SC_PART_MGMT_DECLARATION_DATA spmdd
        LEFT OUTER JOIN SC_PART_MANAGEMENT_DATA pm ON spmdd.PM_IDX  = pm.PM_IDX
        LEFT OUTER JOIN SC_PART_CODE pc ON pm.PM_PART_CODE  = pc.PART_CODE
        LEFT OUTER JOIN SC_COMPANY_CODE cc ON pc.COM_CODE  = cc.COM_CODE
        WHERE 1 = 1
        <if test="EXP_DATE != null and EXP_DATE != ''">
            <![CDATA[
                AND ADD_MONTHS(TO_DATE(spmdd.CONFIRM_DATE , 'YYYY-MM-DD'), #{EXP_MONTH}) <= TO_DATE(#{EXP_DATE}, 'YYYY-MM-DD')
            ]]>
        </if>
        <if test="COM_CODE != null and COM_CODE != ''">
            AND (cc.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND (cc.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
        </if>
    </select>

    <select id ="getPartEtcExpList" parameterType="hashMap" resultType="java.util.HashMap">
        SELECT
        spmde.ETC_IDX
        , pc.PART_CODE
        , pc.PART_NAME
        , cc.COM_CODE
        , cc.COM_NAME
        --, TO_CHAR(TO_DATE(spmde.ETC_CONFIRM_DATE , 'YYYY-MM-DD') + (INTERVAL '1' YEAR), 'YYYY-MM-DD') AS EXP_DATE
        ,TO_CHAR( ADD_MONTHS(TO_DATE(spmde.ETC_CONFIRM_DATE  , 'YYYY-MM-DD'), #{EXP_MONTH}) , 'YYYY-MM-DD')  AS EXP_DATE
        FROM
        SC_PART_MGMT_DETAIL_ETC spmde
        LEFT OUTER JOIN SC_PART_MANAGEMENT_DATA pm ON spmde.PM_IDX  = pm.PM_IDX
        LEFT OUTER JOIN SC_PART_CODE pc ON pm.PM_PART_CODE  = pc.PART_CODE
        LEFT OUTER JOIN SC_COMPANY_CODE cc ON pc.COM_CODE  = cc.COM_CODE
        WHERE 1 = 1
        <if test="EXP_DATE != null and EXP_DATE != ''">
            <![CDATA[
                AND  ADD_MONTHS(TO_DATE(spmde.ETC_CONFIRM_DATE  , 'YYYY-MM-DD'), #{EXP_MONTH}) <= TO_DATE(#{EXP_DATE}, 'YYYY-MM-DD')
            ]]>
        </if>
        <if test="COM_CODE != null and COM_CODE != ''">
            AND (cc.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND (cc.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
        </if>
    </select>

    <select id ="getPartSccsExpList" parameterType="hashMap" resultType="java.util.HashMap">
        SELECT
        spmds.SCCS_IDX
        , pc.PART_CODE
        , pc.PART_NAME
        , cc.COM_CODE
        , cc.COM_NAME
        ,TO_CHAR( ADD_MONTHS(TO_DATE(spmds.SCCS_CONFIRM_DATE , 'YYYY-MM-DD'), #{EXP_MONTH}) , 'YYYY-MM-DD')  AS EXP_DATE
        FROM
        SC_PART_MGMT_DETAIL_SCCS spmds
        LEFT OUTER JOIN SC_PART_MANAGEMENT_DATA pm ON spmds.PM_IDX  = pm.PM_IDX
        LEFT OUTER JOIN SC_PART_CODE pc ON pm.PM_PART_CODE  = pc.PART_CODE
        LEFT OUTER JOIN SC_COMPANY_CODE cc ON pc.COM_CODE  = cc.COM_CODE
        WHERE 1 = 1
        <if test="EXP_DATE != null and EXP_DATE != ''">
            <![CDATA[
                AND ADD_MONTHS(TO_DATE(spmds.SCCS_CONFIRM_DATE , 'YYYY-MM-DD'),#{EXP_MONTH}) <= TO_DATE(#{EXP_DATE}, 'YYYY-MM-DD')
            ]]>
        </if>
        <if test="COM_CODE != null and COM_CODE != ''">
            AND (cc.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND (cc.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
        </if>
    </select>

    <select id ="getPartIngredExpList" parameterType="hashMap" resultType="java.util.HashMap">

        SELECT
        spmdi.INGRED_IDX
        , pc.PART_CODE
        , pc.PART_NAME
        , cc.COM_CODE
        , cc.COM_NAME
        ,TO_CHAR( ADD_MONTHS(TO_DATE(spmdi.INGRED_CONFIRM_DATE , 'YYYY-MM-DD'), #{EXP_MONTH}) , 'YYYY-MM-DD')  AS EXP_DATE
        FROM
        SC_PART_MGMT_DETAIL_INGRED spmdi
        LEFT OUTER JOIN SC_PART_MANAGEMENT_DATA pm ON spmdi.PM_IDX  = pm.PM_IDX
        LEFT OUTER JOIN SC_PART_CODE pc ON pm.PM_PART_CODE  = pc.PART_CODE
        LEFT OUTER JOIN SC_COMPANY_CODE cc ON pc.COM_CODE  = cc.COM_CODE
        WHERE 1 = 1
        <if test="EXP_DATE != null and EXP_DATE != ''">
            <![CDATA[
                AND ADD_MONTHS(TO_DATE(spmdi.INGRED_CONFIRM_DATE , 'YYYY-MM-DD'),#{EXP_MONTH}) <= TO_DATE(#{EXP_DATE}, 'YYYY-MM-DD')
            ]]>
        </if>
        <if test="COM_CODE != null and COM_CODE != ''">
            AND (cc.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND (cc.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
        </if>
    </select>


</mapper>