<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AuditMgmt">

    <insert id="insertAuth" parameterType="authMgmt">
        INSERT INTO SC_AUTH_COMPANY_INFO(COM_CODE, APPROVE_STATE, APPROVE_DATE, AUTH_TYPE, POINT,REG_DW_USER_IDX,UP_DW_USER_IDX)
        VALUES (#{COM_CODE}, #{APPROVE_STATE}, sysdate, #{AUTH_TYPE}, #{POINT}, #{REG_DW_USER_IDX}, #{UP_DW_USER_IDX})
    </insert>

    <insert id="insertItemPoint" parameterType="auditItemPoint">
        INSERT INTO SC_AUDIT_ITEM_POINT(COM_CODE, AUDIT_ID, AUTH_TYPE, POINT, AUDIT_COMMENT, AUTH_SEQ, REG_COM_USER_IDX, REG_DATE)
        VALUES (#{COM_CODE}, #{AUDIT_ID}, #{AUTH_TYPE}, #{POINT}, #{AUDIT_COMMENT}, #{AUTH_SEQ}, #{REG_COM_USER_IDX}, sysdate)
    </insert>

    <update id="updateAuth" parameterType="authMgmt">
        UPDATE SC_AUTH_COMPANY_INFO
        SET APPROVE_STATE = #{APPROVE_STATE}, APPROVE_DATE= sysdate, POINT = #{POINT}, REASON = #{REASON}
        WHERE COM_CODE = #{COM_CODE}
        AND AUTH_TYPE = #{AUTH_TYPE}
        AND AUTH_SEQ = #{AUTH_SEQ}
    </update>

    <update id="saveAuthResult" parameterType="authMgmt">
        UPDATE SC_AUTH_COMPANY_INFO
        SET APPROVE_STATE = #{APPROVE_STATE}, APPROVE_DATE= sysdate, POINT = #{POINT}
        WHERE COM_CODE = #{COM_CODE}
        AND AUTH_TYPE = #{AUTH_TYPE}
    </update>

    <select id="selectAuth" parameterType="authMgmt" resultType="authMgmt">
        select * from SC_AUTH_COMPANY_INFO where AUTH_TYPE=#{AUTH_TYPE} and COM_CODE=#{COM_CODE}
    </select>

    <select id="selectAuthCnt" parameterType="authMgmt" resultType="int">
        select COUNT(*) from SC_AUTH_COMPANY_INFO where AUTH_TYPE=#{AUTH_TYPE} and COM_CODE=#{COM_CODE}
    </select>

    <insert id="insertFile" parameterType="authMgmt">
        INSERT INTO SC_AUTH_FILE(COM_CODE, AUTH_TYPE, FILE_NAME, FILE_PATH, AUTH_SEQ)
        VALUES (#{COM_CODE}, #{AUTH_TYPE}, #{FILE_NAME}, #{FILE_PATH}, #{AUTH_SEQ})
    </insert>

    <select id="getCompanyAuth" parameterType="map" resultType="authMgmt">
        SELECT
            CC.COM_CODE,
            CC.COM_NAME,
            ACI.AUTH_TYPE,
            ACI.APPROVE_STATE,
            ACI.APPROVE_DATE,
            ACI.SEND_DATE,
            ACI.POINT,
            ACI.AUTH_SEQ
        FROM SC_COMPANY_CODE CC
        LEFT OUTER JOIN SC_AUTH_COMPANY_INFO ACI ON
        CC.COM_CODE = ACI.COM_CODE AND ACI.AUTH_TYPE = #{AUTH_TYPE}
        WHERE CC.COM_CODE = #{COM_CODE}
    </select>

    <select id="getCompanyAuthFile" parameterType="map" resultType="authMgmt">
        SELECT ACI.COM_CODE, ACI.AUTH_TYPE, APPROVE_STATE, TO_CHAR(APPROVE_DATE, 'YYYY-MM-DD') as APPROVE_DATE, POINT, AF.FILE_NAME, AF.FILE_PATH, AF.FILE_TYPE, AF.AUTH_SEQ
        FROM SC_AUTH_COMPANY_INFO ACI
        INNER JOIN SC_AUTH_FILE AF ON AF.COM_CODE = ACI.COM_CODE AND AF.AUTH_TYPE = ACI.AUTH_TYPE
        WHERE ACI.AUTH_TYPE=#{AUTH_TYPE} and ACI.COM_CODE=#{COM_CODE}
    </select>

    <select id="getCompanyAuthItemPoint" parameterType="map" resultType="auditItemPoint">
        SELECT COM_CODE, AUDIT_ID, AUTH_TYPE, TO_NUMBER(AA.POINT, '999999.0') AS POINT, AUDIT_COMMENT, AUTH_SEQ, REG_COM_USER_IDX, REG_DATE
        FROM SC_AUDIT_ITEM_POINT
        WHERE COM_CODE = #{COM_CODE} AND AUTH_TYPE = #{AUTH_TYPE}
    </select>

    <select id="getExpDateList" parameterType="hashMap" resultType="java.util.HashMap">
        SELECT ACI.COM_CODE, CC.COM_NAME, AUTH_TYPE, AUTH_SEQ, APPROVE_STATE, TO_CHAR(APPROVE_DATE, 'YYYY.MM.DD') AS APPROVE_DATE, TO_CHAR(SEND_DATE, 'YYYY.MM.DD') AS SEND_DATE, POINT
        FROM SC_AUTH_COMPANY_INFO ACI
        INNER JOIN SC_COMPANY_CODE CC
        ON CC.COM_CODE = ACI.COM_CODE
        WHERE 1 =1
        AND AUTH_TYPE = #{AUTH_TYPE}
        <if test="COM_CODE != null and COM_CODE != ''">
            AND (ACI.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND (CC.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
        </if>
    </select>

    <select id='getUserInfo' resultType="java.util.LinkedHashMap">
        SELECT
        *
        FROM SC_USER_INFO
        WHERE USER_IDX = #{USER_IDX}
    </select>

    <select id="searchCompanies" parameterType="map" resultType="authMgmt">
        SELECT
        ACI.COM_CODE, CC.COM_NAME, AUTH_TYPE, AUDIT_WAY, APPROVE_STATE,
        TO_CHAR(APPROVE_DATE, 'YYYY.MM.DD') AS APPROVE_DATE,
        TO_CHAR(SEND_DATE, 'YYYY.MM.DD') AS SEND_DATE, TO_NUMBER(POINT, '999999.0') AS POINT
        FROM SC_AUTH_COMPANY_INFO ACI
        INNER JOIN SC_COMPANY_CODE CC
        ON CC.COM_CODE = ACI.COM_CODE
        WHERE 1 =1
        <if test="COM_CODE != null and COM_CODE != ''">
            AND (ACI.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND (CC.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
        </if>
        <if test="COM_STATUS != null and COM_STATUS != ''">
            AND (ACI.APPROVE_STATE LIKE CONCAT(CONCAT('%',  #{COM_STATUS}), '%'))
        </if>
        <if test="AUTH_TYPE != null and AUTH_TYPE != ''">
            AND (ACI.AUTH_TYPE LIKE CONCAT(CONCAT('%',  #{AUTH_TYPE}), '%'))
        </if>
    </select>
</mapper>