<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BaseCode">
    <insert id="save" parameterType="baseCode">
        INSERT INTO BASE_CODE(BASE_CODE_IDX,GROUP_CODE ,GUBN,BASE_CODE,BASE_NAME,BASE_VALUE,BASE_SUMMARY,BASE_STATUS,BASE_SORT,REG_DW_USER_IDX,UP_DW_USER_IDX ,REG_DATE,UP_DATE,BASE_OPTION)
        VALUES (SEQ_BASECODE.NEXTVAL, #{GROUP_CODE},#{GUBN},#{BASE_CODE},#{BASE_NAME},#{BASE_VALUE},#{BASE_SUMMARY},#{BASE_STATUS},#{BASE_SORT},#{REG_DW_USER_IDX},#{UP_DW_USER_IDX},sysdate,sysdate,#{BASE_OPTION})
    </insert>
    <select id="baseCode" parameterType="baseCode" resultType="baseCode">
        select * from BASE_CODE where CODEGROUP=#{CODEGROUP}
    </select>
    <select id="findAll" resultType="baseCode">
        SELECT BASE_CODE_IDX,GROUP_CODE ,GUBN,BASE_CODE,BASE_NAME,BASE_VALUE,BASE_SUMMARY,BASE_STATUS,BASE_SORT,ui.USERNAME as REGISTER_NAME ,TO_CHAR(bc.REG_DATE, 'YYYY-MM-DD') as REG_DATE ,BASE_OPTION
        FROM base_code bc
        INNER JOIN USERINFO ui ON bc.REG_DW_USER_IDX = ui.USERIDX
        ORDER BY BASE_CODE_IDX ASC

    </select>
    <select id="getbaseCodeInfo" parameterType="String" resultType="baseCode">
        select BASE_CODE_IDX,GROUP_CODE ,GUBN,BASE_CODE,BASE_NAME,BASE_VALUE,BASE_SUMMARY,BASE_STATUS,BASE_SORT,u.USERNAME as REGISTER_NAME ,b.REG_DATE ,BASE_OPTION
         FROM BASE_CODE b
        LEFT OUTER JOIN USERINFO u
        ON b.BASE_CODE_IDX = u.USERIDX where BASE_CODE_IDX = #{idx}
    </select>

    <delete id="delete" parameterType="int">
        delete from BASE_CODE where BASE_CODE_IDX=#{BASE_CODE_IDX}
    </delete>

    <update id="update" parameterType="baseCode">
        update BASE_CODE
        set GUBN=#{GUBN},BASE_NAME=#{BASE_NAME},BASE_VALUE=#{BASE_VALUE}
        ,BASE_SUMMARY=#{BASE_SUMMARY},BASE_STATUS=#{BASE_STATUS},BASE_SORT=#{BASE_SORT}
        ,UP_DW_USER_IDX=#{REG_DW_USER_IDX},UP_DATE=sysdate
        ,BASE_OPTION =#{BASE_OPTION}
        where BASE_CODE_IDX=#{BASE_CODE_IDX}
    </update>

    <select id="getbaseGubunList" resultType="baseCode">
        SELECT BASE_CODE, BASE_NAME FROM BASE_CODE bc
        WHERE GROUP_CODE != BASE_CODE AND BASE_OPTION = 'SYSTEM' AND BASE_STATUS ='Y'
        ORDER BY BASE_SORT
    </select>

    <select id = "getbaseGroupCDList" resultType="baseCode">
        SELECT GROUP_CODE, BASE_NAME FROM BASE_CODE bc
        WHERE GROUP_CODE = BASE_CODE AND BASE_STATUS ='Y'
    </select>



    <select id="findSearch" parameterType="hashMap" resultType="baseCode">
        SELECT BASE_CODE_IDX,GROUP_CODE ,GUBN,BASE_CODE,BASE_NAME,BASE_VALUE,BASE_SUMMARY,BASE_STATUS,BASE_SORT,ui.USERNAME as REGISTER_NAME ,TO_CHAR(bc.REG_DATE, 'YYYY-MM-DD') as REG_DATE ,BASE_OPTION
        FROM base_code bc
        INNER JOIN USERINFO ui ON bc.REG_DW_USER_IDX = ui.USERIDX
        WHERE 1=1
        <if test="sGubun != '' ">
            and GUBN = #{sGubun}
        </if>
        <if test="sKey.equals('CODEGROUP') and sTextval != ''">
            and GROUP_CODE like '%' ||  #{sTextval} || '%'
        </if>
        <if test="sKey.equals('BASECODE') and sTextval != ''">
            and BASE_CODE like '%' ||  #{sTextval} || '%'
        </if>

    </select>


    <select id="findByCodeName" parameterType="baseCode" resultType="baseCode">
        select * from SYS_BASE_CODE where CODENAME LIKE '%' || #{CODENAME} ||'%'
    </select>
    <select id="findByCodeGroup" parameterType="baseCode" resultType="baseCode">
        select * from SYS_BASE_CODE where CODEGROUP LIKE '%' || #{CODEGROUP} ||'%'
    </select>
</mapper>