<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BaseConfig">
    <select id="findAll" resultType="baseConfig">
        SELECT BASECONFIGIDX as IDX,GUBN,CONFIGCODE,CONFIGVALUE,CONFIGSUMMARY,CONFIGSTATUS,u.USERNAME,TO_CHAR(b.REGDATE, 'YYYY-MM-DD') as REGDATE
        FROM BASECONFIG b
        LEFT OUTER JOIN USERINFO u
        ON b.REGDWUSERIDX = u.USERIDX

    </select>

    <select id="findSearch" parameterType="hashMap" resultType="baseConfig">
        select BASECONFIGIDX as IDX,GUBN,CONFIGCODE,CONFIGVALUE,CONFIGSUMMARY,CONFIGSTATUS,u.USERNAME,TO_CHAR(b.REGDATE, 'YYYY-MM-DD') as REGDATE
        FROM BASECONFIG b
        LEFT OUTER JOIN USERINFO u
        ON b.REGDWUSERIDX = u.USERIDX
        WHERE 1=1
        <if test="gubun != '' ">
            and GUBN = #{gubun}
        </if>
        <if test="key.equals('key') and textval != ''">
            and CONFIGCODE like '%' ||  #{textval} || '%'
        </if>
        <if test="key.equals('val') and textval != ''">
            and CONFIGVALUE like '%' ||  #{textval} || '%'
        </if>

    </select>

    <select id="getBaseConfig_Info" parameterType="String" resultType="baseConfig">
        select BASECONFIGIDX as IDX,GUBN,CONFIGCODE,CONFIGVALUE,CONFIGSUMMARY,CONFIGSTATUS,b.REGDATE,u.USERID
        FROM BASECONFIG b
        LEFT OUTER JOIN USERINFO u
        ON b.REGDWUSERIDX = u.USERIDX where BASECONFIGIDX = #{idx}
    </select>

    <insert id="save" parameterType="baseConfig">
        INSERT into BASECONFIG(BASECONFIGIDX, GUBN,CONFIGCODE,CONFIGVALUE,CONFIGSUMMARY,CONFIGSTATUS,REGDWUSERIDX,UPDWUSERIDX,REGDATE,"UPDATE")
        VALUES (SEQUENCE_BASECONFIG.NEXTVAL,#{GUBN},#{CONFIGCODE},#{CONFIGVALUE},#{CONFIGSUMMARY},#{CONFIGSTATUS},#{USERID},#{USERID},sysdate,sysdate)
    </insert>
    <update id="update" parameterType="baseConfig">
        update BASECONFIG
        set GUBN=#{GUBN},CONFIGCODE=#{CONFIGCODE},CONFIGVALUE=#{CONFIGVALUE}
        ,CONFIGSUMMARY=#{CONFIGSUMMARY},CONFIGSTATUS=#{CONFIGSTATUS},UPDWUSERIDX=#{USERID},"UPDATE"=sysdate
        where BASECONFIGIDX=#{IDX}
    </update>
    <delete id="delete" parameterType="int">
        delete from BASECONFIG where BASECONFIGIDX=#{IDX}
    </delete>

</mapper>