<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

    <select id="getList"  parameterType="Criteria" resultType="board">

            SELECT BOARD_IDX, BOARD_TITLE, BOARD_DESC, INPUT_USER_ID, INPUT_DATE, BOARD_HITS ,FILE_PATH
            FROM SC_BOARD_INFO
            WHERE 1=1
            <if test="keyword != null ">
                <if test="searchType == 1 ">
                    AND BOARD_TITLE LIKE '%' || #{keyword} || '%'
                </if>
                <if test="searchType == 2 ">
                    AND BOARD_DESC LIKE '%' || #{keyword} || '%'
                </if>
                <if test="searchType == 3 ">
                    AND INPUT_USER_ID LIKE '%' || #{keyword} || '%'
                </if>
            </if>
            ORDER BY BOARD_IDX DESC
            OFFSET (#{pageNum} - 1) * #{amount} ROWS FETCH NEXT #{amount} ROWS ONLY

    </select>


    <select id="getTotal"  parameterType="Criteria" resultType="int">
        select count(*) CNT
        from SC_BOARD_INFO
        WHERE 1=1
        <if test="keyword != null ">
            <if test="searchType == 1 ">
                AND BOARD_TITLE LIKE '%' || #{keyword} || '%'
            </if>
            <if test="searchType == 2 ">
                AND BOARD_DESC LIKE '%' || #{keyword} || '%'
            </if>
            <if test="searchType == 3 ">
                AND INPUT_USER_ID LIKE '%' || #{keyword} || '%'
            </if>
        </if>
    </select>


    <insert id="save" parameterType="board">
        INSERT INTO SC_BOARD_INFO(BOARD_TITLE, BOARD_TYPE, INPUT_USER_ID, BOARD_PASS, BOARD_DESC, INPUT_DATE, FILE_NAME, FILE_PATH)
        values(#{BOARD_TITLE}, #{BOARD_TYPE}, #{INPUT_USER_ID}, #{BOARD_PASS}, #{BOARD_DESC}, sysdate, #{FILE_NAME}, #{FILE_PATH})
    </insert>

    <update id="update" parameterType="board">
        update SC_BOARD_INFO set
            BOARD_TITLE =#{BOARD_TITLE},
            BOARD_DESC =#{BOARD_DESC} ,
        <if test="BOARD_PASS != '' ">
            BOARD_PASS =#{BOARD_PASS}  ,
        </if>
        <if test="FIXED_YN != '' ">
            FIXED_YN =#{FIXED_YN} ,
        </if>
        <if test="FILE_PATH != null and FILE_PATH != ''">
            FILE_NAME =#{FILE_NAME} ,
            FILE_PATH =#{FILE_PATH} ,
        </if>
            MODIFY_USER_ID =#{MODIFY_USER_ID},
            MODIFY_DATE = sysdate
        where BOARD_IDX=#{BOARD_IDX}
    </update>


    <update id="updateHits" parameterType="int">
        update SC_BOARD_INFO set BOARD_HITS=BOARD_HITS+1 where BOARD_IDX=#{id}
    </update>
    <select id="findById" parameterType="int" resultType="board">
        select BOARD_IDX, BOARD_TITLE, INPUT_USER_ID, INPUT_DATE, BOARD_DESC, BOARD_HITS, BOARD_PASS, INPUT_DATE, FILE_NAME ,FILE_PATH
        from SC_BOARD_INFO where BOARD_IDX=#{id}
    </select>

    <update id="updateFile">
        update SC_BOARD_INFO set FILE_NAME=#{FILE_NAME} ,FILE_PATH=#{FILE_PATH} where BOARD_IDX=#{BOARD_IDX}
    </update>
    <select id="findAll" resultType="board">
        select BOARD_IDX, BOARD_TITLE, INPUT_USER_ID, INPUT_DATE, BOARD_HITS, FILE_NAME, FILE_PATH
        from SC_BOARD_INFO order by BOARD_IDX DESC
    </select>

    <delete id="delete" parameterType="int" >
        delete from SC_BOARD_INFO where BOARD_IDX=#{id}
    </delete>

<!--    <insert id="saveFile" parameterType="boardFile">-->
<!--        insert into BOARD_FILE(ORG_FILE_NAME, FILE_NAME, BOARD_IDX, USE_YN, INPUT_DATE-->
<!--        values (#{ORG_FILE_NAME}, #{FILE_NAME}, #{BOARD_IDX}, 'Y', sysdate)-->
<!--    </insert>-->
<!--    <select id="findFile" parameterType="Long" resultType="boardFile">-->
<!--        select * from BOARD_FILE where BOARD_IDX = #{id}-->
<!--    </select>-->
</mapper>