<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CompanyInfo">
    <insert id="save" parameterType="companyInfo">
        insert into COMPANY_CODE(COM_CODE, COM_NAME, COM_NATION, COM_STATUS, REG_DW_USER_IDX, UP_DW_USER_IDX, REG_DATE, UP_DATE,COM_MANAGE_STATUS)
        values (#{COM_CODE}, #{COM_NAME}, #{COM_NATION}, #{COM_STATUS}, 1, 1, sysdate, sysdate,1)
    </insert>

    <select id="findById" parameterType="companyInfo" resultType="companyInfo">
        select * from COMPANY_CODE where COM_CODE=#{COM_CODE}
    </select>

    <select id="findSearch" parameterType="companyInfo" resultType="companyInfo">
        select COM_CODE, COM_NAME, COM_NATION, COM_STATUS from COMPANY_CODE
       <!-- INNER JOIN COMPANY_CODE_WORK ccw ON ccd.COM_CODE = ccw.COM_CODE-->
        WHERE 1=1
        <if test="COM_CODE != '' ">
            and COM_CODE = #{COM_CODE}
        </if>
        <if test="COM_NAME != '' ">
            and COM_NAME = #{COM_NAME}
        </if>
        <if test="COM_NATION != '' ">
            and COM_NAME = #{COM_NATION}
        </if>
    </select>

    <delete id="delete" parameterType="int">
        delete from COMPANY_CODE where COM_CODE=#{COM_CODE}
    </delete>

    <select id="findByCompanyId" parameterType="String" resultType="companyInfo">
        select * from COMPANY_CODE where COM_CODE=#{COM_CODE}
    </select>

    <select id="findByCriteria" parameterType="map" resultType="companyInfo">
        SELECT RN, COM_CODE, COM_NAME, COM_NATION, COM_STATUS
        FROM
        (
            SELECT /*+ INDEX_DESC(COMPANY_CODE PK_COMPANY_CODE) */
                ROWNUM RN, COM_CODE, COM_NAME, COM_NATION, COM_STATUS
            FROM COMPANY_CODE
            WHERE 1 =1
            <if test="COM_CODE != null and COM_CODE != ''">
                AND (COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
            </if>
            <if test="COM_NAME != null and COM_NAME != ''">
                AND (COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
            </if>
            <if test="COM_NATION != null and COM_NATION != ''">
                AND (COM_NATION LIKE CONCAT(CONCAT('%',  #{COM_NATION}), '%'))
            </if>
            <if test="criteria != null and criteria != ''">
        <![CDATA[  AND ROWNUM <= (#{criteria.pageNum} * #{criteria.amount}) ]]>
            </if>
        )
        WHERE RN > ((#{criteria.pageNum}-1) * #{criteria.amount})
    </select>

    <select id="countByKeyword" parameterType="map" resultType="int">
        select count(*) CNT
        from COMPANY_CODE
        WHERE 1 =1
        <if test="COM_CODE != null and COM_CODE != ''">
            AND (COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND (COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
        </if>
        <if test="COM_NATION != null and COM_NATION != ''">
            AND (COM_NATION LIKE CONCAT(CONCAT('%',  #{COM_NATION}), '%'))
        </if>
    </select>

    <select id="getList" resultType="companyInfo">
        <![CDATA[
        SELECT RN, COM_CODE, COM_NAME, COM_NATION, COM_STATUS
        FROM
        (
            SELECT /*+ INDEX_DESC(COMPANY_CODE PK_COMPANY_CODE) */
            ROWNUM RN, COM_CODE, COM_NAME, COM_NATION, COM_STATUS
            FROM COMPANY_CODE
            WHERE ROWNUM <= #{pageNum} * #{amount}
        )
           WHERE RN > (#{pageNum}-1) * #{amount}
        ]]>
    </select>

    <select id="getTotal" resultType="int">
        select count(*) CNT
        from COMPANY_CODE
    </select>

    <update id="updateStatus" parameterType="companyInfo">
        update COMPANY_CODE set COM_STATUS=#{COM_STATUS}
        where COM_CODE=#{COM_CODE}
    </update>
</mapper>