<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CompanyInfo">
    <insert id="save" parameterType="companyInfo">
        insert into COMPANYCODE(USER_EMAIL, PASSWORD, USER_NAME, USER_Mobile)
        values (#{USER_EMAIL}, #{PASSWORD}, #{USER_NAME}, #{USER_Mobile})
    </insert>
    <select id="login" parameterType="companyInfo" resultType="companyInfo">
        select * from COMPANYCODE where USER_ID=#{USER_ID} and PASSWORD=#{PASSWORD}
    </select>
    <select id="findAll" resultType="companyInfo">
        select USER_EMAIL, PASSWORD, USER_NAME, USER_Mobile from COMPANYCODE
    </select>
    <select id="findById" parameterType="int" resultType="companyInfo">
        select * from COMPANYCODE where USER_IDX=#{id}
    </select>
    <delete id="delete" parameterType="int">
        delete from COMPANYCODE where USER_IDX=#{id}
    </delete>
    <select id="findByCompanyId" parameterType="String" resultType="companyInfo">
        select * from COMPANYCODE where USER_ID=#{USER_ID}
    </select>
    <select id="getList" resultType="board">
        <![CDATA[
        SELECT RN, BOARD_IDX, BOARD_TITLE, BOARD_DESC, INPUT_USER_ID, INPUT_DATE, BOARD_HITS
        FROM
        (
            /*알리아스를 붙인 컬럼에 WHERE절에서 접근할 때에는 FROM 절에 작성된 테이블의 컬럼과 동일한 이름으로만 사용이 가능하다.*/
            SELECT /*+ INDEX_DESC(BOARD_INFO PK_BOARD) */
            ROWNUM RN, BOARD_IDX, BOARD_TITLE, BOARD_DESC, INPUT_USER_ID, INPUT_DATE, BOARD_HITS
            FROM BOARD_INFO
            WHERE ROWNUM <= #{pageNum} * #{amount}
        )
           WHERE RN > (#{pageNum}-1) * #{amount}
        ]]>
    </select>
    <select id="getTotal" resultType="int">
        select count(*) CNT
        from BOARD_INFO
    </select>
    <update id="update" parameterType="companyInfo">
        update COMPANYCODE set USER_Mobile=#{USER_Mobile}
        where USER_IDX=#{USER_idx}
    </update>
</mapper>