<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Declaration">
    <select id="findAll" resultType="Declaration">
        SELECT DECL_NUM,DECL_SUB_NUM,DECL_NAME,DECL_CASNUM,DECL_WEIGHT,DECL_CLASS,DECL_GROUND
        FROM DECLARATION_DATA
    </select>
    <delete id="deleteAll">
        DELETE DECLARATION_DATA
    </delete>
</mapper>