<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IsoAuthItem">
    <insert id="insertItem" parameterType="isoAuthItem">
        INSERT INTO SC_ISO_AUTH_COMPANY_ITEM(COM_CODE, AUTH_TYPE, AUTH_CODE, AUTH_DATE, EXP_DATE, REG_INPUT_DATE, REG_DW_USER_IDX, UP_DW_USER_IDX, REG_DATE, UP_DATE, ITEM_STATE, FILE_NAME, FILE_PATH)
        VALUES (#{COM_CODE}, #{AUTH_TYPE}, #{AUTH_CODE}, #{AUTH_DATE}, #{EXP_DATE}, #{REG_INPUT_DATE}, #{REG_DW_USER_IDX}, #{UP_DW_USER_IDX}, sysdate, sysdate, #{ITEM_STATE}, #{FILE_NAME}, #{FILE_PATH})
    </insert>

    <update id="updateItem" parameterType="isoAuthItem">
        UPDATE SC_ISO_AUTH_COMPANY_ITEM
        SET ITEM_STATE=#{ITEM_STATE},
            AUTH_DATE=#{AUTH_DATE}, EXP_DATE=#{EXP_DATE}, REG_INPUT_DATE=#{REG_INPUT_DATE},
            FILE_NAME=#{FILE_NAME}, FILE_PATH=#{FILE_PATH},
            UP_DW_USER_IDX = #{UP_DW_USER_IDX}, UP_DATE = sysdate
        WHERE COM_CODE=#{COM_CODE} AND AUTH_CODE=#{AUTH_CODE}
    </update>

    <select id="selectAuthItem" parameterType="isoAuthItem" resultType="int">
        SELECT COUNT(*) from SC_ISO_AUTH_COMPANY_ITEM where AUTH_CODE=#{AUTH_CODE} and COM_CODE=#{COM_CODE}
    </select>


    <select id="findByIsoAuthItem" parameterType="map" resultType="isoAuthItem">
        select * from SC_ISO_AUTH_COMPANY_ITEM where AUTH_CODE=#{AUTH_CODE} and COM_CODE=#{COM_CODE}
    </select>

    <select id="getCompanyAuth" parameterType="map" resultType="authMgmt">
        SELECT ACI.COM_CODE, CC.COM_NAME, AUTH_TYPE, APPROVE_STATE, APPROVE_DATE, POINT
        FROM SC_AUTH_COMPANY_INFO ACI
        INNER JOIN SC_COMPANY_CODE CC
        ON CC.COM_CODE = ACI.COM_CODE
        WHERE AUTH_TYPE=#{AUTH_TYPE} and ACI.COM_CODE=#{COM_CODE}
    </select>


    <select id="searchCompanies" parameterType="map" resultType="authMgmt">
        SELECT RN, COM_CODE, COM_NAME, AUTH_TYPE, APPROVE_STATE, TO_CHAR(APPROVE_DATE, 'YYYY.MM.DD') AS APPROVE_DATE, POINT
        FROM
        (
            SELECT /*+ INDEX_DESC(SC_ISO_AUTH_COMPANY_ITEM PK_ISO_AUTH_COMPANY_ITEM) */
                ROWNUM RN, ACI.COM_CODE, CC.COM_NAME, AUTH_TYPE, APPROVE_STATE, APPROVE_DATE, POINT
            FROM SC_AUTH_COMPANY_INFO ACI
            INNER JOIN SC_COMPANY_CODE CC
            ON CC.COM_CODE = ACI.COM_CODE
            WHERE 1 =1
            <if test="COM_CODE != null and COM_CODE != ''">
                AND (ACI.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
            </if>
            <if test="COM_NAME != null and COM_NAME != ''">
                AND (CC.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
            </if>
            <if test="COM_STATUS != null and COM_STATUS != ''">
                AND (ACI.APPROVE_STATE LIKE CONCAT(CONCAT('%',  #{COM_STATUS}), '%'))
            </if>
            <if test="AUTH_TYPE != null and AUTH_TYPE != ''">
                AND (ACI.AUTH_TYPE LIKE CONCAT(CONCAT('%',  #{AUTH_TYPE}), '%'))
            </if>
            <if test="criteria != null and criteria != ''">
        <![CDATA[  AND ROWNUM <= (#{criteria.pageNum} * #{criteria.amount}) ]]>
            </if>
        )
        WHERE RN > ((#{criteria.pageNum}-1) * #{criteria.amount})
    </select>

    <select id="countByKeyword" parameterType="map" resultType="int">
        select count(*) CNT
        from SC_AUTH_COMPANY_INFO ACI
        INNER JOIN SC_COMPANY_CODE CC
        ON CC.COM_CODE = ACI.COM_CODE
        WHERE 1 =1
        <if test="COM_CODE != null and COM_CODE != ''">
            AND (ACI.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND (CC.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
        </if>
        <if test="COM_STATUS != null and COM_STATUS != ''">
            AND (ACI.APPROVE_STATE LIKE CONCAT(CONCAT('%',  #{COM_STATUS}), '%'))
        </if>
        <if test="AUTH_TYPE != null and AUTH_TYPE != ''">
            AND (ACI.AUTH_TYPE LIKE CONCAT(CONCAT('%',  #{AUTH_TYPE}), '%'))
        </if>
    </select>

    <select id="getList" parameterType="map" resultType="isoAuthItem">
        <![CDATA[
        SELECT RN, COM_CODE, AUTH_TYPE, AUTH_CODE, TO_CHAR(AUTH_DATE, 'YYYY.MM.DD') AS AUTH_DATE, TO_CHAR(EXP_DATE, 'YYYY.MM.DD') AS EXP_DATE,
            TO_CHAR(REG_INPUT_DATE, 'YYYY.MM.DD') AS REG_INPUT_DATE, TO_CHAR(UP_DATE, 'YYYY.MM.DD') AS UP_DATE, ITEM_STATE, FILE_NAME, FILE_PATH,REASON
        FROM
        (
            SELECT /*+ INDEX_DESC(SC_ISO_AUTH_COMPANY_ITEM PK_ISO_AUTH_COMPANY_ITEM) */
                ROWNUM RN, COM_CODE, AUTH_TYPE, AUTH_CODE, AUTH_DATE, EXP_DATE, REG_INPUT_DATE, UP_DATE, ITEM_STATE, FILE_NAME, FILE_PATH,REASON
            FROM SC_ISO_AUTH_COMPANY_ITEM
            WHERE COM_CODE = #{COM_CODE}
        )
        ]]>
    </select>

    <select id="getTotal" resultType="int">
        select count(*) CNT
        from SC_ISO_AUTH_COMPANY_ITEM
    </select>

    <select id="getExpDateList" parameterType="hashMap" resultType="java.util.HashMap">
        SELECT /*+ INDEX_DESC(SC_ISO_AUTH_COMPANY_ITEM PK_ISO_AUTH_COMPANY_ITEM) */
            ACI.COM_CODE, CC.COM_NAME, AUTH_TYPE, AUTH_CODE, TO_CHAR(AUTH_DATE, 'YYYY.MM.DD') AS AUTH_DATE,
            TO_CHAR(EXP_DATE, 'YYYY.MM.DD') AS EXP_DATE, TO_CHAR(ACI.REG_INPUT_DATE, 'YYYY.MM.DD') AS REG_INPUT_DATE, TO_CHAR(ACI.UP_DATE, 'YYYY.MM.DD') AS UP_DATE,
            ITEM_STATE, FILE_NAME, FILE_PATH
        FROM SC_ISO_AUTH_COMPANY_ITEM ACI
        INNER JOIN SC_COMPANY_CODE CC
        ON CC.COM_CODE = ACI.COM_CODE
        WHERE 1 =1
        <if test="COM_CODE != null and COM_CODE != ''">
            AND (ACI.COM_CODE LIKE CONCAT(CONCAT('%',  #{COM_CODE}), '%'))
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND (CC.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
        </if>
        <if test="EXP_DATE != null and EXP_DATE != ''">
            AND TO_CHAR(ACI.EXP_DATE, 'YYYY.MM') = TO_CHAR(TO_DATE(#{EXP_DATE}), 'YYYY.MM')
        </if>
    </select>

    <update id="updateStatus" parameterType="isoAuthItem">
        UPDATE SC_ISO_AUTH_COMPANY_ITEM
        SET ITEM_STATE=#{ITEM_STATE}, REASON=#{REASON}, POINT=#{POINT}, UP_DW_USER_IDX = #{UP_DW_USER_IDX}, UP_DATE = sysdate
        WHERE COM_CODE=#{COM_CODE} AND AUTH_CODE=#{AUTH_CODE}
    </update>

    <update id="saveAuthResult" parameterType="authMgmt">
        UPDATE SC_AUTH_COMPANY_INFO
        SET APPROVE_STATE = #{APPROVE_STATE}, APPROVE_DATE= sysdate, POINT = #{POINT}
        WHERE COM_CODE = #{COM_CODE}
        AND AUTH_TYPE = #{AUTH_TYPE}
    </update>
</mapper>