<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Labour">
    <insert id="insertFile" parameterType="labour">
        INSERT INTO SC_AUTH_FILE(COM_CODE, AUTH_TYPE, FILE_NAME, FILE_PATH, AUTH_SEQ)
        VALUES (#{COM_CODE}, #{AUTH_TYPE}, #{FILE_NAME}, #{FILE_PATH}, #{AUTH_SEQ})
    </insert>
    <select id="getCompanyAuth" parameterType="map" resultType="labour">
        SELECT ACI.COM_CODE, CC.COM_NAME, AUTH_TYPE, APPROVE_STATE, APPROVE_DATE, POINT
        FROM SC_AUTH_COMPANY_INFO ACI
        INNER JOIN SC_COMPANY_CODE CC
        ON CC.COM_CODE = ACI.COM_CODE
        WHERE AUTH_TYPE=#{AUTH_TYPE} and ACI.COM_CODE=#{COM_CODE}
    </select>
    <select id="getCompanyAuthFile" parameterType="map" resultType="labour">
        SELECT ACI.COM_CODE, (SELECT COM_NAME FROM SC_COMPANY_CODE CC WHERE  CC.COM_CODE = ACI.COM_CODE) AS COM_NAME, ACI.AUTH_TYPE,
            APPROVE_STATE, TO_CHAR(APPROVE_DATE, 'YYYY-MM-DD') as APPROVE_DATE, POINT, AF.FILE_NAME, AF.FILE_PATH
        FROM SC_AUTH_COMPANY_INFO ACI
        INNER JOIN SC_AUTH_FILE AF ON AF.COM_CODE = ACI.COM_CODE AND AF.AUTH_TYPE = ACI.AUTH_TYPE
        WHERE ACI.AUTH_TYPE=#{AUTH_TYPE} and ACI.COM_CODE=#{COM_CODE}
    </select>

    <select id="getCompanyAuthItemPoint" parameterType="map" resultType="auditItemPoint">
        SELECT AI.AUDIT_ID, AI.PROVISION, AI.AUDIT_ITEM, AI.AUDIT_DESC, AI.AUDIT_CRITERIA, AI.POINT_CRITERIA,
            AA.AUTH_TYPE, AA.POINT, AA.AUDIT_COMMENT
        FROM SC_AUDIT_LABOUR_ITEM AI
        LEFT OUTER JOIN  SC_AUDIT_ITEM_POINT AA
        ON AA.AUDIT_ID= AI.AUDIT_ID AND AA.COM_CODE = #{COM_CODE} AND AA.AUTH_TYPE = 'LABOUR'
    </select>

</mapper>