<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Login">
    <insert id="save" parameterType="login">
        insert into USER_INFO(USER_Email, USER_Password, USER_Name, USER_Mobile)
        values (#{USER_Email}, #{USER_Password}, #{USER_Name}, #{USER_Mobile})
    </insert>
    <select id="login" parameterType="login" resultType="login">
        select * from USER_INFO where USER_Id=#{USER_Id} and USER_Password=#{USER_Password}
    </select>
    <select id="findAll" resultType="login">
        select USER_Email, USER_Password, USER_Name, USER_Mobile from USER_INFO
    </select>
    <select id="findById" parameterType="int" resultType="member">
        select * from USER_INFO where USER_IDX=#{id}
    </select>
    <delete id="delete" parameterType="int">
        delete from USER_INFO where USER_IDX=#{id}
    </delete>
    <select id="findByMemberEmail" parameterType="String" resultType="login">
        select * from USER_INFO where USER_Email=#{loginEmail}
    </select>
    <select id="findByMemberId" parameterType="String" resultType="login">
        select * from USER_INFO where USER_Id=#{USER_Id}
    </select>
    <update id="update" parameterType="login">
        update USER_INFO set USER_Mobile=#{USER_Mobile}
        where USER_IDX=#{USER_idx}
    </update>

    <select id="findUserMenu" parameterType="login" resultType="menu">
        SELECT N.MENU_ID
            , N.MENU_CLASS_ID
            , NVL(M.LANGUAGE_CODE_DATA, N.MENU_NAME) AS MENU_NAME
            , N.MENU_TYPE
            , N.VIEW_ID
            , N.PARENT_MENU_ID
            , N.SEQUENCE
            , N.DEPTH
        FROM SYS_MENU N
        LEFT OUTER JOIN SYS_MULTI_LANGUAGE M
            ON N.MENU_ID = M.LANGUAGE_CODE_ID
            AND M.LANGUAGE = #{LANGUAGE}
            AND M.SITE_ID = #{SITE_ID}
            AND M.IS_USABLE = 'Usable'
        <!-- AND N.MENU_CLASS_ID = M.LANGUAGE_CODE_TYPE -->
        WHERE N.MENU_CLASS_ID = 'STDITG'
        AND N.SITE_ID = #{SITE_ID}
        AND N.IS_USABLE = 'Usable'
        AND N.MENU_ID IN (SELECT A.MENU_ID
            FROM SYS_USER_CLASS_MENU_REL A
            WHERE A.SITE_ID = #{SITE_ID}
            AND A.USER_ID = #{USERID}
            AND A.IS_USABLE = 'Usable')
    </select>
</mapper>