<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Login">
    <insert id="save" parameterType="login">
        insert into USER_INFO(USER_EMAIL, PASSWORD, USER_NAME, USER_Mobile)
        values (#{USER_EMAIL}, #{PASSWORD}, #{USER_NAME}, #{USER_Mobile})
    </insert>
    <select id="login" parameterType="login" resultType="login">
        select * from USER_INFO where USER_ID=#{USER_ID} and PASSWORD=#{PASSWORD}
    </select>
    <select id="findAll" resultType="login">
        select USER_EMAIL, PASSWORD, USER_NAME, USER_Mobile from USER_INFO
    </select>
    <select id="findById" parameterType="String" resultType="member">
        select * from USER_INFO where USER_ID=#{USER_ID}
    </select>
    <delete id="delete" parameterType="String">
        delete from USER_INFO where USER_ID=#{USER_ID}
    </delete>
    <select id="findByLoginEmail" parameterType="String" resultType="login">
        select * from USER_INFO where USER_EMAIL=#{loginEmail}
    </select>
    <select id="findByLoginId" parameterType="String" resultType="login">
        select * from USER_INFO where USER_ID=#{USER_ID}
    </select>
    <select id="findByLoginName" parameterType="String" resultType="login">
        select * from USER_INFO where USER_NAME=#{USER_NAME}
    </select>
    <update id="update" parameterType="login">
        update USER_INFO set USER_Mobile=#{USER_Mobile}
        where USER_IDX=#{USER_idx}
    </update>

</mapper>