<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into SC_USER_INFO(USER_EMAIL, PASSWORD, USER_NAME, USER_Mobile)
        values (#{USER_EMAIL}, #{PASSWORD}, #{USER_NAME}, #{USER_Mobile})
    </insert>

    <!-- SC_USER_INFO 저장!!-->
    <insert id="saveUserinfo" parameterType="userinfo">
        insert into SC_USER_INFO(USER_IDX , USER_ID , USER_PWD , USER_NAME ,USER_GUBN ,USER_STATUS ,REG_DW_USER_IDX  ,REG_DATE,UP_DATE)
        values ( (SELECT NVL(MAX(USER_IDX), 0) + 1 FROM SC_USER_INFO) , #{USER_ID} ,  #{USER_PWD} ,  #{USER_NAME} , #{USER_GUBN} , #{USER_STATUS} , #{REG_DW_USER_IDX} , sysdate,sysdate )
    </insert>

    <!-- USER_ID 중복 체크 후 업데이트 -->
    <update id="updateUserinfo" parameterType="userinfo">
        UPDATE SC_USER_INFO
            SET USER_PWD = #{USER_PWD},
            USER_NAME = #{USER_NAME},
            USER_GUBN = #{USER_GUBN},
            USER_STATUS = #{USER_STATUS},
            UP_DATE = SYSDATE
        WHERE USER_ID = #{USER_ID}
    </update>

    <!-- 업체 회사정보에서 메인담당자 이름변경시 업데이트 -->
    <update id="updateUserName" parameterType="userinfo">
        UPDATE SC_USER_INFO
        SET
        USER_NAME = #{USER_NAME}
        WHERE USER_IDX = #{USER_IDX}
    </update>

    <!-- 업체 ID 상태  업데이트 -->
    <update id="updateUserStatus" parameterType="userinfo">
        UPDATE SC_USER_INFO
        SET
         USER_STATUS = #{USER_STATUS} ,
         DEL_DW_USER_IDX = #{DEL_DW_USER_IDX} ,
         DEL_DATE = sysdate
        WHERE USER_IDX = #{USER_IDX}
    </update>

    <!-- 업체 승인 반려 업데이트 -->
    <update id="approvalUserStatus" parameterType="userinfo">
        UPDATE SC_USER_INFO
        SET
        USER_STATUS = #{USER_STATUS} ,
        UP_DW_USER_IDX = #{DEL_DW_USER_IDX} ,
        UP_DATE = sysdate
        WHERE USER_IDX = #{USER_IDX}
    </update>


    <!-- USERINFO 가입된정보 가져가기 -->
    <select id="findByUserId" parameterType="String" resultType="userinfo">
        select * from SC_USER_INFO where USER_ID=#{USER_ID}
    </select>
    <!-- SC_USER_INFO 가입된정보 가져가기 -->
    <select id="findByUserIdx" parameterType="Int" resultType="userinfo">
        select * from SC_USER_INFO where USER_IDX=#{USER_IDX}
    </select>

    <!-- SC_USER_INFO_COMPANY_USER  공동 작업자 저장!!-->
    <insert id="saveUserinfoCompanyUser" parameterType="userinfocom">
        insert into SC_USER_INFO_COMPANY_USER(COM_USER_IDX , USER_IDX , COM_CODE , USER_NAME ,USER_POSITION ,USER_DEPT , USER_EMAIL,USER_PHONE )
        values ( (SELECT NVL(MAX(COM_USER_IDX), 0) + 1 FROM SC_USER_INFO_COMPANY_USER) , #{USER_IDX} ,#{COM_CODE} ,  #{USER_NAME} , #{USER_POSITION} , #{USER_DEPT}, #{USER_EMAIL} , #{USER_PHONE}  )
    </insert>

    <update id="updateUserinfoCompanyUser" parameterType="userinfocom">
        UPDATE SC_USER_INFO_COMPANY_USER
        SET COM_CODE = #{COM_CODE},
            USER_NAME = #{USER_NAME},
            USER_POSITION = #{USER_POSITION},
            USER_DEPT = #{USER_DEPT},
            USER_EMAIL = #{USER_EMAIL},
            USER_PHONE = #{USER_PHONE}
        WHERE COM_USER_IDX = #{COM_USER_IDX}
    </update>

    <delete id="deleteUserinfoCompanyUser" parameterType="map">
        DELETE FROM SC_USER_INFO_COMPANY_USER
        WHERE COM_CODE = #{COM_CODE} AND USER_IDX =#{USER_IDX}
        AND COM_USER_IDX NOT IN
        <foreach collection="list" item="COM_USER_IDX" open="(" separator="," close=")">
            #{COM_USER_IDX}
        </foreach>
    </delete>

    <!-- SC_USER_INFO_COMPANY_USER 가입된정보 공동 작업자  COM_USER_IDX -->
    <select id="findByCompanyUserIdx" parameterType="int" resultType="userinfocom">
        select * from SC_USER_INFO_COMPANY_USER where COM_USER_IDX=#{COM_USER_IDX}
    </select>

    <!-- SC_USER_INFO_COMPANY_USER 가입된정보 공동 작업자  COM_USER_IDX -->
    <select id="findByCompanyUserName" parameterType="String" resultType="userinfocom">
        select * from SC_USER_INFO_COMPANY_USER where COM_CODE=#{COM_CODE} and USER_NAME=#{USER_NAME}
    </select>

    <!-- SC_USER_INFO_COMPANY_USER 가입된정보 공동 작업자  가져오기 -->
    <select id="findByCompanyUserComCode" parameterType="userinfocom" resultType="userinfocom">
        select * from SC_USER_INFO_COMPANY_USER where COM_CODE=#{COM_CODE} and USER_IDX = #{USER_IDX}
    </select>

    <!-- SC_USER_INFO_COMPANY_USER 가입된정보 공동 작업자  업체 회원정보 에서 가져오기 -->
    <select id="findByCompanyUserAll" parameterType="userinfocom" resultType="userinfocom">
        select * from SC_USER_INFO_COMPANY_USER where COM_CODE=#{COM_CODE}
    </select>

    <!--공동사용자 정보 사용처 1.업체 업체 정보  , 2.관리자-업체목록(업체 상세)-->
    <select id="findByMemberInfoAll" parameterType="userinfocom" resultType="userinfocom">
        SELECT
         decode(uc.COM_USER_IDX , icu.COM_USER_IDX ,'Y',' ') AS MAIN_USER_YN
        ,uc.user_status
        ,uc.RETURN_REASON
        ,u.USER_IDX
        ,u.USER_ID
        ,icu.COM_USER_IDX
        ,uc.COM_USER_IDX as MAIN_COM_USER_IDX   --메인작업자.
        ,icu.*
        FROM SC_USER_INFO u, SC_USER_INFO_COMPANY uc ,SC_USER_INFO_COMPANY_USER icu
        WHERE u.USER_IDX  = uc.USER_IDX
        AND uc.USER_IDX = icu.USER_IDX
<!--        AND u.USER_STATUS  = 'Y' -->
        AND  u.DEL_DATE IS NULL
        <if test="USER_ID != null and USER_ID != ''">
            AND u.USER_ID= #{USER_ID}
        </if>
        <if test="USER_IDX != null and USER_IDX != ''">
            AND u.USER_IDX= #{USER_IDX}
        </if>
        <if test="COM_CODE != null and COM_CODE != ''">
            AND uc.COM_CODE= #{COM_CODE}
        </if>
        <if test="COM_USER_IDX != null and COM_USER_IDX != ''">
            AND icu.COM_USER_IDX= #{COM_USER_IDX}
        </if>

        ORDER BY uc.USER_IDX asc,MAIN_USER_YN DESC  ,icu.COM_USER_IDX ASC
    </select>




    <!-- SC_USER_INFO_COMPANY_USER   사용자 추가정보 신청상태.. 승일인 사유 저장-->
    <insert id="saveUserinfoCompanyHis" parameterType="userinfoHis">
        insert into SC_USER_INFO_COMPANY(USER_IDX
        , COM_CODE , COM_USER_IDX , ID_PW_ADD_REASON ,USER_STATUS ,USER_OK_DATE , RETURN_REASON ,ID_ADD_TYPE)
        values ( #{USER_IDX} , #{COM_CODE} ,#{COM_USER_IDX} ,  #{ID_PW_ADD_REASON} , #{USER_STATUS} , #{USER_OK_DATE}, #{RETURN_REASON} , #{ID_ADD_TYPE} )
    </insert>

    <update id="updateUserinfoCompanyHis" parameterType="userinfoHis">
        UPDATE SC_USER_INFO_COMPANY
        SET COM_CODE = #{COM_CODE},
            COM_USER_IDX = #{COM_USER_IDX},
            ID_PW_ADD_REASON = #{ID_PW_ADD_REASON},
            USER_STATUS = #{USER_STATUS},
            USER_OK_DATE = #{USER_OK_DATE},
            RETURN_REASON = #{RETURN_REASON}
        WHERE USER_IDX = #{USER_IDX}
    </update>

    <!-- 사용자 삭제처리-->
    <update id="deleteUserinfoCompanyHis" parameterType="userinfoHis">
        UPDATE SC_USER_INFO_COMPANY
            SET
            USER_STATUS = #{USER_STATUS},
            USER_OK_DATE = sysdate ,
            RETURN_REASON = #{RETURN_REASON}
        WHERE USER_IDX = #{USER_IDX}
    </update>

    <!-- 승인 & 반려 처리-->
    <update id="approvalUserInfoCompanyHis" parameterType="userinfoHis">
        UPDATE SC_USER_INFO_COMPANY
        SET
        USER_STATUS = #{USER_STATUS},
        USER_OK_DATE = sysdate
        <if test="USER_STATUS == '2'">
            , USER_OK_DATE = #{USER_OK_DATE}
        </if>
        <if test="RETURN_REASON != null and RETURN_REASON != ''">
            , RETURN_REASON = #{RETURN_REASON}
        </if>
        WHERE USER_IDX = #{USER_IDX}
    </update>

    <!-- updateCompany_Code SC_COMPANY_CODE 회사코드 업데이트-->
    <update id="updateCompanyCode" parameterType="companycode">
        update SC_COMPANY_CODE set
             VENDOR_WORK_KIND=#{VENDOR_WORK_KIND}
            ,COM_USER_IDX=#{COM_USER_IDX}
            ,COMPANY_NAME=#{COMPANY_NAME}
            ,FACTORY_NAME=#{FACTORY_NAME}
            ,BUS_NUMBER=#{BUS_NUMBER}
            ,COM_ADDRESS=#{COM_ADDRESS}
            ,COM_CEO_NAME=#{COM_CEO_NAME}
            ,COM_CEO_PHONE=#{COM_CEO_PHONE}
            ,COM_CEO_EMAIL=#{COM_CEO_EMAIL}
            ,COM_FILE_NAME=#{COM_FILE_NAME}
            ,COM_FILE_PATH=#{COM_FILE_PATH}
            ,UP_DATE =sysdate
            ,UP_DW_USER_IDX =#{UP_DW_USER_IDX}
            ,COM_APP_DATE = sysdate
            ,COM_MANAGE_STATUS =#{COM_MANAGE_STATUS}
        where COM_CODE=#{COM_CODE}
    </update>

    <!-- Company Information 에서 사용자가 업체 기본 정보 수정할때 ,기가입 유저 추가할때.-->
    <update id="updateCpCodeCPUser" parameterType="companycode">
        update SC_COMPANY_CODE set
        VENDOR_WORK_KIND=#{VENDOR_WORK_KIND}
        ,COMPANY_NAME=#{COMPANY_NAME}
        ,FACTORY_NAME=#{FACTORY_NAME}
        ,BUS_NUMBER=#{BUS_NUMBER}
        ,COM_ADDRESS=#{COM_ADDRESS}
        ,COM_CEO_NAME=#{COM_CEO_NAME}
        ,COM_CEO_PHONE=#{COM_CEO_PHONE}
        ,COM_CEO_EMAIL=#{COM_CEO_EMAIL}
        ,UP_DATE =sysdate
        ,UP_DW_USER_IDX =#{UP_DW_USER_IDX}
        where COM_CODE=#{COM_CODE}
    </update>

    <update id="approvalCpCode" parameterType="companycode">
        update SC_COMPANY_CODE set
         COM_MANAGE_STATUS =#{COM_MANAGE_STATUS}
        ,COM_OK_DATE =sysdate
        ,UP_DATE =sysdate
        ,UP_DW_USER_IDX =#{UP_DW_USER_IDX}
        where COM_CODE=#{COM_CODE}
    </update>



    <!-- 최초가입 여부 (마스터 코드 등록여부)-->
    <select id="findByCompanyCode" parameterType="String" resultType="member">
            select * from SC_COMPANY_CODE where COM_CODE=#{COM_CODE}
    </select>

    <!-- 최초가입 여부 (마스터 코드 등록여부)-->
    <select id="findByBUSNUMBER" parameterType="String" resultType="member">
        select * from SC_COMPANY_CODE where BUS_NUMBER=#{BUS_NUMBER}
    </select>


    <!--진행중인 업체코드 COM_CODE 등록 여부 -->
    <!--호출 위치 join 1 1.여기 있으면 기등록 업체 입니다.!!!   -->
    <!--관리상태 USER_STATUS (0:대기, 1:검토중, 2:승인, 3:반려)-->
    <select id="findByUserInfoCompany" parameterType="String" resultType="member">
        select * from SC_USER_INFO_COMPANY where USER_STATUS NOT IN('0','2') and COM_CODE=#{COM_CODE}
    </select>

    <!--가입 승인된 회사 정보만 찾는다.  USER_STATUS (0:대기, 1:검토중, 2:승인, 3:반려)-->
    <select id="findApproveCompany" parameterType="String" resultType="member">
        select * from SC_USER_INFO_COMPANY where USER_STATUS = '2' and COM_CODE=#{COM_CODE}
    </select>

    <!--회사 사용자 로그인 ID로 정보확인. -->
    <select id="findCpLoginID" parameterType="String" resultType="member">
        SELECT * FROM SC_USER_INFO u, SC_USER_INFO_COMPANY uc
            WHERE u.USER_IDX  = uc.USER_IDX
                and  u.USER_ID=#{loginId}
    </select>

    <!--회사 사용자 로그인 IDX로 정보확인. -->
    <select id="findCpLoginIDX" parameterType="member" resultType="member">
        SELECT * FROM SC_USER_INFO u, SC_USER_INFO_COMPANY uc
        WHERE u.USER_IDX  = uc.USER_IDX
        and  u.USER_IDX=#{USER_IDX}
    </select>



    <!--사용자 ID 중복 체크 -->
    <select id="findByMemberId" parameterType="String" resultType="member">
        select * from SC_USER_INFO where USER_ID=#{loginId}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from SC_USER_INFO where USER_ID=#{USER_ID} and PASSWORD=#{PASSWORD}
    </select>
    <select id="findAll" resultType="member">
        select USER_EMAIL, PASSWORD, USER_NAME, USER_Mobile from SC_USER_INFO
    </select>

    <delete id="delete" parameterType="int">
        delete from SC_USER_INFO where USER_IDX=#{id}
    </delete>

    <select id="findByMemberEmail" parameterType="String" resultType="member">
        select * from SC_USER_INFO where USER_EMAIL=#{loginEmail}
    </select>

    <update id="update" parameterType="member">
        update SC_USER_INFO set USER_Mobile=#{USER_Mobile}
        where USER_IDX=#{USER_idx}
    </update>
</mapper>