<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Menu">
    <insert id="save" parameterType="menu">
        insert into SYS_MENU(USER_EMAIL, PASSWORD, USER_NAME, USER_Mobile)
        values (#{USER_EMAIL}, #{PASSWORD}, #{USER_NAME}, #{USER_Mobile})
    </insert>
    <select id="menu" parameterType="menu" resultType="menu">
        select * from SYS_MENU where USER_ID=#{USER_ID} and PASSWORD=#{PASSWORD}
    </select>
    <select id="getAllMenu" resultType="HashMap">
        select PAGE_IDX, PAGE_NM, PAGE_URL, GNB_IDX, GNB_NM, AUTH_ROLE_NM from MENUS ORDER BY PAGE_IDX
    </select>

    <select id="getAllSubMenu" resultType="HashMap">
        select PAGE_IDX, PAGE_NM, PAGE_URL, GNB_IDX, GNB_NM, AUTH_ROLE_NM from SUB_MENU
    </select>

    <delete id="delete" parameterType="int">
        delete from SYS_MENU where USER_IDX=#{id}
    </delete>
    <select id="findByMemberEmail" parameterType="String" resultType="menu">
        select * from SYS_MENU where USER_EMAIL=#{menuEmail}
    </select>
    <select id="findByMemberId" parameterType="String" resultType="menu">
        select * from SYS_MENU where USER_ID=#{USER_ID}
    </select>
    <update id="update" parameterType="menu">
        update SYS_MENU set USER_Mobile=#{USER_Mobile}
        where USER_IDX=#{USER_idx}
    </update>

    <select id="findUserMenu" parameterType="menu" resultType="menu">
        select * from SYS_MENU where USER_IDX=#{id}
    </select>
</mapper>