<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Menu">
    <select id="getAllMenu" resultType="HashMap">
        select PAGE_IDX, PAGE_NM, PAGE_URL, GNB_IDX, GNB_NM, AUTH_ROLE_NM from MENUS ORDER BY PAGE_IDX
    </select>
    <select id="getAllAdminMenu" resultType="HashMap">
        select PAGE_IDX, PAGE_NM, PAGE_URL, GNB_IDX, GNB_NM, AUTH_ROLE_NM from MENUS WHERE AUTH_ROLE_NM ='ADMIN' AND DEPTH IS NULL ORDER BY ORDER_NO
    </select>
    <select id="getAllUserMenu" resultType="HashMap">
        select PAGE_IDX, PAGE_NM, PAGE_URL, GNB_IDX, GNB_NM, AUTH_ROLE_NM from MENUS WHERE AUTH_ROLE_NM ='USER' AND DEPTH IS NULL ORDER BY ORDER_NO
    </select>

    <select id="getAllSubMenu" resultType="HashMap">
        select PAGE_IDX, PAGE_NM, PAGE_URL, GNB_IDX, GNB_NM, AUTH_ROLE_NM from MENUS WHERE PARENT_IDX IS NOT NULL ORDER BY PAGE_IDX
    </select>
    <select id="getAllAdminSubMenu" resultType="HashMap">
        select PAGE_IDX, PAGE_NM, PAGE_URL, GNB_IDX, GNB_NM, AUTH_ROLE_NM from MENUS WHERE AUTH_ROLE_NM ='ADMIN' AND DEPTH = 2 ORDER BY GNB_IDX, ORDER_NO
    </select>
    <select id="getAllUserSubMenu" resultType="HashMap">
        select PAGE_IDX, PAGE_NM, PAGE_URL, GNB_IDX, GNB_NM, AUTH_ROLE_NM from MENUS WHERE AUTH_ROLE_NM ='USER' AND DEPTH = 2 ORDER BY GNB_IDX, ORDER_NO
    </select>

    <select id="getAllAdminThirdMenu" resultType="HashMap">
        select PAGE_IDX, PAGE_NM, PAGE_URL, GNB_IDX, GNB_NM, AUTH_ROLE_NM from MENUS WHERE AUTH_ROLE_NM ='ADMIN' AND DEPTH = 3 ORDER BY GNB_IDX, ORDER_NO
    </select>
    <select id="getAllUserThirdMenu" resultType="HashMap">
        select PAGE_IDX, PAGE_NM, PAGE_URL, GNB_IDX, GNB_NM, AUTH_ROLE_NM from MENUS WHERE AUTH_ROLE_NM ='USER' AND DEPTH = 3 ORDER BY GNB_IDX, ORDER_NO
    </select>

</mapper>