<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="partCode">

    <select id="GetBaseCode"  parameterType="String" resultType="baseCode">
        SELECT * FROM SC_base_code
        WHERE  GROUP_CODE != BASE_CODE
<!--        AND BASE_OPTION = 'SYSTEM'-->
        AND BASE_STATUS ='Y'
        AND GROUP_CODE  =#{GROUP_CODE}
        ORDER BY BASE_SORT ASC
    </select>

    <select id="getPlantList" resultType="HashMap">
        SELECT BASE_CODE,BASE_VALUE FROM SC_BASE_CODE
        WHERE GROUP_CODE ='PLANT' AND GROUP_CODE != BASE_CODE
        ORDER BY BASE_SORT asc
    </select>


    <select id="partCodeList" parameterType="partCode"  resultType="partCode">
        SELECT
        pc.PART_CODE,
        pc.PART_NAME,
        pc.COM_CODE,
        cc.COM_NAME,
        pc.PLANT_CODE,
        cc.COM_NATION ,
        pc.PART_STATUS
        FROM SC_PART_CODE pc
        JOIN SC_COMPANY_CODE cc ON pc.COM_CODE = cc.COM_CODE
        WHERE 1=1
        <if test="PART_CODE != null and PART_CODE != ''">
            AND pc.PART_CODE LIKE '%' || #{PART_CODE} || '%'
        </if>
        <if test="PART_NAME != null and PART_NAME != ''">
            AND pc.PART_NAME LIKE '%' || #{PART_NAME} || '%'
        </if>
        <if test="COM_CODE != null and COM_CODE != ''">
            AND pc.COM_CODE LIKE '%' || #{COM_CODE} || '%'
        </if>
        <if test="COM_NAME != null and COM_NAME != ''">
            AND pc.COM_NAME LIKE '%' || #{COM_NAME} || '%'
        </if>
        <if test="PLANT_CODE != null and PLANT_CODE != ''">
            AND pc.PLANT_CODE LIKE '%' || #{PLANT_CODE} || '%'
        </if>
        <if test="COM_NATION != null and COM_NATION != ''">
            AND cc.COM_NATION LIKE '%' || #{COM_NATION} || '%'
        </if>
    </select>


    <!--    팝업 회사코드-->
    <select id="getCompanyInfoList" resultType="companyInfo">
        <![CDATA[
        SELECT RN, COM_CODE, COM_NAME, COM_NATION, COM_STATUS
        FROM
        (
            SELECT /*+ INDEX_DESC(SC_COMPANY_CODE PK_COMPANY_CODE) */
            ROWNUM RN, COM_CODE, COM_NAME, COM_NATION, COM_STATUS
            FROM SC_COMPANY_CODE
            WHERE ROWNUM <= #{pageNum} * #{amount}
        )
           WHERE RN > (#{pageNum}-1) * #{amount}
        ]]>
    </select>

    <select id="getCompanyInfoListTotal" resultType="int">
        select count(*) CNT
        from SC_COMPANY_CODE
    </select>

    <!--    팝업 자재코드 지켐스 IF -->
    <select id="getMaterialList" resultType="partCode">
        <![CDATA[
        SELECT ROWNUM RN
            ,MAT_ID
            ,MAT_NAME
            ,PLAND_ID
            ,PLAND_NAME
            ,IF_DATETIME
            ,IF_SYSTEM
        FROM
        (
            SELECT
             ROWNUM RN
            ,MAT_ID
            ,MAT_NAME
            ,PLAND_ID
            ,PLAND_NAME
            ,IF_DATETIME
            ,IF_SYSTEM
           FROM INTER_PART_MATERIAL
            WHERE ROWNUM <= #{pageNum} * #{amount}
        )
           WHERE RN > (#{pageNum}-1) * #{amount}
        ]]>
    </select>

    <select id="getMaterialListTotal" resultType="int">
        select count(*) CNT
        from INTER_PART_MATERIAL
    </select>


    <insert id="setPartCode" parameterType="companyInfo">
        INSERT INTO SC_PART_CODE
        (PART_CODE, PART_NAME, COM_CODE, PLANT_CODE, PART_STATUS, REG_DW_USER_IDX, UP_DW_USER_IDX, REG_DATE, UP_DATE)
        VALUES(#{PART_CODE}, #{PART_NAME}, #{COM_CODE}, #{PLANT_CODE}, #{PART_STATUS}, #{REG_DW_USER_IDX}, #{UP_DW_USER_IDX}, sysdate, sysdate)
    </insert>


    <update id="updatePartCode" parameterType="companyInfo">
        UPDATE SC_PART_CODE
        SET
          PART_NAME =#{PART_NAME}
        , COM_CODE =#{COM_CODE}
        , PLANT_CODE =#{PLANT_CODE}
        , PART_STATUS =#{PART_STATUS}
        , UP_DW_USER_IDX =#{UP_DW_USER_IDX}
        , UP_DATE =sysdate
        WHERE PART_CODE = #{PART_CODE}
            AND PLANT_CODE =#{PLANT_CODE}
    </update>

    <delete id="deletePartCode" parameterType="companyInfo">
        DELETE FROM SC_PART_CODE
            WHERE PART_CODE = #{PART_CODE}
              AND PLANT_CODE =#{PLANT_CODE}
    </delete>

</mapper>