<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="partManagement">
    <select id="getPlantList" resultType="HashMap">
        SELECT BASE_CODE,BASE_CODE AS BASE_VALUE FROM SC_BASE_CODE
        WHERE GROUP_CODE ='PLANT' AND GROUP_CODE != BASE_CODE
        ORDER BY BASE_SORT asc
    </select>

    <select id="getPartMgmtData" parameterType="String" resultType="partManagement">
        SELECT PM_IDX,PM_PART_CODE,PART_NAME as PM_PART_NAME,PM_PART_PLANT_CODE,PM_PART_COUNTRY,PM_QUALITY,PM_STATUS,PM_CHEMICAL_YN
        FROM SC_PART_MANAGEMENT_DATA  spd
        INNER JOIN SC_PART_CODE spc ON spd.PM_PART_CODE = spc.PART_CODE
        WHERE PM_IDX = #{idx}
    </select>

    <select id="getApprovalStatus" resultType="HashMap">
        SELECT BASE_CODE,BASE_VALUE FROM SC_BASE_CODE
        WHERE GROUP_CODE ='APPVSTATUS' AND GROUP_CODE != BASE_CODE
        ORDER BY BASE_SORT asc
    </select>

    <update id="updateApprovalStatus" parameterType="HashMap">
        UPDATE SC_PART_MANAGEMENT_DATA
        SET PM_APPROVAL_STATUS= #{status}
        WHERE PM_IDX=#{idx}
    </update>

    <update id="updateActive" parameterType="HashMap">
        UPDATE SC_PART_MANAGEMENT_DATA
        SET PM_ACTIVE_YN= #{status}
        WHERE PM_IDX=#{idx}
    </update>

    <update id="updateActiveList" parameterType="HashMap">
        UPDATE SC_PART_MANAGEMENT_DATA
        SET PM_ACTIVE_YN= #{status}
        WHERE PM_IDX IN
        <foreach item="item" index="index" collection="idxList.split(',')" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="searchPartMgmt" parameterType="partManagement" resultType="partManagement">

        SELECT
            pmd.PM_IDX
            , pmd.PM_PART_CODE
            , pc.PART_NAME
            , pmd.PM_PART_PLANT_CODE
            , pmd.PM_QUALITY
            , pmd.PM_STATUS
            , pmd.PM_CHEMICAL_YN
            , pmd.PM_ACTIVE_YN
            , NVL(TO_CHAR(pmd.PM_REG_DATE, 'YYYY-MM-DD'),'') as PM_REG_DATE
            , pmd.PM_REG_USER
            , ui.USER_NAME as PM_REG_USER_NAME
            , ui.USER_ID as PM_REG_USER_ID
            , pmd.PM_APPROVAL_STATUS
            , NVL(TO_CHAR(pmd.PM_APPROVAL_DATE, 'YYYY-MM-DD'),'') as PM_APPROVAL_DATE
            , pmd.PM_MODIFY_USER
            --, ui2.USER_NAME as PM_MODIFY_USER_NAME
            --, ui2.USER_ID as PM_MODIFY_USER_ID
            , NVL(TO_CHAR(pmd.PM_REQUEST_APPROVAL_DATE, 'YYYY-MM-DD'),'') as PM_REQUEST_APPROVAL_DATE
            , NVL(TO_CHAR(pmd.PM_MODIFY_DATE, 'YYYY-MM-DD'),'') as PM_MODIFY_DATE
            , pc.COM_CODE
            , scc.COM_NAME
            , scc.COM_NATION
        FROM SC_PART_MANAGEMENT_DATA pmd
            LEFT OUTER JOIN  SC_PART_CODE pc ON pmd.PM_PART_CODE  = pc.PART_CODE AND pmd.PM_PART_PLANT_CODE  = pc.PLANT_CODE
            LEFT OUTER JOIN SC_USER_INFO ui  ON pmd.PM_REG_USER  = ui.USER_IDX
            --LEFT OUTER JOIN SC_USER_INFO ui2  ON pmd.PM_MODIFY_USER  = ui.USER_IDX
            LEFT OUTER JOIN SC_COMPANY_CODE scc ON scc.COM_CODE = pc.COM_CODE
        WHERE pc.COM_CODE = #{COM_CODE}
        <if test="COM_NAME != null and COM_NAME != ''">
            <![CDATA[
                AND (scc.COM_NAME LIKE CONCAT(CONCAT('%',  #{COM_NAME}), '%'))
            ]]>
        </if>
        <if test="PM_PART_CODE != null and PM_PART_CODE != ''">
            <![CDATA[
                AND (pmd.PM_PART_CODE LIKE CONCAT(CONCAT('%',  #{PM_PART_CODE}), '%'))
            ]]>
        </if>
        <if test="PART_NAME != null and PART_NAME != ''">
            <![CDATA[
                AND (pc.PART_NAME LIKE CONCAT(CONCAT('%',  #{PART_NAME}), '%'))
            ]]>
        </if>
        <if test="SEARCH_REG_USER != null and SEARCH_REG_USER != ''">
            <![CDATA[
                AND (ui.USER_ID  LIKE CONCAT(CONCAT('%',  #{SEARCH_REG_USER}), '%'))
            ]]>
        </if>
        <if test="PM_ACTIVE_YN != null and PM_ACTIVE_YN != ''">
            AND (PM_ACTIVE_YN = #{PM_ACTIVE_YN})
        </if>
        <if test="PM_PART_PLANT_CODE != null and PM_PART_PLANT_CODE != ''">
            <![CDATA[
                AND (pmd.PM_PART_PLANT_CODE LIKE CONCAT(CONCAT('%',  #{PM_PART_PLANT_CODE}), '%'))
            ]]>
        </if>
        <if test="PM_APPROVAL_STATUS != null and PM_APPROVAL_STATUS != ''">
            <![CDATA[
                AND (pmd.PM_APPROVAL_STATUS LIKE CONCAT(CONCAT('%',  #{PM_APPROVAL_STATUS}), '%'))
            ]]>
        </if>
        <if test="SEARCH_PM_SDATE != null and SEARCH_PM_SDATE != ''">
            <![CDATA[ AND (pmd.PM_APPROVAL_DATE >= #{SEARCH_PM_SDATE}) ]]>
        </if>
        <if test="SEARCH_PM_EDATE != null and SEARCH_PM_EDATE != ''">
            <![CDATA[ AND (pmd.PM_APPROVAL_DATE  <= #{SEARCH_PM_EDATE})  ]]>
        </if>

    </select>

    <select id="getPartMgmt" parameterType="partManagement" resultType="partManagement">

        SELECT
            pmd.PM_IDX
            , pmd.PM_PART_CODE
            , pc.PART_NAME
            , pmd.PM_PART_PLANT_CODE
            , pmd.PM_QUALITY
            , pmd.PM_STATUS
            , pmd.PM_CHEMICAL_YN
            , pmd.PM_ACTIVE_YN
            , NVL(TO_CHAR(pmd.PM_REG_DATE, 'YYYY-MM-DD'),'') as PM_REG_DATE
            , pmd.PM_REG_USER
            , ui.USER_NAME as PM_REG_USER_NAME
            , ui.USER_ID as PM_REG_USER_ID
            , pmd.PM_APPROVAL_STATUS
            , NVL(TO_CHAR(pmd.PM_APPROVAL_DATE, 'YYYY-MM-DD'),'') as PM_APPROVAL_DATE
            , pmd.PM_MODIFY_USER
            --, ui2.USER_NAME as PM_MODIFY_USER_NAME
            --, ui2.USER_ID as PM_MODIFY_USER_ID
            , NVL(TO_CHAR(pmd.PM_REQUEST_APPROVAL_DATE, 'YYYY-MM-DD'),'') as PM_REQUEST_APPROVAL_DATE
            , NVL(TO_CHAR(pmd.PM_MODIFY_DATE, 'YYYY-MM-DD'),'') as PM_MODIFY_DATE
            , pc.COM_CODE
            , scc.COM_NAME
            , scc.COM_NATION
        FROM SC_PART_MANAGEMENT_DATA pmd
            LEFT OUTER JOIN  SC_PART_CODE pc ON pmd.PM_PART_CODE  = pc.PART_CODE AND pmd.PM_PART_PLANT_CODE  = pc.PLANT_CODE
            LEFT OUTER JOIN SC_USER_INFO ui  ON pmd.PM_REG_USER  = ui.USER_IDX
            --LEFT OUTER JOIN SC_USER_INFO ui2  ON pmd.PM_MODIFY_USER  = ui.USER_IDX
            LEFT OUTER JOIN SC_COMPANY_CODE scc ON scc.COM_CODE = pc.COM_CODE
        WHERE pmd.PM_IDX = #{PM_IDX}
    </select>

    <select id="searchPartCodeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            pc.PART_CODE
            , pc.PART_NAME
            , pc.PLANT_CODE
            , scc.COM_CODE
            , scc.COM_NAME
            , scc.COM_NATION
        FROM SC_PART_CODE pc
            LEFT OUTER JOIN SC_COMPANY_CODE scc ON scc.COM_CODE = pc.COM_CODE
        WHERE
            scc.COM_CODE = #{COM_CODE}
            AND pc.PART_STATUS = 'Y'
        <if test="PART_CODE != null and PART_CODE != ''">
            <![CDATA[
                AND (pc.PART_CODE LIKE CONCAT(CONCAT('%',  #{PART_CODE}), '%'))
            ]]>
        </if>
        <if test="PART_NAME != null and PART_NAME != ''">
            <![CDATA[
                AND (pc.PART_NAME LIKE CONCAT(CONCAT('%',  #{PART_NAME}), '%'))
            ]]>
        </if>
    </select>

    <select id="partCodeList" resultType="HashMap">
        SELECT PART_CODE,COM_NATION AS  PART_COUNTRY,PART_NAME,bc.BASE_CODE
        FROM SC_PART_CODE pc
        LEFT OUTER JOIN  (SELECT Base_code, base_value FROM SC_BASE_CODE WHERE GROUP_CODE ='PLANT' AND GROUP_CODE != BASE_CODE ) bc ON pc.PLANT_CODE  = bc.base_code
        INNER JOIN SC_COMPANY_CODE scc ON pc.COM_CODE  = scc.COM_CODE

    </select>

    <insert id="save" parameterType="partManagement">
        INSERT INTO SC_PART_MANAGEMENT_DATA (
            PM_IDX
            , PM_PART_CODE
            , PM_PART_PLANT_CODE
            , PM_QUALITY
            , PM_STATUS
            , PM_CHEMICAL_YN
            , PM_ACTIVE_YN
            , PM_REG_DATE
            , PM_REG_USER
            , PM_APPROVAL_STATUS
        )
        VALUES (
            SEQ_PM_IDX.NEXTVAL
            , #{PM_PART_CODE}
            , #{PM_PART_PLANT_CODE}
            , #{PM_QUALITY}
            , #{PM_STATUS}
            , #{PM_CHEMICAL_YN}
            , #{PM_ACTIVE_YN}
            , sysdate
            , #{PM_REG_USER}
            , #{PM_APPROVAL_STATUS}
        )
    </insert>

    <update id="updatePartMgmt" parameterType="partManagement">
        UPDATE SC_PART_MANAGEMENT_DATA SET
            PM_QUALITY = #{PM_QUALITY}
            , PM_STATUS = #{PM_STATUS}
            , PM_CHEMICAL_YN = #{PM_CHEMICAL_YN}
            , PM_MODIFY_USER = #{PM_MODIFY_USER}
        WHERE PM_IDX = #{PM_IDX}
    </update>

    <delete id="deletePartMgmt" parameterType="String">
        {
        call
            declare
        BEGIN
            DELETE FROM SC_PART_MANAGEMENT_DATA WHERE PM_IDX=#{idx};
            DELETE FROM SC_PART_MGMT_DETAIL_MSDS WHERE PM_IDX=#{idx};
            DELETE FROM SC_PART_MGMT_DETAIL_ROHS WHERE PM_IDX=#{idx};
            DELETE FROM SC_PART_MGMT_DETAIL_HALOGEN WHERE PM_IDX=#{idx};
            DELETE FROM SC_PART_MGMT_DETAIL_ETC WHERE PM_IDX=#{idx};

            DELETE FROM SC_PART_MGMT_SVHC_DATA WHERE PM_IDX=#{idx};

            DELETE FROM SC_PART_MGMT_DECLARATION_DATA WHERE PM_IDX=#{idx};

            DELETE FROM SC_PART_MGMT_DETAIL_SCCS WHERE PM_IDX=#{idx};
            DELETE FROM SC_PART_MGMT_DETAIL_INGRED WHERE PM_IDX=#{idx};
            DELETE FROM SC_PART_MGMT_DETAIL_GUARANT WHERE PM_IDX=#{idx};
        END
        }
    </delete>



<!--   Detail    -->

    <!-- part 자재 정보 select -->
    <select id="getPartData" parameterType="String" resultType="partManagement">
        SELECT
            PART_CODE as PM_PART_CODE
            , PART_NAME
            , PM_APPROVAL_STATUS AS PM_APPROVAL_STATUS
            , spmd.PM_ACTIVE_YN
        FROM
            SC_PART_CODE spc
            INNER JOIN SC_PART_MANAGEMENT_DATA spmd ON spc.PART_CODE = spmd.PM_PART_CODE AND spc.PLANT_CODE = spmd.PM_PART_PLANT_CODE
            LEFT OUTER JOIN SC_COMPANY_CODE scc ON spc.COM_CODE = scc.COM_CODE
        WHERE spmd.PM_IDX =#{idx}
    </select>

    <select id="getPartDetailMsdsData" parameterType="String" resultType="partDetailMsds">
        SELECT *
        FROM SC_PART_MGMT_DETAIL_MSDS
        WHERE PM_IDX=#{idx}
    </select>
    <select id="getPartDetailRohsData" parameterType="String" resultType="partDetailRohs">
        SELECT *
        FROM SC_PART_MGMT_DETAIL_ROHS
        WHERE PM_IDX=#{idx}
    </select>
    <select id="getPartDetailHalgData" parameterType="String" resultType="partDetailHalg">
        SELECT *
        FROM SC_PART_MGMT_DETAIL_HALOGEN
        WHERE PM_IDX=#{idx}
    </select>
    <select id="getPartDetailEtcData" parameterType="String" resultType="partDetailEtc">
        SELECT *
        FROM SC_PART_MGMT_DETAIL_ETC
        WHERE PM_IDX=#{idx}
    </select>

    <update id="msdsUpdate" parameterType="partDetailMsds">
        UPDATE  SC_PART_MGMT_DETAIL_MSDS
        SET MSDS_REG_DATE=#{MSDS_REG_DATE},MSDS_LANG = #{MSDS_LANG},MSDS_APPROVAL_NUM = #{MSDS_APPROVAL_NUM}
        <if test="MSDS_FILE_NAME != null and MSDS_FILE_NAME != '' and MSDS_FILE_STATUS != 'DEL'">
            <![CDATA[
                ,MSDS_FILE_NAME=#{MSDS_FILE_NAME} ,MSDS_FILE_PATH=#{MSDS_FILE_PATH}
            ]]>
        </if>

        WHERE  MSDS_IDX = #{MSDS_IDX}

    </update>

    <update id="rohsUpdate" parameterType="partDetailRohs">
        UPDATE SC_PART_MGMT_DETAIL_ROHS
        set ROHS_CONFIRM_DATE= #{ROHS_CONFIRM_DATE},ROHS_CD=#{ROHS_CD},ROHS_HG = #{ROHS_HG},ROHS_PB = #{ROHS_PB}, ROHS_CR6= #{ROHS_CR6}
            ,ROHS_PBBS = #{ROHS_PBBS},ROHS_PBDES= #{ROHS_PBDES},ROHS_DEHP = #{ROHS_DEHP},ROHS_BBP = #{ROHS_BBP},ROHS_DBP = #{ROHS_DBP},ROHS_DIBP = #{ROHS_DIBP}
        <if test="ROHS_FILE_NAME != null and ROHS_FILE_NAME != ''">
            <![CDATA[
                ,ROHS_FILE_NAME= #{ROHS_FILE_NAME},ROHS_FILE_PATH = #{ROHS_FILE_PATH}
            ]]>
        </if>

        WHERE ROHS_IDX = #{ROHS_IDX}
    </update>

    <update id="halgUpdate" parameterType="partDetailHalg">
        UPDATE SC_PART_MGMT_DETAIL_HALOGEN
        set HALOGEN_CONFIRM_DATE = #{HALOGEN_CONFIRM_DATE},HALOGEN_CL = #{HALOGEN_CL}, HALOGEN_BR = #{HALOGEN_BR},HALOGEN_CLBR = #{HALOGEN_CLBR},HALOGEN_F = #{HALOGEN_F}, HALOGEN_I= #{HALOGEN_I}
        <if test="HALOGEN_FILE_NAME != null and HALOGEN_FILE_NAME != ''">
            <![CDATA[
                ,HALOGEN_FILE_NAME = #{HALOGEN_FILE_NAME},HALOGEN_FILE_PATH = #{HALOGEN_FILE_PATH}
            ]]>
        </if>

        WHERE HALOGEN_IDX =#{HALOGEN_IDX}
    </update>
    

    <insert id="msdsSave" parameterType="partDetailMsds">
        INSERT INTO SC_PART_MGMT_DETAIL_MSDS(MSDS_IDX,PM_IDX, MSDS_REG_DATE,MSDS_LANG,MSDS_APPROVAL_NUM ,MSDS_FILE_NAME ,MSDS_FILE_PATH)
        VALUES (SEQ_MSDS_IDX.NEXTVAL,#{PM_IDX},#{MSDS_REG_DATE},#{MSDS_LANG},#{MSDS_APPROVAL_NUM} ,#{MSDS_FILE_NAME} ,#{MSDS_FILE_PATH})
    </insert>

    <insert id="rohsSave" parameterType="partDetailRohs">
        INSERT INTO   SC_PART_MGMT_DETAIL_ROHS(ROHS_IDX,PM_IDX,ROHS_CONFIRM_DATE,ROHS_CD,ROHS_HG,ROHS_PB,ROHS_CR6,ROHS_PBBS,ROHS_PBDES,ROHS_DEHP,ROHS_BBP,ROHS_DBP,ROHS_DIBP,ROHS_FILE_NAME,ROHS_FILE_PATH)
        VALUES (SEQ_ROHS_IDX.NEXTVAL,#{PM_IDX},#{ROHS_CONFIRM_DATE},#{ROHS_CD},#{ROHS_HG},#{ROHS_PB},#{ROHS_CR6},#{ROHS_PBBS},#{ROHS_PBDES},#{ROHS_DEHP},#{ROHS_BBP},#{ROHS_DBP},#{ROHS_DIBP},#{ROHS_FILE_NAME},#{ROHS_FILE_PATH})
    </insert>

    <insert id="halgSave" parameterType="partDetailHalg">
        INSERT INTO  SC_PART_MGMT_DETAIL_HALOGEN(HALOGEN_IDX,PM_IDX,HALOGEN_CONFIRM_DATE,HALOGEN_CL,HALOGEN_BR,HALOGEN_CLBR,HALOGEN_F,HALOGEN_I,HALOGEN_FILE_NAME,HALOGEN_FILE_PATH)
        VALUES (SEQ_HALOGEN_IDX.NEXTVAL,#{PM_IDX},#{HALOGEN_CONFIRM_DATE},#{HALOGEN_CL},#{HALOGEN_BR},#{HALOGEN_CLBR},#{HALOGEN_F},#{HALOGEN_I},#{HALOGEN_FILE_NAME},#{HALOGEN_FILE_PATH})
    </insert>

    <insert id="insertEtcData" parameterType="partDetailEtc">
        INSERT INTO  SC_PART_MGMT_DETAIL_ETC(ETC_IDX,PM_IDX,ETC_CONFIRM_DATE,ETC_ANALYSE_ENTRY,ETC_ANALYSE_RESULT,ETC_FILE_NAME,ETC_FILE_PATH)
        VALUES (SEQ_ETC_IDX.NEXTVAL,#{PM_IDX},#{ETC_CONFIRM_DATE},#{ETC_ANALYSE_ENTRY},#{ETC_ANALYSE_RESULT},#{ETC_FILE_NAME},#{ETC_FILE_PATH})
    </insert>

    <update id="updateEtcData" parameterType="partDetailEtc">
        update SC_PART_MGMT_DETAIL_ETC
        set ETC_CONFIRM_DATE =#{ETC_CONFIRM_DATE},ETC_ANALYSE_ENTRY = #{ETC_ANALYSE_ENTRY},ETC_ANALYSE_RESULT = #{ETC_ANALYSE_RESULT}
        <if test="ETC_FILE_NAME != null and ETC_FILE_NAME != ''">
            <![CDATA[
                ,ETC_FILE_NAME = #{ETC_FILE_NAME},ETC_FILE_PATH = #{ETC_FILE_PATH}
            ]]>
        </if>
        where ETC_IDX = #{ETC_IDX}
    </update>


    <delete id="deleteEtcData" parameterType="int">
        DELETE SC_PART_MGMT_DETAIL_ETC
        WHERE ETC_IDX = #{idx}
    </delete>


    <update id="MsdsDeleteFile" parameterType="int">
        UPDATE  SC_PART_MGMT_DETAIL_MSDS
        SET MSDS_FILE_NAME= '' ,MSDS_FILE_PATH=''
        WHERE  MSDS_IDX = #{idx}
    </update>
    <update id="RohsDeleteFile" parameterType="int">
        UPDATE SC_PART_MGMT_DETAIL_ROHS
        SET ROHS_FILE_NAME=  '' ,ROHS_FILE_PATH =  ''
        WHERE ROHS_IDX = #{idx}
    </update>

    <update id="HalogenDeleteFile" parameterType="int">
        UPDATE SC_PART_MGMT_DETAIL_HALOGEN
        SET HALOGEN_FILE_NAME =  '' ,HALOGEN_FILE_PATH =  ''
        WHERE HALOGEN_IDX =#{idx}
    </update>
    <select id="getEtcDataIdx" parameterType="int" resultType="partDetailEtc">
        SELECT *
        FROM SC_PART_MGMT_DETAIL_ETC
        WHERE ETC_IDX=#{idx}
    </select>
    <update id="EtcDeleteFile" parameterType="int">
        UPDATE SC_PART_MGMT_DETAIL_ETC
        SET ETC_FILE_NAME = '',ETC_FILE_PATH = ''
        WHERE ETC_IDX = #{idx}
    </update>



    <!--   SVHC   -->
    <select id="getSvhcList" resultType="svhcList">
        SELECT SVHC_NUM, SVHC_NAME,SVHC_CASNUM,SVHC_EUNUM
        FROM SC_SVHC_DATA
        ORDER BY SVHC_IDX asc
    </select>

    <select id="getDetailSvhcData" parameterType="String" resultType="partDetailSvhc">
        SELECT  SVHC_IDX,PM_IDX,DATA_GUBUN,NVL(CONFIRM_DATE, ' ') AS CONFIRM_DATE,NVL(APPLICABLE_NO,' ') AS APPLICABLE_NO
                ,NVL(FILE_PATH,' ') AS FILE_PATH,NVL(FILE_NAME,' ') AS FILE_NAME,NVL(WARRANTY_ITEM,' ') AS WARRANTY_ITEM
        FROM SC_PART_MGMT_SVHC_DATA
        WHERE PM_IDX=#{idx}
    </select>

    <insert id="svhcSave" parameterType="partDetailSvhc">
        INSERT INTO  SC_PART_MGMT_SVHC_DATA(SVHC_IDX,PM_IDX,DATA_GUBUN,CONFIRM_DATE,APPLICABLE_NO,FILE_PATH,FILE_NAME,WARRANTY_ITEM)
        VALUES (SEQ_SVHC_IDX.NEXTVAL,#{PM_IDX},#{DATA_GUBUN},#{CONFIRM_DATE},#{APPLICABLE_NO},#{FILE_PATH},#{FILE_NAME},#{WARRANTY_ITEM})
    </insert>

    <update id="svhcUpdate" parameterType="partDetailSvhc">
        UPDATE SC_PART_MGMT_SVHC_DATA
        SET DATA_GUBUN = #{DATA_GUBUN},CONFIRM_DATE = #{CONFIRM_DATE},APPLICABLE_NO = #{APPLICABLE_NO},WARRANTY_ITEM=#{WARRANTY_ITEM}
        <if test="FILE_NAME != null and FILE_NAME != ''">
            <![CDATA[
                ,FILE_PATH=#{FILE_PATH},FILE_NAME=#{FILE_NAME}
            ]]>
        </if>

        WHERE PM_IDX =#{PM_IDX}
    </update>

    <update id="SvhcDeleteFile" parameterType="int">
        UPDATE SC_PART_MGMT_SVHC_DATA
        SET FILE_PATH='',FILE_NAME=''
        WHERE SVHC_IDX =#{idx}
    </update>

    <!--   DECLARATION LETTER   -->
    <select id="getDeclarList" resultType="Declaration">

        SELECT NVL(DECL_NUM,' ') AS DECL_NUM ,NVL(DECL_SUB_NUM,' ') as DECL_SUB_NUM,DECL_NAME, DECL_CASNUM,NVL(DECL_WEIGHT,' ') AS DECL_WEIGHT ,NVL(DECL_CLASS, ' ') AS DECL_CLASS
        FROM SC_DECLARATION_DATA
        ORDER BY DECL_IDX asc
    </select>

    <select id="getDetailDeclarData" parameterType="String" resultType="partDetailDeclar">
        SELECT  DECL_IDX,PM_IDX,DATA_GUBUN,NVL(CONFIRM_DATE, ' ') AS CONFIRM_DATE,NVL(APPLICABLE_NO,' ') AS APPLICABLE_NO,NVL(NONE_APPLICABLE_NO,' ') AS NONE_APPLICABLE_NO
        ,NVL(FILE_PATH,' ') AS FILE_PATH,NVL(FILE_NAME,' ') AS FILE_NAME,NVL(WARRANTY_ITEM,' ') AS WARRANTY_ITEM
        FROM SC_PART_MGMT_DECLARATION_DATA
        WHERE PM_IDX=#{idx}
    </select>

    <insert id="declarSave" parameterType="partDetailDeclar">
        INSERT INTO  SC_PART_MGMT_DECLARATION_DATA(DECL_IDX,PM_IDX,DATA_GUBUN,CONFIRM_DATE,APPLICABLE_NO,NONE_APPLICABLE_NO,FILE_PATH,FILE_NAME,WARRANTY_ITEM)
        VALUES (SEQ_DECL_IDX.NEXTVAL,#{PM_IDX},#{DATA_GUBUN},#{CONFIRM_DATE},#{APPLICABLE_NO},#{NONE_APPLICABLE_NO},#{FILE_PATH},#{FILE_NAME},#{WARRANTY_ITEM})
    </insert>

    <update id="declarUpdate" parameterType="partDetailDeclar">
        UPDATE SC_PART_MGMT_DECLARATION_DATA
        SET DATA_GUBUN = #{DATA_GUBUN},CONFIRM_DATE = #{CONFIRM_DATE},APPLICABLE_NO = #{APPLICABLE_NO},NONE_APPLICABLE_NO=#{NONE_APPLICABLE_NO},WARRANTY_ITEM=#{WARRANTY_ITEM}
        <if test="FILE_NAME != null and FILE_NAME != ''">
            <![CDATA[
                ,FILE_PATH=#{FILE_PATH},FILE_NAME=#{FILE_NAME}
            ]]>
        </if>

        WHERE DECL_IDX =#{DECL_IDX}
    </update>

    <update id="DeclDeleteFile" parameterType="INT">
        UPDATE SC_PART_MGMT_DECLARATION_DATA
        SET FILE_PATH='' ,FILE_NAME=''
        WHERE DECL_IDX =#{idx}
    </update>

    <!--   SCCS   -->
    <select id="getSccsData" parameterType="String" resultType="partDetailSccs">
        SELECT *
        FROM SC_PART_MGMT_DETAIL_SCCS
        WHERE PM_IDX=#{idx}
    </select>

    <insert id="sccsSave" parameterType="partDetailSccs">
        INSERT INTO  SC_PART_MGMT_DETAIL_SCCS(SCCS_IDX,PM_IDX,SCCS_CONFIRM_DATE,SCCS_CHAR,SCCS_FILE_NAME,SCCS_FILE_PATH)
        VALUES (SEQ_SCCS_IDX.NEXTVAL,#{PM_IDX},#{SCCS_CONFIRM_DATE},#{SCCS_CHAR},#{SCCS_FILE_NAME},#{SCCS_FILE_PATH})
    </insert>

    <update id="sccsUpdate" parameterType="partDetailSccs">
        UPDATE SC_PART_MGMT_DETAIL_SCCS
        SET SCCS_CONFIRM_DATE = #{SCCS_CONFIRM_DATE},SCCS_CHAR = #{SCCS_CHAR}
        <if test="SCCS_FILE_NAME != null and SCCS_FILE_NAME != ''">
            <![CDATA[
                ,SCCS_FILE_NAME = #{SCCS_FILE_NAME},SCCS_FILE_PATH=#{SCCS_FILE_PATH}
            ]]>
        </if>

        WHERE SCCS_IDX =#{SCCS_IDX}
    </update>

    <update id="SccsDeleteFile" parameterType="int">
        UPDATE SC_PART_MGMT_DETAIL_SCCS
        SET SCCS_FILE_NAME ='',SCCS_FILE_PATH=''
        WHERE SCCS_IDX =#{idx}
    </update>

    <!--   ingred   -->
    <select id="getIngredData" parameterType="String" resultType="partDetailIngred">
        SELECT *
        FROM SC_PART_MGMT_DETAIL_INGRED
        WHERE PM_IDX=#{idx}
    </select>

    <insert id="ingredSave" parameterType="partDetailIngred">
        INSERT INTO  SC_PART_MGMT_DETAIL_INGRED(INGRED_IDX,PM_IDX,INGRED_CONFIRM_DATE,INGRED_FILE_NAME,INGRED_FILE_PATH)
        VALUES (SEQ_INGRED_IDX.NEXTVAL,#{PM_IDX},#{INGRED_CONFIRM_DATE},#{INGRED_FILE_NAME},#{INGRED_FILE_PATH})
    </insert>

    <update id="ingredUpdate" parameterType="partDetailIngred">
        UPDATE SC_PART_MGMT_DETAIL_INGRED
        SET INGRED_CONFIRM_DATE = #{INGRED_CONFIRM_DATE}
        <if test="INGRED_FILE_NAME != null and INGRED_FILE_NAME != ''">
            <![CDATA[
                ,INGRED_FILE_NAME = #{INGRED_FILE_NAME},INGRED_FILE_PATH = #{INGRED_FILE_PATH}
            ]]>
        </if>

        WHERE INGRED_IDX =#{INGRED_IDX}
    </update>

    <update id="IngredDeleteFile" parameterType="int">
        UPDATE SC_PART_MGMT_DETAIL_INGRED
        SET INGRED_FILE_NAME = '',INGRED_FILE_PATH = ''
        WHERE INGRED_IDX =#{idx}
    </update>

    <!--   guarant   -->
    <select id="getGuarantData" parameterType="String" resultType="partDetailGuarant">
        SELECT *
        FROM SC_PART_MGMT_DETAIL_GUARANT
        WHERE PM_IDX=#{idx}
    </select>

    <insert id="guarantSave" parameterType="partDetailGuarant">
        INSERT INTO  SC_PART_MGMT_DETAIL_GUARANT(GUARANT_IDX,PM_IDX,GUARANT_TYPE,GUARANT_CONFIRM_DATE,GUARANT_FILE_NAME,GUARANT_FILE_PATH)
        VALUES (SEQ_GUARANT_IDX.NEXTVAL,#{PM_IDX},#{GUARANT_TYPE},#{GUARANT_CONFIRM_DATE},#{GUARANT_FILE_NAME},#{GUARANT_FILE_PATH})
    </insert>

    <update id="guarantUpdate" parameterType="partDetailGuarant">
        UPDATE SC_PART_MGMT_DETAIL_GUARANT
        SET GUARANT_TYPE = #{GUARANT_TYPE},GUARANT_CONFIRM_DATE = #{GUARANT_CONFIRM_DATE}
        <if test="GUARANT_FILE_NAME != null and GUARANT_FILE_NAME != ''">
            <![CDATA[
                ,GUARANT_FILE_NAME = #{GUARANT_FILE_NAME},GUARANT_FILE_PATH = #{GUARANT_FILE_PATH}
            ]]>
        </if>
        WHERE GUARANT_IDX =#{GUARANT_IDX}
    </update>

    <delete id="deleteguarantData" parameterType="int">
        DELETE SC_PART_MGMT_DETAIL_GUARANT
        WHERE GUARANT_IDX = #{idx}
    </delete>


    <select id="getGuarantDataIdx" parameterType="int" resultType="partDetailGuarant">
        SELECT *
        FROM SC_PART_MGMT_DETAIL_GUARANT
        WHERE GUARANT_IDX=#{idx}
    </select>
    <update id="GuarantDeleteFile" parameterType="int">
        UPDATE SC_PART_MGMT_DETAIL_GUARANT
        SET GUARANT_FILE_NAME = #{GUARANT_FILE_NAME},GUARANT_FILE_PATH = #{GUARANT_FILE_PATH}
        WHERE GUARANT_IDX =#{idx}
    </update>





</mapper>