<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qualityItem">
    <select id="findAll" resultType="qualityItem">
        SELECT *
        FROM SC_AUDIT_QUALITY_ITEM
    </select>

    <delete id="deletAll">
        DELETE SC_AUDIT_QUALITY_ITEM
    </delete>

    <select id="getCompanyAuthItemPoint" parameterType="map" resultType="auditItemPoint">
        SELECT AI.AUDIT_ID, AI.PROVISION, AI.AUDIT_ITEM, AI.AUDIT_CRITERIA, AI.POINT_CRITERIA,
        AA.AUTH_TYPE, AA.POINT, AA.AUDIT_COMMENT
        FROM SC_AUDIT_QUALITY_ITEM AI
        LEFT OUTER JOIN  SC_AUDIT_ITEM_POINT AA
        ON AA.AUDIT_ID= AI.AUDIT_ID AND AA.COM_CODE = #{COM_CODE} AND AA.AUTH_TYPE = 'QUALITY'
    </select>
</mapper>