<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SafetyHealth">
    <insert id="insertFile" parameterType="safetyHealth">
        INSERT INTO SC_AUTH_FILE(COM_CODE, AUTH_TYPE, FILE_NAME, FILE_PATH, AUTH_SEQ)
        VALUES (#{COM_CODE}, #{AUTH_TYPE}, #{FILE_NAME}, #{FILE_PATH}, #{AUTH_SEQ})
    </insert>
    <select id="getAuditItemsAll" resultType="safetyHealth">
        SELECT *
        FROM SC_AUDIT_SAFETY_ITEM ASI
    </select>

    <select id="getCompanyAuthItemPoint" parameterType="map" resultType="auditItemPoint">
        SELECT AI.AUDIT_ID, AI.PROVISION, AI.AUDIT_ITEM, AI.AUDIT_CRITERIA, AI.POINT_CRITERIA,
        AA.AUTH_TYPE, AA.POINT, AA.AUDIT_COMMENT
        FROM SC_AUDIT_SAFETY_ITEM AI
        LEFT OUTER JOIN  SC_AUDIT_ITEM_POINT AA
        ON AA.AUDIT_ID= AI.AUDIT_ID AND AA.COM_CODE = #{COM_CODE} AND AA.AUTH_TYPE = 'SAFETY'
    </select>
</mapper>