<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SvhcList">
    <select id="findAll" resultType="svhcList">
        SELECT SVHC_NUM,SVHC_NAME,SVHC_CASNUM, SVHC_EUNUM
        FROM SC_SVHC_DATA
        ORDER BY SVHC_IDX asc
    </select>

    <delete id="deletAll">
        DELETE SC_SVHC_DATA
    </delete>
</mapper>