.cui_form_field {
    //& + .cui_form_field {
    //    padding-top:12px;
    //    border-top:1px solid var(--border-primary)
    //}
    fieldset {
        @include reset-default;
        display : block;
        border  : none;

        & > * + * {
            margin-top : 6px;
        }

        & + .cui_items_wrap,
        & + fieldset {
            margin-top : 24px;
        }
    }

    &:not([data-legend]) {
        legend {
            @include clip;
        }
    }

    legend {
        @include bullet-title;
    }
}