<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>안전보건/환경관리</title>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span>안전보건/환경관리</span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form id="searchForm" method="get">
                <div class="cui_search">
                    <div class="search_list cui_grid_wrap " id="searchArea">
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체코드"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchCode" name="searchCode" search="searchBtn" placeholder=""/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="업체명"></strong>
                            <div class="item_content">
                                <input class="cui_text_field" type="text" id="searchName" name="searchName" search="searchBtn" placeholder=""/>
                            </div>
                        </div>
                        <div class="cui_items_wrap" data-direction="left">
                            <strong class="item_label" data-langsid="승인상태"></strong>
                            <div class="item_content">
                                <select class="cui_select_field" id="searchState" name="searchState" onchange="ListSearch();">
                                    <option value="" selected></option>
                                    <option value="SEND" data-langsid="제출"></option>
                                    <option value="APPROVE" data-langsid="승인"></option>
                                    <option value="REJECT" data-langsid="반려"></option>
                                </select>
                            </div>
                            <input type="hidden" id="searchType" name="searchType" value="SAFETY"/>
                        </div>
                    </div>
                    <div class="search_action">
                        <button type="submit" class="cui_button primary search_btn" id="searchBtn" onclick="ListSearch();"><span data-langsid="검색"></span></button>
                    </div>
                </div>
            </form>
            <div class="cui_jqGrid_section">
                <div class="cui_jqGrid_head">
                    <div class="jqGrid_label"> &nbsp;</div>
                    <div class="jqGrid_aside">
                        <button type="button" class="cui_button endpoint" data-cui-icon="download" onclick="downloadExcel();"><span data-langsid="엑셀 다운로드"></span></button>
                        <button type="button" class="cui_button endpoint" data-cui-icon="upload"
                                onclick="sendMailAlert();"><span data-langsid="메일 발송"></span></button>
                    </div>
                </div>
                <div class="cui_jqGrid_body" id="Grid">
                    <div id="gridArea" gridYN=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var sendMailAlert = function () {
        var sel_idxs = "";
        var sel_idxs_count = 0;
        var grid = $("#gridArea").pqGrid("instance");
        for (j = 0; j < grid.pdata.length; j++) {
            if (grid.pdata[j]["CHECK_YN"] == true) {
                if (sel_idxs == "") sel_idxs += ",";
                sel_idxs += grid.pdata[j]["MSDS_IDX"];
                sel_idxs_count++;
            }
        }

        if (sel_idxs_count == 0) {
            Common.Msg(siteLang.getLang("갱신 요청 데이터를 선택하세요."));
            return;
        }else{
            Common.Msg(siteLang.getLang("발송 하시겠습니까?"), {
                mode : "confrim"
                , okback : function () {
                    var ReqInfo = new Common.RequestInfo();
                    ReqInfo.AddParameter(obj);

                    Common.Loading.Show();
                    setTimeout(function () {
                        Common.Ajax("/sendEmail?fromMail=recipient@example.com&to=recipient@example.com&subject=Test&text=Hello+World!", ReqInfo, function (response) {
                            if (response == "OK") {
                                Common.Msg(sel_idxs_count + "건 발송 되었습니다.");
                            }
                            Common.Loading.Hide();
                        });
                    }, 10);
                }
            });
        }
    }

    var AuditTypeSearch = function () {
        //Audit 구분
        var typeUrl = "/api/audit/auditPlanMgmt/getCodeList";

        var ReqInfo = new Common.RequestInfo();
        ReqInfo.AddParameter($("#searchArea"));

        Common.Ajax(typeUrl, ReqInfo, function (data) {
            console.log(data);
            var localData = data.dataList;
            Common.SelectBox("#searchNcrAuditType", localData, 'name', 'code');
        });
    }
    var ListSearch = function () {
        var setData = {
            "ncr_no": "",
            "type": "",
            "ncr_type": "",
            "year": "2024",
            "ncr_status": ""
        };
        var encodedData = Common.EncParam(setData);
        var url = "/api/audit/auditPlanMgmt/list/"+ encodedData;

        var ReqInfo = new Common.RequestInfo();
        ReqInfo.AddParameter($("#searchArea"));

         Common.Ajax(url, ReqInfo, function (data) {
            var dataJson = JSON.parse(data);
            var listStr = dataJson.LIST; // "LIST"에 해당하는 값이 JSON 형식의 문자열이므로 이를 추출

            // 2. LIST 값을 다시 JSON 객체로 파싱
            var list = JSON.parse(listStr); // 이제 LIST는 JavaScript 배열이 됩니다.
            var listData = JSON.parse(list.LIST);

            $("#gridArea").pqGrid("option", "dataModel.data", listData);
            $("#gridArea").pqGrid("refreshView");
        }, {formMethod :"GET"}); //Get으로 보내도록 설정 추가
    }

    $(function () {
        var heightMinus = 330;
        var data = [];

        // APPROVE_STATE 매핑 객체 선언
        var appTypeMap = {
            'SEND': '제출',
            'APPROVED': '승인',
            'REJECT': '반려'
        };

        var obj = {
            bubble: false,
            numberCell: { show: true, resizable: true, title: "", width: 35, minWidth: 35, style: 'border-right:1px' },
            editor: { type: 'textbox', style: 'border-radius:0px;border:0px;' },
            editModel: { clicksToEdit: 2 },
            selectionModel: { type: 'cell', mode: 'block' },
            height: $(window).height() - heightMinus - $(".cui_search").height(),
            title: "",
            sortable: false,
            resizable: true,
            menuIcon: false,
            scrollModel: { autoFit: false },
            hoverMode: 'row',
            roundCorners: false,
            rowBorders: true,
            showBottom: false,
            showHeader: true,
            showTitle: true,
            showTop: false,
            showToolbar: true,
            stripeRows: false,
            wrap: false,
            autoAddRow: false,
            freezeCols:0,
            autoRow: false,
            autoRowHead: false,
            rowHt:25,
            rowInit: function () {
                return { style: 'font-size:12px;' };
            },
            selectChange: function (event, ui) {
            },
            rowClick: function (event, ui) {
            },
            cellClick: function (event, ui) {
            },
            rowDblClick: function (event, ui) {
                var data = ui.rowData;
                const ap_seq = data.ap_seq ;
                loadPage(ap_seq) ;
            },
            rowSelect: function (event, ui) {
            },
            open: function () {
            },
            headerCellClick: function (event, ui) {
            }
        };
        obj.colModel = [
            {
                dataIndx: "CHECK_YN", width: 50, halign: "center", align: "center", resizable: true,
                type: 'checkBoxSelection', sortable: false, editor: true, editable: true,
                dataType: 'bool',
                cb: {
                    all: false,
                    header: true
                }
            },
            { data_langsid: "Audit번호", title: siteLang.getLang("Audit번호"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "AP_No", sortable: true, editor: false, editable: false },
            { data_langsid: "진행상태", title: siteLang.getLang("진행상태"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "L_Progress", sortable: true, editor: false, editable: false },
            { data_langsid: "업체명", title: siteLang.getLang("업체명"), width: 100, halign: "center", align: "left", dataType: "string", dataIndx: "L_Vendor", sortable: true, editor: false, editable: false },
            { data_langsid: "Audit구분", title: siteLang.getLang("Audit구분"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "L_AuditPlanType", sortable: true, editor: false, editable: false },
            { data_langsid: "Audit방법", title: siteLang.getLang("Audit방법"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "L_AuditPlanWay", sortable: true, editor: false, editable: false },
            { data_langsid: "Audit계획일", title: siteLang.getLang("Audit계획일"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "L_AuditPlanDate", sortable: true, editor: false, editable: false },
            { data_langsid: "Audit실행일", title: siteLang.getLang("Audit실행일"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "L_AuditDate", sortable: true, editor: false, editable: false },
            { data_langsid: "WETPR", title: siteLang.getLang("WETPR"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "WETPR", sortable: true, editor: false, editable: false },
            { data_langsid: "GRADE", title: siteLang.getLang("GRADE"), width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "GRADE", sortable: true, editor: false, editable: false },
            { data_langsid: "작성자", title: siteLang.getLang("작성자"), hidden : true, width: 100, halign: "center", align: "center", dataType: "string", dataIndx: "L_CreatorName", sortable: true, editor: false, editable: false }
        ];
        obj.dataModel = { data: data };
        $("#gridArea").pqGrid(obj);
        $("#gridArea").attr("gridYN", "Y");

        $(window).resize(function () {
            $("#gridArea").pqGrid("option", "height", $(window).height() - heightMinus);
            $("#gridArea").pqGrid("refreshView");
        });

    });

    $(document).ready(function() {
        ListSearch();
    });

    function loadPage(ap_seq) {

          const url = "/admin/auditMgmt/safetyHealthDetail?ap_seq=" + ap_seq  ;
          location.href = url;
    }

    var downloadExcel = function () {
        var grid = $("#gridArea").pqGrid("instance");
        var colModel = grid.getColModel();
        colModel[0].hidden = true;

        grid.exportData({
            url: "/common/exportData",
            format: "xlsx",
            zip: false,
            filename: "COMPANY_CODE_" + Common.GetTodayTimeString(),
            render: true
        });

        colModel[0].hidden = false;
    }

</script>