<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>안전보건/환경관리</title>
</head>
<body>
<div class="cui_content">
    <div class="cui_main">
        <div class="cui_head">
            <div class="head_content">
                <h2 class="cui_title"><span></span></h2>
            </div>
        </div>
        <div class="cui_body">
            <form class="cui_form_section" data-legend="true">
                <fieldset>
                    <legend><span>안전보건/환경 Audit 계획</span></legend>

                    <table class="cui_table">
                        <colgroup>
                            <col style="width:154px;">
                            <col>
                            <col style="width:154px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>업체명</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>코비젼</span>
                                    </div>
                                </div>
                            </td>
                            <th><span>담당자</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>동우</span>
                                    </div>
                                </div>
                            </td>
                            <th><span>구분</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>PR</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span>Audit 계획일</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>2024-10-01</span>
                                    </div>
                                </div>
                            </td>
                            <th><span>Audit 방법</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span id="auditPWay">대면</span>
                                    </div>
                                </div>
                            </td>
                            <th><span>Audit 구분</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>정기</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <!-- Audit 방법 : 대면일 때 노출되는 버튼 -->
                <div class="cui_items_wrap visit" data-direction="right">
                    <div class="item_content">
                        <button type="submit" class="cui_button secondary" onclick ="downSampleFile()"><span>양식다운로드1</span></button>
                        <button type="submit" class="cui_button secondary" onclick ="downSampleFile()"><span>양식다운로드2</span></button>
                    </div>
                </div>
                <!-- Audit 방법 : 대면일 때 노출되는 버튼 -->
                <!-- Audit 방법 : 대면 -->
                <fieldset class="visit">
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:200px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>Audit 내용</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>POVIS의 audit 요청사항 그대로 기재</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span>File 첨부</span></th>
                            <td class="attachmentsContainer">
                                <div class="cui_attachments"  th:if="${#lists.isEmpty(companyAuthFile)}">
                                    <input type="file" class="cui_file_field" name="file" onchange="toggleDeleteButton(this)" style="width: 75px;">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_label" data-cui-icon="paperclip" style="display: none;"><span></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제" onclick="clearFile(this)" style="display: none;"><span>삭제</span></button>
                                        </div>
                                    </div>
                                    <button type="button" class="cui_button" id="addVisitBtn"><span>추가</span></button>
                                </div>
                                <div class="cui_attachments" th:unless="${#lists.isEmpty(companyAuthFile)}">
                                    <div class="cui_items_wrap" data-direction="left" th:each="file : ${companyAuthFile}">
                                        <div class="item_label" data-cui-icon="paperclip"><span th:text="${file.FILE_NAME}"></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드" th:onclick="downloadFile([[${file.FILE_NAME}]])"><span >다운로드</span></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <!-- Audit 방법 : 대면 -->
                <!-- Audit 방법 : Self -->
                <fieldset class="self">
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:200px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>제출 구분</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <label class="cui_checkbox"><input type="radio" name="checkbox1" value="file" checked><i></i><span>파일첨부</span></label>
                                        <label class="cui_checkbox"><input type="radio" name="checkbox1" value="text"><i></i><span>직접입력</span></label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="self" id="fs_file">
                    <div class="cui_items_wrap" data-direction="right">
                        <div class="item_content">
                            <button type="submit" class="cui_button secondary" onclick ="downSampleFile()"><span>양식다운로드1</span></button>
                            <button type="submit" class="cui_button secondary" onclick ="downSampleFile()"><span>양식다운로드2</span></button>
                        </div>
                    </div>
                    <table class="cui_table" id="authItemTable">
                        <colgroup>
                            <col style="width:200px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>파일 첨부</span></th>
                            <td class="attachmentsContainer">
                                <div class="cui_attachments"  th:if="${#lists.isEmpty(companyAuthFile)}">
                                    <input type="file" class="cui_file_field" name="file" onchange="toggleDeleteButton(this)" style="width: 75px;">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_label" data-cui-icon="paperclip" style="display: none;"><span></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제" onclick="clearFile(this)" style="display: none;"><span>삭제</span></button>
                                        </div>
                                    </div>
                                    <button type="button" class="cui_button" id="addSelfBtn"><span>추가</span></button>
                                </div>
                                <div class="cui_attachments" th:unless="${#lists.isEmpty(companyAuthFile)}">
                                    <div class="cui_items_wrap" data-direction="left" th:each="file : ${companyAuthFile}">
                                        <div class="item_label" data-cui-icon="paperclip"><span th:text="${file.FILE_NAME}"></span></div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="download" data-tooltip-title="다운로드" th:onclick="downloadFile([[${file.FILE_NAME}]])"><span >다운로드</span></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="self" id="fs_text">
                    <div class="cui_bullet_title">
                        <div class="bullet_title_label"><span>평가 항목</span></div>
                    </div>
                    <table class="cui_table center" id="itemTable">
                        <colgroup>
                            <col style="width:100px;">
                            <col style="width:180px;">
                            <col>
                            <col style="width:180px;">
                            <col style="width:150px;">
                            <col style="width:70px;">
                            <col style="width:160px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><span>항목</span></th>
                            <th><span>내용</span></th>
                            <th><span>답변 가이던스</span></th>
                            <th><span>평가기준</span></th>
                            <th><span>평가</span></th>
                            <th><span>점수</span></th>
                            <th><span>근거 자료</span></th>
                        </tr>
                        </thead>
                        <tbody th:unless="${#lists.isEmpty(auditItemPoint)}">
                        <tr th:each="data : ${auditItemPoint}">
                            <td><span th:text="${data.PROVISION}"></span></td>
                            <td><span th:text="${data.AUDIT_ITEM}"></span></td>
                            <td style="text-align: left;"><span th:utext="${data.AUDIT_CRITERIA}"></span></td>
                            <td style="text-align: left;"><span th:utext="${data.POINT_CRITERIA}"></span></td>
                            <td style="text-align: center;"></td>
                            <td style="text-align: right;"><span th:text="${data.POINT % 1 == 0 ? data.POINT.intValue() : data.POINT}"></span></td>
                            <td>
                                <input type="text" name="AUDIT_COMMENT" class="cui_text_field"  th:value="${data.AUDIT_COMMENT}">
                                <input type="hidden" name="AUDIT_ID" th:value="${data.AUDIT_ID}">
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" style="text-align: right;">Total</td>
                            <td id="totalPoint"></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </fieldset>
                <!-- Audit 방법 : Self -->
                <div class="cui_items_wrap" data-direction="right">
                    <div class="item_content" th:if="${companyAuth.APPROVE_STATE != 'SEND'}">
                        <button type="submit" class="cui_button primary" id="sendAuth"><span>제출</span></button>
                    </div>
                </div>
                <!-- Audit 결과 -->
                <fieldset class="resultField">
                    <legend><span>안전보건/환경 Audit 결과</span></legend>
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:154px;">
                            <col>
                            <col style="width:154px;">
                            <col>
                            <col style="width:154px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>Audit 실시일</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>2024-10-01</span>
                                    </div>
                                </div>
                            </td>
                            <th><span>담당자</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>동우</span>
                                    </div>
                                </div>
                            </td>
                            <th><span>Audit 등급</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>A</span>
                                    </div>
                                </div>
                            </td>
                            <th><span>NCR 발행여부</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>Y</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="resultField">
                    <table class="cui_table">
                        <colgroup>
                            <col style="width:200px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>Audit 결과</span></th>
                            <td>
                                <div class="cui_items_wrap" data-direction="left">
                                    <div class="item_content">
                                        <span>POVIS의 audit 요청사항 그대로 기재</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span>첨부자료</span></th>
                            <td >
                                <div class="cui_attachments">
                                    <div class="cui_items_wrap" data-direction="left">
                                        <div class="item_label" data-cui-icon="paperclip" style="display: none;"><span></span>
                                        </div>
                                        <div class="item_content">
                                            <button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제" onclick="clearFile(this)" style="display: none;"><span>삭제</span></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <!-- Audit 방법 : 대면 -->
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#auditPWay").text("셀프");
        if($("#auditPWay").text() === "셀프"){
            $("#fs_text").hide(); //파일첨부가 초기값이므로
            $(".visit").hide();
        }else{
            $(".self").hide();
        }
        //Audit 결과
        $(".resultField").hide();

        $("input:radio[name=checkbox1]").change(function () {
            var chkValue = $("input:radio[name=checkbox1]:checked").val();

            if(chkValue == "file"){
                $("#fs_file").show();
                $("#fs_text").hide();
            }
            else if(chkValue == "text"){
                $("#fs_file").hide();
                $("#fs_text").show();
            }
        });

        //  첨부파일 '추가' 버튼 클릭 시 테이블에 행 추가
        $('#addVisitBtn, #addSelfBtn').on('click', function() {
            const newAttachment = `
            <div class="cui_attachments">
                <input type="file" class="cui_file_field" name="file" onchange="toggleDeleteButton(this)" style="width: 75px;">
                <div class="cui_items_wrap" data-direction="left">
                    <div class="item_label" data-cui-icon="paperclip" style="display: none;"><span></span></div>
                    <div class="item_content">
                        <button type="button" class="cui_button icon endpoint" data-cui-icon="xmark" data-tooltip-title="삭제" onclick="clearFile(this)" style="display: none;"><span>삭제</span></button>
                    </div>
                </div>
                <button type="button" class="cui_button delete"><span>삭제</span></button>
            </div>`;

            // 새로운 첨부 구간을 #attachmentsContainer에 추가
            $(this).closest('.attachmentsContainer').append(newAttachment);
       });

        // 동적으로 추가된 "삭제" 버튼에 클릭 이벤트 리스너 추가
        $(document).on('click', '.cui_button.delete', function() {
            $(this).closest('.cui_attachments').remove(); // 해당 첨부 구간 삭제
        });

        var totalScore = 0;
        $('#itemTable tbody tr').each(function(index, row) {
            var $cells = $(row).find('td'); // td 요소들을 jQuery 객체로 가져옴
            var thirdTdContent = $cells.eq(3).html() || '';  // 4번째 td의 내용을 가져오기
            var thirdTdContentStr = thirdTdContent.replace('<span>', '').replace('</span>', '');
            var lines = thirdTdContentStr.split('<br>');  // 내용을 줄 단위로 분리

            var $selectBox = $('<select></select>');  // select box 생성
            var $baseOption = $('<option></option>');
            $baseOption.val('');  // 빈값
            $baseOption.text('평가');
            $selectBox.append($baseOption);
            // 각 줄을 옵션으로 변환하여 select box에 추가
            lines.forEach(function(line) {
                var cleanLine = line.replace('ㆍ', '').trim();  // "ㆍ" 문자를 제거하고 여백 제거
                var parts = cleanLine.split(':'); // " : "을 기준으로 분리

                if (parts.length === 2) {
                    var $option = $('<option></option>');
                    $option.val(parts[1].trim());  // 값 (예: 4)
                    $option.text(parts[0].trim());  // 텍스트 (예: Conformance)
                    $selectBox.append($option);
                } else if (parts.length === 1) {
                    var $option = $('<option></option>');
                    $option.val('');  // 값이 없으면 빈 값을 설정
                    $option.text(parts[0].trim());  // 항목 이름만 설정
                    $selectBox.append($option);
                }
            });

            // 5번째 td에 select box 추가
            $cells.eq(4).append($selectBox);
            var existingScore = $cells.eq(5).text().trim();  // 6번째 td에서 기존 점수를 가져옴
            var previousScore = 0;  // 기존 점수 저장용

            if (existingScore) {
                // 기존 점수와 일치하는 option을 셀렉트 박스에서 선택
                $selectBox.find('option').each(function() {
                    if ($(this).val() === existingScore) {
                        $(this).prop('selected', true);  // 값이 일치하면 해당 option을 선택
                        previousScore = parseFloat(existingScore);  // 기존 점수를 저장
                        return false;  // 루프 종료
                    }
                });
            }
            console.log(previousScore);
            // 6번째 td에 초기 점수 추가 (선택된 값에 따라 점수 추가)
            if (previousScore) {
                totalScore += previousScore;  // 기존 점수를 총점에 추가
                $('#totalPoint').text(totalScore);
            }

            // change 이벤트 핸들러 추가
            $selectBox.on('change', function(event) {
                var selectedValue = $(event.target).val();  // 선택된 값
                var selectedScore = parseFloat(selectedValue);  // 숫자 값으로 변환

                // 만약 점수가 NaN이면 0으로 처리
                if (isNaN(selectedScore)) {
                    selectedScore = 0;
                }

                // 6번째 td에 선택된 값(점수) 표시
                $cells.eq(5).text(selectedScore);

                // 기존 점수 빼고 새로운 점수 더하기
                totalScore -= previousScore;  // 이전 점수 빼기
                totalScore += selectedScore;  // 새 점수 더하기
                $('#totalPoint').text(totalScore);  // 총점 갱신

                // 이전 점수를 업데이트
                previousScore = selectedScore;  // 새 점수로 업데이트
            });
        });
    });

    function downloadFile(fileName) {
        // 서버의 다운로드 URL을 생성 (파일 경로로 이동)
        var downloadUrl = '/auditMgmt/getAuditFileDown?filename=' + encodeURIComponent(fileName);

        // 다운로드 링크를 동적으로 생성
        var link = document.createElement('a');
        link.href = downloadUrl;
        link.download = '';  // 다운로드 시 기본 파일 이름 사용 (optional)

        // 링크 클릭 이벤트를 트리거하여 다운로드 실행
        link.click();
    }

    //샘플다운로드
    function downSampleFile() {
        alert("양식파일 등록후 다운로드.");
    }

    // 제출 버튼 클릭 시 데이터 저장
    $("#sendAuth").click(function() {
        var tableData = [];
        var formData = new FormData();

        var chkValue = $("input:radio[name=checkbox1]:checked").val();
        if(chkValue == "file"){ //파일첨부를 선택했다면

            $("#authItemTable .cui_attachments").each(function() {
                var row = {};
                var fileInput = $(this).find('input[type="file"]')[0];

                // 파일이 선택되었으면 파일 이름 저장
                if (fileInput && fileInput.files.length > 0) {
                    row['FILE_NAME'] = fileInput.files[0].name;

                    // 파일에 대한 유효성 검증
                    var file = fileInput.files[0];
                    if (validation(file)) {  // 검증을 통과한 파일만 formData에 추가
                        formData.append('file_name', file);  // 각 파일을 'file_name'이라는 이름으로 추가
                    } else {
                        showAlert('warning','파일 검증 실패했습니다.');
                        console.log("파일 검증 실패: " + file.name);
                    }
                }
            });
        }else{ // 직접 입력을 선택했다면
            $("#itemTable tbody tr").each(function() {
                var row = {};
                var fileCnt = {};
                row['POINT'] = $(this).find('td').eq(5).text();
                row['AUDIT_COMMENT'] = $(this).find('input[name="AUDIT_COMMENT"]').val() || '';
                row['AUDIT_ID'] = $(this).find('input[name="AUDIT_ID"]').val();

                console.log("insert data"+row['AUDIT_ID']);
                tableData.push(row);
            });
        }
        formData.append('data', JSON.stringify(tableData));  // 테이블 데이터를 JSON으로 직렬화하여 전송
        formData.append('type', 'SAFETY');  // flag가 SAFETY / SAFETY
        formData.append('total', $('#totalPoint').val());  // total 점수

         $.ajax({
            url: '/auditMgmt/sendAuthData',
            type: 'POST',
            data: formData,
            processData: false,  // FormData는 자동으로 처리되지 않으므로 설정
            contentType: false,  // 기본 contentType을 사용하지 않음
            success: function(response) {
                showAlert('success', response);
            },
            error: function(xhr, status, error) {
                showAlert('warning','데이터 저장에 실패했습니다.');
            }
        });
    });

    // 파일 선택 시 삭제 버튼 표시
    function toggleDeleteButton(input) {
        const deleteButton = input.closest('.cui_attachments').querySelector('.cui_button');
        const fileLabel = input.closest('.cui_attachments').querySelector('.item_label span');
        const fileLabelDiv = input.closest('.cui_attachments').querySelector('.item_label');

        if (input.files && input.files.length > 0) {
            var fileName = input.files[0].name;  // Get the file name
            fileLabel.textContent = fileName;    // Update the file name
            fileLabelDiv.style.display = 'inline-block';  // 파일이 선택되면 파일명 표시
            deleteButton.style.display = 'inline-block';  // 파일이 선택되면 삭제 버튼 표시
        } else {
            fileLabel.textContent = '';
            fileLabelDiv.style.display = 'none';  // 파일이 선택되지 않으면 파일명 숨기기
            deleteButton.style.display = 'none';  // 파일이 선택되지 않으면 삭제 버튼 숨기기
        }
    }

    // 파일 삭제
    function clearFile(button) {
        const fileInput = button.closest('.cui_attachments').querySelector('input[type="file"]');  // <input type="file"> 요소는 <button> 바로 앞에 있음
        const fileLabel = button.closest('.cui_attachments').querySelector('.item_label span');
        const fileLabelDiv = button.closest('.cui_attachments').querySelector('.item_label');

        // 파일 입력 초기화
        fileInput.value = "";
        fileLabel.textContent = '';
        // 삭제 버튼 숨기기
        button.style.display = 'none';
        fileLabelDiv.style.display = 'none';
    }

</script>